<main class="appmain">
  <article class="start-campaign">
    <header class="page__header">
      <h1 class="heading--title">{{'Start a campaign' | translate}}</h1>
    </header>
    <section class="comments__section">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div id="description" class="box descriptionBox">
            <p>{{'There are no ongoing campaigns in this assembly. Go ahead and start one!' | translate}}</p>
          </div>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <button class="btn btn-block" ng-click="vm.start()">{{'Start a campaign' | translate}}</button>
        </div>
      </div>
    </section>
  </article>
</main>