.contribution{
  border: 0.1rem solid $contribution-border;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-flex;
  position: relative;

  & .row{
    margin-left: 0;
    margin-right: 0;
  }

  & .contribution-content{
    padding: 1.5rem;

    & .contribution-info-user{
      display: inline-block;
      margin: 0 1rem;
      & .image-profile-contribution {
        display: inline-block;
        & img {
          background-size: 100%;
          height: 40px;
          width: 40px;
          border-radius: 20px;
        }
      }
    }
  }

  & .push-to-bottom {
    bottom: 5%;
  }

  & .contribution-title{
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
  }

  & .contribution-description{
    display: inline;
  }

  & .contribution-meta{
    position:absolute;
    bottom:0;
  }

  .contribution-background{
    background-size: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    align-self: center;
  }

  .tag-info-proposal{
    position: relative;
    top: 17rem;
    left: 0rem;
  }

  .contribution-info-user-wgroup{
    & .image-profile-contribution {
      display: inline-block;
      & img {
        background-size: 100%;
        height: 7rem;
        width: 7rem;
        border-radius: 4rem;
      }
    }
  }
}
