<div class="contribution-content">
    <div class="row">
        <h5 class="contribution-title" data-toggle="modal" data-target="#contributionView" ng-click="selectContribution(contribution)"><strong>{{contribution.title}}. </strong></h5><p class="contribution-description"> {{contribution.text}}</p>
    </div>
    <div class="row voffset2">
        <div class="tag tag-info" ng-repeat="theme in contribution.themes">
            <strong class="text-muted">{{theme.title}}</strong>
        </div>
        <div class="contribution-info-user">
            <div class="image-profile-contribution">
                <img ng-src="{{contribution.authors[0].profilePic.urlLargeString}}" alt="" src="../assets/images/unknown.jpg">
            </div>
            <div class="info-block">
                <em>{{contribution.authors[0].name}}</em>
                <!--<time datetime="{{contribution.lastUpdate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}">{{contribution.lastUpdate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</time>-->
                <time datetime="{{contribution.lastUpdate}}">{{contribution.lastUpdate}}</time>
            </div>
        </div>
        <div class="votes-counter pull-right">
            <i class="fa fa-caret-up add-vote"></i>
            <div class="total-votes">
                <strong>{{contribution.stats.ups}}</strong>
            </div>
            <i class="fa fa-caret-down substract-vote"></i>
        </div>
    </div>
</div>