.btn {
  &.unsubscribe-newsletter, &.unfollow-proposal {
    background-color: #07473B;
  }
  &.proposal-btn {
    background-color: #424242;
  }
  &.follow-contribution {
    background-color: #424242;
    float: right;
    text-transform: capitalize;
  }
  &.unsubscribe-newsletter, &.unfollow-proposal, &.subscribe-newsletter, &.follow-contribution, &.proposal-btn, &.padGdoc {
    border: none;
    color: white;
    font-size: 0.8rem;
    text-shadow: none;
    padding: 0.6rem 1rem;
    &:active {
      background-color: #1f1f1f;
      color: #efefef;
    }
  }
  &.padGdoc {
    background-color: #26557B;
    bottom: 12px;
    position: absolute;
    right: 14px;
  }
}