.btn {
  &.unsubscribe-newsletter, &.unfollow-proposal {
    background-color: #07473B;
  }
  &.proposal-btn, &.btn-join, &.subscribe-newsletter {
    background-color: #424242;
  }
  &.follow-contribution {
    background-color: #424242;
    text-transform: capitalize;
    height: 2.4rem;
    margin-top: -2px;
    margin-right: 4px;
  }
  &.fork-contribution {
    background-color: #00AC7F;
    text-transform: capitalize;
    color: #dcedc8;
    height: 2.4rem;
    margin-top: -2px;
    margin-right: 4px;
  }
  &.view-fork-contribution {
    background-color: #FF8C2C;
    text-transform: capitalize;
    color: #dcedc8;
    height: 2.4rem;
    margin-top: -2px;
    margin-right: 4px;
  }
  &.unsubscribe-newsletter, &.unfollow-proposal, &.subscribe-newsletter, &.follow-contribution, &.proposal-btn, &.padGdoc, &.btn-join {
    border: none;
    color: white;
    font-size: 0.8rem;
    text-shadow: none;
    padding: 0.6rem 1rem;
    &:active {
      background-color: #1f1f1f;
      color: #efefef;
    }
  }
  &.btn-join {
    position: absolute;
    right: 0;
  }
  &.padGdoc {
    background-color: #26557B;
    bottom: 12px;
    position: absolute;
    right: 14px;
  }
}
