.timeline .timeline-item.active .marker:after {
  content: " ";
  height: 1.5em;
  border-left: 2px solid #11493b;
  position: absolute;
  top: 65px;
  left: 50%;
}

.campaign__status {
  padding: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 300px;
  .heading--header {
    margin: 0px;
  }
}
.campaign__status .page__header {
  position: absolute;
  background: none;
  padding: 0
}


.campaign__status .page__header ul li p {
  padding: 5px;
}

.campaign__status .page__header .contextual_menu {
  z-index: 1050 !important;
}

.campaign__status .page__header .contextual_menu .content {
  background-color: #e5ebe6 !important;
}

.campaign__status .page__header .contextual_menu .content::after {
  border-bottom: 12px solid #e5ebe6 !important;
}

.phase-description {
  height: 90px;
  margin-top: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  overflow-y: auto;
  background-color: #EEE;
  border-width: 2px;
  border-color: #12493b;
  border-radius: 0.5em;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
}
