.required-field {
  background-color: #f94040;
  padding: 0.3rem;
  border-radius: 0.3rem;
  li.title, li>i.fa-trash { color: white }
}

section.content {
  padding: 1rem 2rem;
}

.float-wrapper {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  padding-top: 8px;
}

.overlay_status {
  display: inline-block;
  span {
    padding: 0.7rem 1rem;
    margin-left: -4px;
    font-size: 0.8rem;
    display: inline-block;
    &.status_label {
      background-color: #465B64;
      color: white;
      font-weight: normal;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.status {
      background-color: #FF8C2C;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0.65rem 1rem;
      select {
        border: 0;
        background-color: transparent;
        height: 18px;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 40em) {
  .overlay_status span.status select {
    width: 110px;
  }
}

.contribution-select {
  display: none;
  &+label:before {
    font-family: 'FontAwesome';
    font-size: 1.1rem;
    margin-right: 0.3rem;
    display: inline-block;
  }
  &+label:before { content: "\f10c"; } /* unchecked icon */
  &:checked + label:before { content: "\f05d"; } /* checked icon */
}

#fblogo {
  height: 100%;
  text-align: center;
  margin-top: 0px;
  color: white;
  background-color: #3b5998;
  padding-top: 6px;
  margin-left: 0px;
}

@import "../partials/contribution/page";

@media screen and (max-width: 40em) {
  .half-length, .instruction-wrapper {
    float: none !important;
    width: unset !important;
  }
  .instruction-wrapper {
    margin-bottom: 2rem;
  }
  header.contributionHeader {
    padding: 2rem !important;
  }
  #field-theme select {
    max-width: 20em;
  }
  li.title {
    display: block;
    width: 100%;
    margin: 2rem 0 0.5rem;
  }
  .row.attribution {
    p.small strong {
      display: block;
      &:last-child {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
  .overlay.new_overlay_top {
    display: unset !important;
    ul.overlay_buttons { display: inline-block; }
    ul.votes { display: inline-block; }
    .float-wrapper {
      position: unset;
      padding-top: 0;
      padding-bottom: 1rem;
      text-align: center;
    }
  }

}