section.content {
  padding: 1rem 2rem;
}

.overlay_status {
  position: absolute;
  right: 1rem;
  top: 16px;
  span {
    padding: 0.5rem 1rem;
    margin-left: -3px;
    &.status_label {
      background-color: #465B64;
      color: white;
      font-weight: normal;
    }
    &.status {
      background-color: #FF8C2C;
    }
  }
}

.contribution-select {
  display: none;
  &+label:before {
    font-family: 'FontAwesome';
    font-size: 1.1rem;
    margin-right: 0.3rem;
    display: inline-block;
  }
  &+label:before { content: "\f10c"; } /* unchecked icon */
  &:checked + label:before { content: "\f05d"; } /* checked icon */
}

#fblogo {
  height: 100%;
  text-align: center;
  margin-top: 0px;
  color: white;
  background-color: #3b5998;
  padding-top: 6px;
  margin-left: 0px;
}

@import "../partials/contribution/page";
