section.content {
  padding: 1rem 2rem;
}

.float-wrapper {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  padding-top: 8px;
}

.overlay_status {
  display: inline-block;
  span {
    padding: 0.7rem 1rem;
    margin-left: -4px;
    font-size: 0.8rem;
    display: inline-block;
    &.status_label {
      background-color: #465B64;
      color: white;
      font-weight: normal;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.status {
      background-color: #FF8C2C;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.contribution-select {
  display: none;
  &+label:before {
    font-family: 'FontAwesome';
    font-size: 1.1rem;
    margin-right: 0.3rem;
    display: inline-block;
  }
  &+label:before { content: "\f10c"; } /* unchecked icon */
  &:checked + label:before { content: "\f05d"; } /* checked icon */
}

#fblogo {
  height: 100%;
  text-align: center;
  margin-top: 0px;
  color: white;
  background-color: #3b5998;
  padding-top: 6px;
  margin-left: 0px;
}

@import "../partials/contribution/page";
