.nav-tabs {
  border-bottom: 1px solid #c6c8cb;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #555;
  text-decoration: none;
}

.nav-tabs>li>a:hover {
  border-color: #eeeeee #eeeeee #c6c8cb;
  background-color: #e6e7e8;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555555;
  background-color: #e6e7e8;
  border: 1px solid #c6c8cb;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified>li {
  float: none;
}

.nav-tabs.nav-justified>li>a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified>li>a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs.nav-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #f6f6f7;
  }
}

.nav.nav-tabs {
  margin-left: 5%;
  width: 90%;
}

.custom-ul {
  //padding-bottom: 50px;
  padding-top: 50px;
}

.custom-li {
  padding-bottom: 0px !important;
  padding-top: 15px;
}

.custom-a {
  padding: 15px;
}

header.proposals__header>h2 {
  float: none !important;
}

.list--proposals .list__cards, .list--ideas .list__cards {
  padding: 0px;
  .proposals__header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: -3em;
  }

  .proposals__header_less_padded {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.show-comments.campaign_cards .list--proposals {
  width: 60%;
}

@media (min-width: 768px) {
  .show-comments.campaign_cards .list--proposals .card__proposal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 1024px) {
  .show-comments.campaign_cards .list--proposals .card__proposal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 1500px) {
  .show-comments.campaign_cards .list--proposals .card__proposal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 1800px) {
  .show-comments.campaign_cards .list--proposals .card__proposal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(3n + 2) {
    margin-left: 33.3333333333%;
    margin-right: -100%;
    clear: none;
  }
  .show-comments.campaign_cards .list--proposals .card__proposal:nth-child(3n + 3) {
    margin-left: 66.6666666667%;
    margin-right: -100%;
    clear: none;
  }
}

a.join__working_group {
  text-decoration: none;
}

.overlay {
  background: rgba(66,66,66,0.64);
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  z-index: 1;
}

.campaign__filters {
  padding-top: 1em;
  padding-botton: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  .heading--header {
    margin: 0px;
  }
}

.campaign__filters__no__padding {
  padding-top: 0px;
  padding-botton: 0px;
  .heading--header {
    margin: 0px;
  }
}

.campaign_contributions_negative_margin {
  margin-top: -3.2em;
}

.pagination__widget__controls__padding {
  padding-left: 15px;
}

.container__comments {
  display: table;
  width: 100%;
}
