.comment-meta {
  width: 100% !important;
}

.comment-meta input[type=submit] {
  float: right;
}

.inline-controls .temperature_check {
  display: inline-block;
}

.inline-controls .temperature_check .votes {
  margin-right: 0;
}

.comments__reply h2 {
  margin-bottom: 10px;
}

input[disabled],
textarea[disabled] {
  background-color: #eee;
  opacity: 1;
}

.comment-text {
  padding-top: 15px;
  padding-left: 20px;
}

.threaded-comments {
  padding-top: 0.1em;
  padding-bottom: 0px;
}

li.panel.card.conversation-container {
  position: relative;
}

li.panel.comment-container {
  position: relative;
}

.github-fork-ribbon:before {
  background-color: #f80;
}

.recaptcha>div {
  margin-left: 15px;
}

.card {
  border: 1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
  padding: 5px;
  padding-bottom: 0;
}

.card:hover{
  opacity: 1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
}

.comment-text{
  color: #11493b;
  font-size: 100%;
  font-weight: 600;
}

.reply-count{
  float: right;
  margin-right: 1em;
}
