member-card div {
  margin-top: -5px;
}

.action-bar .action-button {
  margin-top: 10px;
}

.action-button svg g {
  fill: #11493b;
}

.action-button ul.shrinked li {
  visibility: hidden;
  height: 0;
}

.nav-tabs {
  border-bottom: 1px solid #c6c8cb;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #555;
  text-decoration: none;
}

.nav-tabs>li>a:hover {
  border-color: #eeeeee #eeeeee #c6c8cb;
  background-color: #e6e7e8;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555555;
  background-color: #e6e7e8;
  border: 1px solid #c6c8cb;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified>li {
  float: none;
}

.nav-tabs.nav-justified>li>a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified>li>a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs.nav-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #f6f6f7;
  }
}

.nav.nav-tabs {
  margin-left: 5%;
  width: 90%;
}

.custom-ul {
  /*padding-bottom: 50px;*/
  padding-top: 50px;
}

.custom-li {
  /*padding-bottom: 15px;*/
  padding-top: 15px;
}

.custom-a {
  padding: 15px;
}

.members-panel .card-list {
  min-width: 220px;
  min-height: 49px;
}

header.proposals__header>h2 {
  float: none !important;
}


.list--proposals {
  .proposals__header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: -3em;
  }

  .proposals__header_less_padded {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

article.working_group .label-success {
  font-weight: initial;
  display: inline-block;
  line-height: 20px;
  height: 23px;
}

.campaign__filters {
  padding-top: 1em;
  padding-botton: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  .heading--header {
    margin: 0px;
  }
}

.campaign__filters__no__padding {
  padding-top: 0px;
  padding-botton: 0px;
  .heading--header {
    margin: 0px;
  }
}

.campaign_contributions_negative_margin {
  margin-top: -45px;
}

.pagination__widget__controls__padding {
  padding-left: 15px;
}
