@import "dashboard";
@import "campaign-timeline";
@import "page_header";
@import "proposals-ideas-searchbox";
@import "pagination-widget";
@import "discussion-panel";
@import "group-dashboard";
@import "../../../stylesheets/styles/_colors.scss";
@import "../../../stylesheets/styles/_header.scss";
@import "../../../stylesheets/styles/_fonts.scss";
@import "../../../stylesheets/styles/_landing.scss";

/* V2 main stylesheet */

//.card {
//  border: 1px solid #009877;
//  padding: 5px;
//  padding-bottom: 0;
//}
.card__message {
  font-size: 2em;
  text-align: center;
  padding: 45px;
  margin: 20px;
}

.comments__section {
  padding-top: 0;
  padding-left: 30px;
}

.comments__section__form {
  margin-left: 0px;
}

.github-fork-ribbon:before,
.github-fork-ribbon:after {
  height: 2em;
}

#campaignTemplatePreview {
  .timeline {
    display: flex;
    justify-content: center;
    li {
      margin-right: 30px;
    }
  }
}

.form-horizontal .control-label {
  text-align: left;
}

.box {
  margin: 0;
  margin-bottom: 1rem;
}

article.start-campaign {
  header+section {
    margin-top: 20px;
  }
}

.my_working_groups,
.my_campaigns {
  p.empty {
    margin: 5px;
  }
}


/******HEADER******/


/******NEW DESIGN NAVBAR COLORS******/

$bgDefault: $header-background;
$bgHighlight: $header-menu-active;
$colDefault: $header-default-color;
$colHighlight: $header-menu-highlight;
$dropDown: false;
.navbar {
  min-height: 70px !important;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    background-color: $bgDefault;
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
      background-color: $bgHighlight
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    >li {
      >a {
        color: $colDefault;
        &:hover,
        &:focus {
          color: $colHighlight;
          background-color: $bgHighlight
        }
      }
      @if $dropDown {
        >.dropdown-menu {
          background-color: $bgDefault;
          >li>a {
            color: $colDefault;
            &:hover,
            &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    >.active {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    >.open {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse {
    background-color: $bgDefault;
    border-color: $bgHighlight;
  }
  .navbar-form {
    border-color: $colDefault;
    a {
      /* Log In Copy: */
      font-family: Lato-Regular;
      font-size: 20px;
      color: $colDefault;
      padding: 5px 15px;
      &:hover {
        color: $colHighlight;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    >li>a {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    >.active {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}


/*******NAVBAR MENU BORDERS********/

#navbar-options {
  ul {
    //li{
    //  border-right: 0.1rem solid $header-menu-active;
    //}
    //li:first-child{
    //  border-left: 0.1rem solid $header-menu-active;
    //}
    li:hover {
      //background-color: rgba(128, 128, 128, 0.05);
      background-color: $header-menu-active;
    }
    li:active {
      //background-color: rgba(128, 128, 128, 0.05);
      background-color: $header-menu-active;
      box-shadow: inset 0 0 0.2rem 0.2rem $header-background;
    }
    li {
      a:focus {
        color: white;
        background: $header-menu-active;
      }
    }
  }
}

.navBarImage {
  height: 5rem;
}


/*******NAVBAR USER MENU********/

#user-menu {
  .icon {
    font-size: 2.5rem;
    vertical-align: middle;
  }
  ul.menu-elements {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 0.5rem;
      cursor: pointer;
    }
    & .dropdown .dropdown-menu {
      li:hover {
        color: white;
        background: transparent;
      }
      li {
        a:hover {
          background: transparent;
        }
      }
      li:last-child {
        a {
          color: $dropdown-hover;
        }
      }
    }
  }
}


/****NEW DESIGN FOR LANDING PAGE****/

.section {
  width: 100%;
  background-color: $white;
  height: 100%;
  .align-right {
    text-align: right;
  }
  .bottom-info {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 10%;
  }
  .btn {
    border: 0;
    color: $main-first-section-font-color;
    padding: 0.8rem 1.6rem;
  }
  .btn-yellow {
    background-color: $main-first-section-button-sign-up-background;
  }
  hr {
    display: block;
    height: 0px;
    padding: 0;
  }
  .vertical1-container {
    height: 80px;
  }
  .vertical1 {
    // calculated based on fa icon 1x (17.156x20)
    //margin: 50px 0px 0px -((17.156-1)/2+1)px;
    //margin: 15px 0px 0px -9.078px;
    margin: 25px 0px 0px 30px;
    height: 100%;
    width: 0px;
    position: absolute;
    display: inline;
    border-width: 1px;
  }
  .vertical2-container {
    height: 150px;
  }
  .vertical2 {
    // calculated based on fa icon 3x (51.438x60)
    //margin: 50px 0px 0px ((51.438-3)/2+3)px;
    margin: 50px 0px 0px -27.219px;
    height: 120%;
    width: 0px;
    position: absolute;
    display: inline;
  }
  .vertical3 {
    // calculated based on fa icon stack (53.328x100)
    //margin: 50px 0px 0px ((51.438-3)/2+3)px;
    margin: 43px 0px 0px 30px;
    height: 60%;
    width: 0px;
    position: absolute;
    display: inline;
    border-width: 1px;
  }
  .icon-circle-number {
    font-size: 1.5em;
    font-weight: 700;
    line-height: (8em / 14);
    text-align: center;
    color: $white;
    // calculated based on fa icon 3x (51.438x60)
    //margin: (60-22)/2 0px 0px ((51.438-20.531)/2+20.531)px;
    margin: 19px 0px 0px -30px;
    position: absolute;
  }
  .milestone {
    font-size: 1.5rem;
    vertical-align: middle;
    //line-height: 2rem;
    //left: 10px;
    margin: 12px 0px 0px 0px;
  }
  .horizontal {
    position: absolute;
    margin: 23px -4% auto 50px;
    width: 100%;
  }
  .greenline1 {
    border-color: $corporative-green;
    border-style: solid;
  }
  .greenline2 {
    border-color: $corporative-dark-light-green;
    border-style: solid;
  }
  .greenline3 {
    border-color: $corporative-dark-green;
    ;
    border-style: solid;
  }
  .greenline4 {
    border-color: $corporative-darker-green;
    border-style: solid;
  }
  h2 {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
  .i1 {
    color: $corporative-green;
  }
  .i2 {
    color: $corporative-dark-light-green;
  }
  .i3 {
    color: $corporative-dark-green;
  }
  .i4 {
    color: $corporative-darker-green;
  }
  &.first-section {
    background-image: linear-gradient(to bottom, rgba(19, 74, 62, 0.5) 0%, rgba(19, 74, 62, 0.5) 100%), url("../../assets/images/bg-hands-collaborating.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    vertical-align: middle;
    margin-top: -20px;
    &.landing-section {
      padding-top: 20%;
    }
    &.invitation {
      padding-top: 10%;
      padding-bottom: 10%;
    }
    .main-title {
      color: $main-first-section-font-color;
      margin-bottom: 1%;
    }
    & form {
      text-align: center;
      margin-bottom: 20%;
      & * {
        height: 3rem;
      }
      & :last-child {
        margin-right: 0;
        font-size: 22px;
      }
    }
  }
  &.second-section {
    vertical-align: middle;
    margin-top: -20px;
    background-color: $white;
    padding: 5% 5% 5% 5%;
    .main-title {
      color: $medium-blue;
      /* AppCivist lets users: */
      font-family: Lato-Regular;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 3%;
    }
    .jumbotron-index {
      background-color: $white;
    }
  }
  &.third-section {
    vertical-align: middle;
    margin-top: -20px;
    /* Rectangle 345: */
    background: rgba(207, 247, 238, 0.50);
    ;
    padding: 5% 5% 5% 5%;
    .main-title {
      color: $medium-blue;
      text-align: center;
      font-family: Lato-Regular;
      font-size: 32px;
      line-height: 39px;
    }
    .sub-title {
      text-align: center;
      font-family: Lato-Regular;
      font-size: 24px;
      color: $light-black;
      line-height: 3rem;
      //margin-bottom: 3%;
    }
    .input-field {
      width: 10%;
    }
    .circle {
      border-radius: 50%;
    }
    .green1 {
      background: $corporative-green;
    }
    .green2 {
      background: $corporative-dark-light-green;
    }
    .green3 {
      background: $corporative-dark-green;
    }
    .green4 {
      background: $corporative-darker-green;
    }
  }
}

.campaigntabs {
  .nav-tabs {
    border-bottom: 2px solid $contribution-border;
    li {
      a {
        margin-bottom: -2px;
      }
    }
    li.active {
      a {
        border-bottom-color: transparent;
        margin-bottom: -2px;
      }
    }
    >.active>a,
    >.active>a:hover,
    >.active>a:focus {
      border: 3px solid $contribution-border;
      margin-bottom: -2px;
      border-bottom-color: transparent;
    }
  }
}

.modal-body {
  max-height: 600px;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.panel-heading {
  padding-left: 0px !important;
}

.ul-action-menu {
  margin: 1em 0 0 -10em;
}


/*.li-action-menu {
  padding: 12px;
}*/

.navbar .logotype {
  height: 45px;
}

.navbar .logotext {
  font: inherit;
  font-size: 35px;
  vertical-align: super;
}


/* FORM */

.field-container {
  margin-bottom: 10px;
}

button.button__modal_submit {
  width: 100%;
  height: 39.5px;
  margin-top: 20px !important;
}

form>fieldset {
  margin-bottom: 20px;
}

.field-container>select,
.field-container>input,
.field-container {
  height: 39.5px;
}


/** component definition form */

.component-definition {
  margin-top: 20px;
}

.component-definition-header {
  h3 {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  h3,
  button {
    float: left;
  }
  button+button {
    margin-left: 10px;
  }
}


/* do not use bootstrap well background-image */

.box {
  background-image: initial;
}


/* accordion override */

uib-accordion {
  .panel-title {
    padding-left: 10px;
  }
}


/* assembly form image upload styles */

.image-capsule {
  margin-bottom: 10px;
}

.image-circle-selected {
  height: 3rem !important;
  width: 3rem !important;
}

.image-circle-selected-shadow {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 152, 119, 1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 152, 119, 1);
  box-shadow: 0px 0px 20px 1px rgba(0, 152, 119, 1);
}


/** assembly home styles */

.assembly-home {
  .well {
    background-color: #356B5B;
    background-image: initial;
    margin-top: 70px;
    border: #356B5B;
    border-radius: 0;
    color: #ffffff;
    text-align: center;
    padding: 3em;
    p {
      text-align: justify;
    }
  }
  .campaigns {
    h2 {
      color: #007259;
      text-align: center;
    }
    .nav-tabs>li,
    .nav-pills>li {
      float: none;
      display: inline-block;
      /* ie7 fix */
      *display: inline;
      /* hasLayout ie7 trigger */
      zoom: 1;
    }
    .nav-tabs,
    .nav-pills {
      text-align: center;
    }
    .nav-tabs>li>a {
      border: none;
    }
    .nav-tabs {
      border-bottom: none;
      li.active {
        border-bottom: 2px solid #AFAFAF;
      }
    }
    .list-group-item+.list-group-item {
      margin-top: 10px;
    }
    .list-group-item {
      height: 60px;
      line-height: 40px;
      background-color: #F2F2F2;
      color: #007259;
      padding: 0;
      div {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
      }
      p {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    .list-group-item:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top: 20px;
    }
    .list-group-item-btn {
      float: right;
      border-left: 1px solid #979797;
      height: 59px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      color: #979797;
    }
    .groups {
      color: #455B66;
      .group+.group {
        margin-top: 15px;
      }
    }
  }
  .section-divider {
    border-bottom: 1px solid #AFAFAF;
    padding-top: 15px;
    padding-bottom: 15px;
    h2 {
      margin-bottom: 20px;
    }
  }
  .documents,
  .contact {
    .row>p {
      text-align: center;
    }
  }
  .organizers {
    .row {
      text-align: center;
    }
    a {
      display: inline-block;
    }
    a>img {
      height: 150px;
    }
    a+a {
      margin-left: 10px;
    }
  }
  .contact {
    margin-bottom: 20px;
  }
  footer {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #262626;
    height: 300px;
    .logos {
      img {
        height: 42px;
      }
      .row+.row {
        margin-top: 20px;
      }
      .text {
        color: #ffffff;
        font-weight: 100;
        a {
          color: #ffffff;
        }
      }
    }
  }
}

.proposal__single {
  .attribution.campaign__filters {
    padding-top: 0;
    padding-left: 0;
    background-color: initial;
    ul,
    ol {
      margin-bottom: 0px;
    }
    button {
      max-height: 30px;
    }
    li {
      min-height: 30px;
    }
    input {
      width: 200px;
      color: black;
    }
  }
  fieldset.tags .autocomplete {
    width: auto;
    min-width: 200px;
    margin-left: 1px;
  }
  .page__header .tags li {
    height: 24px;
    a {
      padding: 0;
      display: inline;
    }
    &::after {
      content: '';
    }
  }
  section.customfields {
    .panel__heading {
      h2 {
        margin-right: 20px;
      }
      a {
        padding-top: 27px;
        display: block;
      }
    }
    .customfields__values {
      margin-top: 20px;
    }
    custom-field {
      label {
        font-size: 1em;
        margin-bottom: 10px;
        color: #757575;
        font-weight: bold;
      }
    }
  }
}


/** tags field component*/

fieldset.tags div {
  position: relative;
  padding: 10px;
  background-color: #fff;
}

fieldset.tags div[disabled] {
  background-color: #eee;
}

fieldset.tags ul.tags {
  display: inline;
}

fieldset.tags div input {
  width: 140px;
  border: 0;
  outline: none;
  box-shadow: none;
}

fieldset.tags div input:focus {
  outline: none;
}

fieldset.tags ul.tags a {
  position: relative;
}

fieldset.tags ul.tags a i {
  position: absolute;
  right: 3px;
}

fieldset.tags .autocomplete {
  margin-top: 5px;
  margin-left: -10px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

fieldset.tags .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative
}

fieldset.tags .autocomplete .suggestion-list .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  float: none !important;
  display: block;
  &::after {
    content: '';
  }
}

fieldset.tags .autocomplete .suggestion-list .suggestion-item:hover,
fieldset.tags .autocomplete .suggestion-list .suggestion-item:focus {
  background-color: #bacabc;
  color: #11493b;
}

fieldset.tags .autocomplete .suggestion-item.selected,
fieldset.tags .autocomplete .suggestion-item.selected em {
  color: #fff;
  background-color: #0097cf;
}

fieldset.tags .autocomplete .suggestion-item em {
  font: normal 700 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

.list__my_campaigns,
.my_working_groups {
  a.active {
    color: #e5ebe6 !important;
    background-color: #11493b;
  }
}

.modal_content__add_proposal {
  select {
    width: 100%;
    height: 42px;
  }
  .field__container {
    font-size: 18px;
    font-family: "Source Sans Pro";
    .bold {
      font-weight: bold;
    }
    label {
      font-size: 18px;
    }
  }
  .bold {
    font-weight: bold;
  }
  .title {
    font-size: 32px;
  }
}


/** custom field */

fieldset.custom-field {
  textarea {
    height: auto;
  }
  .file-field {
    div.add-button {
      display: flex;
      align-items: center;
      width: 100%;
      .image-capsule {
        display: inline-block;
        margin-bottom: 0;
      }
      .add-button-item+.add-button-item {
        margin-left: 10px;
      }
    }
    em {
      font-size: 14px;
      opacity: 0.6;
      font-style: oblique;
    }
  }
}

select[disabled],
input[disabled],
textarea[disabled] {
  background-color: #eee;
}

.modal_content__add_proposal {
  input[type=file] {
    height: 60px;
  }
}

tags-field {
  span.highlighted {
    font-weight: bold;
    background-color: yellow;
  }
  fieldset.tags ul.tags a i {
    position: absolute;
    right: 3px;
    top: 1px;
  }
}

.profile_page {
  .github-fork-ribbon:before {
    background-color: #11493b;
  }
}

contribution-card {
  header {
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 0;
    min-height: 165px;
    h3 {
      margin-bottom: 2px;
      margin-top: 5px;
    }
    .heading--category span,
    p {
      font-size: 0.8em;
    }
    p {
      margin-top: 10px;
    }
    .votes {
      margin: 0;
      font-size: .9em;
      i {
        margin-left: 5px;
      }
    }
    .temperature_check {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #F0F0F0;
      padding: 5px;
      border-top-left-radius: 5px;
    }
    .overlay {
      &,
      a {
        color: white !important;
      }
    }
    .title_block {
      margin-top: 20px;
    }
  }

  .card__body {
    min-height: 170px;
    .excerpt {
      font-size: 0.9em;
      text-align: justify;
    }
  }

  .card__themes {
    ul {
      margin: 10px;

      &.is-flattening {
        opacity: 0;
      }
    }

    li {
      display: inline-block;
      padding: 5px;
      background: #DFDFDF;
      font-family: SourceSansPro-Regular;
      font-size: 12px;
      color: #4A4A4A;
      letter-spacing: -0.27px;
      white-space: nowrap;
      margin-top: 5px;
      margin-right: 5px;
    }
  }

  .card__footer {
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
    background: #11493b;
    color: white;
    font-size: .9em;
  }
}

contribution-form {
  header {
    padding-bottom: 0px !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
    input {
      background-color: #009877 !important;
      border: 1px solid #11493b;
      color: white;
    }
     ::-webkit-input-placeholder {
      /* Chrome */
      color: white;
    }
     :-ms-input-placeholder {
      /* IE 10+ */
      color: white;
    }
     ::-moz-placeholder {
      /* Firefox 19+ */
      color: white;
    }
     :-moz-placeholder {
      /* Firefox 4 - 18 */
      color: white;
    }
    .add-button button {
      background-color: #11493b;
      &:hover {
        color: #009877;
      }
    }
  }
  .nonmember_author {
    background-color: rgba(134, 131, 131, 0.17);
    padding: 1em;
  }
  div[uib-accordion-group] {
    background-color: transparent;
    border: 1px gray solid;
    .panel-body {
      border-top: 0px !important;
    }
  }

  .button__modal_submit[disabled] {
    pointer-events: none;
    opacity: 0.6;
  }
}

.primary__button {
  background: #11493b;
  border-radius: 4px;
  border-color: #11493b;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}
