/* V2 main stylesheet */

.card {
  border: 1px solid #009877;
  padding: 5px;
  padding-bottom: 0;
}

.comments__section {
  padding-top: 0;
}

.github-fork-ribbon:before,
.github-fork-ribbon:after {
  height: 2em;
}

.timeline {
  display: flex;
  justify-content: center;
  li {
    margin-right: 30px;
  }
}

.form-horizontal .control-label {
  text-align: left;
}

.box {
  margin: 0;
  margin-bottom: 1rem;
}