.campaign {
  .title_block h1 { margin-top: 0 }
}

.page__header {
  position: relative;
  padding-bottom: 5rem;
  .subscribe-newsletter {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  &:before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 1000px;
  }
  .description {
    clear: both;
    position: relative;
  }
  .logo {
    padding-top: 1em;
    clear: both;
    position: relative;
  }
}

.new_overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 85, 123, 0.5);
  z-index: 0;
}

.powered_logo {
  position: absolute;
  right: 2rem;
  width: 220px;
  margin-top: 1rem;
}

.overlay_buttons {
  list-style-type: none;
  margin-bottom: 0;
  padding: 1rem 0;
  li.overlay_button {
    display: inline-block;
    border-right: 1px solid #efefef;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 0.8rem;
    &:last-of-type {
      border-right: none;
    }
    i {
      margin-right: 0.5rem;
    }
    span.number { margin-left: 0.3rem; }
  }
}

#dashboardBreadcrumb {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  max-width: 75%;
  a { text-decoration: none; color: white; }
  a:hover { text-decoration: underline; color: white; }
  span.current { font-weight: normal; }
}

.dashboardModal {
  .modal-header {
    background-color: rgb(38, 85, 123);
    color: white;
    h3 { font-weight: bold; }
    .close {
      color: white;
      opacity: 1;
      text-shadow: initial;
      font-weight: normal;
      font-size: 0.8rem;
      &:hover { background: none; }
      &.big { font-size: 1rem; margin-top: 0.2rem; }
    }
    .modal-button {
      margin-left: 1rem;
    }
  }
  .modal-content { border-radius: 0; }
  .modal-body {
    overflow-y: auto;
    min-height: 400px;
    h3 {
      // font-family: SourceSansPro-Semibold;
      font-size: 28px;
      color: #000000;
    }
    .noContent {
      text-align: center;
      color: #666;
    }
  }
  .modal-footer {
    border-top: 0;
    font-size: 0.9rem;
    i { margin-right: 0.5rem; }
    a:hover { text-decoration: none; }
    .confirm-modal {
      padding: 0.5rem 1rem;
      border-radius: 0.2rem;
      margin: 0 0.2rem;
      border: 1px solid rgb(38, 85, 123);
      &.dismiss { background-color: white; color: rgb(38, 85, 123); }
      &.accept { background-color: rgb(38, 85, 123); }
    }
  }
  .noWorkingGroups {
    text-align: center;
    color: #666;
  }


  ul.workingGroupList {
    li {
      position: relative;
      padding: 1rem 0.8rem;
      background-color: #efefef;
      box-shadow: 0 1px 2px #CCC;
      margin-bottom: 0.7rem;
      font-size: 0.9rem;
      font-weight: bold;
      color: #666;
      span:not(.number) {
        display: inline-block;
        width: 90%;
      }
      span.number {
        position: absolute;
        right: 1rem;
        i { margin-right: 0.3rem; }
      }
      span.clickable {
        cursor: pointer;
        i {
          cursor: pointer;
        }
      }
    }
    li.myWorkingGroup {
      background: #E7E7E7;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.28);
    }
  }
}

@media screen and (max-width: 40em) {
  .overlay_buttons li.overlay_button span:not(.number) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .powered_logo { display: none; }
  .page__header .subscribe-newsletter {
    position: relative;
  }
}

.alert.subconfirm {
  width: 30em;
  background-color: #FFFAD9;
  border: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  margin-left: -20em;
  border-radius: 0;
  padding: 25px;
  z-index: 10;
  .close { right: -10px; top: -15px; }
  button:hover { background: none; }
  .message { font-weight: bold; }
  .submessage, a { font-size: 0.8rem; }
}

#media-carousel {
  margin: 1.5rem 0 3.5rem;
  .carousel-inner img { margin: 0 auto; }
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    .item,
    .active.left,
    .active.right {
      left: calc(50% - 240px);
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      left: 0;
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: calc(50% - 240px);
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-control {
    background: none;
    color: black;
  }
}

contribution-card .card__footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
