.campaign__filters {
  padding-top: 0px;
}

.campaign__filters .search {
  padding-left: 0px;
}

.campaign__filters .filters {
  display: inherit;
}
.campaign__filters .filters .tags li:hover::after,
.campaign__filters .button__add_filter .icon {
  color: #fff;
  background-color: #11493b;
}

.campaign__filters .filters .tags li:hover::after {
  content: "";
}

.campaign__filters .button__add_filter {
  color: #11493b;
  margin-left: 0;
}

.hide {
  margin-left: -10000px;
}

div.filters ul.tags li a {
  position: relative;
}

div.filters ul.tags li a i {
  position: absolute;
  right: 5px;
  top: 5px;
}

ul.sort_modes li.active i {
  color: #fff;
}

ul.sort_modes li i {
  color: #11493b;
  padding-right: 5px;
  margin-top: 6px;
}

.filters .tags__group .tags {
  float: none;
}

.filters .tags__group {
  margin-bottom: 5px;
}

.proposal-ideas-searchbox .label {
  color: #11493b;
  padding: 0;
}

.tags p {
  margin-bottom: 0.2em;
  color: #11493b;
}

.vex.vex-theme-plain .vex-content .modal-body {
  padding: 2em;
}
