#workingGroupColors {
  button {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .selected {
    margin-left: 3rem;
    .color-capsule {
      width: 50px;
      height: 50px;
      vertical-align: bottom;
      display: inline-block;
      div { height: 50px; }
    }
  }
}

#addMembers {
  .modal-body {
    min-height: unset;
  }
  input[type=file] { border: 0; }
  .btn-submit {
    border: none;
    color: white;
    font-size: 0.8rem;
    text-shadow: none;
    padding: 0.6rem 1rem;
    background-color: #26557B;
  }
}

.role-label {
  display: inline-block;
  border-radius: 0.3rem;
  background-color: #26557B;
  color: white;
  font-size: 0.7rem;
  padding: 0.2rem 0.6rem;
  margin-left: 2.5rem;
}