<style type="text/css">
  .custom-li {
    /*padding-bottom: 10px !important;*/
    padding-top: 12px !important;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 5px;
  }
</style>
<div class="modal_content__contribution_history">
  <header class="modal-header">
    <p class="heading--category">
      <span ng-repeat="theme in contribution.themes | limitTo:3 track by $index">
        {{theme.title}}
        <span ng-if="($index!=(contribution.themes.length-1))&&($index===0 || $index===1)">, </span>
      </span>
    </p>
    <div class="title_block">
      <h2 class="modal__title">
        {{contribution.title}}
      </h2>
    </div>
    <contribution-feedback contribution="contribution"></contribution-feedback>
    <div class="attribution">
      <!--<member-card ng-repeat="author in mergedAuthors" user="author"></member-card>-->
      <span ng-repeat="author in mergedAuthors track by $index" >{{author.name}}{{!$last ? ', ' : ''}}</span>
    </div>
  </header>

  <div class="modal-body">
    <div class="contribution content">
      <br>
      <p class="contribution_description" ng-bind-html="trustedHtml(contribution.text)"></p>
      <discussion-panel ng-if="currentUser && enableDiscussions" class="col-md-12"
        space-id="contribution.forumResourceSpaceId"
        endpoint-id="contributionID"
        endpoint="contribution"
        public-board="true"
        is-anonymous="isAnonymous"></discussion-panel>
    </div>
  </div>
</div>
