.campaign {
  .title_block h1 { margin-top: 0 }
}

.page__header {
  position: relative;
  padding-bottom: 5rem;
  .subscribe-newsletter {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.new_overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 85, 123, 0.5);
  z-index: 0;
}

.powered_logo {
  position: absolute;
  right: 2rem;
  width: 220px;
  margin-top: 1rem;
}

.overlay_buttons {
  list-style-type: none;
  margin-bottom: 0;
  padding: 1rem 0;
  li.overlay_button {
    display: inline-block;
    border-right: 1px solid #efefef;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 0.8rem;
    &:last-of-type {
      border-right: none;
    }
    i {
      margin-right: 0.5rem;
    }
    span.number { margin-left: 0.3rem; }
  }
}

#dashboardBreadcrumb {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  max-width: 75%;
  a { text-decoration: none; color: white; }
  a:hover { text-decoration: underline; color: white; }
  span.current { font-weight: normal; }
}

.dashboardModal {
  .modal-header {
    background-color: rgb(38, 85, 123);
    color: white;
    h3 { font-weight: bold; }
    .close {
      color: white;
      opacity: 1;
      text-shadow: initial;
      font-weight: normal;
      font-size: 0.8rem;
      &:hover { background: none; }
      &.big { font-size: 1rem; margin-top: 0.2rem; }
    }
  }
  .modal-content { border-radius: 0; }
  .modal-body {  overflow-y: auto; }
  .modal-footer {
    border-top: 0;
    font-size: 0.9rem;
    i { margin-right: 0.5rem; }
    a:hover { text-decoration: none; }
    .confirm-modal {
      padding: 0.5rem 1rem;
      border-radius: 0.2rem;
      margin: 0 0.2rem;
      border: 1px solid rgb(38, 85, 123);
      &.dismiss { background-color: white; color: rgb(38, 85, 123); }
      &.accept { background-color: rgb(38, 85, 123); }
    }
  }
  ul.workingGroupList {
    li {
      position: relative;
      padding: 1rem 0.8rem;
      background-color: #efefef;
      box-shadow: 0 1px 2px #CCC;
      margin-bottom: 0.7rem;
      font-size: 0.9rem;
      font-weight: bold;
      color: #666;
      span:not(.number) {
        display: inline-block;
        width: 90%;
      }
      span.number {
        position: absolute;
        right: 1rem;
        i { margin-right: 0.3rem; }
      }
    }
  }
  .document {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    h4 {
      font-weight: bold;
      margin-bottom: 5px;
      a, a:hover, a:active, a:visited {
        color: rgb(38, 85, 123);
        text-decoration: underline;
      }
    }
    p { font-size: 0.7rem; }
  }
}

@media screen and (max-width: 40em) {
  .overlay_buttons li.overlay_button span:not(.number) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .powered_logo { display: none; }
  .page__header .subscribe-newsletter {
    position: relative;
  }
}

.carousel-buttons.milestones { margin-bottom: 1.5rem; }
.carousel-button.milestones i {
  vertical-align: middle;
}
#milestones-carousel {
  strong { font-weight: bold; }
  .row { margin-bottom: 1.5rem; }
}

.dashboardModal#media {
  h4 { font-weight: bold; }
}
#media-carousel {
  margin: 1.5rem 0 3.5rem;
  .carousel-inner img { margin: 0 auto; }
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    .item,
    .active.left,
    .active.right {
      left: calc(50% - 240px);
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      left: 0;
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: calc(50% - 240px);
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-control {
    background: none;
    color: black;
  }
}

.alert.subconfirm {
  width: 40em;
  background-color: #FFFAD9;
  border: none;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -20em;
  border-radius: 0;
  padding: 25px;
  z-index: 10;
  .close { right: -15px; top: -17px; }
  button:hover { background: none; }
  .message { font-weight: bold; }
  .submessage { font-size: 0.8rem; }
}