.newsletter-template {

  .header {
    text-align: center;
    padding: 3.5rem 0;
    height: initial;
    h2, h4 {
      display: block;
      margin-bottom: 1rem;
    }
  }

  .progress-steps {
    position: relative;
    height: 100px;
    margin-top: 3rem;
    .steps {
      position: absolute;
      text-align: center;
      font-size: 0.9rem;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      z-index: 2;
      &.completed:before { background-color: #465A63; }
      &:before {
        display: block;
        content: " ";
        width: 40px;
        height: 40px;
        background-color: #999;
        border-radius: 50%;
        margin: 0 auto 0.5rem;
      }
      &.step1 {
        margin-left: -300px;
      }
      &.step3 {
        margin-left: 200px;
      }
    }
    .road {
      position: absolute;
      height: 5px;
      background-color: #999;
      left: 50%;
      top: 18px;
      &.completed { background-color: #465A63; }
      &.road1 {
        right: 50%;
        margin-left: -250px;
      }
      &.road2 {
        right: 50%;
        margin-right: -250px;
      }
    }
  }

  .body {
    padding: 2rem 4rem;
    strong { font-weight: bold; }
    h4 {
      margin-top: 2.5rem;
      font-weight: bold;
      color: #465A63;
    }
    ul {
      margin-top: 1rem;
      li {
        background-color: #efefef;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  .footer {
    background-color: transparent;
    margin-bottom: 3rem;
    a, a:hover {
      color: #465A63;
      text-decoration: underline;
    }
  }

}

@media screen and (max-width: 40em) {
  .newsletter-template .body { padding: 1rem 2rem; }
  .newsletter-template .header h2 { font-size: 2rem; }
  .newsletter-template .header h4 { font-size: 1.2rem; }
  .newsletter-template .progress-steps .steps.step1 { margin-left: -150px };
  .newsletter-template .progress-steps .steps.step3 { margin-left: 50px };
  .newsletter-template .progress-steps .road.road1 { margin-left: -100px; }
  .newsletter-template .progress-steps .road.road2 { margin-right: -90px; }
}