<div class="campaignHeader">
    <div class="voffset3 col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <strong>{{'Campaign'|translate}}:&nbsp;&nbsp;</strong><span ng-if="campaign!=null && campaign!=undefined">{{campaign.title}}</span>
    </h2>
    <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <span><strong>{{'Organized by'|translate}}&nbsp;&nbsp;<a href="#/assembly/{{assembly.assemblyId}}/forum">{{assembly.name}}</a></strong></span>
    </h3>
    <div class="voffset3 col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
    <!--TODO: uncomment when edit campaign actually works <span class="edit-button"><a href="#/assembly/{{assembly.assemblyId}}/campaign/{{campaign.campaignId}}/edit">{{'Edit'|translate}} {{'Campaign'|translate}}</a></span>-->
</div>
