<div class="view campaign-pmaking">
    <div class="col-md-12 col-sm-12">
        <!-- Campaign Title -->
        <div class="row container-inline col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <campaign-header
                        assembly="assembly"
                        campaign="campaign"
                        component="component"
                        iscampaign="true">
                </campaign-header>
            </h2>
        </div>
        <!-- The Campaign timeline-->
        <timeline></timeline>
        <!-- The campaign milestones and functions -->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button class="btn btn-lg btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-click="openNewContributionModal('lg','NOTE')"
                            ng-disabled="disableButton['note']">
                        <strong>
                            {{'New Note' | translate}}
                            <i class="fa fa-info-circle" tooltip-placement="left"
                               uib-tooltip="{{'notes.deadline'|translate}}: {{campaign.endDate|date:'medium'}}">
                            </i>
                        </strong>
                    </button>
                </span>
                <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button class="btn btn-lg btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-click="openNewContributionModal('lg','BRAINSTORMING')"
                            ng-disabled="disableButton['contribute']">
                        <strong>
                            {{'Brainstorm' | translate}}
                            <i class="fa fa-info-circle" tooltip-placement="left"
                               uib-tooltip="{{'brainstorming.deadline'|translate}}: {{milestonesMap['end_brainstorming'].date|date:'medium'}}">
                            </i>
                        </strong>
                    </button>
                </span>
                <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button class="btn btn-lg btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            ng-disabled="disableButton['newProposal']"
                            ng-click="openNewContributionModal('lg','PROPOSAL')">
                        <strong>
                            {{'New Proposal' | translate}}
                            <i class="fa fa-info-circle" tooltip-placement="left"
                               uib-tooltip="Proposals due date {{disableButton['newProposal'] ? 'was' : 'is'}}
                               {{milestonesMap['end_proposals'].date}}">
                            </i>
                        </strong>
                    </button>
                </span>
                <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <a ng-if="ballotResultsAreAvailable">
                        <button class="btn btn-lg btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                ng-disabled="disableButton['results']" ng-click="showFinalResults()">
                            <strong>
                                {{showVotingResults ? 'Hide' : 'Show' | translate}} {{'Results' | translate}}
                                <i class="fa fa-info-circle" tooltip-placement="top"
                                   uib-tooltip="Voting dates: from {{milestonesMap['start_voting'].date}} to
                                   {{milestonesMap['end_voting'].date}}">
                                </i>
                            </strong>
                        </button>
                    </a>
                    <button ng-if="!ballotResultsAreAvailable" class="btn btn-lg btn-primary disabled col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>
                            {{'Results are not available yet' | translate}}
                            <i class="fa fa-info-circle" tooltip-placement="top"
                               uib-tooltip="'{{ 'Voting' |translate}}' starts on {{milestonesMap['start_voting'].date}} and ends on
                                   {{milestonesMap['end_voting'].date}}">
                            </i>
                        </strong>
                    </button>
                </span>
                <div class="voffset5"></div>
            </div>
        </div>
        <!-- Campaign Content -->
        <!-- Filters and Search -->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Search box -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                <input type="text" class="form-control" placeholder="{{'Search existing contributions...' | translate}}"
                       ng-model="campaignContributionFilter">
            </div>
            <!-- Themes filters TODO: NOT WORKING, UNCOMMENT WHEN FIXED-->
            <!--<div class="col-md-3 col-sm-3 dropdown">-->
                <!--<button class="col-md-12 col-sm-12 btn btn-default dropdown-toggle" type="button"-->
                        <!--id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                    <!--<strong>{{'Filter by Theme' | translate}}:<span class="caret"></span></strong>-->
                <!--</button>-->
                <!--<ul class="col-md-12 col-sm-12 dropdown-menu" aria-labelledby="dropdownMenu1">-->
                    <!--<li><a ng-click="filterByTheme('all')"><strong>All</strong></a></li>-->
                    <!--<li ng-repeat="t in themes">-->
                        <!--<a ng-click="filterContributionsByTheme(t)"><strong>{{t.title}}</strong></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--Order select TODO: random and popularity not working-->
            <div class="col-md-3 col-sm-3 dropdown">
                <button class="col-md-12 col-sm-12 btn btn-default dropdown-toggle" type="button"
                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <strong>{{'Order by' | translate}}:<span class="caret"></span></strong>
                </button>
                <ul class="ol-md-12 col-sm-12 dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="orderContributions('creation')">{{'Ordery by date' | translate}}</a></li>
                    <li><a ng-click="orderContributions('random')">{{'Random Order' | translate}}</a></li>
                    <li><a ng-click="orderContributions('stats.points')">{{'Popularity' | translate}}</a></li>
                </ul>
            </div>
            <div class="voffset5"></div>
        </div>
        <!-- voting instructions -->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="enableVoting">
                <span class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>
                        {{'The voting period has started'|translate}}!.
                        <a ng-if="!showVotingInstructions" ng-click="toggleVotingInstructions()">
                            {{'Show Voting Instructions'|translate}}
                        </a>
                    </strong>
                    <span ng-if="showVotingInstructions">
                        {{'There are two ways of voting'|translate}}.
                        <a ng-click="toggleVotingInstructions()">
                            {{'Hide Voting Instructions'|translate}}
                        </a>
                    </span>
                </span>

                <div class="panel panel-primary col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding" ng-if="showVotingInstructions">
                    <div class="panel-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title"><strong>{{'Voting in Campaign Page'|translate}}</strong></h2>
                    </div>
                    <div class="panel-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p translate="campaign.component.voting.instructions1"></p>
                        <button class="btn btn-primary center-block" ng-click="changeToTab('proposals')">
                            {{'Move to the Proposals Tab'|translate}}
                        </button>
                        <div class="panel-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input ng-if="false" class="form-control form-horizontal" id="ballotUrlInput"
                                   ng-model="ballotUrl" value="{{ballotUrl}}" type="text">
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding" ng-if="showVotingInstructions">
                    <div class="panel-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="panel-title"><strong>{{'Through the Voting Ballot'|translate}}</strong></h2>
                    </div>
                    <div class="panel-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p translate="campaign.component.voting.instructions2"></p>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                            <button class="btn btn-primary center-block"
                                    ng-disabled="!userIsCoordinator"
                                    ng-click="openCampaignBallot()">
                                    {{userIsCoordinator ? 'Open the Voting Ballot' : 'Ask Coordinators the link to the Voting Ballot'|translate}}
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                            <button class="btn btn-primary center-block"
                                    ng-disabled="!userIsCoordinator"
                                    ng-click="toggleLinkToBallot()"
                                    ng-if="userIsCoordinator">
                                {{'Show Link to the Ballot'|translate}}
                            </button>
                        </div>
                        <div class="panel-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input ng-if="showLinkToBallot" class="form-control form-horizontal" id="ballotUrlInput"
                                   ng-model="ballotUrl" value="{{ballotUrl}}" type="text">
                        </div>
                    </div>
                </div>
            <div class="voffset5"></div>
        </div>
        <!-- Voting Results -->
        <consensus-result-list
                ng-if="showVotingResults"
                contributions="contributions"
                ballotuuid="campaign.bindingBallot"></consensus-result-list>

        <!-- TODO: add other type of voting results -->
        <!-- TODO: add only show Winning Proposals -->

        <!-- Contribution tabs -->
        <uib-tabset justified="true" class="campaigntabs">
            <uib-tab class="col-lg-3 col-md-3 col-sm-4 col-xs-12"
                     ng-repeat="tab in contentTabs"
                     heading="{{tab.title|translate}}"
                     active="tab.active"
                     ng-if="tab.showInComponent[component.title.toLowerCase()]">
                <uib-tab-heading>
                    <h4>
                        <strong ng-if="tab.title!='Winning Proposals'" translate="{{tab.title}}"></strong>
                        <strong ng-if="tab.title==='Winning Proposals'">
                            <strong translate="{{tab.title}}"></strong>
                            ({{'future feature' | translate}})
                        </strong>
                        <i class="fa fa-question-circle" tooltip-placement="left"
                           uib-tooltip="{{ tab.tooltip | translate}}"></i>
                    </h4>
                </uib-tab-heading>
                <div class="col-lg-12 col-md-12 col-sm-12 col-md-12 col-xs-12 voffset4"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="container-fluid col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-3 col-xs-12 no-padding contribution"
                                 ng-if="tab.ctype!='WORKING_GROUP'"
                                 ng-repeat="contribution in tab.contentArray
                                                | orderBy: orderProperty : orderReverse
                                                | filter: campaignContributionFilter
                                                | filter: {type:tab.ctype}
                                                track by $index ">
                                <div style="height: 400px;" ng-if="tab.ctype==='BRAINSTORMING'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                    <contribution ng-click="openContributionModal(contribution,'lg')"
                                                  contribution="contribution"
                                                  assemblyid="assembly.assemblyId"
                                                  campaignid="campaign.campaignId"
                                                  componentid="component.componentId"
                                                  container="tab.contentArray"
                                                  containerid="campaign.resourceSpaceId"
                                                  containerindex="$index"
                                                  enablevoting="enableVoting"
                                                  bballot="campaign.bindingBallot"
                                                  cballot="campaign.consultiveBallot"
                                                  bindingresults="campaign.ballotResults"
                                                  consultiveResults="campaign.consultiveBallotResults"
                                                  ballotpaper="campaign.ballotPaper"
                                                  cballotpaper="campaign.consultiveBallotPaper">
                                    </contribution>
                                </div>
                                <div style="height: 650px;" ng-if="tab.ctype!='BRAINSTORMING'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                    <contribution ng-click="openContributionModal(contribution,'lg')"
                                                  contribution="contribution"
                                                  assemblyid="assembly.assemblyId"
                                                  campaignid="campaign.campaignId"
                                                  componentid="component.componentId"
                                                  container="tab.contentArray"
                                                  containerid="campaign.resourceSpaceId"
                                                  containerindex="$index"
                                                  enablevoting="enableVoting"
                                                  bballot="campaign.bindingBallot"
                                                  cballot="campaign.consultiveBallot"
                                                  bindingresults="campaign.ballotResults"
                                                  consultiveresults="campaign.consultiveBallotResults"
                                                  ballotpaper="campaign.ballotPaper"
                                                  cballotpaper="campaign.consultiveBallotPaper">
                                    </contribution>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-3 col-xs-12 no-padding contribution"
                                 ng-if="tab.ctype==='WORKING_GROUP'"
                                 style="height:150px;"
                                 ng-repeat="group in tab.contentArray |
                                                orderBy: orderProperty : orderReverse |
                                                filter:campaignContributionFilter track by $index ">
                                <working-group group="group"
                                               assemblyid="assemblyID"
                                               campaignid="campaign.campaignId"
                                               container="tab.contentArray"
                                               containerid="campaign.resourceSpaceId"
                                               containerindex="$index">
                                </working-group>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
    <div class="col-md-12 voffset5"></div>
    <div class="col-md-12 voffset5"></div>
</div>
