<style>
  button[type=submit] {
    background: #11493b;
    border-color: #11493b;
  }
  
  button[type=submit]:hover {
    background-color: #009877;
  }
  
  label {
    font-size: 1.5em;
  }
</style>
<main class="appmain">
  <article class="campaign profile_page">
    <header class="page__header">
      <h1 class="heading--title">{{'Edit' | translate}} {{'header.menu.Profile' | translate}}</h1>
    </header>
    <br />
    <section class="comments__section">
      <form>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="row">
              <div class="col-lg-12">
                <label for="profileEmail">{{'Email address' | translate}}</label>
                <input type="email" class="form-control" name="profileEmail" placeholder="{{'Email' | translate}}" ng-blur="blurReset()"
                  ng-model="profile.email">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-6">
                <label for="profileFirstName">{{'First Name'|translate}}</label>
                <input type="text" class="form-control" id="profileFirstName" placeholder="{{'First Name' | translate}}"
                  ng-blur="blurReset()" ng-blur="blurReset()" ng-model="profile.firstname">
              </div>
              <div class="col-xs-6">
                <label for="profileLastName">{{'Last Name'|translate}}</label>
                <input type="text" class="form-control" id="profileLastName" placeholder="{{'Last Name' | translate}}"
                  ng-blur="blurReset()" ng-model="profile.lastname">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-12">
                <label for="profileUsername">{{'Username'|translate}}</label>
                <input type="text" class="form-control" id="profileUsername" placeholder="{{'Username' | translate}}"
                  ng-blur="blurReset()" ng-model="profile.username">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-large" data-ng-disabled="!facebookReady" data-ng-click="login()">Connect with Facebook</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!--Profile Picture -->
            <div class="form-group">
              <label for="profilePicUpload">{{'Change Profile Picture'|translate}}</label>
              <br>
              <img ng-if="!profile.profile_pic" class="profilePic" ng-src="{{user.profilePic.urlAsString}}" />
              <div ng-if="profile.profile_pic" style="position: relative;">
                <a class="github-fork-ribbon" title="{{'Preview' | translate}}"></a>
                <img class="profilePic" ng-src="{{profile.selectedPic}}" />
              </div>
              <input type="file" id="profilePicUpload" fileread="profile.profile_pic">
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-8">
            <input type="checkbox" ng-click="toggleChangePassword()">
            <span>{{ 'Update password' | translate }}</span>
          </div>
        </div>
        <br />
        <div ng-if="showChangePassword">
          <div class="row">
            <div class="col-lg-8">
              <label>{{'Old Password' | translate}}</label>
              <input type="password" placeholder="{{'Old Password' | translate}}" ng-model="profile.oldPassword" ng-blur="blurReset()">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <label>{{'Password' | translate}}</label>
              <input type="password" placeholder="{{'Password' | translate}}" ng-model="profile.password" ng-blur="blurReset()">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <label>{{'Repeat password' | translate}}</label>
              <input type="password" placeholder="{{'Repeat password' | translate}}" ng-model="profile.repeatPassword"
                ng-blur="blurReset()">
            </div>
          </div>
        </div>
        <button type="submit" class="pull-right" ng-click="updateProfile()">{{'Update Profile' | translate}}</button>
      </form>
    </section>
  </article>
</main>