<div class="panel">
  <h1 class="heading--title"><strong>{{'Edit' | translate}} {{'header.menu.Profile' | translate}}</strong></h1>
</div>
<div class="panel">
  <form>
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="row">
          <div class="col-lg-12">
            <label for="profileEmail">{{'Email' | translate}} {{'address' | translate}}</label>
            <input type="email" class="form-control" name="profileEmail" placeholder="{{'Email' | translate}}" ng-blur="blurReset()" ng-model="profile.email">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-6">
            <label for="profileFirstName">{{'First Name'|translate}}</label>
            <input type="text" class="form-control" id="profileFirstName" placeholder="{{'First Name' | translate}}" ng-blur="blurReset()" ng-blur="blurReset()" ng-model="profile.firstname">
          </div>
          <div class="col-xs-6">
            <label for="profileLastName">{{'Last Name'|translate}}</label>
            <input type="text" class="form-control" id="profileLastName" placeholder="{{'Last Name' | translate}}" ng-blur="blurReset()" ng-model="profile.lastname">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-xs-12">
            <label for="profileUsername">{{'Username'|translate}}</label>
            <input type="text" class="form-control" id="profileUsername" placeholder="{{'Username' | translate}}" ng-blur="blurReset()" ng-model="profile.username">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <!--Profile Picture -->
        <div class="form-group">
            <label for="profilePicUpload">{{'Change Profile Picture'|translate}}</label>
            <br>
            <img class="profilePic" src="{{user.profilePic.urlLargeString}}" />
            <input type="file" id="profilePicUpload">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right" ng-click="updateProfile()">{{'Update Profile'|translate}}</button>
  </form>
</div>
