<div id="newWorkingGroup" class="view wGroupCreation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row col-md-12 col-sm-12">
                    <h1><strong>Create Working Group</strong></h1>
                </div>
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-9 col-sm-9">
                        <div id="description" class="row col-md-12 col-sm-12 box descriptionBox">
                                <p><strong>Working groups</strong> develop campaigns by taking specific actions, such as drafting proposals and organizing events.</p>
                        </div>
                        <div id="workingGroupName" class="row col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputNameNewWorkingGroup" class="no-padding col-sm-2 col-md-2 control-label">Name*</label>
                                    <div class="voffset4"></div>
                                    <input id="inputNameNewWorkingGroup" class="form-control no-padding "
                                           placeholder="e.g., Urban Infrastucture Interest Group"
                                           ng-model="newWorkingGroup.name" type="text" ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div id="workingGroupDescription" class="row col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputDescriptionNewWorkingGroup" class="no-padding col-sm-2 col-md-2 control-label">
                                        Description*
                                    </label>
                                    <textarea id="inputDescriptionNewWorkingGroup" class="form-control"
                                              maxlength="400" placeholder="(Max. 250 words) e.g., Group developing Urban Infrastucture proposals for Parc de Belleville"
                                              ng-model="newWorkingGroup.description"/>
                                </div>
                            </div>
                        </div>
                        <div id="workingGroupThemes" class="row col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="checkConfirmCampaignGoals" class="control-label">Select one or more focus Campaign Themes for the group</label>
                                <div class="box selectionBox col-md-12 col-sm-12" id="checkConfirmCampaignGoals">
                                    <div class="themes-container-content optionThemes" ng-repeat="theme in campaignThemes track by $index">
                                        <input type="checkbox" ng-model="campaignThemes[$index].selected">
                                        <span>{{theme.title}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="workingGroupIcon" class="col-md-12 form-group">
                            <label class="control-label">Pick an Icon to represent your Group</label>
                            <div class="picsList">
                                <div ng-repeat="icon in defaultIcons">
                                    <div class="col-md-4">
                                        <div class="image-capsule">
                                            <img alt="100x100" src="{{icon.url}}"
                                                 class="image-circle"
                                                 ng-click="setNewWorkingGroupIcon(icon.url, icon.name)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="image-capsule" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                         accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/addIcon.png" data-holder-rendered="true"
                                             class="image-circle"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="workingGroupMembership" class="col-md-12 form-group">
                            <label class="control-label">How do people become members?</label>
                            <div class="voffset3"></div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membership" id="openRadio" value="OPEN"
                                               ng-model="newWorkingGroup.profile.membership">
                                        Open
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membership" id="registrationRadio" value="REGISTRATION"
                                               ng-model="newWorkingGroup.profile.membership"> Registration
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 optionsBox"
                                 ng-show="newWorkingGroup.profile.membership === 'REGISTRATION'">
                                <h5 class="optionsBox-title">Membership by registration</h5>
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.supportedMembershipRegistrationTooltip}}"></i>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="newWorkingGroup.profile.registration.invitation"/>
                                        <p>By invitation, and/or</p>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="newWorkingGroup.profile.registration.request" checked/>
                                        <p>By request</p>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="row col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div>
                                        <h4 class="col-md-12 col-sm-12 no-padding">
                                            <label for="inputWhoWorkingGroup" class="control-label">Will some members have special roles?</label>
                                        </h4>
                                        <div>
                                            <div class="col-md-1">
                                                <div class="radio">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.roles" type="radio" name="roleNo" id="noRadio" value="no" checked>
                                                        No
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.roles" type="radio" name="roleYes" id="yesRadio" value="yes">
                                                        Yes
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 optionsBox" ng-show="newWorkingGroup.profile.roles == 'yes'">
                                                <h5 class="optionsBox-title">What are the special roles?</h5>
                                                <i class="fa fa-question-circle"></i>
                                                <div class="checkbox">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.role.coordinators" type="checkbox" value="coordinators"/>
                                                        <p>Coordinators</p>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.role.moderators" type="checkbox" value="moderators"/>
                                                        <p>Moderators</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-12 no-padding">
                                        <h4 class="col-md-12 col-sm-12 no-padding">
                                            <label for="inputWhoWGroupForum" class="control-label">Who can see the working group forum?</label>
                                        </h4>
                                        <div class="voffset3"></div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="radio">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.membership" type="radio" name="wGroupMembers" id="wGroupMembers" value="wGroupMembers" checked>
                                                        Members of the Working Group only
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.membership" type="radio" name="assemblyMembers" id="assemblyMembers" value="assemblyMembers">
                                                        Assembly members only
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.membership" type="radio" name="invitation" id="invitation" value="invitation" checked>
                                                        By invitation (via link)
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input ng-model="newWorkingGroup.profile.membership" type="radio" name="everybody" id="everybody" value="everybody">
                                                        Everybody
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12">
                            <h4 class="col-md-12 col-sm-12 no-padding">
                                <label for="inputInvitationsNewWorkingGroup" class="control-label">Send people an invitation to join this group</label>
                            </h4>
                            <div class="col-sm-12 col-md-12">
                                <textarea class="form-control" id="inputInvitationsNewWorkingGroup" maxlength="400" placeholder=""/>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-12 no-padding">
                                        <h4 class="col-md-12 col-sm-12 no-padding">
                                            <label for="inputWhoWGroupForum" class="control-label">Who can see the working group forum?</label>
                                            <i class="fa fa-question-circle"></i>
                                        </h4>
                                        <div class="col-md-12 col-sm-12 voffset3">
                                            <h4 class="inline">Majority threshold</h4>
                                            <select ng-model="newWorkingGroup.threshold" id="newWorkingGroupThreshold">
                                                <option value="simple" selected>Simple</option>
                                                <option value="66">66%</option>
                                                <option value="90">90%</option>
                                            </select>
                                            <div class="checkbox">
                                                <label>
                                                    <input ng-model="newWorkingGroup.blocking" type="checkbox" name="newWorkingGroupBlocking" id="newWorkingGroupBlocking" value="newWorkingGroupBlocking">
                                                    <h4>Enable blocking</h4>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-12 no-padding">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input ng-model="newWorkingGroup.technicalAssesment" type="checkbox" name="newWorkingGroupTechnicalAssesment" id="newWorkingGroupTechnicalAssesment" value="newWorkingGroupTechnicalAssesment">
                                                    <h4>This is a Technical Assesment Group</h4>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <a ng-click="createWorkingGroup()"><button class="btn btn-primary col-md-6 pull-right"><h5><strong>Create</strong></h5></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>