*.class

public/*
app/fonts

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea
.vscode

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
.idea/.name
.idea/appcivist-pb-client.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/appcivist_pb_client_node_modules.xml

npm-debug.log
app/css/app.css.map
app/css/app.v2.css
app/css/app.v2.css.map
app/css/app.v1-mini.css
app/css/app.v1-mini.css.map
bower_components/
node_modules/
stylesheets/.sass-cache
stylesheets/main.css.map
lib/angular-local-storage.min.js
lib/bootstrap/css/bootstrap-theme.css
lib/bootstrap/css/bootstrap-theme.css.map
lib/bootstrap/css/bootstrap-theme.min.css
lib/bootstrap/css/bootstrap.css
lib/bootstrap/css/bootstrap.css.map
lib/bootstrap/css/bootstrap.min.css
lib/bootstrap/fonts/glyphicons-halflings-regular.eot
lib/bootstrap/fonts/glyphicons-halflings-regular.svg
lib/bootstrap/fonts/glyphicons-halflings-regular.ttf
lib/bootstrap/fonts/glyphicons-halflings-regular.woff
lib/bootstrap/js/bootstrap.js
lib/bootstrap/js/bootstrap.min.js
lib/bootstrap/js/npm.js
design/mockups/AppCivist UX - Shared Objects.html
design/mockups/AppCivist UX - Shared Objects.png
design/mockups/Old Elements.html
design/mockups/Old Elements.png
design/mockups/UX Campaigns Shared Objects.html
design/mockups/UX Campaigns Shared Objects.png
dist
