<!doctype html>
<html lang="en" data-ng-app="appCivistApp">

<head>
  <meta charset="utf-8">
  <title>AppCivist</title>
  <script>
    window.paceOptions = {
      document: true, // disabled
      eventLag: true,
      restartOnPushState: true,
      restartOnRequestAfter: true,
      ajax: {
          trackMethods: [ 'POST','GET', 'PUT', 'DELETE']
      },
      elements : {
        selectors: ['.appmain']
      }
    };
  </script>
  <!-- Latest compiled and minified Bootstrap CSS -->
  <!-- build:css stylesheets/vendor.css -->
  <link data-version="v1" rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap.css'>
  <link data-version="v1" rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap-theme.css'>
  <link data-version="v1" rel="stylesheet" href="bower_components/angular-multi-slider/multislider.css">
  <link data-version="v1" rel="stylesheet" media="screen" href="stylesheets/lib/glyph.css">
  <link data-version="v1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link data-version="v1" href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese'
    rel='stylesheet' type='text/css'>
  <!-- endbuild -->

  <link data-version="v1" rel="stylesheet" media="screen" href="app/css/app.css">
  <link data-version="v2" rel="stylesheet" media="screen" href="app/css/app.v1-mini.css">

  <!-- V2 styles -->
  <!-- build:css stylesheets/app.v2.css -->
  <link data-version="v2" rel="stylesheet" href="bower_components/vex/dist/css/vex.css" />
  <link data-version="v2" rel="stylesheet" href="bower_components/pace/themes/pace-theme-center-circle.css" />
  <link data-version="v2" rel="stylesheet" href="bower_components/vex/dist/css/vex-theme-plain.css" />
  <link data-version="v2" rel="stylesheet" media="all" href="bower_components/appcivist-patterns/dist/css/style.css">
  <link data-version="v2" rel="stylesheet" href="bower_components/ng-notify/dist/ng-notify.min.css">
  <link data-version="v2" rel="stylesheet" href="bower_components/ng-notify/dist/ng-notify.min.css">
  <!-- endbuild -->
  <!-- end of V2 styles -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <reset-style></reset-style>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
  <div header ng-if="!ui.v2"></div>
  <div class="container-fluid" id="wrap" ng-if="!ui.v2">
    <div class="row">
      <div class="col-sm-12" data-ng-view></div>
    </div>
  </div>
  <div footer ng-if="!ui.v2"></div>
  <div data-ui-view></div>
</body>

<!-- Javascript Libraries -->
<!-- build:js scripts/ui.js -->
<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="bower_components/angular/angular.js" type="text/javascript"></script>
<script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
<script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js" type="text/javascript"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.js" type="text/javascript"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js" type="text/javascript"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.js"></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-multi-slider/multislider.js"></script>
<script src="bower_components/ngmodel-format/src/ngmodel.format.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<script src="bower_components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-inview/angular-inview.js"></script>
<script src="lib/jquery.canvasjs.min.js"></script>
<script src="bower_components/lodash/lodash.js"></script>

<script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
<script src="bower_components/vex/dist/js/vex.min.js"></script>
<script src="bower_components/eq.js/dist/eq.min.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/pace/pace.js"></script>
<!-- endbuild -->



<!-- AngularJS App -->
<!-- build:js scripts/app.js -->
<script src='app/app.js' type="text/javascript"></script>
<!-- AngularJS App Controllers -->
<script src='app/controllers/main.js' type="text/javascript"></script>
<script src='app/controllers/home.js' type="text/javascript"></script>
<script src='app/controllers/accounts.js' type="text/javascript"></script>
<script src='app/controllers/assemblies.js' type="text/javascript"></script>
<script src='app/controllers/campaigns.js' type="text/javascript"></script>
<script src='app/controllers/contributions.js' type="text/javascript"></script>
<script src='app/controllers/working-groups.js' type="text/javascript"></script>

<!-- AngularJS Voting Controllers -->
<script src='app/controllers/ballot/ballotRegisterCtrl.js' type="text/javascript"></script>
<script src='app/controllers/ballot/ballotStartCtrl.js' type="text/javascript"></script>
<script src='app/controllers/ballot/ballotSuccessCtrl.js' type="text/javascript"></script>
<script src='app/controllers/ballot/voteCtrl.js' type="text/javascript"></script>
<script src='app/controllers/ballot/summaryCtrl.js' type="text/javascript"></script>
<script src='app/controllers/ballot/resultCtrl.js' type="text/javascript"></script>

<!-- AngularJS App Directives -->
<script src='app/directives/appCivistMainDirectives.js' type="text/javascript"></script>
<script src='app/directives/commonComponentsDirectives.js' type="text/javascript"></script>
<script src='app/directives/angular-multi-slider-dates.js' type="text/javascript"></script>
<script src='app/services/LocaleService.js' type="text/javascript"></script>
<script src='app/directives/LanguageSelectDirective.js' type="text/javascript"></script>

<!-- AngularJS App Filters -->
<script src='app/filters/filters.js' type="text/javascript"></script>

<!-- AngularJS App Services -->
<script src='app/services/logService.js' type="text/javascript"></script>
<script src='app/services/flashService.js' type="text/javascript"></script>
<script src='app/services/appCivistService.js' type="text/javascript"></script>
<script src='app/services/loginService.js' type="text/javascript"></script>
<script src='app/services/votingService.js' type="text/javascript"></script>


<!-- new design elements -->
<script src="app/v2/controllers/campaign/dashboard.js" type="text/javascript"></script>
<script src="app/v2/controllers/working-group/dashboard.js" type="text/javascript"></script>
<script src="app/v2/controllers/main.js" type="text/javascript"></script>
<script src="app/v2/controllers/contribution/page.js" type="text/javascript"></script>
<script src="app/v2/controllers/contribution/all.js" type="text/javascript"></script>
<script src="app/v2/controllers/login.js" type="text/javascript"></script>
<script src="app/v2/controllers/user/profile.js" type="text/javascript"></script>
<script src="app/v2/controllers/campaign/form.wizard.js" type="text/javascript"></script>
<script src="app/v2/controllers/campaign/form.js" type="text/javascript"></script>

<script src="app/v2/directives/member-card.js" type="text/javascript"></script>
<script src="app/v2/directives/contribution-card.js" type="text/javascript"></script>
<script src="app/v2/directives/discussion-panel.js" type="text/javascript"></script>
<script src="app/v2/directives/activity-card.js" type="text/javascript"></script>
<script src="app/v2/directives/campaign-timeline.js" type="text/javascript"></script>
<script src="app/v2/directives/reset-style.js" type="text/javascript"></script>
<script src="app/v2/directives/contribution-filter.js" type="text/javascript"></script>
<script src="app/v2/directives/proposals-ideas-searchbox.js" type="text/javascript"></script>
<script src="app/v2/directives/contribution-contextual-items.js" type="text/javascript"></script>
<script src="app/v2/directives/campaign-contextual-items.js" type="text/javascript"></script>
<script src="app/v2/directives/proposal-new.js" type="text/javascript"></script>
<script src="app/v2/directives/resize.js" type="text/javascript"></script>
<script src="app/v2/directives/on-finish-render.js" type="text/javascript"></script>
<script src="app/v2/directives/tags-field.js" type="text/javascript"></script>
<script src="app/v2/directives/wizard.js" type="text/javascript"></script>
<script src="app/v2/directives/wizardcontent.js" type="text/javascript"></script>
<script src="app/v2/directives/wizardpane.js" type="text/javascript"></script>




<script src="app/v2/services/notify.js" type="text/javascript"></script>
<script src="app/v2/services/modal.js" type="text/javascript"></script>
<script src="app/v2/services/authorization.js" type="text/javascript"></script>
<!-- endbuild -->

</html>