.assembliesLanding{
  .row{
    margin-bottom: 40px;
  }


  ul{
    list-style-type: none;
  }

  .assembly{
    -webkit-box-shadow:none;
    box-shadow:none;
    display: inline-flex;
    padding: 4px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 0px;
    height: 150px;

    img{
      -webkit-box-shadow:0;
      box-shadow:0;
      height: 100px;
      display: inline-block;
    }

    .caption{
      display: inline-block;
      width: 220px;
      i{
        margin: 0;
      }
    }

  }

  .image-circle{
    height: 100px;
    width: 100px;
    display: block;
    margin:auto;
    border-radius: 100%;
  }

  .image-capsule{
    cursor: default;
    margin: 0px 10px;
  }
}




