/*****COLORS*********/
/******COMMON BOXES*******/
/****TIMELINE*****/
/*****PROGRESSLINE******/
/*******CONTRIBUTIONS*******/
/*******TAGS**************/
/*****COMMON ELEMENTS***/
/******HEADER**********/
/******MAIN***********/
/*****ASSEMBLY CREATION*****/
/*****UPLOAD********/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

i {
  margin: 0 5px;
  cursor: default;
}

a {
  cursor: pointer;
}

.header {
  display: inline-block;
}
.header > div {
  display: inline;
}

.title {
  display: inline-block;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.voffset {
  margin-top: 0.2rem;
}

.voffset1 {
  margin-top: 0.5rem;
}

.voffset2 {
  margin-top: 1rem;
}

.voffset3 {
  margin-top: 1.5rem;
}

.voffset4 {
  margin-top: 3rem;
}

.voffset5 {
  margin-top: 6rem;
}

.voffset6 {
  margin-top: 9rem;
}

.vertical-divider {
  border-right: 1px solid #524D4D;
  display: inline-block;
  margin: 0 0.2rem;
}

/* Index of phases in a black ball */
.indexBall {
  display: inline-block;
  background-color: #524D4D;
  padding: 20px;
  border-radius: 50%;
}
.indexBall * {
  color: white;
  display: inline;
  margin: 0;
}
.indexBall :first-child {
  font-weight: bold;
}
.indexBall :last-child {
  vertical-align: -5px;
}

.indexSquare {
  display: inline-block;
  background-color: #524D4D;
  padding: 1rem;
}
.indexSquare * {
  color: white;
  display: inline;
  margin: 0;
}
.indexSquare :first-child {
  font-weight: bold;
}
.indexSquare :last-child {
  vertical-align: -5px;
}

.box {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.box.newsBox {
  background-color: #E1F1F9;
  color: #9CC7D3;
}
.box.descriptionBox {
  background-color: #DFEFD6;
  color: #57965B;
}
.box.selectionBox {
  background-color: #F4F4F4;
}
.box.settingsBox {
  border: 3px solid #524D4D;
  margin: 30px 0px 30px 0px;
}
.box.settingsBox .checkbox {
  display: inline-block;
  margin-right: 10px;
}

.tags {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
}

.tag {
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0 0.5rem 0.5rem 0;
}
.tag.tag-info {
  background: #F4F4F4;
}
.tag.tag-filter {
  color: white;
  background: #57965B;
}
.tag.tag-caution {
  color: white;
  background: #FCD49A;
}

textarea {
  resize: none;
  margin: 5px 0 0 0;
  height: 50px;
}

.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.vertical-space-little {
  margin: 5px 0;
}

.vertical-space-medium {
  margin: 10px 0;
}

.vertical-space-big {
  margin: 15px 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.container-inline {
  display: inline;
}
.container-inline * {
  display: inline-block;
}

.info-block {
  display: inline-block;
  vertical-align: bottom;
}
.info-block * {
  display: block;
}

/*******Buttons*****/
.btn-group {
  vertical-align: baseline;
}

.btn-full-size {
  width: 100%;
}

.btn-half-size {
  width: 49%;
}

/******Upload files******/
.progress-section {
  height: 4rem;
}
.progress-section .progress-line-container {
  display: inline-block;
  width: 100%;
}
.progress-section .progress-line-container .progress-line {
  background: #9CC7D3;
  width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/*****SPINNER*****/
.spinner-container {
  background-color: rgba(1, 1, 1, 0.3);
  position: absolute;
  left: 0%;
  top: -6%;
  height: 106%;
  width: 100%;
  z-index: 10;
}

/**
 * Original styles in Hypersphere (first demo of AppCivist)
 */
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.modal-body {
  max-height: 50vh;
  overflow-y: scroll;
}

.container-fluid {
  padding: 0;
}

.container.marketing {
  text-align: center;
  margin-bottom: 30px;
}

.container.marketing i {
  color: #808080;
  font-size: 90px;
  line-height: 140px;
}

ins {
  text-decoration: none;
  background-color: #cfc;
}

del {
  background-color: #fcc;
  color: #c00;
}

.compare button {
  white-space: normal;
  width: 100%;
}

hr.header {
  margin-top: 0;
}

.tab-content > .tab-pane {
  padding: 0.5em 0;
}

.filters {
  margin-bottom: 0.5em;
  display: none;
  /* Leave them for now */
}
.filters .btn {
  color: #428BCA;
  border-right: 1px solid #eee;
}
.filters .btn:last-child {
  border: none;
}
.filters .btn:hover {
  color: #2A6496;
}
.filters .btn:active, .filters .btn.active {
  color: #333;
  box-shadow: none;
}

.content-type {
  background: #eee;
  text-align: center;
  padding: 1em 0;
}

.new-button {
  margin: 8px 0 0 10px;
  font-size: 10px;
  padding: 4px 8px;
}

.new-button-small {
  margin-left: 8px;
  font-size: 8px;
  padding: 4px 6px;
}

.affix {
  top: 20px;
}

textarea {
  max-width: 100%;
}

#post-column {
  margin-bottom: 100%;
}
#post-column .panel {
  background: inherit;
  border: 4px solid transparent;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}
#post-column .panel.proposal {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}
#post-column .panel.first-vote {
  border: 4px solid #5bc0de;
}
#post-column .panel.second-vote {
  border: 4px solid #f0ad4e;
}
#post-column .panel-default > .panel-heading {
  font-size: 0.875em;
  padding: 0.5em 1.25em;
  font-weight: bold;
  border-radius: 0;
  border-color: #d3d3d3;
}
#post-column .panel-default > .panel-heading.proposal-change {
  background: #e6e6e6;
}
#post-column .panel-default > .panel-heading.proposal-change .compare-button {
  float: right;
  padding: 0.125em 0.5em;
  font-size: 0.75em;
  font-weight: bold;
}
#post-column .panel-default > .panel-heading.comment {
  background: #D2E5FC;
  border-color: #BAD5F6;
}
#post-column .panel-default > .panel-heading small {
  margin-left: 0.5em;
  font-weight: normal;
}
#post-column .panel-body {
  padding: 0.5em 1.125em 1.25em;
  background: #f9f9f9;
}

button#current-vote {
  border: 2px solid #5bc0de;
}

button#second-vote {
  border: 2px solid #f0ad4e;
}

#map-container {
  margin-left: 0;
  margin-right: 0;
}

#map {
  border: 1px solid #ccc;
  height: 90vh;
}

.map-column {
  padding: 0;
}

.navbar .logotype {
  /*height: 100%;*/
  height: 45px;
}

.navbar .navbar-brand {
  padding: 5px 15px;
}

.navbar-map {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-unauthenticated {
  margin: 0;
  border: 0;
}

.reports-panel {
  background-color: #f8f8f8;
  height: 90vh;
  overflow: auto;
  padding: 0;
}

.reports-panel .title {
  text-align: center;
}

.jumbotron-index {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
}

.jumbotron-logotype {
  height: 48px;
}

.jumbotron-index .logotype {
  width: 300px;
  position: relative;
  top: 0px;
  /*-50px*/
}

.jumbotron-index i {
  font-size: 4rem !important;
  color: black !important;
  cursor: default;
}

.jumbotron-groups img {
  width: 90px;
}

.jumbotron-copyright {
  padding-top: 12px;
}

.reports a {
  color: #000;
}

.summary-heading {
  margin: 30px 0;
}

#features-row {
  background-color: #4A4A4A;
  margin-right: 0;
  margin-left: 0;
  color: #FFF;
}

.highlight {
  color: #62A6E0;
}

.feature-icon {
  height: 55px;
  width: 55px;
}

.media-body h4 {
  text-align: center;
}

#feature-title {
  text-align: center;
}

#availability-text {
  font-size: 90%;
  color: #999999;
  text-align: center;
  margin-top: -20px;
}

#features-row hr {
  color: #999;
  background-color: #999;
  border: 0;
  height: 2px;
}

.footer {
  background-color: #505050;
}
.footer a {
  color: #999999;
  padding-left: 10px;
  padding-right: 10px;
}

#footer-row {
  background-color: #505050;
  margin: 0;
}

.features-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
}

/* Fixes

   TODO: remove these hacks */
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0 !important;
  }
}
.assemblyCreation {
  /*******INPUT - TEXTAREA *********/
  /******STEP 3****/
}
.assemblyCreation h1 {
  vertical-align: sub;
  display: inline-block;
}
.assemblyCreation label {
  font-size: 1.6rem;
}
.assemblyCreation ul {
  list-style: none;
}
.assemblyCreation .row {
  margin: 0 0 1rem 0;
}
.assemblyCreation .image-capsule {
  margin-right: 3rem;
}
.assemblyCreation .image-circle {
  height: 6rem;
  width: 6rem;
  display: block;
  margin: auto;
  border-radius: 100%;
  display: inline-block;
}
.assemblyCreation .image-cover {
  height: 10rem;
  width: 50rem;
  display: block;
  margin: auto;
  display: inline-block;
  margin-bottom: 1rem;
}
.assemblyCreation .collection-tags {
  float: left;
}
.assemblyCreation .green-tag {
  color: white;
  background-color: #5cb85c;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}
.assemblyCreation .grayBox {
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 0.5rem;
}
.assemblyCreation .grayBox .grayBox-title {
  color: dodgerblue;
  display: inline-block;
}
.assemblyCreation .grayBox .checkbox {
  padding-left: 2rem;
}
.assemblyCreation .grayBox .radio {
  padding-left: 2rem;
}
.assemblyCreation th.remove-column, .assemblyCreation td.remove-column {
  width: 15%;
}
.assemblyCreation th.email-column, .assemblyCreation td.email-column {
  width: 45%;
  /* Not necessary, since only 70% width remains */
}
.assemblyCreation th.coordinator-column, .assemblyCreation th.moderator-column,
.assemblyCreation td.coordinator-column, .assemblyCreation td.moderator-column {
  width: 25%;
  /* Not necessary, since only 70% width remains */
}
.assemblyCreation .tooltip.customTooltip .tooltip-inner {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  text-align: left;
}
.assemblyCreation .optionsBox {
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 0.5rem;
}
.assemblyCreation .optionsBox .optionsBox-title {
  color: dodgerblue;
  display: inline-block;
}
.assemblyCreation .optionsBox .checkbox {
  padding-left: 2rem;
}
.assemblyCreation .optionsBox:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #F4F4F4;
  border-width: 1rem;
  margin-top: -2.3rem;
}
.assemblyCreation .assembly .assemblySelected:before {
  content: '';
  position: absolute;
  height: 10rem;
  width: 10rem;
  background-color: black;
  border-radius: 5rem;
  opacity: 0.5;
  background-size: 80%;
  background-image: url("/assets/images/white_tick.png");
  background-repeat: no-repeat;
  background-position: 50%;
}
.assemblyCreation #inputAboutAssembly {
  height: 10rem;
}
.assemblyCreation #inputJoinAssembly {
  height: 10rem;
}
.assemblyCreation #inputInvitationByEmailAssembly {
  height: 20rem;
}
.assemblyCreation input {
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
}
.assemblyCreation input#inputCityAssembly {
  width: 10rem;
}
.assemblyCreation input#inputStateAssembly {
  width: 7rem;
}
.assemblyCreation input#inputZipAssembly {
  width: 6rem;
}
.assemblyCreation input#inputCountryAssembly {
  width: 9rem;
}
.assemblyCreation input#inputContactNameAssembly {
  width: 24.5rem;
}
.assemblyCreation input#inputContactPhoneAssembly {
  width: 24.5rem;
}
.assemblyCreation input#inputContactEmailAssembly {
  width: 24.5rem;
}
.assemblyCreation .picsList {
  white-space: nowrap;
}
.assemblyCreation .picsList .image-capsule {
  cursor: pointer;
}
.assemblyCreation .assembly-tags-container-title {
  color: dodgerblue;
  padding: 1rem 1rem 0rem 1rem;
}
.assemblyCreation .assembly-tags-container-content {
  height: 15rem;
  overflow: auto;
  border-top: 0.1rem solid #F4F4F4;
}

.assembliesLanding .row {
  margin-bottom: 40px;
}
.assembliesLanding ul {
  list-style-type: none;
}
.assembliesLanding .assembly {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-flex;
  padding: 4px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  height: 150px;
}
.assembliesLanding .assembly img {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  height: 100px;
  display: inline-block;
}
.assembliesLanding .assembly .caption {
  display: inline-block;
  width: 220px;
}
.assembliesLanding .assembly .caption i {
  margin: 0;
}
.assembliesLanding .image-circle {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 100%;
}
.assembliesLanding .image-capsule {
  cursor: default;
  margin: 0px 10px;
}

.forum {
  /**********************COMMENTS********************/
}
.forum h1, .forum h2, .forum h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.forum .row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.forum .header .assembly .caption {
  width: auto;
}
.forum .header button {
  float: right;
  margin-top: 100px;
}
.forum .info-lateral {
  margin-top: 30px;
}
.forum .infoBox {
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 150px;
  background-color: #f3f3f3;
}
.forum .infoBox .row {
  margin-left: 0px;
}
.forum .infoBox .list-item {
  margin-top: 5px;
}
.forum .infoBox button {
  float: right;
}
.forum .infoBox .image-circle {
  height: 20px;
  width: 20px;
}
.forum .infoBox .list-item .row {
  margin-right: 0px;
}
.forum .image-capsule img {
  display: inline-block;
}
.forum .image-capsule .caption {
  display: inline-block;
}
.forum .green-tag {
  cursor: pointer;
  float: left;
  color: white;
  background-color: #5cb85c;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}
.forum .forum-title h5 {
  margin: 5px 0;
}
.forum .commentBox {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.forum .commentBox .image-circle {
  height: 20px;
  width: 20px;
  opacity: 0.6;
}
.forum .commentArea {
  border: none;
  width: 100%;
  resize: none;
  outline: 0;
}
.forum .comments {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
}
.forum .reply {
  margin-left: 25px;
}
.forum .comment {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
.forum .image-profile-comment img {
  background-size: 100%;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.forum .text-comment * {
  display: inline;
}
.forum .options-comment {
  margin-top: 0.5em;
  display: block;
}
.forum .comment-comment a {
  text-decoration: none;
  color: black;
}
.forum .counter p {
  margin: -8px 0 -8px 0px;
  padding-left: 5px;
}

.campaign-creation {
  /****ARROW****/
  /******timeline-milestones*******/
}
.campaign-creation .row {
  margin-left: 0;
  margin-right: 0;
}
.campaign-creation .template-configuration {
  margin-top: -10px;
}
.campaign-creation .short-input {
  width: 5rem;
}
.campaign-creation .short-input-label {
  width: 5rem;
  text-align: center;
}
.campaign-creation .settingsBox:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #524D4D;
  border-width: 36px;
  margin-left: -36px;
}
.campaign-creation#prePhase .settingsBox:before {
  display: none;
}
.campaign-creation#pMakingPhase .settingsBox:before {
  left: 27%;
}
.campaign-creation#deliberationPhase .settingsBox:before {
  left: 61%;
}
.campaign-creation#versioningPhase .settingsBox:before {
  left: 45%;
}
.campaign-creation#votingPhase .settingsBox:before {
  left: 75%;
}
.campaign-creation .timeline-milestones .milestone {
  margin: 1rem 0;
}
.campaign-creation .timeline-milestones .milestone .title-section .title-container .title {
  padding: 1rem 0;
}
.campaign-creation .timeline-milestones .milestone .date-section {
  margin: -1.3rem 0;
}
.campaign-creation .timeline-milestones .milestone .date-section input {
  margin: 0 1rem 0 0;
}
.campaign-creation .timeline-milestones .milestone .days-section {
  margin: -1.3rem 0;
}
.campaign-creation .timeline-milestones .milestone:last-child .downArrow {
  display: none;
}
.campaign-creation .timeline-milestones .downArrow {
  font-size: 5rem;
  display: inline-block;
  margin: -1.7rem 0 -2rem 0;
  color: #524D4D;
}

.campaign-pmaking .contributions {
  list-style: none;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.campaign-pmaking .row {
  margin-bottom: 0.5rem;
}
.campaign-pmaking nav {
  display: inline-block;
  float: right;
}
.campaign-pmaking nav .pagination {
  margin: 0 0;
}

.campaign-wGroups .row {
  margin-bottom: 0.5rem;
}
.campaign-wGroups .optionsBox {
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 0.5rem;
}
.campaign-wGroups .optionsBox .optionsBox-title {
  color: dodgerblue;
  display: inline-block;
}
.campaign-wGroups .optionsBox .checkbox {
  padding-left: 2rem;
}
.campaign-wGroups .optionsBox:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #F4F4F4;
  border-width: 1rem;
  margin-top: -2.3rem;
}

.template-configuration .supporting-components {
  list-style: none;
}
.template-configuration .supporting-components li {
  border: 2px dashed black;
  width: 100%;
  display: none;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}
.template-configuration .supporting-components li.active {
  display: block;
}

.timeline {
  list-style: none;
  display: inline-block;
  width: 100%;
}
.timeline li {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  background-color: #F4F4F4;
  color: #524D4D;
  opacity: 0.1;
  width: 25%;
}
.timeline li:first-child {
  width: 30%;
}
.timeline li:last-child {
  width: 15%;
}
.timeline li :only-child {
  margin-left: 5%;
}
.timeline li#proposalMakingPhase {
  width: 30%;
}
.timeline li#versioningPhase {
  width: 25%;
}
.timeline li#deliberationPhase {
  width: 25%;
}
.timeline li#votingPhase {
  width: 15%;
}
.timeline li.selected {
  color: white;
  background-color: #524D4D;
  opacity: 1;
  z-index: 5 !important;
}
.timeline li.selected:before {
  border-left-color: #524D4D;
}
.timeline li.active {
  opacity: 1;
}
.timeline li:before, .timeline li:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.timeline li:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: white;
  border-width: 30px;
  margin-top: -30px;
  z-index: -1;
}
.timeline li:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #F4F4F4;
  border-width: 27px;
  margin-top: -27px;
}
.timeline #proposalMakingPhase {
  z-index: 4;
}
.timeline #versioningPhase {
  z-index: 3;
}
.timeline #deliberationPhase {
  z-index: 2;
}
.timeline #votingPhase {
  z-index: 1;
}

.progressline .progressline-phases {
  list-style: none;
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin: 2rem;
}
.progressline .progressline-phases .progressline-phase {
  display: inline-block;
  padding: 0.5rem 2.5rem 0rem 2.5rem;
  vertical-align: bottom;
}
.progressline .progressline-phases .progressline-phase .selected {
  color: #57965B;
}
.progressline .progressline-phases .progressline-phase:first-child {
  color: #57965B;
}
.progressline .progressline-phases .progressline-phase .progressline-phase-line {
  position: relative;
  border: 0.4rem solid grey;
  margin: 0 -2rem;
}
.progressline .progressline-phases .progressline-phase .progressline-phase-line:before, .progressline .progressline-phases .progressline-phase .progressline-phase-line:after {
  top: 50%;
  border: solid;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-radius: 1rem;
  border-width: 1rem;
  margin-top: -1rem;
  color: grey;
}
.progressline .progressline-phases .progressline-phase .progressline-phase-line:before {
  right: 100%;
  border-right-color: grey;
}
.progressline .progressline-phases .progressline-phase .progressline-phase-line:after {
  left: 100%;
  border-left-color: grey;
}
.progressline .progressline-phases .progressline-phase:last-child .progressline-phase-line:after {
  color: transparent;
  border-radius: 0rem;
}
.progressline .counter-box {
  list-style: none;
  background-color: #F4E5E4;
  padding: 1rem;
}
.progressline .counter-box li {
  display: inline-block;
}
.progressline .counter-box .counter-title {
  display: inline-block;
  margin-left: 2rem;
}
.progressline .counter-box .counter {
  display: inline-block;
}
.progressline .counter-box .counter .counter-section {
  margin-right: 2rem;
  width: 5rem;
}
.progressline .counter-box .counter .counter-section div {
  border: 0.2rem solid grey;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.votes-counter {
  width: 2rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0.1rem;
}
.votes-counter .total-votes {
  display: block;
  margin: -0.9rem 0;
  text-align: center;
}

.contribution {
  border: 0.1rem solid #F4F4F4;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-flex;
}
.contribution .row {
  margin-left: 0;
  margin-right: 0;
}
.contribution .contribution-content {
  padding: 1.5rem;
}
.contribution .contribution-content .contribution-info-user {
  display: inline-block;
  margin: 0 1rem;
}
.contribution .contribution-content .contribution-info-user .image-profile-contribution {
  display: inline-block;
}
.contribution .contribution-content .contribution-info-user .image-profile-contribution img {
  background-size: 100%;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.contribution .contribution-title {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.contribution .contribution-description {
  display: inline;
}
.contribution .contribution-background {
  background-size: 100%;
  height: 20rem;
  background-repeat: no-repeat;
}
.contribution .tag-info-proposal {
  position: relative;
  top: 17rem;
  left: 0rem;
}
.contribution .contribution-info-user-wgroup .image-profile-contribution {
  display: inline-block;
}
.contribution .contribution-info-user-wgroup .image-profile-contribution img {
  background-size: 100%;
  height: 7rem;
  width: 7rem;
  border-radius: 4rem;
}

.home {
  /**********************COMMENTS********************/
}
.home a {
  color: cornflowerblue;
}
.home .infoBox {
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  height: 150px;
  background-color: #f3f3f3;
}
.home .infoBox .row {
  margin-left: 0px;
}
.home .infoBox .list-item {
  margin-top: 5px;
}
.home .infoBox button {
  float: right;
}
.home .infoBox .image-circle {
  height: 20px;
  width: 20px;
}
.home .infoBox .list-item .row {
  margin-right: 0px;
}
.home .image-capsule img {
  display: inline-block;
}
.home .image-capsule .caption {
  display: inline-block;
}
.home .discussion {
  margin-top: -35px;
}
.home .commentBox {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.home .commentBox .image-circle {
  height: 20px;
  width: 20px;
  opacity: 0.6;
}
.home .commentArea {
  border: none;
  width: 100%;
  resize: none;
  outline: 0;
}
.home .comments {
  list-style-type: none;
  margin-left: 10px;
}
.home .reply {
  margin-left: 25px;
}
.home .comment {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}
.home .image-profile-comment img {
  background-size: 100%;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.home .text-comment * {
  display: inline;
}
.home .options-comment {
  display: block;
}
.home .comment-comment a {
  text-decoration: none;
  color: black;
}
.home .tags {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}
.home .tag {
  margin: 0 2px;
  padding: 0.2em 0.6em;
  border-radius: 4px;
  font-size: 0.8em;
  cursor: pointer;
  display: inline-block;
  border: none;
  background: rgba(0, 0, 0, 0.26);
}
.home .counter p {
  margin: -8px 0 -8px 0px;
  padding-left: 5px;
}
.home .settingsBox .list-item {
  overflow-y: auto;
  overflow-x: hidden;
  height: 8.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
}
.home .settingsBox .list-item .item {
  display: inline-block;
  width: 50%;
}
.home .settingsBox .list-item .item .caption {
  vertical-align: middle;
  width: 12rem;
}
.home .settingsBox .list-item .item .caption .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home .upcoming-milestones-list {
  margin-top: 1rem;
  overflow: auto;
  height: 11rem;
}

.tooltip.linkedCampaignTooltip {
  opacity: 1;
}
.tooltip.linkedCampaignTooltip .tooltip-inner {
  max-width: 35rem;
  padding: 2rem 1rem;
  background: white;
  color: #000;
  display: inline-block;
  text-align: left;
  border: 0.2rem solid black;
  border-radius: 0.3rem;
}

#contributionView {
  margin: 1%;
}
#contributionView .view {
  background: white;
}
#contributionView .optionsBox {
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 0.5rem;
}
#contributionView .optionsBox .checkbox {
  padding-left: 2rem;
}
#contributionView .forum {
  margin-left: 2rem;
}
#contributionView .forum .button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1rem;
}
#contributionView .forum .button.cancelButton {
  margin-left: 1rem;
}
#contributionView .forum .button.replyButton {
  margin-bottom: -3rem;
}
#contributionView .infoBox {
  text-align: center;
}

#newContribution {
  /*******INPUT - TEXTAREA *********/
}
#newContribution #inputTextNewContribution {
  height: 20rem;
}
#newContribution #inputLocationNewContribution {
  width: 34.3rem;
  display: block;
}
#newContribution input {
  display: inline-block;
}
#newContribution input#inputCityNewContribution {
  margin: 0.5rem 0.5rem 0 0;
  width: 10rem;
}
#newContribution input#inputStateNewContribution {
  margin: 0.5rem 0.5rem 0 0;
  width: 7rem;
}
#newContribution input#inputZipNewContribution {
  margin: 0.5rem 0.5rem 0 0;
  width: 6rem;
}
#newContribution input#inputCountryNewContribution {
  margin: 0.5rem 0.5rem 0 0;
  width: 9rem;
}
#newContribution .optionsBox {
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 0.5rem;
}
#newContribution .optionsBox .checkbox {
  padding-left: 2rem;
}

#newWorkingGroup {
  /*******INPUT - TEXTAREA *********/
}
#newWorkingGroup .form-group label {
  text-align: left;
}
#newWorkingGroup select {
  display: inline-block;
}
#newWorkingGroup #inputDescriptionNewWorkingGroup {
  height: 10rem;
}
#newWorkingGroup .optionsBox {
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 0.5rem;
}
#newWorkingGroup .optionsBox .optionsBox-title {
  color: dodgerblue;
  display: inline-block;
}
#newWorkingGroup .optionsBox .checkbox {
  padding-left: 2rem;
}
#newWorkingGroup .optionsBox:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #F4F4F4;
  border-width: 1rem;
  margin-top: -2.3rem;
}

.wGroupsSuggestion {
  border: 0.1rem solid #F4F4F4;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-flex;
}
.wGroupsSuggestion .row {
  margin-left: 0;
  margin-right: 0;
}
.wGroupsSuggestion .wGroupsSuggestion-content {
  padding: 1.5rem;
}
.wGroupsSuggestion .wGroupsSuggestion-content .wGroupsSuggestion-info-user {
  display: inline-block;
  margin: 0;
}
.wGroupsSuggestion .wGroupsSuggestion-content .wGroupsSuggestion-info-user .image-profile-wGroupsSuggestion {
  display: inline-block;
}
.wGroupsSuggestion .wGroupsSuggestion-content .wGroupsSuggestion-info-user .image-profile-wGroupsSuggestion img {
  background-size: 100%;
  height: 7rem;
  width: 7rem;
  border-radius: 4rem;
}
.wGroupsSuggestion .wGroupsSuggestion-title {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.wGroupsSuggestion .wGroupsSuggestion-description {
  display: inline;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/******HEADER******/
#navbar-options ul li {
  border-right: 0.1rem solid #F4F4F4;
}
#navbar-options ul li:first-child {
  border-left: 0.1rem solid #F4F4F4;
}
#navbar-options ul li:hover {
  background-color: rgba(128, 128, 128, 0.05);
}
#navbar-options ul li:active {
  background-color: rgba(128, 128, 128, 0.05);
  box-shadow: inset 0 0 0.2rem 0.2rem rgba(128, 128, 128, 0.05);
}
#navbar-options ul li a:focus {
  color: white;
  background: grey;
}

.navBarImage {
  height: 5rem;
}

#user-menu .icon {
  font-size: 2.5rem;
  vertical-align: middle;
}
#user-menu ul.menu-elements {
  list-style: none;
  padding: 0;
  margin: 0;
}
#user-menu ul.menu-elements li {
  display: inline-block;
  margin: 0 0.5rem;
  cursor: pointer;
}
#user-menu ul.menu-elements .dropdown .dropdown-menu li:hover {
  color: white;
  background: transparent;
}
#user-menu ul.menu-elements .dropdown .dropdown-menu li a:hover {
  background: transparent;
}
#user-menu ul.menu-elements .dropdown .dropdown-menu li:last-child a {
  color: #9CC7D3;
}

.inline {
  display: inline-block !important;
}

/*Mixin*/
.assembly {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-flex;
  padding: 4px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  height: auto;
}
.assembly img {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  height: 100px;
  display: inline-block;
}
.assembly .caption {
  display: inline-block;
  width: 220px;
}

.image-circle {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 100%;
}

.image-capsule {
  cursor: default;
  margin: 0px 10px;
}

i {
  cursor: pointer;
}

.summary-heading {
  margin: 2rem 0;
}

.marketing .caption {
  margin: auto;
}

/*# sourceMappingURL=app.css.map */
