/* styles from V1 that are needed in V2 */
/*****COLORS*********/
/*****GREEN THEME******/
/****** new color scheme *******/
/******COMMON BOXES*******/
/****TIMELINE*****/
/*****PROGRESSLINE******/
/*******CONTRIBUTIONS*******/
/*******TAGS**************/
/*****COMMON ELEMENTS***/
/******HEADER**********/
/**OLDHEADER DELETE WHEN REDESIGN ENDS*/
/**FOOTER**/
/*****FORUM*********/
/******MAIN***********/
/*****ASSEMBLY CREATION*****/
/*****UPLOAD********/
/*****CAMPAIGN CREATION*****/
body {
  font-size: 2.2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

i {
  margin: 0 5px;
  cursor: default;
}

a {
  cursor: pointer;
}

.title {
  display: inline-block;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.voffset {
  margin-top: 0.2rem;
}

.voffset1 {
  margin-top: 0.5rem;
}

.voffset2 {
  margin-top: 1rem;
}

.voffset3 {
  margin-top: 1.5rem;
}

.voffset4 {
  margin-top: 3rem;
}

.voffset5 {
  margin-top: 6rem;
}

.voffset6 {
  margin-top: 9rem;
}

.vertical-divider {
  border-right: 1px solid #524D4D;
  display: inline-block;
  margin: 0 0.2rem;
}

/* Index of phases in a black ball */
.indexBall {
  display: inline-block;
  background-color: #524D4D;
  padding: 20px;
  border-radius: 50%;
}
.indexBall * {
  color: white;
  display: inline;
  margin: 0;
}
.indexBall :first-child {
  font-weight: bold;
}
.indexBall :last-child {
  vertical-align: -5px;
}

.indexSquare {
  display: inline-block;
  background-color: #524D4D;
  padding: 1rem;
}
.indexSquare * {
  color: white;
  display: inline;
  margin: 0;
}
.indexSquare :first-child {
  font-weight: bold;
}
.indexSquare :last-child {
  vertical-align: -5px;
}

.box {
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
}
.box.newsBox {
  background-color: #E1F1F9;
  color: #9CC7D3;
}
.box.descriptionBox {
  background-color: #DFEFD6;
  color: #57965B;
}
.box.selectionBox {
  background-color: #F4F4F4;
}
.box.settingsBox {
  border: 0.1rem solid #524D4D;
  margin: 3rem 0 3rem 0;
}
.box.settingsBox .checkbox {
  display: inline-block;
  margin-right: 1rem;
}

.tags {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
}

.tag {
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0 0.5rem 0.5rem 0;
}
.tag.tag-info {
  background: #F4F4F4;
}
.tag.tag-filter {
  color: white;
  background: #57965B;
}
.tag.tag-caution {
  color: white;
  background: #FCD49A;
}

textarea {
  resize: none;
  margin: 5px 0 0 0;
  height: 50px;
}

.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.form-control {
  font-size: 1.8rem;
}

.center {
  text-align: center;
}

.vertical-space-little {
  margin: 5px 0;
}

.vertical-space-medium {
  margin: 10px 0;
}

.vertical-space-big {
  margin: 15px 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.container-inline {
  display: inline;
}
.container-inline * {
  display: inline-block;
}

.info-block {
  display: inline-block;
  vertical-align: bottom;
}
.info-block * {
  display: block;
}

/*******Buttons*****/
.btn-group {
  vertical-align: baseline;
}

.btn-full-size {
  width: 100%;
}

.btn-half-size {
  width: 49%;
}

/******Upload files******/
.progress-section {
  height: 5rem;
}
.progress-section .progress-line-container {
  display: inline-block;
  width: 100%;
}
.progress-section .progress-line-container .progress-line {
  background: #9CC7D3;
  width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/*****SPINNER*****/
.spinner-container {
  background-color: rgba(1, 1, 1, 0.3);
  position: absolute;
  left: 0%;
  top: -6%;
  height: 106%;
  width: 100%;
  z-index: 5000;
}

.header {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  background-color: #465A63;
  color: #FFFFFF;
}
.header * {
  display: inline-block;
  margin: auto;
}
.header .links-group {
  float: right;
}
.header .links-group * {
  display: inline-block;
  cursor: pointer;
}
.header .links-group :last-child {
  margin-left: 4rem;
  color: #FFFFFF;
}

.campaign-creation {
  /****ARROW****/
  /******timeline-milestones*******/
}
.campaign-creation .row {
  margin-left: 0;
  margin-right: 0;
}
.campaign-creation label {
  font-size: 2.2rem;
}
.campaign-creation .template-configuration {
  margin-top: -10px;
}
.campaign-creation .short-input {
  width: 5rem;
}
.campaign-creation .short-input-label {
  width: 5rem;
  text-align: center;
}
.campaign-creation .settingsBox:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #524D4D;
  border-width: 36px;
  margin-left: -36px;
}
.campaign-creation#prePhase .settingsBox:before {
  display: none;
}
.campaign-creation#pMakingPhase .settingsBox:before {
  left: 27%;
}
.campaign-creation#deliberationPhase .settingsBox:before {
  left: 61%;
}
.campaign-creation#versioningPhase .settingsBox:before {
  left: 45%;
}
.campaign-creation#votingPhase .settingsBox:before {
  left: 75%;
}
.campaign-creation .timeline-milestones .milestone {
  margin: 1rem 0;
}
.campaign-creation .timeline-milestones .milestone .title-section .title-container .title {
  padding: 1rem 0;
}
.campaign-creation .timeline-milestones .milestone .date-section {
  margin: -1.3rem 0;
}
.campaign-creation .timeline-milestones .milestone .date-section input {
  margin: 0 1rem 0 0;
}
.campaign-creation .timeline-milestones .milestone .days-section {
  margin: -1.3rem 0;
}
.campaign-creation .timeline-milestones .milestone:last-child .downArrow {
  display: none;
}
.campaign-creation .timeline-milestones .downArrow {
  font-size: 5rem;
  display: inline-block;
  margin: -1.7rem 0 -2rem 0;
  color: #524D4D;
}
.campaign-creation .themes-container-title {
  color: dodgerblue;
  padding: 1rem 1rem 0rem 1rem;
}
.campaign-creation .themes-container-content.optionThemes {
  padding: 0rem 1rem 0rem 1rem;
}
.campaign-creation .themes-container-content.optionThemesBox {
  height: 15rem;
  overflow: auto;
  border-top: 0.1rem solid #F4F4F4;
}
.campaign-creation .slider {
  background: #022;
}
.campaign-creation .handleCircle {
  background-color: #524D4D;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.campaign-creation .handleCircle * {
  color: white;
  display: inline;
  margin: 0;
}
.campaign-creation .angular-multi-slider {
  display: inline-block;
  position: relative;
  height: 5px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
.campaign-creation .angular-multi-slider div {
  white-space: nowrap;
  position: absolute;
}
.campaign-creation .angular-multi-slider div.bar {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #999;
  overflow: hidden;
}
.campaign-creation .angular-multi-slider div.handle {
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: -10px;
  background-color: #524D4D;
  /*can override with color in slider object*/
  border: 2px solid #000;
  z-index: 2;
  border-radius: 50%;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  color: white;
  padding: 0px 0px 0px 6px;
}
.campaign-creation .angular-multi-slider div.handle:hover,
.campaign-creation .angular-multi-slider div.handle:focus,
.campaign-creation .angular-multi-slider div.handle:active,
.campaign-creation .angular-multi-slider div.handle.active {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}
.campaign-creation .angular-multi-slider div.handle:hover + .bubble,
.campaign-creation .angular-multi-slider div.handle:focus + .bubble,
.campaign-creation .angular-multi-slider div.handle.grab + .bubble,
.campaign-creation .angular-multi-slider div.handle:hover,
.campaign-creation .angular-multi-slider div.handle:focus,
.campaign-creation .angular-multi-slider div.handle.grab {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 9999;
}
.campaign-creation .angular-multi-slider div.handle.grab + .bubble,
.campaign-creation .angular-multi-slider div.handle.grab {
  background-color: black;
}
.campaign-creation .angular-multi-slider div.bubble {
  display: none;
  cursor: default;
  top: -36px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  -webkit-transition-property: top;
  transition-property: top;
}
.campaign-creation .angular-multi-slider div.bubble:nth-child(2) {
  top: 34px !important;
  z-index: 9999;
}
.campaign-creation .angular-multi-slider div.bubble.active {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 3px 8px;
}
.campaign-creation .angular-multi-slider div.limit {
  margin-top: 12px;
  color: #000;
  font-weight: bold;
}

.timeline {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0rem 0rem 0rem 0rem;
}
.timeline li {
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  background-color: #F4F4F4;
  color: #524D4D;
  border-color: #524D4D;
  opacity: 1;
}
.timeline li.selected {
  color: white;
  background-color: #524D4D;
  z-index: 5 !important;
}
.timeline li.selected a {
  color: #FFFFFF;
}
.timeline li.selected:before {
  border-left-color: #524D4D;
}
.timeline li.disabled {
  color: white;
  background-color: #B7B2B2;
  z-index: -1 !important;
}
.timeline li.disabled:before {
  border-left-color: #B7B2B2;
}
.timeline li.active {
  opacity: 1;
}
.timeline li:before, .timeline li:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.timeline li:after {
  border-left-color: white;
  border-width: 29px;
  margin-top: -29px;
  z-index: -1;
}
.timeline li:before {
  border-left-color: #F4F4F4;
  border-width: 29px;
  margin-top: -29px;
}

/*# sourceMappingURL=common.css.map */
