.container
  .row.text-center
    %h2
      %b> Assembly:
      PB Belleville Paris/
      %b> Campaign:
      Belleville - Paris PB 2016
  #rangeLanding.jumbotron
    .titles
      .container
        %h3 Paris PB 2016
      .container
        %h1
          %b Assembly Ballot
      .container
        %h1#small 2016 August
    %br
      .container.instructions
        %h2.title
          %strong Voting Instructions
          %button.btn.btn-success{"ng-click" => "transitionToRegistration()", :type => "button"} Register to Vote
        %ul
          %li{:type => "circle"} {{ballot.ballot.instructions}}
          %li{:type => "circle"}
            The voting system your Assembly selected and configured for this campaign is
            %b {{ballot.ballot.voting_system_type}}
          %li{:type => "none"}
            %ul
              %li{"ng-repeat" => "config in ballot.ballot_configurations", :type => "circle"} The {{config.key}} of this voting ballot is {{config.value}}.
          %li{:type => "circle"} When you are ready to vote, click the button "Start voting".
      %br
        .container.additional-info
          %h2
            %strong Additional Information
          %p.info{:style => "white-space: pre-wrap;"}{{ballot.notes}}
          %br
            %h3
              %strong Technical Issues
            %br
              %ul.list-unstyled
                %li Contact Cristhian at cristhian@example.com/ +1 999 999 9999
