.container
  .row.text-center
    %h2
      %b> {{campaigns.length < 1 ? "" : "Campaign" }} Voting Ballot
      {{campaigns.length < 1 ? "" : " for " }} {{campaigns.length < 1 ? "" : "'"+campaigns[0].title+"'" }}

.container.instructions.text-center
  .jumbotron
    %h2.title
      {{'views.ballot.success.text1' | translate}}
      .text-center{:style => "font-weight: bold; margin-top: 10px; margin-bottom: 10px;"}
        {{signature}}
    %h2.title
      {{'views.ballot.success.text2' | translate}}
    .show
      %a.btn.btn-default.btn-lg.pull-left{"ng-click" => "returnToRegister()", :type => "button", :style => "margin-top: 20px;"} {{'views.ballot.success.text3' | translate}}
      %button.btn-lg.btn.btn-success{"ng-click" => "createBallotPaper()", :type => "button", :style => "margin-top: 20px;"} {{'Begin Voting' | translate}}
