.campaign-creation{
  .row{
    margin-left: 0;
    margin-right: 0;
  }

  label {
    font-size: 1.8rem;
  }

  .template-configuration{
    margin-top: -10px;
  }

  .short-input{
    width: 5rem;
  }

  .short-input-label{
    width: 5rem;
    text-align: center;
  }


  /****ARROW****/

  .settingsBox:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: $indexBall;
    border-width: 36px;
    margin-left: -36px;
  }

  &#prePhase{
    .settingsBox:before{
      display: none;
    }
  }

  &#pMakingPhase{
    .settingsBox:before {
      left: 27%;
    }
  }
  &#deliberationPhase{
    .settingsBox:before {
      left: 61%;
    }
  }
  &#versioningPhase{
    .settingsBox:before {
      left: 45%;
    }
  }
  &#votingPhase{
    .settingsBox:before {
      left: 75%;
    }
  }

/******timeline-milestones*******/
  .timeline-milestones{
    .milestone{
      margin: 1rem 0;
      .title-section{
        .title-container{
          .title{
            padding: 1rem 0;
          }
        }
      }
      .date-section{
        margin: -1.3rem 0;
        input{
          margin: 0 1rem 0 0;
        }
      }
      .days-section{
        margin: -1.3rem 0;
      }
    }

    .milestone:last-child{
      .downArrow{
        display: none;
      }
    }

    .downArrow{
      font-size: 5rem;
      display: inline-block;
      margin: -1.7rem 0 -2rem 0;
      color: $indexBall;
    }

  }

  .themes-container-title {
    color: $campaign-tags-container-title;
    padding: 1rem 1rem 0rem 1rem;
  }

  .themes-container-content {
    &.optionThemes {
      padding: 0rem 1rem 0rem 1rem;
    }
    &.optionThemesBox {
      height: 15rem;
      overflow: auto;
      border-top: 0.1rem solid $campaign-tags-container-content-border;
    }
  }

  .slider {
    background: #022;
  }
}