.campaign-creation{
  .row{
    margin-left: 0;
    margin-right: 0;
  }

  label {
    font-size: 2.2rem;
  }

  .template-configuration{
    margin-top: -10px;
  }

  .short-input{
    width: 5rem;
  }

  .short-input-label{
    width: 5rem;
    text-align: center;
  }


  /****ARROW****/

  .settingsBox:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: $indexBall;
    border-width: 36px;
    margin-left: -36px;
  }

  &#prePhase{
    .settingsBox:before{
      display: none;
    }
  }

  &#pMakingPhase{
    .settingsBox:before {
      left: 27%;
    }
  }
  &#deliberationPhase{
    .settingsBox:before {
      left: 61%;
    }
  }
  &#versioningPhase{
    .settingsBox:before {
      left: 45%;
    }
  }
  &#votingPhase{
    .settingsBox:before {
      left: 75%;
    }
  }

/******timeline-milestones*******/
  .timeline-milestones{
    .milestone{
      margin: 1rem 0;
      .title-section{
        .title-container{
          .title{
            padding: 1rem 0;
          }
        }
      }
      .date-section{
        margin: -1.3rem 0;
        input{
          margin: 0 1rem 0 0;
        }
      }
      .days-section{
        margin: -1.3rem 0;
      }
    }

    .milestone:last-child{
      .downArrow{
        display: none;
      }
    }

    .downArrow{
      font-size: 5rem;
      display: inline-block;
      margin: -1.7rem 0 -2rem 0;
      color: $indexBall;
    }

  }

  .themes-container-title {
    color: $campaign-tags-container-title;
    padding: 1rem 1rem 0rem 1rem;
  }

  .themes-container-content {
    &.optionThemes {
      padding: 0rem 1rem 0rem 1rem;
    }
    &.optionThemesBox {
      height: 15rem;
      overflow: auto;
      border-top: 0.1rem solid $campaign-tags-container-content-border;
    }
  }

  .slider {
    background: #022;
  }

  .handleCircle {
    background-color: $indexBall;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    & * {
      color:white;
      display: inline;
      margin: 0;
    }
  }


  .angular-multi-slider {
    display: inline-block;
    position: relative;
    height: 5px;
    width: 100%;
    margin: 25px 5px 25px 5px;
    vertical-align: middle;
  }
  .angular-multi-slider div {
    white-space: nowrap;
    position: absolute;
  }
  .angular-multi-slider div.bar {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #999;
    overflow: hidden;
  }
  .angular-multi-slider div.handle {
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: -10px;
    background-color: $indexBall; /*can override with color in slider object*/
    border: 2px solid #000;
    z-index: 2;
    border-radius: 50%;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    color:white;
    padding: 0px 0px 0px 6px;
  }
  .angular-multi-slider div.handle:hover,
  .angular-multi-slider div.handle:focus,
  .angular-multi-slider div.handle:active,
  .angular-multi-slider div.handle.active {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
  }
  .angular-multi-slider div.handle:hover + .bubble,
  .angular-multi-slider div.handle:focus + .bubble,
  .angular-multi-slider div.handle.grab + .bubble,
  .angular-multi-slider div.handle:hover,
  .angular-multi-slider div.handle:focus,
  .angular-multi-slider div.handle.grab {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 9999;
  }
  .angular-multi-slider div.handle.grab + .bubble,
  .angular-multi-slider div.handle.grab{
    background-color: rgba(0,0,0,1);
  }
  .angular-multi-slider div.bubble {
    display: none;
    cursor: default;
    top: -36px;
    padding: 1px 3px 1px 3px;
    font-size: 0.7em;
    font-family: sans-serif;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    -webkit-transition-property: top;
    transition-property: top;
  }
  .angular-multi-slider div.bubble:nth-child(2) {
    top: 34px !important;
    z-index:9999;
  }
  .angular-multi-slider div.bubble.active {
    display: inline-block;
    color: #fff;
    font-size:12px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 3px 8px;
  }
  .angular-multi-slider div.limit {
    margin-top: 12px;
    color: #000;
    font-weight: bold;
  }
}