<div class="view campaign-creation" ng-controller="CreateCampaignCtrl">
    <div class="col-md-6 col-sm-6">
        <div class="row header col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-2">
                <div class="indexBall">
                    <h1>1</h1>
                    <h4>/</h4>
                    <h4>5</h4>
                </div>
            </div>
            <div class="col-md-10 col-sm-10">
                <h1><strong>Configure Your Campaign</strong></h1>
                <div class="box descriptionBox">
                    <p><strong>Campaigns </strong>are initiatives that the assembly undertakes to achieve a specific goal. Each campaign has its own template that structures its components, working groups, and timeline.</p>
                </div>
            </div>
        </div>
        <div class="row vertical-space-medium"></div>
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 form-horizontal">
                <div class="form-group">
                    <h3 class="col-md-2 col-sm-2 no-padding"><label for="inputCampaignTitle" class="control-label">Title</label></h3>
                    <div class="col-md-10 col-sm-10 no-padding">
                        <input class="form-control" id="inputCampaignTitle" placeholder="Belleville - Paris PB 2016"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 form-horizontal">
                <div class="form-group">
                    <h3><label for="inputDefineCampaignGoals" class="control-label">Define campaign goals</label></h3>
                    <textarea class="form-control" id="inputDefineCampaignGoals" placeholder="e.g., Develop proposals for PB Paris 2015"/>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 form-horizontal">
                <div class="form-group">
                    <h3><label for="selectCampaignTemplate" class="control-label">Link with another campaign to import their template... </label><i class="fa fa-question-circle"></i></h3>
                    <div class="col-md-6 col-sm-6 no-padding">
                        <select id="selectCampaignTemplate" class="form-control col-md-4 col-sm-4" ng-model="linkedAssembly"
                                ng-options="assembly.name group by assembly.campaign for assembly in assemblies">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 form-horizontal">
                <div class="form-group">
                    <h3><label for="selectCampaignTemplateFromList" class="control-label">...or select a template from the list</label></h3>
                    <div class="col-md-4 col-sm-4 no-padding">
                        <select id="selectCampaignTemplateFromList" class="form-control col-md-4 col-sm-4" ng-model="selectedTemplate"
                                ng-options="template.name for template in templates">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-8 col-sm-8 form-horizontal">
                <div class="form-group">
                    <h3><label for="checkConfirmCampaignGoals" class="control-label">Confirm campaign themes</label></h3>
                    <div class="box selectionBox col-md-12 col-sm-12" id="checkConfirmCampaignGoals">
                        <div class="col-md-9 col-md-9" ng-repeat="campaignTheme in campaignThemes">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>{{campaignTheme.name}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-3">
                            <button class="btn btn-success">Add new</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="row col-md-12 col-sm-12 box settingsBox">
            <div class="row header col-md-12 col-sm-12">
                <h3><strong>Linked Campaign: </strong> {{linkedAssembly.campaign}}</h3>
            </div>
            <div class="row header col-md-12 col-sm-12">
                <h3><strong>Linked Assembly: </strong> {{linkedAssembly.name}}</h3>
            </div>
            <div class="row col-md-12 col-sm-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span>Use the linked campaign's <strong>Deliberation</strong> and <strong>Voting</strong> components.</span>
                    </label>
                </div>
            </div>
            <div class="row col-md-12 col-sm-12 box descriptionBox">
                <p>If enabled, deliberating and voting will proceed according to the rules set by the Assembly <strong>PB Paris - Mairie de Paris,</strong> using <strong>PB Paris 2016</strong> campaign website. Therefore, users will only deliberate and vote once, within that linked campaign. If disabled, users will deliberate and vote within their our Assembly Campaign and again within the Linked Assembly Campaign.</p>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12 template-configuration">
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputBudget" class="col-sm-3 col-md-3 control-label"><h4><strong>*Total Budget</strong></h4></label>
                    <div class="col-sm-9 col-md-9">
                        <input class="form-control" id="inputBudget" placeholder="$ 500000">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12 clear">
        <div class="col-md-push-8 col-md-4">
            <a href="/#/campaign/create/step2">
                <button class="btn btn-primary"><h3><strong>Fastrack</strong></h3></button>
            </a>
            <a href="/#/campaign/1">
                <button class="btn btn-primary"><h3><strong>Next</strong></h3></button>
            </a>
        </div>
    </div>
</div>
