<div class="view campaign-creation" id="pMakingPhase" ng-controller="CreateCampaignCtrl">
    <div class="col-md-12 col-sm-12">
        <div class="row header col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-1">
                <div class="indexBall">
                    <h1>2</h1>
                    <h4>/</h4>
                    <h4>5</h4>
                </div>
            </div>
            <div class="col-md-11 col-sm-11">
                <h1 class="title">
                    <strong>Configure Your Campaign: </strong>
                    <span>Proposal Development Components</span>
                </h1>
            </div>
        </div>
        <div class="row col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
            <ul id="timeline" class="row timeline">
                <li id="proposalMakingPhase" class="{{proposalMakingState}} selected">
                    <h4><strong>Proposal Making</strong></h4>
                </li>
                <li id="versioningPhase" class="{{versioningState}}">
                    <h4><strong>Versioning</strong></h4>
                </li>
                <li id="deliberationPhase" class="{{deliberationState}}">
                    <h4><strong>Deliberation</strong></h4>
                </li>
                <li id="votingPhase" class="{{votingState}}">
                    <h4><strong>Voting</strong></h4>
                </li>
            </ul>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class=" col-md-12 col-sm-12 box settingsBox">
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-7 col-sm-7">
                        <div class="row col-md-6 col-sm-6">
                            <div class="box descriptionBox">
                                <span><strong>Proposal Making </strong>includes brainstorming ideas, forming working groups, and starting proposals.</span>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset4"></div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="row col-md-12 col-sm-12">
                                <h4><strong>Timeline milestones </strong><i class="fa fa-exclamation-circle" tooltip-placement="right" tooltip-class="linkedCampaignTooltip" tooltip-html-unsafe="{{linkedCampaignTooltip}}"></i></h4>
                            </div>
                            <div class="row col-md-12 col-sm-12 timeline-milestones">
                                <div class="row col-md-12 col-sm-12 milestone">
                                    <div class="col-md-6 col-sm-6 title-section">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="indexSquare">
                                                <h3>1</h3>
                                            </div>
                                            <span class="downArrow">
                                                ↓
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 title-container">
                                            <h3 class="title"><strong>Brainstorming</strong></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 date-section">
                                        <h4><strong>Start date</strong></h4>
                                        <input type="number" class="short-input" value="2015"/>
                                        <input type="number" class="short-input" value="05"/>
                                        <input type="number" class="short-input" value="10"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 days-section">
                                        <h4><strong>Duration</strong></h4>
                                        <input type="number" class="short-input" value="20"/>
                                    </div>
                                </div>

                                <div class="row col-md-12 col-sm-12 milestone">
                                    <div class="col-md-6 col-sm-6 title-section">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="indexSquare">
                                                <h3>2</h3>
                                            </div>
                                            <span class="downArrow">
                                                ↓
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 title-container">
                                            <h3 class="title"><strong>Working Group Formation</strong></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 date-section">
                                        <h4><strong>Start date</strong></h4>
                                        <input type="number" class="short-input" value="2015"/>
                                        <input type="number" class="short-input" value="05"/>
                                        <input type="number" class="short-input" value="10"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 days-section">
                                        <h4><strong>Duration</strong></h4>
                                        <input type="number" class="short-input" value="20"/>
                                    </div>
                                </div>

                                <div class="row col-md-12 col-sm-12 milestone">
                                    <div class="col-md-6 col-sm-6 title-section">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="indexSquare">
                                                <h3>3</h3>
                                            </div>
                                            <span class="downArrow">
                                                ↓
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 title-container">
                                            <h3 class="title"><strong>Proposal Drafting</strong></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 date-section">
                                        <h4><strong>Start date</strong></h4>
                                        <input type="number" class="short-input" value="2015"/>
                                        <input type="number" class="short-input" value="05"/>
                                        <input type="number" class="short-input" value="10"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 days-section">
                                        <h4><strong>Duration</strong></h4>
                                        <input type="number" class="short-input" value="20"/>
                                    </div>
                                </div>

                                <div class="row col-md-12 col-sm-12 milestone">
                                    <div class="col-md-6 col-sm-6 title-section">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="indexSquare">
                                                <h3>4</h3>
                                            </div>
                                            <span class="downArrow">
                                                ↓
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 title-container">
                                            <h3 class="title"><strong>Complete Draft</strong></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 date-section">
                                        <h4><strong>Start date</strong></h4>
                                        <input type="number" class="short-input" value="2015"/>
                                        <input type="number" class="short-input" value="05"/>
                                        <input type="number" class="short-input" value="10"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 days-section">
                                        <h4><strong>Duration</strong></h4>
                                        <input type="number" class="short-input" value="20"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="row col-sm-12 col-md-12">
                            <div class="row col-sm-12 col-md-12">
                                <h4 class="title">
                                    <strong>Create proposal template</strong>
                                </h4>
                            </div>
                            <div class="row col-md-12 col-sm-12 voffset2"></div>
                            <div class="row col-md-12 col-sm-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="campaign-sectionTitle" class="col-md-3 col-sm-3 control-label">Section Title</label>
                                        <div class="col-md-7 col-sm-7">
                                            <input type="text" class="form-control" id="campaign-sectionTitle" placeholder="e.g., Summary, Description, Attachments...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="campaign-sectionDescription" class="col-sm-3 col-md-3 control-label">Section Description</label>
                                        <div class="col-sm-7 col-md-7">
                                            <textarea type="text" cols="30" rows="4" class="form-control" id="campaign-sectionDescription" placeholder="Describe expected content of section"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="campaign-sectionLength" class="col-sm-3 col-md-3 control-label">Section title</label>
                                        <div class="col-sm-7 col-md-7">
                                            <input type="text" class="form-control" id="campaign-sectionLength" placeholder="Max length for this section(number of words)">
                                        </div>
                                        <button type="submit" class="btn btn-success col-sm-2 col-md-2">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12">
                            <div class="row col-sm-12 col-md-12">
                                <h4 class="title">
                                    <strong>...Or import from another Assembly</strong>
                                </h4>
                            </div>
                            <div class="row col-md-12 col-sm-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-10">
                                            <input type="text" class="form-control" id="campaign-sectionImportAssembly" placeholder="PB">
                                        </div>
                                        <button type="submit" class="btn btn-success col-sm-2 col-md-2">Import</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12">
                            <div class="row col-sm-12 col-md-12">
                                <h4 class="title">
                                    <strong>Added/Imported Template Sections</strong>
                                </h4>
                            </div>
                            <div class="row col-md-12 col-sm-12">
                                <ul class="row tags">
                                    <li class="tag tag-{{tag.type}}" ng-repeat="tag in tags">
                                        <strong>{{tag.tag}}</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 voffset3"></div>
                <div class="row col-md-4 col-sm-4 col-md-push-8 col-sm-push-8">
                    <a href="/#/campaign/create/step1">
                        <button class="col-md-4 col-sm-4 col-md-push-1 btn btn-primary"><h3><strong>Back</strong></h3></button>
                    </a>
                    <a href="/#/campaign/create/step3">
                        <button class="col-md-6 col-sm-6 col-md-push-2 btn btn-primary"><h3><strong>Next</strong></h3></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
