<div class="view campaign-creation" ng-controller="CreateCampaignCtrl">
    <div class="col-md-12 col-sm-12">
        <div class="row header col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-1">
                <div class="indexBall">
                    <h1>5</h1>
                    <h4>/</h4>
                    <h4>5</h4>
                </div>
            </div>
            <div class="col-md-11 col-sm-11">
                <h1 class="title">
                    <strong>Configure Your Campaign: </strong>
                    <span>Proposal Development Components</span>
                </h1>
            </div>
        </div>
        <div class="row col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
            <timeline activephase="voting"></timeline>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class=" col-md-12 col-sm-12 box settingsBox">
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-7 col-sm-7">
                        <div class="row col-md-6 col-sm-6">
                            <div class="box descriptionBox">
                                <span><strong>Voting </strong>determines the winning proposal/s, based on the voting system selected and the number of winners allowed</span>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset4"></div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="col-md-12 col-sm-12">
                                <h4><strong>Timeline milestones </strong><i class="fa fa-exclamation-circle" tooltip-placement="right" tooltip-class="linkedCampaignTooltip" tooltip-html-unsafe="{{linkedCampaignTooltip}}"></i></h4>
                            </div>
                            <div class="row col-md-12 col-sm-12 timeline-milestones">
                                <div class="row col-md-12 col-sm-12 milestone">
                                    <div class="col-md-6 col-sm-6 title-section">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="indexSquare">
                                                <h3>1</h3>
                                            </div>
                                            <span class="downArrow">
                                                ↓
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 title-container">
                                            <h3 class="title"><strong>Voting starts</strong></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 date-section">
                                        <h4><strong>Start date</strong></h4>
                                        <input type="number" class="short-input" value="2015"/>
                                        <input type="number" class="short-input" value="05"/>
                                        <input type="number" class="short-input" value="10"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 days-section">
                                        <h4><strong>Duration</strong></h4>
                                        <input type="number" class="short-input" value="20"/>
                                    </div>
                                </div>

                                <div class="row col-md-12 col-sm-12 milestone">
                                    <div class="col-md-6 col-sm-6 title-section">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="indexSquare">
                                                <h3>2</h3>
                                            </div>
                                            <span class="downArrow">
                                                ↓
                                            </span>
                                        </div>
                                        <div class="col-md-10 col-sm-10 title-container">
                                            <h3 class="title"><strong>Voting ends</strong></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 date-section">
                                        <h4><strong>Start date</strong></h4>
                                        <input type="number" class="short-input" value="2015"/>
                                        <input type="number" class="short-input" value="05"/>
                                        <input type="number" class="short-input" value="10"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 days-section">
                                        <h4><strong>Duration</strong></h4>
                                        <input type="number" class="short-input" value="20"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset2"></div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                <div class="row">
                                    <div>
                                        <h4 class="title">
                                            <strong>Select voting system </strong>
                                            <i class="fa fa-question-circle"></i>
                                        </h4>
                                    </div>
                                </div>
                                <div>
                                    <select name="votingSystem" ng-model="votingSystem" id="votingSystem">
                                        <option value="Range">Range</option>
                                        <option value="Ranked">Ranked</option>
                                        <option value="Distribution">Distribution</option>
                                        <option value="Plurality">Plurality (Winners take all)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="row">
                                    <div>
                                        <h5 class="title">
                                            <strong ng-show="votingSystem=='Range'">Range voting configuration </strong>
                                            <strong ng-show="votingSystem=='Ranked'">Ranked voting configuration </strong>
                                            <strong ng-show="votingSystem=='Distribution'">Distribution voting configuration </strong>
                                            <strong ng-show="votingSystem=='Plurality'">Plurality voting configuration </strong>
                                        </h5>
                                    </div>
                                </div>
                                <div class="row col-md-12 col-sm-12 voffset1"></div>
                                <span ng-show="votingSystem=='Range'">
                                    <div class="row">
                                        <h6>Configure score range</h6>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 voffset1"></div>
                                    <div class="row">
                                        <input class="short-input" type="number"/>
                                        -
                                        <input class="short-input" type="number"/>
                                    </div>
                                    <div class="row">
                                        <label class="short-input-label">Min</label>

                                        <label class="short-input-label">Max</label>
                                    </div>
                                </span>

                                <span ng-show="votingSystem=='Ranked'">
                                    <div class="row">
                                        <h6>How many proposals can a voter select?</h6>
                                    </div>

                                    <div class="row col-md-12 col-sm-12 voffset1"></div>
                                    <div class="row col-md-6 col-sm-6">
                                        <input class="short-input pull-right" type="number" value="5"/>
                                    </div>
                                </span>

                                <span ng-show="votingSystem=='Distribution'">
                                    <div class="row">
                                        <h6>How many points can a voter distribute?</h6>
                                    </div>

                                    <div class="row col-md-12 col-sm-12 voffset1"></div>
                                    <div class="row col-md-6 col-sm-6">
                                        <input class="short-input pull-right" type="number" value="30"/>
                                    </div>
                                </span>

                                <span ng-show="votingSystem=='Plurality'">
                                    <div class="row col-md-12 col-sm-12 voffset1"></div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row col-md-12 col-sm-12">
                                            <h6>Select type</h6>
                                        </div>
                                        <div class="row col-md-12 col-sm-12">
                                            <select class="col-md-12 col-sm-12" name="typePlurality" id="typePlurality">
                                                <option value="Yes">Yes</option>
                                                <option value="YesNo">Yes/No</option>
                                                <option value="YesNoAbstain">Yes/No/Abstain</option>
                                                <option value="YesNoAbstainBlock">Yes/No/Abstain/Block</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row col-md-12 col-sm-12">
                                            <h6>Block treshold (%)</h6>
                                        </div>
                                        <div class="row col-md-12 col-sm-12">
                                            <input class="short-input" type="number" value="10  "/>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset3"></div>
                        <div class="row col-sm-12 col-md-12">
                            <div class="col-md-12 col-sm-12">
                                <h4 class="title">
                                    <strong>Who votes? </strong>
                                    All Assembly members
                                    <i class="fa fa-question-circle"></i>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="row col-sm-12 col-md-12">
                            <div class="row col-md-12 col-sm-12 voffset2"></div>
                            <div class="row col-sm-12 col-md-12">
                                <h4 class="title">
                                    <strong>Configure number of winners</strong>
                                </h4>
                            </div>
                            <div class="row col-md-12 col-sm-12 voffset1"></div>
                            <div class="row col-md-12 col-sm-12">
                                <form class="form-horizontal">
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <input class="col-md-1 col-sm-1" id="campaign-voting-budget" name="campaignVotingRadioFormModel" ng-model="campaignVotingRadioFormModel" type="radio" value="campaignVotingBudget">
                                        <label class="col-md-8 col-sm-8" for="campaign-voting-budget">
                                            <h4>Enable comments withing Working Groups</h4>
                                        </label>
                                        <input class="short-input" ng-show="campaignVotingRadioFormModel=='campaignVotingBudget'" id="campaign-voting-budget-number" type="number" value="3">
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <input class="col-md-1 col-sm-1" id="campaign-voting-dynamic1" name="campaignVotingRadioFormModel" ng-model="campaignVotingRadioFormModel" type="radio" value="campaignVotingDynamic1">
                                        <label class="col-md-11 col-sm-11" for="campaign-voting-dynamic1">
                                            <h4>Dynamic 1: first <i>N-ranked</i> proposals that can be fully funded by available budget (may result in unspent funds)</h4>
                                        </label>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <input class="col-md-1 col-sm-1" id="campaign-voting-dynamic2" name="campaignVotingRadioFormModel" ng-model="campaignVotingRadioFormModel" type="radio" value="campaignVotingDynamic2">
                                        <label class="col-md-11 col-sm-11" for="campaign-voting-dynamic2">
                                            <h4>Dynamic 2: first <i>N-ranked</i> proposals that can be fully funded by available budget, allocating all the funds (may result in "leapfrogging")</h4>
                                        </label>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label class="col-md-12 col-sm-12">
                                            <input class="col-md-1 col-sm-1" id="campaign-voting-quorum" ng-model="campaignVotingQuroumModel" name="campaignVotingQuroumModel" type="checkbox" value="campaignVotingQuorum">
                                            <label class="col-md-8 col-sm-8" for="campaign-voting-quorum">
                                                <h4>Enable Quorum threshold (%)</h4>
                                            </label>
                                            <input ng-show="campaignVotingQuroumModel" id="campaign-voting-quorum-number" type="number" class="col-md-2 col-sm-2" value="60">
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 voffset3"></div>
                <div class="row col-md-2 col-sm-2 col-md-push-10 col-sm-push-10">
                    <a href="/#/campaign/create/step5">
                        <button class="col-md-12 col-sm-12 btn btn-primary"><h3><strong>Next</strong></h3></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>