<div class="view campaign-creation" ng-controller="CreateCampaignCtrl">
    <div class="col-md-12 col-sm-12">
        <div class="row header col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-1">
                <div class="indexBall">
                    <h1>3</h1>
                    <h4>/</h4>
                    <h4>5</h4>
                </div>
            </div>
            <div class="col-md-11 col-sm-11">
                <h1 class="title">
                    <strong>Configure Your Campaign: </strong>
                    <span>Proposal Development Components</span>
                </h1>
            </div>
        </div>
        <div class="row col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
            <timeline activephase="proposalMaking"></timeline>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class=" col-md-12 col-sm-12 box settingsBox">
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-7 col-sm-7">
                        <div class="row col-md-6 col-sm-6">
                            <div class="box descriptionBox">
                                <span><strong>Versioning </strong>is the process by which Working Groups develop proposals to their final form.</span>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset4"></div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="col-md-12 col-sm-12">
                                <h4><strong>Timeline milestones </strong><i class="fa fa-exclamation-circle" tooltip-placement="right" tooltip-class="linkedCampaignTooltip" tooltip-html-unsafe="{{linkedCampaignTooltip}}"></i></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="row col-sm-12 col-md-12">
                            <div class="row col-md-12 col-sm-12">
                                <form class="form-horizontal">
                                    <div class="row col-md-12 col-sm-12 voffset5"></div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-versioning-withinWG" type="checkbox"> <h4>Enable comments withing Working Groups</h4>
                                        </label>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-versioning-otherWG" type="checkbox"> <h4>Enable comments by other Working Groups</h4>
                                        </label>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-versioning-mergeSplit" type="checkbox"> <h4>Enable proposal merge/split</h4>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 voffset3"></div>
                <div class="row col-md-2 col-sm-2 col-md-push-10 col-sm-push-10">
                    <a href="/#/campaign/create/step4">
                        <button class="col-md-12 col-sm-12 btn btn-primary"><h3><strong>Next</strong></h3></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
