<div class="view campaign-creation" ng-controller="CreateCampaignCtrl">
    <div class="col-md-12 col-sm-12">
        <div class="row header col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-1">
                <div class="indexBall">
                    <h1>4</h1>
                    <h4>/</h4>
                    <h4>5</h4>
                </div>
            </div>
            <div class="col-md-11 col-sm-11">
                <h1 class="title">
                    <strong>Configure Your Campaign: </strong>
                    <span>Proposal Development Components</span>
                </h1>
            </div>
        </div>
        <div class="row col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
            <timeline activephase="deliberation"></timeline>
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class=" col-md-12 col-sm-12 box settingsBox">
                <div class="row col-md-12 col-sm-12">
                    <div class="col-md-7 col-sm-7">
                        <div class="row col-md-6 col-sm-6">
                            <div class="box descriptionBox">
                                <span><strong>Deliberation </strong>is the careful consideration of proposals through comments and evidence. In this stage, proposals can only be discussed, praised or criticized, but not edited.</span>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset4"></div>
                        <div class="row col-md-12 col-sm-12">
                            <div class="col-md-12 col-sm-12">
                                <h4><strong>Timeline milestones </strong><i class="fa fa-exclamation-circle" tooltip-placement="right" tooltip-class="linkedCampaignTooltip" tooltip-html-unsafe="{{linkedCampaignTooltip}}"></i></h4>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset2"></div>
                        <div class="row col-sm-12 col-md-12">
                            <div class="col-md-12 col-sm-12">
                                <h4 class="title">
                                    <strong>Who deliberates? </strong>
                                    <i class="fa fa-question-circle"></i>
                                </h4>
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12">
                            <div class="col-md-12 col-sm-12">
                                <select name="whoDeliberates" id="whoDeliberates">
                                    <option value="allSelect">All assembly members</option>
                                    <option value="randomlySelect">Randomly selected jury</option>
                                </select>
                                <select name="fromDeliberates" id="fromDeliberates">
                                    <option value="fromAssembly">From assembly members</option>
                                    <option value="fromCampaign">From campaign WG members</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 voffset2"></div>
                        <div class="row col-sm-12 col-md-12">
                            <div class="col-sm-12 col-md-12">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="percentageAssemblyInJury"><h4>What percentage of the Assembly should be in the Jury? </h4></label>
                                        <input type="text" class="form-control short-input" id="percentageAssemblyInJury" placeholder="25%">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="row col-sm-12 col-md-12">
                            <div class="row col-md-12 col-sm-12 voffset2"></div>
                            <div class="row col-sm-12 col-md-12">
                                <h4 class="title">
                                    <strong>Aditional configurations</strong>
                                </h4>
                            </div>
                            <div class="row col-md-12 col-sm-12 voffset1"></div>
                            <div class="row col-md-12 col-sm-12">
                                <form class="form-horizontal">
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-deliberation-enableComments" type="checkbox"> <h4>Enable reply to comments</h4>
                                        </label>
                                        <span class="row col-md-11 col-md-push-1 container-inline">
                                            <h4>Depth of discussion? </h4>
                                            <select name="depthOfLevels" id="depthOfLevels">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-deliberation-enableCategorization" type="checkbox"> <h4>Enable comment categorization</h4>
                                        </label>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-deliberation-enableTechnicalAssessment" type="checkbox"> <h4>Enable technical assessment of proposals <i class="fa fa-question-circle"></i></h4>
                                        </label>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-deliberation-additionalRounds" type="checkbox"> <h4>Enable additional rounds of versioning and deliberation</h4>
                                        </label>
                                        <span class="row col-md-11 col-md-push-1 container-inline">
                                            <h4>Number of rounds </h4>
                                            <select name="roundsNumber" id="roundsNumber">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="row col-md-12 col-sm-12 checkbox">
                                        <label>
                                            <input id="campaign-deliberation-enableUpDownVotes" type="checkbox"> <h4>Enable up-votes and down-votes</h4>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 voffset3"></div>
                <div class="row col-md-2 col-sm-2 col-md-push-10 col-sm-push-10">
                    <a href="/#/campaign/create/step5">
                        <button class="col-md-12 col-sm-12 btn btn-primary"><h3><strong>Next</strong></h3></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
