<div class="row view campaign-creation" id="prePhase3">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <form name="newCampaignForm3">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group
                        heading="{{component.name}} configurations {{component.linked ? '(in linked campaign)' : '' }}"
                        is-open="component.active"
                        ng-if="component.enabled"
                        is-disabled="component.linked"
                        ng-repeat="component in newCampaign.proposalComponents track by $index">

                    <div class="box descriptionBox" ng-include="component.descriptionTemplate"></div>

                    <section id="contributionTemplateSections"
                             class="form-group"
                             ng-if="component.contributionTemplate.length!=undefined">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Create your own proposal Template</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <span for="inputSectionTitle">Section Title</span></span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input class="form-control" id="inputSectionTitle"
                                   placeholder="e.g., Summary, Description, Attachments"
                                   ng-model="section.title">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <span for="inputSectionDescription">Section Description</span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <textarea class="form-control" id="inputSectionDescription"
                                   placeholder="Describe expected content of section"
                                   ng-model="section.description"></textarea>
                        </div>
                        <div class="col-md-12 voffset3"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <span for="inputSectionLength">Section Length</span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input class="form-control" id="inputSectionLength"
                                      placeholder="Max length for this section (number of words)"
                                      ng-model="section.length"
                                      type="number">
                        </div>
                        <div class="col-md-12 voffset3"></div>
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-8 col-md-8"></div>
                            <button class="btn btn-success col-sm-4 col-md-4"
                                    ng-click="addContributionTemplateSection(section,component)">
                                    Add section
                            </button>
                        </div>
                        <div class="col-md-12 voffset3"></div>
                        <div class="grayBox col-sm-12 col-md-12">
                            <label class="label-control">Added Sections</label>
                            <div class="caption assembly-tags-container-content">
                                <ul class="tags" ng-repeat="section in component.contributionTemplate track by $index">
                                    <li class="tag"
                                        ng-class="section.defaultSection ? 'tag-caution' : 'tag-filter'">
                                        <span class="glyphicon glyphicon-remove"
                                              aria-hidden="true"
                                              ng-if="!section.defaultSection"
                                              ng-click="removeContributionTemplateSection($index, component)"></span>
                                        {{section.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section id="{{config.key}}" ng-repeat="config in component.configs track by $index">
                        <!--The config is of type title (no value, just to separate sections) -->
                        <div ng-if="config.type==='title'">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">{{config.description}}</label>
                            <div class="col-md-12 voffset3"></div>
                        </div>

                        <!--The config is of type checkbox -->
                        <div class="checkbox col-md-12 col-sm-12" ng-if="configIsEnabled(config,component.configs, 'checkbox')">
                            <label class="col-md-1 col-sm-1 col-xs-1">
                                <input type="checkbox" ng-model="config.value"/>
                            </label>
                            <span class="control-label col-md-11 col-sm-11 col-xs-11">{{config.description}}</span>
                            <div class="col-md-12 voffset3"></div>
                        </div>

                        <!--The config is of type select -->
                        <div ng-if="configIsEnabled(config,component.configs, 'select')">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">{{config.description}}</label>
                            <div class="col-md-2 col-sm-2 col-xs-2"></div>
                            <div class=" col-md-10 col-sm-11 col-xs-10">
                                <select class="form-control"
                                        ng-options="option.name for option in config.options track by option.value"
                                        ng-model="config.optionValue"
                                        ng-change="updateConfigOptionValue(config, config.optionValue)">
                                </select>
                            </div>
                            <div class="col-md-12 voffset3"></div>
                        </div>

                        <!--The config is of type radio -->
                        <div ng-if="configIsEnabled(config,component.configs, 'radio')">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12"><strong>{{config.description}}</strong></label>
                            <div class="radio col-md-12 col-sm-12 col-xs-12" ng-repeat="option in config.options track by $index">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <input
                                            name="{{config.key}}"
                                            type="radio"
                                            ng-model="config.value"
                                            ng-value="option.value"
                                            value="{{option.value}}"
                                            ng-checked="option.selected ? 'checked' : ''"
                                            ng-click="checkOption(config,option)">
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11"><span>{{option.name}}</span></div>
                            </div>
                            <div class="col-md-12 voffset3"></div>
                        </div>

                        <!--The config is of type input -->
                        <div ng-if="configIsEnabled(config,component.configs, 'input')">
                            <span class="control-label col-md-8 col-sm-8 col-xs-12">{{config.description}}</span>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="{{config.inputType === 'percentage' ? 'number' : config.inputType === 'number' ? 'number' : ''}}"
                                       step="{{config.inputType === 'percentage' ? '0.1' : '1'}}"
                                       min="{{config.inputType === 'percentage' ? '0' : config.inputType === 'number' ? '0' : ''}}"
                                       max="{{config.inputType === 'percentage' ? '1' : ''}}"
                                       ng-model="config.value"
                                       ng-value="config.value">
                            </div>
                            <div class="col-md-12 voffset3"></div>
                        </div>
                    </section>
                </uib-accordion-group>
            </uib-accordion>

            <section id="errors" class="row col-md-12 col-sm-12" ng-if="errors.length > 0 || templateErrors.length > 0">
                <uib-alert ng-repeat="error in errors track by $index" type="danger"
                           close="removeError($index)">An error has occurred while creating the campgaign: {{error}}
                </uib-alert>
                <uib-alert ng-repeat="error in templateErrors track by $index" type="danger"
                           close="removeTemplateError($index)">An error has occurred configuring the template for the campaign: {{error}}
                </uib-alert>
            </section>

            <section id="campaignButtons3" class="row col-md-12 col-sm-12">
                <div class="col-md-4">
                    <button class="btn btn-success col-md-12"
                            uib-popover="{{info.campaignFastrackTooltip}}" popover-trigger="mouseenter"
                            ng-disabled="!newCampaignForm3.$valid"
                            ng-click="createCampaign({step:4}, {fastrack:true})">
                        <h3>
                            <strong>Fastrack</strong>
                            <!--<i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignFastrackTooltip}}"></i></h3>-->
                        </h3>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary col-md-12"
                            uib-popover="{{info.campaignFastrackTooltip}}" popover-trigger="mouseenter"
                            ng-disabled="!newCampaignForm3.$valid"
                            ng-click="createCampaign({step:2}, {fastrack:false})">
                        <h3>
                            <strong>Back</strong>
                            <!--<i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignFastrackTooltip}}"></i></h3>-->
                        </h3>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary col-md-12"
                            ng-click="createCampaign({step:4}, {fastrack:false})"
                            ng-disabled="!newCampaignForm3.$valid">
                        <h3><strong>Start</strong></h3>
                    </button>
                </div>
            </section>
        </form>
    </div>
</div>