<div class="row view campaign-creation" id="prePhase">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div id="campaignDefinition" class="box descriptionBox row col-md-12 col-sm-12 col-xs-12">
            <p>{{info.campaignDefinition}}</p>
        </div>
        <div class="row vertical-space-medium"></div>
        <div id="campaignTitle" class="row col-md-12 col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="inputCampaignTitle" class="control-label">Title*</label>
                <input id="inputCampaignTitle" class="form-control"
                       placeholder="Belleville - Paris PB 2016"
                       ng-model="newCampaign.title" ng-required="true" />
            </div>
        </div>
        <div id="campaignGoal" class="row col-md-12 col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="inputDefineCampaignGoals" class="control-label">Define campaign goals*</label>
                <textarea id="inputDefineCampaignGoals" class="form-control"
                          placeholder="e.g., Develop proposals for PB Paris 2015"
                          ng-model="newCampaign.goal" ng-required="true" />
            </div>
        </div>
        <div id="campaignTemplate" class="row col-md-12 col-sm-12">
            <div class="form-group">
                <label for="selectCampaignTemplate" class="control-label">Select campaign template*</label>
                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignTemplateTooltip}}"></i></h3>
                <select id="selectCampaignTemplate" class="form-control"
                        ng-model="newCampaign.template"
                        ng-options="option.description for option in templateOptions track by option.value">
                    <!--ng-options="assembly.name group by assembly.campaign for assembly in assemblies">-->
                </select>
            </div>
        </div>
        <div id="campaignTemplateLinked" class="row col-md-12 col-sm-12" ng-show="newCampaign.template.value==='LINKED'">
            <div class="form-group">
                <label for="selectLinkedCampaign" class="control-label">{{newCampaign.template.subTemplateTitle}}</label>
                <!--<i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignTemplateTooltip}}"></i></h3>-->
                <select id="selectLinkedCampaign" class="form-control"
                        ng-model="newCampaign.linkedCampaign"
                        ng-options="campaign.title group by campaign.assembly for campaign in campaigns track by campaign.value">
                        <!--ng-options="option.description for option in templateOptions track by option.value">-->
                </select>
            </div>
        </div>
        <div id="campaignTemplatePredefined" class="row col-md-12 col-sm-12" ng-show="newCampaign.template.value==='PREDEFINED'">
            <div class="form-group">
                <label for="selectPredefinedTemplate" class="control-label">{{newCampaign.template.subTemplateTitle}}</label>
                <!--<i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignTemplateTooltip}}"></i></h3>-->
                <select id="selectPredefinedTemplate" class="form-control"
                        ng-model="newCampaign.selectedTemplate"
                        ng-options="template.name for template in templates track by template.campaignTemplateId">
                    <!--ng-options="option.description for option in templateOptions track by option.value">-->
                </select>
            </div>
        </div>

        
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-8 col-sm-8 form-horizontal">
                <div class="form-group">
                    <h3><label for="checkConfirmCampaignGoals" class="control-label">Confirm campaign themes</label></h3>
                    <div class="box selectionBox col-md-12 col-sm-12" id="checkConfirmCampaignGoals">
                        <div class="col-md-9 col-md-9" ng-repeat="campaignTheme in campaignThemes">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>{{campaignTheme.name}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-3">
                            <button class="btn btn-success">Add new</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="row col-md-12 col-sm-12 box settingsBox">
            <div class="row header col-md-12 col-sm-12">
                <h3><strong>Linked Campaign: </strong> {{linkedAssembly.campaign}}</h3>
            </div>
            <div class="row header col-md-12 col-sm-12">
                <h3><strong>Linked Assembly: </strong> {{linkedAssembly.name}}</h3>
            </div>
            <div class="row col-md-12 col-sm-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span>Use the linked campaign's <strong>Deliberation</strong> and <strong>Voting</strong> components.</span>
                    </label>
                </div>
            </div>
            <div class="row col-md-12 col-sm-12 box descriptionBox">
                <p>If enabled, deliberating and voting will proceed according to the rules set by the Assembly <strong>PB Paris - Mairie de Paris,</strong> using <strong>PB Paris 2016</strong> campaign website. Therefore, users will only deliberate and vote once, within that linked campaign. If disabled, users will deliberate and vote within their our Assembly Campaign and again within the Linked Assembly Campaign.</p>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12 template-configuration">
        </div>
        <div class="row col-md-12 col-sm-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputBudget" class="col-sm-3 col-md-3 control-label"><h4><strong>*Total Budget</strong></h4></label>
                    <div class="col-sm-9 col-md-9">
                        <input class="form-control" id="inputBudget" placeholder="$ 500000">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 col-sm-12 clear">
            <div class="col-md-push-8 col-md-4">
                <a href="/#/campaign/1">
                    <button class="btn btn-primary"><h3><strong>Fastrack</strong></h3></button>
                </a>
                <a href="/#/campaign/create/step2">
                    <button class="btn btn-primary"><h3><strong>Next</strong></h3></button>
                </a>
            </div>
        </div>
    </div>
</div>