<div class="consensus-controls row col-md-12 col-sm-12 no-padding">
  <div class="btn-group" role="group">
    <button class="btn btn-default {{yesToggle}}" ng-click="contributionVote('YES', 'BINDING')">{{'Yes' | translate}}</button>
    <button class="btn btn-default {{noToggle}}" ng-click="contributionVote('NO', 'BINDING')">{{'No' | translate}}</button>
    <button class="btn btn-default {{abstainToggle}}" ng-click="contributionVote('ABSTAIN', 'BINDING')">{{'Abstain' | translate}}</button>
    <button class="btn btn-default {{blockToggle}}" ng-click="contributionVote('BLOCK', 'BINDING')">{{'Block' | translate}}</buttom>
    <button ng-if="showResultsButton && !activeResults" class="btn btn-default" ng-click="updateListener()">{{'Show Results' | translate}}</buttom>
    <button ng-if="showResultsButton && activeResults" class="btn btn-default" ng-click="updateListener()">{{'Hide Results' | translate}}</buttom>
  </div>
  <br />

</div>
