<main class="app-main">
  <section class="panel intro">
    <p class="heading--header">Working Group</p>
    <h1 class="heading--title">{{wg.name}}</h1>
    <p>{{wg.text}}</p>
  </section>
  <section class="panel activity-and-members">
    <section class="latest-activity latest-activity-relative">
      <div class="panel-heading panel-heading-relative">
        <h1 class="heading--header">Latest Activity</h1>
        <p class="heading--small">
          <a href="&#x2F;patterns&#x2F;03-templates-07-all-proposals-view&#x2F;03-templates-07-all-proposals-view.html"><i class="fa fa-arrows-alt"></i>&nbsp;See All</a>&nbsp;&nbsp;
        </p>
      </div>
      <activity-card ng-repeat="activity in activities track by $index" activity="activity"></activity-card>
      <p ng-if="!activities || activities.length === 0" class="card">There are no LATEST ACTIVITIES in the working group</p>
    </section>
    <section class="members-panel">
      <div class="panel-heading panel-heading-relative">
        <h1 class="heading--header">Members</h1>
        <p class="heading--small">
          <a href="&#x2F;patterns&#x2F;03-templates-07-all-proposals-view&#x2F;03-templates-07-all-proposals-view.html"><i class="fa fa-arrows-alt"></i>&nbsp;See All</a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-plus-square"></i>&nbsp;Add New</a></p>
        </p>
      </div>
      <div class="card-list" ng-repeat="member in members">
        <div class="action-bar">
          <member-card user="member.user"></member-card>
          <div class="action-button">
            <input id="menu04" type="checkbox" name="menu" />
            <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>more</title>
              <defs></defs>
              <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
                <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
                </g>
              </g>
            </svg>
            <ul class="action-menu">
              <li><a href="#">Message this user</a></li>
              <li><a href="#">Remove this user</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="panel ideas-and-proposals">
    <section class="list--proposal">
      <div class="panel-heading-no-margin">
        <h1 class="heading--header">Proposals</h1>
        <p class="heading--small">
          <a href="&#x2F;patterns&#x2F;03-templates-07-all-proposals-view&#x2F;03-templates-07-all-proposals-view.html"><i class="fa fa-arrows-alt"></i>&nbsp;See All</a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-plus-square"></i>&nbsp;Add New</a></p>
        </p>
      </div>
      <proposal-card ng-repeat="proposal in proposals track by $index" proposal="proposal" show-voting-buttons="true"></proposal-card>
      <p ng-if="proposals.length === 0" class="card">No Proposals in this space yet. Be the first to create one. Click on "Add new"!</p>
    </section>
  </section>
  
  <section class="panel ideas-and-proposals">
    <section class="list--idea">
      <div class="panel-heading-no-margin">
        <h1 class="heading--header">Ideas</h1>
        <p class="heading--small">
          <a href="&#x2F;patterns&#x2F;03-templates-07-all-proposals-view&#x2F;03-templates-07-all-proposals-view.html"><i class="fa fa-arrows-alt"></i>&nbsp;See All</a>&nbsp;&nbsp;
          <a href="#"><i class="fa fa-plus-square"></i>&nbsp;Add New</a></p>
        </p>
      </div>
      <idea-card ng-repeat="idea in ideas track by $index" idea="idea" wg="wg"></idea-card>
      <p ng-if="ideas.length === 0" class="card">No Ideas in this space yet. Be the first to create one. Click on "Add new"!</p>
    </section>
  </section>

  <discussion-panel space-id="spaceID"></discussion-panel>
</main>
