<main class="appmain" ng-class="{anonymous: isAnonymous}" resize>
  <article class="working_group">
    <!-- Working Group Header -->
    <header class="page__header" ng-style="coverStyle">
      <div class="row">
        <breadcrumb label="wg.name"></breadcrumb>
        <a class="btn btn-join" ng-click="joinWg(wg.groupId)" ng-if="!userIsMember">{{'Join'|translate}}</a>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="hidden-xs type">
            <i class="fa" ng-class="{'fa-users' : !isTopicGroup, 'fa-tags': isTopicGroup}"></i> &nbsp;&nbsp;{{isTopicGroup
            ? 'Topic' : 'Working Group' | translate}}
            <span class="label label-success" ng-if="((wg && isTopicGroup)
                || (wg && wg.profile && wg.profile.supportedMembership === 'OPEN'))">{{'Open' | translate}}</span>
          </div>
          <div class="hidden-lg hidden-md hidden-sm type">
            <i class="fa" ng-class="{'fa-users' : !isTopicGroup, 'fa-tags': isTopicGroup}"></i> &nbsp;&nbsp;{{isTopicGroup
            ? 'Topic' : 'Working Group' | translate}}
            <span class="label label-success" ng-if="((wg && isTopicGroup)
                || (wg && wg.profile && wg.profile.supportedMembership === 'OPEN'))">{{'Open' | translate}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="title_block">
            <h1 class="heading--title"> {{wg.name}}</h1>
            <div class="heading_actions" ng-if="!isAnonymous">
              <ul>
                <li class="action__contextual_menu" ng-mouseenter="cm.isHover = true">
                  <a><i class="fa fa-cog"></i></a>
                </li>
              </ul>
              <div class="contextual_menu" ng-class="{active: cm.isHover}" ng-mouseleave="cm.isHover = false" style="top: 1em; left: auto; right: 0px;"
                ng-if="cm.isHover">
                <div class="content">
                  <wgroup-contextual-items wgroup="wg"></wgroup-contextual-items>
                </div>
              </div>
            </div>
          </div>
          <p class="description">{{wg.text}}</p>
        </div>
        <div class="hidden-xs col-lg-2 col-md-2 col-sm-2">
          <img src="{{wg.profile.icon}}" height="140" width="140" style="border-radius:50%;">
        </div>
      </div>

      <div class='row no-margin attribution' style="padding-top: 1em; position: unset;">
        <div class="overlay new_overlay" style="display: inline-flex">
          <ul class="overlay_buttons">
            <li class="overlay_button">
              <a data-toggle="modal" data-target="#assignedIdeas">
                <i class="fa fa-lightbulb-o fa-lg"></i><span>{{'Assigned ideas'|translate}}</span>
                <span class="number" ng-if="resources.relatedContributions.length > 0">({{resources.relatedContributions.length}})</span>
              </a>
            </li>
            <li class="overlay_button">
              <a data-toggle="modal" data-target="#wgMembers">
                <i class="fa fa-users fa-lg"></i><span>{{'Members'|translate}}</span>
                <span class="number" ng-if="members.length > 0">({{members.length}})</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Working Group Ideas and Proposals -->
    <section class="proposals_and_ideas wgdash">
      <!--Working Group Ideas and Proposals Buttons-->
      <!--TODO: ADD button to joing working group if the user who is visiting is not a member-->
      <div class="campaign__filters">
        <h2 class="heading--header no-padding col-xs-12 col-lg-9 col-md-9 col-sm-8">{{'Proposals' | translate}}</h2>
        <a class="primary__button right proposals__add_new right col-xs-12 col-lg-3 col-md-3 col-sm-4"
           ng-if="user != null && newProposalsEnabled && userIsMember"
           ng-click="openModal('proposalFormModal')">
          <i class="fa fa-plus-square"></i>&nbsp;{{'Add Proposal' | translate}}
        </a>

        <a class="primary__button right proposals__add_new right col-xs-12 col-lg-3 col-md-3 col-sm-4"
           ng-if="user === null || !userIsMember" disabled>
          {{'Join the Group to create proposals' | translate}}
        </a>

        <!--<a class="primary__button right proposals__add_new col-xs-12 col-lg-3 col-md-3 col-sm-4"-->
           <!--ng-if="newProposalsEnabled && !displayJoinWorkingGroup"-->
           <!--ng-click="openModal('proposalFormModal')">-->
          <!--<i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'Add Proposal' | translate}}-->
        <!--</a>-->
        <!--<a class="primary__button right join__working_group"-->
           <!--ng-if="newProposalsEnabled && displayJoinWorkingGroup && !newIdeasEnabled">-->
          <!--<i class="fa fa-users"></i>&nbsp;{{'Join a Working Group to create proposals' | translate}}-->
        <!--</a>-->
      </div>
      <proposals-ideas-searchbox class="col-*-12"
                                 load-themes="loadThemes(query)"
                                 is-anonymous="isAnonymous"
                                 campaign-config="campaignConfigs"
                                 campaign-contribution-types="{{ campaignConfigs['appcivist.campaign.contribution-types'] }}"
                                 current-component="currentComponet"
                                 filters="filters"></proposals-ideas-searchbox>

      <div class="campaign_cards" ng-class="{'show-ideas': commentsSectionExpanded || ideasSectionExpanded}">
        <section class="list--proposals">
          <header class="proposals__header" style="padding-top: 1em; padding-bottom:1em; padding-left: 1.5em; padding-right: 1.5em;">
            <a class="hidden-md hidden-sm hidden-xs" ng-if="!commentsSectionExpanded && showComments" ng-click="toggleCommentsSection()"
              style="float: right; margin-right: 5px;" href=""><i class="fa fa-comments-o"></i>&nbsp;{{'Show Comments' | translate }}</a>&nbsp;&nbsp;&nbsp;
            <a ng-if="currentComponentType!=='IDEAS'" class="proposals__show_ideas" href="">
              <i class="fa fa-file"></i>
              &nbsp;{{'Proposals' | translate}}: {{ insights.contributions_total.contributions_per_type.PROPOSAL.TOTAL}}
            </a>
            <a class="proposals__show_ideas" href="">
              <i class="fa fa-lightbulb-o"></i>
              &nbsp;{{'Ideas' | translate}}: {{ insights.contributions_total.contributions_per_type.IDEA.TOTAL}}
            </a>
          </header>
          <div data-eq-pts="small: 768, medium: 1024, large: 1500" ng-iff="showPagination">
            <pagination-widget
              page-size="pageSize"
              space="spaceID"
              resource="contribution"
              type="type"
              is-anonymous="isAnonymous"
              is-coordinator="isCoordinator"
              filters="filters"
              is-topic-group="isTopicGroup"
              campaign="campaign"
              components="components"
              show-voting-buttons="showVotingButtons"></pagination-widget>
          </div>
        </section>

        <!-- Ideas section -->
        <section class="list--ideas" ng-class="{hide: !ideasSectionExpanded}" ng-if="contributionTypeIsSupported ('IDEA')">
          <header class="ideas__header" style="padding-left: 30px;">
            <h2 class="heading--header">{{ 'Ideas' | translate }}</h2>
            <a class="ideas__see_all" ng-href="#/v2/space/{{spaceID}}/contributions?type=idea&from={{fromURL}}"><i class="fa fa-arrows-alt"></i>&nbsp;{{'See All' | translate}}</a>
            <a class="ideas__add_new" ng-if="user != null && newIdeasEnabled"><i class="fa fa-plus-square"></i>&nbsp;{{'Add New' | translate}}</a>
            <a ng-if="ideasSectionExpanded" ng-click="toggleHideIdeasSection()"><i class="fa fa-lightbulb-o"></i>&nbsp;{{ 'Hide Ideas' | translate }}</a>
          </header>
          <div class="list__cards container__ideas" data-eq-pts="small: 768, medium: 1024, large: 1500">
            <contribution-card ng-repeat="idea in ideas track by $index" class="card__idea col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                contribution="idea"
                                campaign="campaign"
                                is-anonymous="isAnonymous"
                                is-coordinator="isCoordinator"
                                is-topic-group="isTopicGroup"
                                components="components"></contribution-card>
          </div>
        </section>

        <!-- Comments section -->
        <section class="list--ideas" ng-class="{hide: !commentsSectionExpanded}">
          <header class="comments__header" style="padding-left: 30px;">
            <h2 class="heading--header">{{ 'Comments' | translate}}</h2>
            <a ng-if="commentsSectionExpanded" ng-click="toggleHideCommentsSection()" class="comments__show_ideas"
              href=""><i class="fa fa-comments-o"></i>{{'Hide Comments'|translate}}</a>&nbsp;&nbsp;
          </header>
          <div class="list__cards container__comments" data-eq-pts="small: 768, medium: 1024, large: 1500">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs custom-ul" style="padding-top: 0px; padding-bottom: 0px;">
              <li role="presentation" class="custom-li" ng-class="{'active': (activeTab === 'Members')}" ng-if="userIsMember"><a class="custom-a" href="" ng-click="changeActiveTab(1)" role="tab" data-toggle="tab">{{ 'Members' | translate }} ({{membersCommentCounter.value}})</a></li>
              <li role="presentation" class="custom-li" ng-class="{'active': (activeTab === 'Public')}"><a class="custom-a" href="" ng-click="changeActiveTab(2)" role="tab" data-toggle="tab">{{ 'Public' | translate }} ({{publicCommentCounter.value}})</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane" ng-class="{'active': activeTab === 'Members'}" ng-if="userIsMember && activeTab === 'Members'">
                <discussion-panel style="padding-left: 0px !important;" class="col-md-12" ng-if="userIsMember" space-id="spaceID"
                  endpoint-id="spaceID" endpoint="group" is-anonymous="isAnonymous"></discussion-panel>
              </div>
              <div class="tab-pane" ng-class="{'active': activeTab === 'Public'}" ng-if="activeTab === 'Public'">
                <discussion-panel style="padding-left: 0px !important;" ng-if="isAnonymous" class="col-md-12" space-id="wg.frsUUID"
                  endpoint-id="wg.uuid" endpoint="group" public-board="true" is-anonymous="isAnonymous"></discussion-panel>
                <discussion-panel style="padding-left: 0px !important;" ng-if="!isAnonymous" class="col-md-12" space-id="wg.forumResourceSpaceId"
                  endpoint-id="wg.groupId" endpoint="group" public-board="true" is-anonymous="isAnonymous"></discussion-panel>
              </div>
            </div>
          </div>
        </section>
    </div>

    <!-- Nav tabs -->
    <ul class="hidden-lg nav nav-tabs custom-ul" style="padding-top: 0px; padding-bottom: 0px;">
      <li role="presentation" class="custom-li" ng-class="{'active': (activeTab === 'Members')}" ng-if="userIsMember"><a class="custom-a" href="" ng-click="changeActiveTab(1)" role="tab" data-toggle="tab">{{ 'Members Conversations' | translate }} ({{membersCommentCounter.value}})</a></li>
      <li role="presentation" class="custom-li" ng-class="{'active': (activeTab === 'Public')}"><a class="custom-a" href="" ng-click="changeActiveTab(2)" role="tab" data-toggle="tab">{{ 'Public Conversations' | translate }} ({{publicCommentCounter.value}})</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="hidden-lg tab-content">
      <div class="tab-pane" ng-class="{'active': activeTab === 'Members'}" ng-if="userIsMember && activeTab === 'Members'">
        <discussion-panel class="col-md-12" ng-if="userIsMember" space-id="spaceID" endpoint-id="spaceID" endpoint="group"
          is-anonymous="isAnonymous"></discussion-panel>
      </div>
      <div class="tab-pane" ng-class="{'active': activeTab === 'Public'}" ng-if="activeTab === 'Public'">
        <discussion-panel ng-if="isAnonymous" class="col-md-12" space-id="wg.frsUUID" endpoint-id="wg.uuid" endpoint="group"
          public-board="true" is-anonymous="isAnonymous"></discussion-panel>
        <discussion-panel ng-if="!isAnonymous" class="col-md-12" space-id="wg.forumResourceSpaceId" endpoint-id="wg.groupId"
          endpoint="group" public-board="true" is-anonymous="isAnonymous"></discussion-panel>
      </div>
    </div>-
  </article>

  <!--<script id="proposalFormModal" type="text/ng-template">-->
    <!--<contribution-proposal-form-->
      <!--group="wg"-->
      <!--campaign="campaign"-->
      <!--configs="campaignConfigs['appcivist.campaign.contribution.hidden-fields']"-->
      <!--type="PROPOSAL"-->
      <!--on-success="redirectToProposal(contribution)"-->
      <!--on-import-success="closeModal()"-->
      <!--user="user"></contribution-proposal-form>-->
  <!--</script>-->

  <!-- New Proposal Form Modal -->
  <script id="proposalFormModal" type="text/ng-template">
    <contribution-form
      group="wg"
      campaign="campaign"
      configs="campaignConfigs['appcivist.campaign.contribution.hidden-fields']"
      type="PROPOSAL"
      on-success="redirectToProposal(contribution)"
      on-import-success="closeModal()"></contribution-form>
  </script>

  <modal open-if="modals.proposalFormModal" close="closeModal('proposalFormModal')" template-id="proposalFormModal"></modal>
</main>

<!-- Ideas Modal -->
<div class="modal fade dashboardModal" id="assignedIdeas" tabindex="-1" role="dialog" aria-labelledby="documentsLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
        <h3 class="modal-title" id="ideasLabel">{{wg.name}}</h3>
        <p>{{ 'Assigned ideas' | translate }}</p>
      </div>
      <div class="modal-body">
        <associated-contributions-form ng-if="!isAnonymous && (userIsAuthor || isCoordinator || userIsAdmin)"
                                       contribution-type="associatedContributionsType"
                                       space-id="wg.resourcesResourceSpaceId"
                                       space="resources"
                                       assembly-id="assemblyID"
                                       campaign-id="campaignID"
                                       campaign-space-id="campaign.resourceSpaceId"
                                       group-id="groupID"
                                       parent-contribution-id="proposalID"
                                       space-is-group="true"></associated-contributions-form>

        <div class="noContent" ng-if="!resources.relatedContributions || resources.relatedContributions.length === 0">
          <h4>{{ 'There are no ideas associated to this contribution' | translate }}</h4>
        </div>
        <ul class="workingGroupList" ng-if="resources.relatedContributions && resources.relatedContributions.length > 0">
          <li ng-repeat="contribution in resources.relatedContributions track by $index">
            <a class="workingGroupLink" ng-href="#/v2/assembly/{{assemblyID}}/campaign/{{campaignID}}/contribution/{{contribution.contributionId}}">
              <span>{{contribution.title|limitTo:50}}{{(contribution.title.length) > 50 ? '...' : '.' }}</span>
            </a>
            <span class="number clickable" ng-click="removeContributingIdea(contribution)"><i class="fa fa-trash"></i>{{'Delete'|translate}}</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer text-left">
        <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{wg.name}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade dashboardModal" id="wgMembers" tabindex="-1" role="dialog" aria-labelledby="wgMembersLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close &times;</span></button>
        <button class="btn btn-default btn-add-members" ng-if="isCoordinator" data-toggle="modal" data-target="#addMembers">{{'Add new members'|translate}}</button>
        <h3 class="modal-title" id="wgMembersLabel">{{wg.name}}</h3>
        <p>{{ 'Members' | translate }}</p>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills" ng-if="isCoordinator">
          <li class="active"><a data-toggle="tab" data-target="#approved">Approved</a></li>
          <li><a data-toggle="tab" data-target="#pending">Pending approval</a></li>
        </ul>
        <div class="tab-content">
          <div id="approved" class="tab-pane fade in active">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th ng-if="isCoordinator">Role</th>
                  <th ng-if="isCoordinator"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in members">
                  <td style="text-align:left"><member-card user="member.user"></member-card></td>
                  <td>{{member.user.email}}</td>
                  <td ng-if="isCoordinator">
                    <select>
                      <option ng-selected="member.roles[0].name == 'COORDINATOR'">Coordinator</option>
                      <option ng-selected="member.roles[0].name == 'MODERATOR'">Moderator</option>
                      <option ng-selected="member.roles[0].name == 'MEMBER'">Member</option>
                    </select>
                  </td>
                  <td ng-if="isCoordinator"><i class="fa fa-envelope-o fa-lg"></i> <i class="fa fa-trash-o fa-lg"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="pending" class="tab-pane fade">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Invitation Status</th>
                  <th>Approval Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in memberRequests">
                  <td>{{member.user.name}}</td>
                  <td>{{member.user.email}}</td>
                  <td>{{member.status}}</td>
                  <td ng-if="member.status === 'REQUESTED'">
                    <a class="btn btn-smaller btn-default" ng-click="updateStatus(member, 'accepted', $event)">Approve</a> <a class="btn btn-smaller btn-default" ng-click="updateStatus(member, 'rejected', $event)">Reject</a>
                  </td>
                  <td ng-if="member.status === 'INVITED'">
                    <a class="btn btn-smaller resend btn-default" ng-click="resendInvitation(member)">Resend invitation</a>
                  </td>
                  <td ng-if="member.status === 'REJECTED'">
                    Invitation rejected
                  </td>
                </tr>
                <tr ng-repeat="invitation in membersInvited">
                  <td>{{invitation.name}}</td>
                  <td>{{invitation.email}}</td>
                  <td>{{invitation.status}}</td>
                  <td ng-if="invitation.status === 'INVITED'">
                    <a class="btn btn-smaller resend btn-default" ng-click="resendInvitation(member)">Resend invitation</a>
                  </td>
                  <td ng-if="invitation.status === 'REJECTED'">
                    Invitation rejected
                    <a class="btn btn-smaller resend btn-default" ng-click="resendInvitation(member)">Resend invitation</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer text-left">
        <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{wg.name}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade dashboardModal" id="addMembers" tabindex="-1" role="dialog" aria-labelledby="addMembersLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close &times;</span></button>
          <h3 class="modal-title" id="addMembersLabel">{{'Add new members'|translate}}</h3>
        </div>
        <div class="modal-body">
          <form ng-submit="submitMembers(assemblyID)">
            <label>Upload a CSV file containing the list of members you want to add. Each line should contain email, name, lastname, language, and role (MEMBER, MODERATOR or COORDINATOR) <input type="file" fileread="membersFile"></label>
            <label><input type="checkbox" ng-model="membersSendInvitations"> Send invitations</label>
            <label>If checked, only when the invited person accepts the invitation the membership will be effective. If not checked, the user will become an accepted member automatically.</label>
            <div class="text-right">
              <button type="submit" class="btn btn-default btn-submit">{{ 'Add new members' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    $("#wgMembers .nav-pills a").on("click", function(e) {
      e.preventDefault();
    });
  });
</script>
