<section class="comments__section">
  <div class="row">
    <div id="newWorkingGroup">
      <form name="newAssemblyForm1">
          <div class="col-lg-12 col-md-12 col-xs-12">
              <div id="description" class="box descriptionBox row col-md-12 col-sm-12">
                  <p>{{'definition.wgroup' | translate}}</p>
              </div>
              <div class="col-md-12 voffset3"></div>
              <!-- Campaign Select if no campaign has been selected -->
              <div id="campaignSelect" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                    <label for="selectCampaignOfAssembly" class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12 control-label">
                        {{'Campaigns of the Group'|translate}}:*</label>
                    <div class="voffset4"></div>
                    <!--<select id="selectCampaignOfAssembly" name="workingGroupAuthors" ng-init="campaignId = campaignId || newWorkingGroup.campaigns[0]"
                            class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="campaignId"
                            ng-options="campaign.campaignId as campaign.title for campaign in assemblyCampaigns track by campaign.campaignId"
                            ng-change="changeCampaign(campaignId)">
                    </select>-->
                    <input id="selectCampaignOfAssembly" name="workingGroupAuthors" class="form-control"
                           ng-model="newWorkingGroup.campaign.title" type="text" ng-disabled="true">
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="workingGroupName" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                    <label for="inputNameNewWorkingGroup" class="no-padding col-sm-2 col-md-2 control-label">{{'Name' | translate}}*</label>
                    <div class="voffset4"></div>
                    <input id="inputNameNewWorkingGroup" class="form-control"
                           placeholder="{{'wgroups.name.example' | translate}}"
                           ng-model="newWorkingGroup.name" type="text" ng-required="true">
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="workingGroupDescription" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <label for="inputDescriptionNewWorkingGroup" class="no-padding col-sm-2 col-md-2 control-label">
                      {{'Description'|translate}}*
                  </label>
                  <textarea id="inputDescriptionNewWorkingGroup" class="form-control"
                            maxlength="400" placeholder="{{'wgroups.text.example' | translate}}"
                            ng-model="newWorkingGroup.text"/>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="workingGroupThemes" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <label for="checkConfirmCampaignGoals" class="control-label">{{'wgroups.select.campaign.themes' | translate}}</label>
                  <div class="box selectionBox col-md-12 col-sm-12" id="checkConfirmCampaignGoals">
                      <div class="themes-container-content optionThemes" ng-repeat="theme in campaignThemes track by $index">
                          <input type="checkbox" ng-model="campaignThemes[$index].selected">
                          <span>{{theme.title}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="workingGroupIcon" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <label class="control-label" translate='wgroups.select.icon'> </label>
                  <div class="picsList">
                      <div ng-repeat="icon in defaultIcons">
                          <div class="col-md-4">
                              <div class="image-capsule">
                                  <img alt="{{icon.name}}" ng-src="{{icon.url}}"
                                       class="image-circle"
                                       ng-click="setNewWorkingGroupIcon(icon.url, icon.name)">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="col-md-4">
                              <div class="image-capsule" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                   accept="image/*" ngf-max-size="10MB">
                                  <img data-src="holder.js/100x100" alt="Upload a picture"
                                       src="../assets/images/addIcon.png" data-holder-rendered="true"
                                       class="image-circle"/>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="groupIconProgress" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <strong>{{'selected.icon'|translate}}: </strong><a ng-href="{{f.url}}">{{f.name}}</a> {{f.$error}} {{f.$errorParam}}
                    <span class="progress-line-container" ng-show="f.progress >= 0">
                        <div class="progress-line" style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                    </span>
                  </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="workingGroupMembership" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <div class="col-md-4">
                    <label class="control-label">{{'How do people become members?' | translate}}</label>
                      <div class="radio">
                          <label>
                              <input type="radio" name="membership" id="openRadio" value="OPEN"
                                     ng-model="newWorkingGroup.profile.membership">
                              {{'Opened' | translate}}
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="membership" id="registrationRadio" value="REGISTRATION"
                                     ng-model="newWorkingGroup.profile.membership"> {{'Registration' | translate}}
                          </label>
                      </div>
                  </div>
                  <div class="col-md-8 optionsBox"
                       ng-show="newWorkingGroup.profile.membership === 'REGISTRATION'">
                      <label class="optionsBox-title">{{'Membership by registration' | translate}}</label>
                      <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.supportedMembershipRegistration' | translate}}"></i>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="newWorkingGroup.profile.registration.invitation"/>
                              <p style="display: inline;">{{'By invitation' | translate}}, {{'and/or' | translate}}</p>
                          </label>
                      </div>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="newWorkingGroup.profile.registration.request" checked/>
                              <p style="display: inline;">{{'By request' | translate}}</p>
                          </label>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="groupManagement" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <label for="inputManagementType" class="control-label">
                      {{'Who will be able to change settings and remove inappropriate comments?' | translate}}
                  </label>
                  <div class="col-md-12 grayBox" id="inputManagementType">
                     <div class="col-md-12 voffset3"></div>
                      <label class="control-label">
                          {{'Moderators' | translate}}
                          <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.moderators' | translate}}"></i>
                      </label>
                      <div class="col-md-12 radio">
                          <input ng-model="newWorkingGroup.profile.moderators" type="radio" name="moderators" id="noRadio" value="two" checked>
                          {{'Nominate specific moderators (at least two)' | translate}}
                      </div>
                      <div class="col-md-12 radio">
                          <input ng-model="newWorkingGroup.profile.moderators" type="radio" name="moderators" id="noRadio" value="all">
                          {{'Make all group members moderators' | translate}}
                      </div>
                      <div class="col-md-12 radio">
                          <input ng-model="newWorkingGroup.profile.moderators" type="radio" name="moderators" id="noRadio" value="none">
                          {{'Have no moderators' | translate}}
                      </div>
                      <div class="col-md-12 voffset3"></div>
                      <label class="control-label">
                          {{'Coordinators' | translate}}
                          <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.coordinators' | translate}}"></i>
                      </label>
                      <div class="col-md-12 radio">
                          <input ng-model="newWorkingGroup.profile.coordinators" type="radio" name="coordinators" id="noRadio" value="two" checked>
                          {{'Nominate specific coordinators (at least two)' | translate}}
                      </div>
                      <div class="col-md-12 radio">
                          <input ng-model="newWorkingGroup.profile.coordinators" type="radio" name="coordinators" id="noRadio" value="all">
                          {{'Make all group members coordinators' | translate}}
                      </div>
                      <div class="col-md-12 radio">
                          <input ng-model="newWorkingGroup.profile.coordinators" type="radio" name="coordinators" id="noRadio" value="none">
                          {{'Have no coordinators' | translate}}
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="brainstormingContributions" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <label class="control-label">
                      {{'Select brainstorming contributions to develop' | translate}}
                      <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.select.brainstorming' | translate}}"></i>
                  </label>
                  <!--TODO: FIX PAGINATION
                  <div ng-if="contribsPageSize<contributions.length" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                      <!--<button ng-disabled="contribsCurrentPg === 0" ng-click="contribsCurrentPg=contribsCurrentPg-1">-->
                          <!--Previous contributions-->
                      <!--</button>-->
                      <!--{{contribsCurrentPg+1}}/{{contribsNumberOfPages()}}-->
                      <!--<button ng-disabled="contribsCurrentPg >= contributions.length/contribsPageSize - 1" ng-click="contribsCurrentPg=contribsCurrentPg+1">-->
                          <!--Next contributions-->
                      <!--</button>-->
                  <!--</div>-->
                  <!--<div ng-repeat="contribution in contributions | startFrom:contribsCurrentPg*contribsPageSize | limitTo:contribsPageSize track by $index">-->
                  <div ng-repeat="contribution in contributions track by $index">
                      <div class="checkbox" ng-if="contribution.type === 'BRAINSTORMING'">
                          <label>
                              <input type="checkbox" ng-model="contribution.addToGroup"/>
                          </label>
                          <span>{{contribution.title | limitTo:46}}{{contribution.title.length > 46 ? '...' : '.'}}</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="groupInvitations" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <!-- Invitations for members -->
                  <label class="control-label">
                      {{'Invite people to join' | translate}}
                      <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.invitations' | translate}}"></i>
                  </label>
                  <div class="col-md-12 voffset3"></div>
                  <div class="col-lg-12col-md-12 col-sm-12">
                      <label class="control-label">{{'Choose from the list of members of the assembly' | translate}}</label>
                  </div>
                  <div class="col-md-12 voffset3"></div>
                  <!-- TODO: FIX PAGINATION
                  <div ng-if="membersPageSize<assemblyMembers.length" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                      <!--<button ng-disabled="membersCurrentPg === 0" ng-click="membersCurrentPg=membersCurrentPg-1;">-->
                          <!--Previous members-->
                      <!--</button>-->
                      <!--{{membersCurrentPg+1}}/{{membersNumberOfPages()}}-->
                      <!--<button ng-disabled="membersCurrentPg >= assemblyMembers.length/membersPageSize - 1" ng-click="membersCurrentPg=membersCurrentPg+1;">-->
                          <!--Next members-->
                      <!--</button>-->
                  <!--</div>-->
                  <!--<div ng-repeat="member in assemblyMembers | startFrom:membersCurrentPg*membersPageSize | limitTo:membersPageSize track by $index">-->
                  <div ng-repeat="member in assemblyMembers track by $index">
                      <div class="checkbox" ng-if="member.user.email!=user.email">
                          <label style="display: inline;">
                              <input type="checkbox" ng-model="member.invite"
                                     ng-click="addAssemblyMemberToInvitationList(member,$index)"/>
                          </label>
                          <span><strong>{{member.user.name}}</strong> ({{member.user.email}})</span>
                      </div>
                  </div>
                  <div class="col-md-12 voffset3"></div>

                  <div class="col-lg-12col-md-12 col-sm-12">
                      <label class="control-label">{{'Add emails of new members who are not in the assembly yet' | translate}}</label>
                  </div>
                  <textarea class="form-control" id="invitees" rows="4" ng-model="inviteesEmails"></textarea>

                  <div class="col-md-12 voffset3"></div>
                  <div class="col-md-8 col-sm-8"></div>

                  <div class="col-md-4 col-sm-4 add-button">
                      <span><a ng-click="addEmailsToList(inviteesEmails)">
                          <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png"
                               data-holder-rendered="true" style="cursor: pointer; height: 25px; width:25px;">
                      </a></span>
                      <span><h5 width="50px;">{{'Add to list'|translate}}</h5></span>
                  </div>
                  <div class="col-md-12 voffset3"></div>
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th class="remove-column"></th>
                          <th class="email-column">{{'Email' | translate}}</th>
                          <th class="coordinator-column">{{'Coordinator' | translate}}</th>
                          <th class="moderator-column">{{'Moderator' | translate}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="invitee in newWorkingGroup.invitations track by $index">
                          <td class="remove-column">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeInvitee($index)"></span>
                          </td>
                          <td class="email-column">{{invitee.email}}</td>
                          <td class="coordinator-column">
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" ng-model="invitee.coordinator"/>
                                  </label>
                              </div>
                          </td>
                          <td class="moderator-column">
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" ng-model="invitee.moderator"/>
                                  </label>
                              </div>
                          </td>
                      </tr>
                      </tbody>
                  </table>
                  <br/>
                  <uib-alert ng-repeat="email in invalidEmails track by $index" type="danger" close="removeInvalidEmail($index)">{{'Invalid email(s)' | translate}}: {{email}} </uib-alert>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="groupInvitationsEmails" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <label class="control-label">
                      {{'Invitation Email' | translate}}
                      <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.invitationsEmail' | translate}}"></i>
                  </label>
                  <textarea class="form-control" id="invitationEmail" ng-model="newWorkingGroup.invitationEmail" rows="6"></textarea>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <div id="groupConfigs" class="row col-md-8 col-sm-8 form-horizontal">
                <div class="col-md-12 form-group">
                  <div class="checkbox">
                      <label>
                          <strong>{{'Majority threshold' | translate}}</strong>
                          <select ng-model="newWorkingGroup.majorityThreshold" id="newWorkingGroupThreshold">
                              <option value="simple" selected>{{'Simple' | translate}}</option>
                              <option value="66">66%</option>
                              <option value="90">90%</option>
                          </select>
                      </label>
                  </div>
                  <div class="checkbox">
                      <label>
                          <input ng-model="newWorkingGroup.blockMajority" type="checkbox" name="newWorkingGroupBlocking" id="newWorkingGroupBlocking" value="newWorkingGroupBlocking">
                          <h4 style="display: inline;">{{'Enable blocking' | translate}}</h4>
                      </label>
                  </div>
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" ng-model="newAssembly.listed"/>
                          <h4 style="display: inline;">
                              {{'Do you want your Working Group to be listed?' | translate}}
                              <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'help.tooltip.listedAssembly' | translate}}"></i>
                          </h4>
                      </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 voffset3"></div>

              <!--<div class="row step-buttons col-md-12">
                <input type='submit' value="{{'Create' | translate}}" ng-click="createWorkingGroup()" class="button col-md-4 col-md-4">
              </div>
              <div class="col-md-12 voffset5"></div>-->
          </div>
        </form>
    </div>
    <div id="campaignButtons1" class="row col-md-8 col-sm-8">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary col-md-12" ng-click="goToStep(2)" ng-disabled="!newAssemblyForm1.$valid">
          {{'Next' | translate}}
        </button>
      </div>
    </div>
  </div>
</section>
