#rangeVotingResult .winners .row .winning-proposal .container{
	border: 2px solid #cccccc;
	border-radius: 2px;
	display: block;
	margin-bottom: 5px;
	margin-right:5px;
	width: 100%;
}
#rangeVotingResult .winners .row .winning-proposal .container:hover{
	cursor: pointer;
}
#rangeVotingResult .winners .row .winning-proposal .tail .assembly{
	width:100%;
}
#rangeVotingResult .winners .row .winning-proposal .tail .assembly .assembly-img{
	max-height: 20px;
}
#rangeVotingResult .winners .row .winning-proposal .tail .assembly span{
	text-align: right;
	float: right;
	margin-left: 20px;
}
#rangeVotingResult .winners .row .winning-proposal .block .info .icon-tail .icons div{
	display: inline-block;
}
#rangeVotingResult .winners .row .winning-proposal .block .info .icon-tail .icons .comments-icon{
	width: 2rem;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0.1rem;
}
#rangeVotingResult .winners .row .winning-proposal .block .info .icon-tail .icons .comments-icon .total-replies{
	display: block;
	margin: -2rem 0;
	text-align: center;
}
#rangeVotingResult .winners .row .winning-proposal .block .picture{
	overflow: hidden;
	position: relative;
}
#rangeVotingResult .winners .row .winning-proposal .block .picture p{
	text-align: left;
	left:0;
	padding: 3px 3px 3px 3px;
}
#rangeVotingResult .winners .row .winning-proposal .block .picture .score{
	margin-bottom: 150px;
	background-color: #ffffff;
	border: 2px solid #cccccc;
	border-radius: 2px;
	width:40%;
}
#rangeVotingResult .winners .row .winning-proposal .block .picture .theme{
	background-color: #12a11e;
	color: #ffffff;
	border-radius: 2px;
	display: inline-block;
	margin-left: 5px;
	font-size: 13px;
}
#rangeVotingResult .winners .row .winning-proposal .block .picture img{
	max-height: 100%;
	z-index: -1;
	position: absolute;
	overflow: hidden;
	left:0;
}
#rangeVotingResult .allocated{
	margin-top: 25px;
	margin-bottom: 25px;
}
#rangeVotingResult .result{
	background-color: #cccccc;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #aaaaaa;
	margin-top: 30px;
	margin-bottom: 30px;
}
#rangeVotingResult .result .voting-result .candidate{
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
}

#rangeVotingResult .result .voting-result .candidate .score{
	background-color: #ffffff;
	border: 2px solid #aaaaaa;
	padding: 5px 5px 5px 5px;

}

#rangeVotingResult .winners .row .winning-proposal .modal .modal-dialog .modal-content .modal-body img{
	width:40%;
	padding: 10px 10px 10px 10px;
	border: 1px solid #cccccc;
	margin-left: 50px;
}

#rangeVotingResult .winners .row .winning-proposal .modal .modal-dialog .modal-content .modal-body .theme-holder .themes{
	background-color: #12a11e;
	color: #ffffff;
	border-radius: 2px;
	display: inline-block;
	margin-left: 5px;
	padding: 3px 3px 3px 3px;
}