<div class="container" id="rangeVotingVote">
	<div class="row text-center">
		<h2><b>Assembly:</b>PB Belleville Paris/<b>Campaign:</b>Belleville - Paris PB 2016</h2>
	</div>
	<br>

	<div class="titles">
		<div class="container">
			<h3>Paris PB 2016</h3>
		</div>
		<div class="container">
			<h1><b>Voting Ballot</b></h1>
		</div>
		<div class="container">
			<h1 id="small">2016 August</h1>
		</div>
	</div>
	<br>
	<div class="row voting-content">
		<div class="col-md-4 col-sm-4 left">
				<h3><b>Campaign Themes and Proposals</b></h3>
				<div class="theme-proposals" ng-repeat="theme in themes">
					<h4 class="theme"><b>{{theme}}</b></h4>
					<ul class="list-unstyled proposals">
						<li ng-repeat="proposal in themeMap[theme]" class="proposal-names">{{proposal}}</li>
					</ul>
				</div>
		</div>
		<div class = "col-md-8 col-sm-8 right">
			<div class = "buttons">
					<ul class="list-unstyled list-inline">
						<li><input type="text" ng-model="query" class="form-control" placeholder="Enter keyword"></li>
						<li><button type="button" class="btn btn-success">Search</button></li>
						<li><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructions">Voting Instructions</button></li>
						<li><button type="button" id = "save" ng-click="save()" class="btn btn-success">Save</button></li>
						<li><button type="button" id = "submit" ng-click="submit()" class="btn btn-primary">Submit</button></li>
					</ul>
			</div>

			<!-- Modal for voting instructions -->
			<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="instrLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="instrLabel">Voting Instructions</h4>
			      </div>
			      <div class="modal-body">
			        <div class = "container instructions">
						<h2 class="title"><strong>Voting Instructions</strong></h2>
						<ul>
							<li type="circle">{{votingBallot.instructions}}</li>
							<li type="circle">The voting system your Assembly selected and configured for this campaign is <b>{{votingBallot.systemType}}</b></li>
							<li type="none">
								<ul>
									<li  ng-repeat="pair in votingBallot.configs" type="circle">The {{pair.key}} of this voting ballot is {{pair.value}}.</li>
								</ul>
							</li>
							<li type="circle">When you are ready to vote, close the instruction window and start voting.</li>
						</ul>
					</div>
					<br>
					<div class="container additional-info">
							<h2><strong>Additional Information</strong></h2>
							<p class="info">{{votingBallot.notes}}</p>
							<br>
							<h3><strong>Technical Issues</strong></h3>
							<br>
							<ul class="list-unstyled">
								<li>Contact Cristhian at cristhian@example.com/ +1 999 999 9999</li>
							</ul>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			<ul class="list-unstyled voted-proposals">
				<li class="voted-proposal container" ng-repeat = "proposal in candidates | filter:query">
					<div class="proposal-content">
						<div class="col-md-2 col-sm-2 proposal-img-holder"
							 data-toggle="modal" data-target="#{{proposal.uuid}}modal"
							 background-image="/../assets/images/image78.jpg">
							<img class = "proposal-img" src="/../assets/images/image78.jpg">
						</div>
						<div class="col-md-6 col-sm-6 data">
							<h4 class="title" data-toggle="modal" data-target="#{{proposal.uuid}}modal"><b>{{proposal.title}}</b><img class = "img-circle assembly-img" src="/../assets/images/image71.tiff" class="img-circle"></h4>
							<h5 data-toggle="modal" data-target="#{{proposal.uuid}}modal"><b>Estimated Cost:</b>{{proposal.budget|currency}}</h5>
							<h5 data-toggle="modal" data-target="#{{proposal.uuid}}modal"><b>Location:</b>Berkeley, CA 94720</h5>
							<p class="description"><span data-toggle="modal" data-target="#{{proposal.uuid}}modal">{{proposal.text}}</span><span class="rate"><input type="number" class="form-control" id="{{proposal.uuid}}" placeholder="{{scores[proposal.uuid]}}"></span></p>
						</div>
					</div>

					<!-- Modal for information of the candidate -->
					<div class="modal fade" id="{{proposal.uuid}}modal" tabindex="-1" role="dialog" aria-labelledby="{{proposal.uuid}}Label">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="{{proposal.uuid}}Label">{{proposal.title}}</h4>
					      </div>
					      <div class="modal-body">
					        <h3><b>{{proposal.title}}</b></h3>
					        <h5><b>Authors:</b><span ng-repeat="author in proposal.authors">{{author}}</span></h5>
					        <h5><b>Working Group Authors:</b><span ng-repeat="author in proposal.workingGroupAuthors">{{author}}</span></h5>
					        <h5 class="theme-holder"><b>Themes:</b><span class = "themes" ng-repeat="theme in proposal.themes">{{theme}}</span></h5>
					        <br>
					        <img class="pull-right" src="/../assets/images/image78.jpg">					        
					        <p>{{proposal.text}}</p>
					        <br>
					        <h5><b>Comments:</b></h5>
					        <p class="comments" ng-repeat="comment in proposal.comments">{{comment}}</p>
					        
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>