<footer ng-controller="AccountCtrl">
	<div ng-if='!userIsAuthenticated()' class="jumbotron jumbotron-index jumbotron-copyright">
		<div class="container">
			<div class="row">
				<span>
					Created by the <a href="http://socialappslab.org/">Social Apps Lab</a> at CITRIS, University of California, Berkeley.<br/>
					2015-2016 &copy; Regents of the University of California <br/>
					In partnership with the <a href="https://mimove.inria.fr/">MiMove Team</a> at <a href="http://www.inria.fr/">INRIA</a>, France.
				</span>
				<h5><a ng-click="changeServer()">[DEV] Change Backend Server: </a> Currently Using {{serverBaseUrl}}</h5>
			</div>
		</div>
	</div>
	<div>
		<span app-version></span>
	</div>
</footer>