<!-- Fixed navbar -->
<div>
	<nav class="navbar navbar-default" role="navigation" ng-controller="AccountCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-menu">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a href="#/"><img src="/assets/images/logotype.svg" class="logotype" /></a>
			</div>

			<div class="collapse navbar-collapse navbar-left" id="navbar-options" ng-if='userIsAuthenticated()'>
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#/home"><strong>Home</strong></a></li>
					<li><a href="#/assemblies"><strong>Assemblies</strong></a></li>
				</ul>
			</div>

			<div class="collapse navbar-collapse navbar-right" id="navbar-menu" ng-if='!userIsAuthenticated()'>
				<form class="navbar-form navbar-left" role="login" ng-submit="login()">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control" ng-model="user.email">
						<input type="password" placeholder="Password" class="form-control" ng-model="user.password"/>
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Sign Up</button>	
				</form>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="form_person">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Register</div>
                    </div>
                    <div class="panel-body">
                        <div class="bg-success" style="padding:5px;border-radius:5px;text-align:center; margin-bottom:10px" id="success_person"></div>
                        <form id="signup_form" class="form-horizontal" role="form" method="post">
                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Username</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Desired Username" required ng-model="newUser.name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Desired Password" required ng-model="newUser.password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repeatPassword" class="col-md-3 control-label">Confirm Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Confirm Password" required ng-model="newUser.repeatPassword"/>
                                </div>
                            </div>
                     
                            <div class="form-group">
                                <!-- Button -->
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" name="submit" class="btn btn-primary" id="submit_person" ng-click="signup()" value="Submit" />
                                </div>
                            </div>
                        </form>
                        <!--end of signup_form-->
                    </div>
                </div>
            </div>
            <!--end of person registration-->
        </div>
    </div>
</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/user/recoveryform" ng-if='!userIsAuthenticated()'>Forgot Password?</a></li>
					<li ng-if='userIsAuthenticated()'><button type="button" class="btn btn-primary">Logout</button></li>
				</ul>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="user-menu" ng-if='userIsAuthenticated()'>
				<!--<form class="navbar-form navbar-left">
					<button type="button" class="btn btn-danger" ng-click="signout()">Log out</button>
				</form>-->
				<ul class="menu-elements">
					<li>
						<div class="dropdown">
							<div class="dropdown-toggle" id="notificationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<i class="fa fa-bars"></i>
							</div>
							<ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
								<li><a><strong>Notification 1</strong></a></li>
								<li><a>Notification 2</a></li>
								<li role="separator" class="divider"></li>
								<li><a>Notification 3</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<div class="dropdown-toggle" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								{{user.name}}
								<span class="caret"></span>
							</div>
							<ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
								<li><a>Send message</a></li>
								<li><a>Profile</a></li>
								<li><a>Settings</a></li>
								<li role="separator" class="divider"></li>
								<li><a ng-click="signout()">Sign out</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</div>