<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top" role="navigation" ng-controller="AccountCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-options">
            <span class="sr-only">{{'Toggle navigation' | translate}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" ng-if='userIsAuthenticated()'>
            <a href="#/"><img src="/assets/images/logo-white.svg" class="logotype" alt="{{ 'appcivist' | translate}}"/></a>
            <strong>AppCivist</strong>
        </div>

        <div class="navbar-brand" ng-if='!userIsAuthenticated()'>
            <a href="#section1" du-smooth-scroll><img src="/assets/images/logo-white.svg" class="logotype" alt="{{ 'appcivist' | translate}}"/></a>
            <strong>AppCivist</strong>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-options">
        <!-- Menu when the user is logged in-->
        <ul class="nav navbar-nav navbar-left" ng-if='userIsAuthenticated()'>
            <li><a href="#/home"><strong>{{'Home' | translate}}</strong></a></li>
            <li><a href="#/assemblies"><strong>{{'Assemblies' | translate}}</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right menu-elements" ng-if='userIsAuthenticated() && !onlyLanding'>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-inbox icon"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
                    <li><a><strong>{{'header.menu.Notification' | translate}} 1</strong></a></li>
                    <li><a>{{'header.menu.Notification' | translate}} 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a>{{'header.menu.Notification' | translate}} 3</a></li>
                </ul>
            </li>
            <li>
                <img class="navBarImage" src="../assets/images/unknown.jpg" ng-src="{{user.profilePic.urlLargeString}}" alt=""/>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{user.name}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
                    <li><a>{{'header.menu.Send message' | translate}}</a></li>
                    <li><a href="#/profile">{{'header.menu.Profile' | translate}}</a></li>
                    <li><a>{{'header.menu.Settings' | translate}}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="signout()">{{'header.sign_out' | translate}}</a></li>
                </ul>
            </li>
        </ul>


        <!-- Menu when the user is NOT logged in-->
        <ul class="nav navbar-nav navbar-left" ng-if='!userIsAuthenticated()'>
            <li><a href="#section2" du-smooth-scroll><strong>{{'landing.Learn more' | translate}}</strong></a></li>
            <li><a href="#section3" du-smooth-scroll><strong>{{'landing.section2.button' | translate}}</strong></a></li>
        </ul>

        <form class="navbar-form navbar-right" role="login" ng-submit="login()" ng-if='!userIsAuthenticated() && !hideLogin'>
            <div class="form-group">
                <input type="text" placeholder="{{'Email' | translate}}" class="form-control" ng-model="user.email" autocorrect="off" autocapitalize="off">
                <input type="password" placeholder="{{'Password' | translate}}" class="form-control" ng-model="user.password" autocorrect="off" autocapitalize="off"/>
            </div>
            <button type="submit" class="btn btn-success">{{'header.sign_in' | translate}}</button>
            <!--<button type="button" class="btn btn-info" ng-click="openNewUserModal()">{{'header.sign_up_individual' | translate}}</button>-->
            <!--<a ng-href="#/assembly/create?userIsNew=true"><button type="button" class="btn btn-info">{{'header.sign_up_group' | translate}}</button></a>-->
            <a href="/user/recoveryform">{{'header.Forgot password' | translate}}</a></li>
        </form>
    </div>
</nav>
