<div class="col-md-12 col-sm-12 col-lg-12" tabindex="-1"
     role="dialog" aria-labelledby="mySignupModal"
     aria-hidden="true">
    <div class="modal-content">
        <div id="form_person">
            <div class="modal-header">
                <h1><strong>{{'Send invitation for'| translate}} {{type}} {{targetId}}</strong></h1>
            </div>
            <div class="modal-body">
                <form id="signup_form" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Email" required ng-model="newInvitation.email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">{{'Invitation text' | translate}}</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="text" rows="6"
                                      ng-model="newInvitation.invitationEmail"
                                      placeholder="Hello! This is an invitation from AppCivist. Join us!">
                            </textarea>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="newInvitation.moderator"/>
                            <strong>{{'Invite user to be a moderator' | translate}}</strong>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="newInvitation.coordinator"/>
                            <strong>{{'Invite user to be a coordinator' | translate}}</strong>
                        </label>
                    </div>
                    <div class="voffset3"></div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary col-md-12"
                                   id="submit_person" ng-click="sendInvitation()" value="{{'Send' | translate}}"/>
                        </div>
                    </div>
                </form>
                <!--end of signup_form-->
            </div>
        </div>
        <!--end of person registration-->
    </div>
</div>