<div class="view">

	<div class="container marketing">
		<div class="row">
			<h3 class="summary-heading">AppCivist is a platform for
				democratic assembly and collective action.</h3>
			<div class="col-md-4">
				<div class="thumbnail assembly">
					<img class="img-circle" src="/assets/images/map-140.png" alt="Map">
				</div>
				<h4>Report issues</h4>
			</div>
			<div class="col-md-4">
				<div class="thumbnail assembly">
					<img class="img-circle" src="/assets/images/discuss-140.png"
						 alt="Discuss">
				</div>
				<h4>Propose solutions</h4>
			</div>
			<div class="col-md-4">
				<div class="thumbnail assembly">
					<img class="img-circle" src="/assets/images/visualize-140.png"
						 alt="Visualize">
				</div>
				<h4>Evaluate proposals</h4>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-index">
		<div class="container">
			<div class="row">
				<h3 class="summary-heading">AppCivist lets users make their own
					apps, called Assemblies, with modular components.</h3>
				<div class="col-md-1"></div>
				<div class="col-md-1">
					<i class="icon-doc-text"></i>
					<h5>Proposal Making</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-users"></i>
					<h5>Working Groups</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-flag-empty"></i>
					<h5>Mobilizing</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-chat-empty"></i>
					<h5>Deliberating</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-docs"></i>
					<h5>Versioning</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-chart-bar"></i>
					<h5>Visualizing</h5>
				</div>
				<!--           <div class="col-md-1">
            <i class="icon-edit"></i>
            <h5>Drawing</h5>
          </div>
 -->
				<div class="col-md-1">
					<i class="icon-thumbs-up"></i>
					<h5>Voting</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-megaphone"></i>
					<h5>Reporting</h5>
				</div>
				<div class="col-md-1">
					<i class="icon-location"></i>
					<h5>Mapping</h5>
				</div>
				<!--           <div class="col-md-1">
            <i class="icon-attention"></i>
            <h5>Alerts</h5>
          </div>
 -->
				<div class="col-md-1">
					<i class="icon-desktop"></i>
					<h5>Implementing</h5>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<div class="container marketing assembliesLanding">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 h1">
				<h3><strong>Current Assemblies</strong></h3>
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-4 col-md-4 col-sm-6 h1">
				<input type="text" class="form-control" placeholder="Search for..." ng-model="assemblyFilter"/>
			</div><!-- /.col-lg-6 -->
		</div>
		<div class="row assemblies">
			<div ng-if="assemblies.length > 0">
				<div class="col-sm-6 col-md-4" ng-repeat="assembly in assemblies | filter:assemblyFilter">
					<div class="thumbnail assembly">
						<img data-src="{{assembly.profile.icon}}" alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle">
						<div class="caption">
							<h4><strong>{{assembly.name}}</a></strong></h4>
							<!--
							<h5 class="text-muted"><strong><i><div ng-show="assembly.location.placeName != null">{{assembly.location.placeName}},</div> {{assembly.location.city}}, {{assembly.location.country}}</i></strong></h5>
							<p>{{assembly.description}}</p>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

