<div class="view">
	<div class="section first-section">
		<h1 class="main-title text-center">{{'MAIN_TITLE' | translate}}</h1>
		<form>
			<input type="text" class="form-control" id="username" name="username" placeholder="Name" required ng-model="newUser.name">
			<input type="text" class="form-control" id="email" name="email" placeholder="Email" required ng-model="newUser.email"/>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required ng-model="newUser.password"/>
			<a class="btn btn-yellow btn-lg" href="#" role="button">SIGN UP</a>
		</form>
		<h6 class="text-center bottom-info">Learn More</h6>
	</div>
	<div class="section first-section">
		<h2 class="main-title">{{'MAIN_TITLE' | translate}}</h2>
		<form>
			<input type="text" class="form-control" id="username" name="username" placeholder="Name" required ng-model="newUser.name">
			<input type="text" class="form-control" id="email" name="email" placeholder="Email" required ng-model="newUser.email"/>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required ng-model="newUser.password"/>
			<a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
		</form>
		<h6 class="text-center">Learn More</h6>
	</div>
	<div class="section first-section">
		<h2 class="main-title">{{'MAIN_TITLE' | translate}}</h2>
		<form>
			<input type="text" class="form-control" id="username" name="username" placeholder="Name" required ng-model="newUser.name">
			<input type="text" class="form-control" id="email" name="email" placeholder="Email" required ng-model="newUser.email"/>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required ng-model="newUser.password"/>
			<a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
		</form>
		<h6 class="text-center">Learn More</h6>
	</div>
	<div class="section first-section">
		<h2 class="main-title">{{'MAIN_TITLE' | translate}}</h2>
		<form>
			<input type="text" class="form-control" id="username" name="username" placeholder="Name" required ng-model="newUser.name">
			<input type="text" class="form-control" id="email" name="email" placeholder="Email" required ng-model="newUser.email"/>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required ng-model="newUser.password"/>
			<a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
		</form>
		<h6 class="text-center">Learn More</h6>
	</div>
</div>

