<div class="col-md-12 col-sm-12 col-lg-12" tabindex="-1"
     role="dialog" aria-labelledby="mySignupModal"
     aria-hidden="true">
        <div class="modal-content">
            <div id="form_person">
                <div class="modal-header">
                    <h1><strong>{{'Register' | translate}}</strong></h1>
                </div>
                <div class="modal-body">
                    <div class="modal-body" ng-include="'app/partials/signup-form.html'"></div>
                </div>
            </div>
        </div>

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-signup" />
</div>