<div class="col-md-12 col-sm-12 col-lg-12" tabindex="-1"
     role="dialog" aria-labelledby="mySignupModal"
     aria-hidden="true">
        <div class="modal-content">
            <div id="form_person">
                <div class="modal-header">
                    <h1><strong>Register</strong></h1>
                </div>
                <div class="modal-body">
                    <form id="signup_form" class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">Username</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="username"
                                       name="username" placeholder="Desired Username" required
                                       ng-model="newUser.name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">Email</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="email" name="email"
                                       placeholder="Email" required ng-model="newUser.email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>

                            <div class="col-md-9">
                                <input type="password" class="form-control" id="password"
                                       name="password" placeholder="Desired Password" required
                                       ng-model="newUser.password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword" class="col-md-3 control-label">Confirm
                                Password</label>

                            <div class="col-md-9">
                                <input type="password" class="form-control" id="repeatPassword"
                                       name="repeatPassword" placeholder="Confirm Password" required
                                       ng-model="newUser.repeatPassword"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" name="submit" class="btn btn-primary"
                                       id="submit_person" ng-click="signup()" value="Submit"/>
                            </div>
                        </div>
                    </form>
                    <!--end of signup_form-->
                </div>
            </div>
            <!--end of person registration-->
        </div>
</div>