<div class="view container section first-section invitation">
    <div id="section1" ng-if="invitation.email">
        <h1 class="main-title text-center">
            {{'You have been invited to join AppCivist to participate in the' | translate}} <span translate="invitation.targetType"></span>
            <b>{{invitation.targetType === 'ASSEMBLY' ? invitation.targetAssembly.name : invitation.targetGroup.name}}</b>
        </h1>
        <h1 class="main-title text-center">{{'landing.tagline' | translate}}</h1>
        <div class="main-title">
            <div class="col-md-3"></div>
            <!--<div class="col-md-6" ng-if="!invitation.userId" ng-include="'app/partials/signup-form.html'"></div>-->
            <signup-form class="col-md-6" ng-if="!invitation.userId"></signup-form>
            <div class="col-md-3"></div>
        </div>
        <div class="main-title">
            <button class="btn btn-success btn-lg" role="button" ng-if="invitation.userId > 0" type="button" ng-click="sendResponse('ACCEPT')">{{'Accept Invitation' | translate}}</button>
            <button class="btn btn-danger btn-lg" role="button" ng-if="invitation.userId > 0" type="button" ng-click="sendResponse('REJECT')">{{'Reject Invitation' | translate}}</button>
        </div>
        <h6 class="text-center bottom-info"></h6>
    </div>
    <div ng-if="!invitation.token && errors[0].responseStatus==='NOTAVAILABLE'">
        <h6 class="text-center bottom-info"></h6>
        <h1 class="main-title text-center">
            {{'The invitation you are trying to access has been removed or has already expired.' | translate}}
        </h1>
        <div class="voffset6"></div>
        <h6 class="text-center bottom-info"></h6>
        <div class="voffset3"></div>
    </div>
</div>