<div class="box settingsBox">
    <div class="row header col-md-12 col-sm-12">
        <h3><strong>Template Review: </strong> {{selectedTemplate.name}}</h3>
    </div>
    <div id="campaignLinkedBox" class="row col-md-12 col-sm-12" ng-show="newCampaign.template.value==='LINKED'">
        <label><strong>Linked Campaign: </strong> {{newCampaign.linkedCampaign.title}}</label>

        <div class="themes-container-content optionThemes">
            <input type="checkbox" value="" ng-model="newCampaign.useLinkedCampaign"
            ng-click="updateLinkedCampaign()">
            <span>Use the linked campaign's <strong>Deliberation</strong> and <strong>Voting</strong> components.</span>
        </div>
        <div class="row col-md-12 col-sm-12 box descriptionBox">
            <p>If enabled, deliberating and voting will proceed according to the rules set by the parent Assembly
                of the linked campaign, <strong>'{{newCampaign.linkedCampaign.title}}'</strong>. Therefore,
                users will only deliberate and vote once, within that linked campaign. If disabled, users will
                deliberate and vote within their our Assembly Campaign and again within the Linked Assembly
                Campaign.</p>
        </div>
    </div>

    <div class="row col-md-12 col-sm-12">
        <div class="form-horizontal">
            <div class="form-group">
                <h4>
                    <label for="timeline" class="control-label">
                        Proposal Development Timeline:
                        <i class="fa fa-question-circle" uib-tooltip="{{info.proposalTimeline}}" tooltip-placement="right"></i>
                    </label></h4>
                </h4>
                <timelineedit id="timeline"></timelineedit>
            </div>
        </div>
    </div>
</div>