#contributionView{
  margin: 1%;
  & .view{
    background: white;
  }

  .optionsBox{
    background-color: $assembly-optionsBox;
    padding: 1rem;
    border-radius: 0.5rem;
    .checkbox{
      padding-left: 2rem;
    }
  }

  .forum{
    margin-left: 2rem;

    .button{
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: -1rem;

      &.cancelButton{
        margin-left: 1rem;
      }

      &.replyButton{
        margin-bottom: -3rem;
      }
    }
  }

  .infoBox{
    text-align: center;
  }
}