#contributionView{
  margin: 1%;
  & .view{
    background: white;
  }

  .optionsBox{
    background-color: $assembly-optionsBox;
    padding: 1rem;
    border-radius: 0.5rem;
    .checkbox{
      padding-left: 2rem;
    }
  }

  .forum{
    margin-left: 2rem;

    .button{
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: -1rem;

      &.cancelButton{
        margin-left: 1rem;
      }

      &.replyButton{
        margin-bottom: -3rem;
      }
    }
  }

  .infoBox{
    text-align: center;
  }
}

.contribution{
  border: 0.1rem solid $contribution-border;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-flex;

  & .row{
    margin-left: 0;
    margin-right: 0;
  }

  & .contribution-content{
    padding: 1.5rem;

    & .contribution-info-user{
      display: inline-block;
      margin: 0 1rem;
      & .image-profile-contribution {
        display: inline-block;
        & img {
          background-size: 100%;
          height: 40px;
          width: 40px;
          border-radius: 20px;
        }
      }
    }
  }

  & .push-to-bottom {
    bottom: 5%;
  }

  & .contribution-title{
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
  }

  & .contribution-description{
    display: inline;
  }

  .contribution-background{
    background-size: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    align-self: center;
  }

  .tag-info-proposal{
    position: relative;
    top: 17rem;
    left: 0rem;
  }

  .contribution-info-user-wgroup{
    & .image-profile-contribution {
      display: inline-block;
      & img {
        background-size: 100%;
        height: 7rem;
        width: 7rem;
        border-radius: 4rem;
      }
    }
  }
}

.modal-dialog {
  &.modal-lg {
    width:75%;
    max-height: 800px;
  }
}


.etherpad {
  padding: 1.5rem;
}

/* vote bar */
.consensus-controls {
  text-align:center;
  padding: 20px 0 0 0;
}
