<div class="row contribution-meta col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 no-padding">
        <div class="tag tag-info" ng-repeat="theme in contribution.themes">
            <strong class="text-muted">{{theme.title}}</strong>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 no-padding contribution-info-user">
        <!-- For brainstorming contributions or comments, show the User author -->
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding no-margin">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 image-profile-contribution no-padding" ng-if="contribution.type==='BRAINSTORMING'">
                <img ng-src="{{contribution.authors[0].profilePic.urlLargeString}}" alt="" src="../assets/images/unknown.jpg">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 info-block"  ng-if="contribution.type==='BRAINSTORMING'">
                <em>{{contribution.authors[0].name}}</em>
            </div>

            <!-- For PROPOSAL contributions or comments, show the Group author -->
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 image-profile-contribution no-padding" ng-if="contribution.type==='PROPOSAL'">
                <img ng-src="{{contribution.workingGroupAuthors[0].profile.icon}}" alt="" src="../assets/images/unknown.jpg">
            </div>

            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 info-block no-padding"  ng-if="contribution.type==='PROPOSAL'">
                <a ng-href="#/assembly/{{assemblyID}}/group/{{contribution.workingGroupAuthors[0].groupId}}"><em>{{contribution.workingGroupAuthors[0].name}}</em></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info-block no-padding ">
                <time datetime="{{contribution.creation}}">{{contribution.creation | date:'MMM d, y'}}</time>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding no-margin">
            <votes-counter contribution="contribution"></votes-counter>
        </div>

    </div>
    <div class="col-md-12 col-sm-12" ng-if="enableVoting">
      <consensus-controls contribution="contribution"
                          bindingresults="campaign.ballotResults"
                          consultiveresults="campaign.consultiveBallotResults"
                          ballotpaper="campaign.ballotPaper"></consensus-controls>
    </div>
</div>
