<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--<h5 class="contribution-title" data-toggle="modal" data-target="#contributionView" ng-click="selectContribution(contribution)"><strong>{{contribution.title}}. </strong></h5><p class="contribution-description"> {{contribution.text}}</p>-->
    <h4 class="contribution-title">
        <strong ng-if="!doNotSummarizeText">
            {{contribution.title|limitTo:97}}{{(contribution.title.length) > 97 ? '...' : '.' }}
        </strong>
        <strong ng-if="doNotSummarizeText">{{contribution.title}}</strong>

    </h4>
    <p class="contribution-description" ng-if="!doNotSummarizeText">
        {{contribution.text|limitTo:97}}{{(contribution.text.length) > 97 ? '...' : '.' }}
    </p>

    <p class="contribution-description" ng-if="doNotSummarizeText">{{contribution.text}}</p>
</div>

