<div class="row contribution-meta col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 no-padding">
        <div class="tag tag-info" ng-repeat="theme in contribution.themes">
            <strong class="text-muted">{{theme.title}}</strong>
        </div>
    </div>

    <ng-include src="'app/partials/contributions/contribution/contributionMetaAuthors.html'"></ng-include>

    <div class="col-md-12 col-sm-12" ng-if="enableVoting">
      <consensus-controls contribution="contribution"
                          bballot="bindingBallotId"
                          bindingresults="bindingResults"
                          ballotpaper="ballotPaper"></consensus-controls>
    </div>
</div>
