.proposal{
  border: 0.1rem solid #0f0f0f;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: inline-flex; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 

  & .row{
    margin-left: 0;
    margin-right: 0;
  }
  & .proposal-content{
    padding: 1.5rem;
    & .proposal-image{
        display: block; 
        width: 300px;
        height: 150px;
        overflow: hidden; 
      & img{
        top: 0px; 
        clip: rect(0px,300px,150px,0px);
        z-index: -1; 
      }
      & .tag {
        top: 50%;                                                   
        z-index: 10;
      }
    }

    & .proposal-info{
      display: inline-block; 
      & .comments-icon{
        width: 2rem;
        display: inline-block; 
        text-align: center; 
        vertical-align: middle; 
        margin: 0.1rem; 
        .total-replies{
          display: block; 
          margin: -0.9 rem 0; 
          text-align: center; 
        }
      }
    }
  }
  & .proposal-title{
    display: inline-block; 
    margin: 0; 
  }
  & .proposal-description{
    display: inline; 
  }
} 
