<div class="modal fade dashboardModal consentModal" id="consentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          &nbsp;
        </div>
        <div class="modal-body" ng-bind-html="vm.consentText"></div>
        <div class="modal-footer text-right" >
          {{ 'Your current answer is' | translate}}:&nbsp;
          <button ng-if="vm.userParticipation.userProvidedConsent && vm.userParticipation.userConsent" class="btn btn-success consent-button" disabled>{{vm.agreeText}}</button>
          <button ng-if="vm.userParticipation.userProvidedConsent && !vm.userParticipation.userConsent" class="btn btn-danger consent-button" disabled>{{vm.disagreeText}}</button>
          <button class="btn btn-success consent-button" ng-click="vm.updateConsent('true')">{{ vm.agreeText }}</button>
          <button class="btn btn-danger consent-button" ng-click="vm.updateConsent('false')">{{ vm.disagreeText }}</button>
        </div>
      </div>
    </div>
  </div>
