<style>
  input[type=submit] {
    background: #11493b;
    border-color: #11493b;
  }

  input[type=submit]:hover {
    background-color: #009877;
  }

  input[type=password] {
    border-radius: 0;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: none;
    background-color: white;
    padding: 0.46875em;
  }
</style>
<!-- TODO: add the cover of the assembly also in the header, with the green-tinted overlay
  <header class="page__header" style="background-image: linear-gradient(to bottom, rgba(0, 152, 119, 0.8), rgba(0, 152, 119, 0.8)), url('{{assembly.profile.cover}}');">
-->
<header class="page__header">
  <div class="title_block">
    <h1 class="heading--title">Sign in</h1>
  </div>
</header>
<br />
<br />
<main class="appmain">
  <figure class="photo" style="text-align: center;" ng-if="domain && assembly.profile.icon">
    <img ng-src="{{assembly.profile.icon}}" alt="Avatar" width="250px"/>
  </figure>
  <form ng-submit="login()">
    <fieldset class="row">
      <div class="field-container col-lg-4 col-offset-4">
        <label for="text">Email</label>
        <input class="form-input" ng-model="user.email" id="text" type="text" placeholder="Text Input" autofocus>
      </div>
    </fieldset>
    <br />
    <fieldset class="row">
      <div class="field-container col-lg-4 col-offset-4">
        <label for="password">Password</label>
        <input class="form-input" ng-model="user.password" id="password" type="password" placeholder="Type your Password">
      </div>
    </fieldset>
    <br />
    <fieldset class="row">
      <div class="field-container col-lg-4 col-offset-4">
        <input type="submit" class="form-submit btn--primary btn--block" placeholder="Text Input">
      </div>
    </fieldset>
  </form>
  <br />
</main>
