<!-- V2 version -->
<style>
  footer .footer__content {
    text-align: center;
  }

  button,
  .button {
    background-color: #009877;
    border-color: #009877;
  }

  a:hover {
    color: #009877;
  }

  button:hover,
  .button:hover {
    background-color: #009877;
  }

  input[type=submit] {
    background: #009877;
    border-color: #009877;
  }

  input[type=submit]:hover {
    background-color: #009877;
  }

  .vote-button {
    border-color: #009877;
    color: #009877;
  }

  .vote-button:hover {
    background-color: #009877;
  }

  .vote-button a {
    color: #11493b;
  }

  .mce-tinymce button,
  .mce-tinymce button:hover,
  .mce-tinymce .button,
  .mce-tinymce .button:hover,
  .mce-container button,
  .mce-container button:hover,
  .mce-container .button,
  .mce-container .button:hover {
    background-color: initial;
    border-color: initial;
  }
</style>

<div class="appcivist" ng-class="{'nav--active': nav.isActive}">

  <div ng-if="userIsAuthenticated && !isLoginPage && !isHomePage && !isAssemblyHome" ng-include="'/app/v2/partials/navigation-bar/navigation-bar-large.html'"></div>
  <div ng-if="!userIsAuthenticated && !isLoginPage && !isHomePage && !isAssemblyHome" ng-include="'/app/v2/partials/navigation-bar/navigation-bar-large-anonymous.html'"></div>

  <ui-view></ui-view>

  <session-modal show-login="sessionModalIsSignIn"></session-modal>

  <footer class="appmain" ng-if="!isAssemblyHome">
    <div class="footer__content">
      <p class="attribution">
        <div class="footer__logo">
          <svglogo width="32" height="32"></svglogo>
        </div>
        <copyright></copyright>
      </p>
    </div>
  </footer>
</div>
