<div class="app-container">
	<nav class="navigation-anonymous">
		<div class="logo">
			<h1 class="heading--headline">City of Vallejo
			<span>Vallejo, CA</span></h1>
      <h3 class="heading--subheader">
          <div class="logo-small">
              <strong>Powered by Appcivist</strong>
          </div>
      </h3>
		</div>
		<div class="logo"></div>
		<div class="sign-up" ng-if="!isLoginPage">
			<a ng-href="#/v2/login">{{'Login' | translate}}</a> {{'or' | translate}} <a ng-href="#/">{{'Signup' | translate}}</a>
		</div>
	</nav>
</div>
