<div>
    <!-- Campaigns -->
    <div class="voffset4"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>
                <strong>
                    <span ng-if="isHome" translate='My Campaigns'></span>
                    <span ng-if="!isHome">{{'Campaigns' | translate}}</span>
                </strong>
            </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a ng-if="checkShow('campaignButton')"
               ng-href="#/v1/assembly/{{assemblyID}}/campaign/create">
                <button class="btn btn-primary col-md-12">
                    <h5><strong>{{'New Campaign' | translate}}</strong></h5>
                </button>
            </a>
        </div>
    </div>

    <side-box box="sideBoxes['onCampaigns']" ng-if="sideBoxes['onCampaigns'].itemList.length>0"></side-box>
    <side-box box="sideBoxes['upCampaigns']" ng-if="sideBoxes['upCampaigns'].itemList.length>0"></side-box>
    <side-box box="sideBoxes['pastCampaigns']" ng-if="sideBoxes['pastCampaigns'].itemList.length>0"></side-box>
</div>
