<div class="row col-md-12 col-sm-12 box settingsBox infoBox">
    <div class="row">
        <!-- Box Title -->
        <div id="boxTitle" class="col-md-6 col-sm-6"><h4><strong>{{box.title}}</strong></h4></div>
        <!-- Box Action -->
        <div id="boxAction"  class="col-md-6 col-sm-6" ng-if="box.addAction">
            <div class="col-md-2">
                <a ng-href="{{box.addAction.href}}">
                    <img class="image-circle-sidebox" alt="100x100" src="../assets/images/addIcon.png">
                </a>
            </div>
            <div class="col-md-8">
                <h5>{{box.addAction.title}}</h5>
            </div>
        </div>
    </div>

    <div class="row list-item" ng-if="!box.error">
        <div class="item" ng-repeat="item in box.itemList">
            <div class="image-capsule">

                <!-- Links if items are Users -->

                <!-- Links if items are Assemblies -->
                <a ng-if="box.type==='ASSEMBLIES'"
                   ng-href="/#/assembly/{{item.assemblyId}}/forum">
                    <img ng-src="{{item.profile.icon}}" alt="100x100"
                         class="image-circle">
                    <div class="caption">
                        <h5 class="text" title="{{item.name}}">{{item.name}}</h5>
                    </div>
                </a>
                <!-- Links if items are Campaigns-->
                <a ng-if="box.type==='CAMPAIGNS'"
                   ng-click="selectCampaign(item)" ng-href="#/assembly/{{item.assemblies[0]}}/campaign/{{item.campaignId}}"><img alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle">
                    <div class="caption" style="text-align: center">
                        <h5 class="text" title="{{item.title}}">{{item.title}}</h5>
                    </div>
                </a>

                <!-- Links if items are Working Groups-->
                <a ng-if="box.type==='GROUPS'"
                   ng-href="#/assembly/{{item.assemblies[0]}}/group/{{item.groupId}}">
                    <img alt="100x100" src="../assets/images/dublin.jpg"
                         data-holder-rendered="true"
                         class="image-circle">
                    <div class="caption" style="text-align: center">
                        <h5 class="text" title="{{item.name}}">{{item.name}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row list-item" ng-if="box.error">
        <div class="alert alert-info" role="alert">
            {{box.errorMessage}}
        </div>
    </div>

</div>
