<div class="row col-md-12 col-sm-12 box settingsBox infoBox">
    <div class="row">
        <!-- Box Title -->
        <div id="boxTitle" class="col-md-7 col-sm-7"><h4><strong>{{box.title}}</strong></h4></div>
        <!-- Box Action -->
        <div id="boxAction"  class="col-md-5 col-sm-5" ng-if="box.addAction">
            <a ng-href="{{box.addAction.href}}">
                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png"
                     style="height: 25px; width:25px; display: inline-block;"
                     data-holder-rendered="true" class="image-circle"
                     style="cursor: pointer">
            </a>
            <h5 style="display: inline-block;">{{box.addAction.title}}</h5>
        </div>
    </div>

    <div class="row list-item" ng-if="!box.error">
        <div class="item" ng-repeat="item in box.itemList">
            <div class="image-capsule">

                <!-- Links if items are Users -->

                <!-- Links if items are Assemblies -->
                <a ng-if="box.type==='ASSEMBLIES'"
                   ng-href="/#/assembly/{{item.assemblyId}}/forum">
                    <img ng-src="{{item.profile.icon}}" alt="100x100"
                         class="image-circle">
                    <div class="caption" style="text-align: center">
                        <h5 class="text" title="{{item.name}}">{{item.name}}</h5>
                    </div>
                </a>
                <!-- Links if items are Campaigns-->
                <a ng-if="box.type==='CAMPAIGNS'"
                   ng-click="selectCampaign(item)" ng-href="#/assembly/{{item.assemblies[0]}}/campaign/{{item.campaignId}}"><img alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle">
                    <div class="caption" style="text-align: center">
                        <h5 class="text" title="{{item.title}}">{{item.title}}</h5>
                    </div>
                </a>

                <!-- Links if items are Working Groups-->
                <a ng-if="box.type==='GROUPS'"
                   ng-href="#/assembly/{{item.assemblies[0]}}/group/{{item.groupId}}">
                    <img alt="100x100" src="../assets/images/dublin.jpg"
                         data-holder-rendered="true"
                         class="image-circle">
                    <div class="caption" style="text-align: center">
                        <h5 class="text" title="{{item.name}}">{{item.name}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row list-item" ng-if="box.error">
        <div class="alert alert-info" role="alert">
            {{box.errorMessage}}
        </div>
    </div>

</div>
