.campaign-creation{
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .template-configuration{
    margin-top: -10px;
  }

  .short-input{
    width: 5rem;
  }

  .short-input-label{
    width: 5rem;
    text-align: center;
  }
}