<div class="view home">
	<div class="container">
		<div class="col-md-8 col-sm-8">
			<h3><strong>Updates</strong></h3>
			<div class="box newsBox">
				<strong>Upcoming Milestones</strong>
				<ul class="upcoming-milestones-list">
					<li ng-repeat="milestone in notifications.upcoming_milestones">
						<!--<p><u><strong>Campaign Belleville - Paris PB 2016: </strong></u>Proposal drafts are due in <strong>2 days.</strong></p>-->
						<p><strong>{{milestone.resourceSummary}}</strong>.
							<a  ng-click="selectCampaignById(milestone.containerId)" ng-href="#/campaign/{{milestone.containerId}}">Go to campaign!</a>
						</p>
					</li>
				</ul>
			</div>
			<ul class="row comments col-md-12 col-sm-12">
				<li class="row comment col-md-12 col-sm-12">
					<div class="row col-md-12 col-sm-12">
						<h5 class="user-comment inline"><strong>Campaign Contribution</strong></h5>
						<div class="options-comment inline pull-right">
							<ul class="tags">
								<li class="tag"><strong>Urban infrastucture</strong></li>
							</ul>
						</div>
					</div>
					<div class="row col-md-12 col-sm-12">
						<div class="col-md-12 col-sm-12 text-comment">
							<p class="comment-comment"><a><strong>Alicia M. posted a new contribution in the Campaign "Belleville - Paris PB 2016"</strong></a></p>
							<br/>
							<p class="comment-comment"><a class="text-muted"><i><strong>Empty lot in Channing and Telegraph. </strong>For the past 10 years, this empty lot has been a problem for ...</i></a></p>
							<br/>
							<a><muted><i>Go to the Campaign Page</i></muted></a>
						</div>
					</div>
				</li>
				<li class="row comment col-md-12 col-sm-12">
					<div class="row col-md-12 col-sm-12">
						<h5 class="user-comment inline"><strong>Assembly Forum Post</strong></h5>
						<div class="options-comment inline pull-right">
							<ul class="tags">
								<li class="tag"><strong>Urban infrastucture</strong></li>
							</ul>
						</div>
					</div>
					<div class="row col-md-12 col-sm-12">
						<div class="col-md-12 col-sm-12 text-comment">
							<p class="comment-comment"><a><strong>Alicia M. posted in the Assembly "Assemblée Belleville" Forum</strong></a></p>
							<br/>
							<p class="comment-comment"><a class="text-muted"><i><strong>Proposals for Urban infrastucture. </strong>Hey guys, I think we should start a campaign to develop proposals for Urban infrastucture. What do you think?</i></a></p>
							<br/>
							<a><muted><i>Go to the Assembly Page</i></muted></a>
						</div>
					</div>
				</li>
				<li class="row comment col-md-12 col-sm-12">
					<div class="row col-md-12 col-sm-12">
						<h5 class="user-comment inline"><strong>Assembly Update</strong></h5>
					</div>
					<div class="row col-md-12 col-sm-12">
						<div class="col-md-12 col-sm-12 text-comment">
							<p class="comment-comment"><a>The Assembly <strong>"Mairie de Paris" </strong>is now receiving proposals for the PB voting due in 30 days.</a></p>
							<br/>
							<a><muted><i>Go to the Campaign Page</i></muted></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="row col-md-12 col-sm-12 box settingsBox infoBox assembliesBox" ng-if="assemblies.length > 0">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h4><strong>My Assemblies</strong></h4>
					</div>
					<div class="col-md-6 col-sm-6">
						<a ng-href="/#/assembly/create/step1" href="/#/assembly/create/step1">
							<img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png" style="height: 25px; width:25px; display: inline-block;" data-holder-rendered="true" class="image-circle" style="cursor: pointer">
						</a>
						<h5 style="display: inline-block;">New Assembly</h5>
					</div>
				</div>
				<div class="row list-item assembliesList">
					<div class="row">
						<div class="assemblyItem item" ng-repeat="assembly in assemblies">
							<div class="image-capsule">
								<a ng-href="#/assembly/{{assembly.assemblyId}}/forum"><img data-src="{{assembly.profile.icon}}" alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle">
									<div class="caption" style="text-align: center">
										<h5 class="text" title="{{assembly.name}}">{{assembly.name}}</h5>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row col-md-12 col-sm-12 box settingsBox infoBox campaignsBox" ng-if="campaigns.length > 0">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h4><strong>My Campaigns</strong></h4>
					</div>
				</div>
				<div class="row list-item campaignsList">
					<div class="row">
						<div class="campaignItem item" ng-repeat="campaign in campaigns">
							<div class="image-capsule">
								<a ng-click="selectCampaign(campaign)" ng-href="#/assembly/{{campaign.assemblies[0]}}/campaign/{{campaign.campaignId}}"><img alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle">
									<div class="caption" style="text-align: center">
										<h5 class="text" title="{{campaign.title}}">{{campaign.title}}</h5>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row col-md-12 col-sm-12 box settingsBox infoBox workingGroupBox" ng-if="workingGroups.length > 0">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h4><strong>My Working Groups</strong></h4>
					</div>
				</div>
				<div class="row list-item workingGroupsList">
					<div class="row">
						<div class="workingGroupItem item" ng-repeat="workingGroup in workingGroups">
							<div class="image-capsule">
								<a ng-href="#/campaign/{{workingGroup.groupId}}/forum"><img alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle">
									<div class="caption" style="text-align: center">
										<h5 class="text" title="{{workingGroup.name}}">{{workingGroup.name}}</h5>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>