<div class="view" ng-controller="AssemblyCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h1><strong>Featured Assemblies</strong></h1>
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="input-group h1">
					<input type="text" class="form-control" placeholder="Search for...">
      				<span class="input-group-btn">
        				<button class="btn btn-default" type="button">Search</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h2>hola</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h2>hola</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h2>hola</h2>
			</div>
		</div>
	</div>
</div>