<div class="view home">
	<div class="container">
		<div class="col-md-8 col-sm-8">
			<h3><strong>{{'Updates' | translate}}</strong></h3>
			<ng-include src="'app/partials/home/upcoming-milestones.html'"></ng-include>
			<ng-include src="'app/partials/home/other-updates.html'"></ng-include>
		</div>
		<div class="col-md-4 col-sm-4">
			<!-- Assemblies -->
			<ng-include src="'app/partials/boxes/assemblyBoxes.html'"></ng-include>

			<!--<side-box id="myAssemblies" box="sideBoxes['assemblies']"></side-box>-->

			<!-- Campaigns -->
			<ng-include src="'app/partials/boxes/campaignBoxes.html'"></ng-include>

			<!-- Working Groups -->
			<div class="voffset4"></div>
			<ng-include src="'app/partials/boxes/groupBoxes.html'"></ng-include>

			<!--<side-box id="myCampaigns" box="sideBoxes['campaigns']"></side-box>-->
			<!--<side-box id="myGroups" box="sideBoxes['groups']"></side-box>-->



		</div>
	</div>
</div>