.timeline{
  list-style: none;
  display: inline-block;
  width: 100%;

  & li{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background-color: $timeline-background;
    color: $timeline-selected-background;
    opacity: 0.1;
    width: 25%;

    &:first-child{
      width: 30%;
    }

    &:last-child{
      width: 15%;
    }

    & :only-child{
      margin-left: 5%;
    }

    &#proposalMakingPhase{
      width: 30%;
    }

    &#versioningPhase{
      width: 25%;
    }

    &#deliberationPhase{
      width: 25%;
    }

    &#votingPhase{
      width: 15%;
    }

    &.selected{
      color: white;
      background-color: $timeline-selected-background;
      opacity: 1;
      z-index: 5 !important;
    }

    &.selected:before{
      border-left-color: $timeline-selected-background;
    }

    &.active{
      opacity: 1;
    }
  }

  & li:before, li:after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  & li:after{
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 30px;
    margin-top: -30px;
    z-index: -1;
  }

  & li:before{
    border-color: rgba(194, 225, 245, 0);
    border-left-color: $timeline-background;
    border-width: 27px;
    margin-top: -27px;
  }

  #proposalMakingPhase{
    z-index: 4;
  }

  #versioningPhase{
    z-index: 3;
  }

  #deliberationPhase{
    z-index: 2;
  }

  #votingPhase{
    z-index: 1;
  }
}