<ul id="timeline" class="row timeline">
    <li id="proposalMakingPhase" class="{{proposalMakingState}}">
        <h4><strong>Proposal Making</strong></h4>
    </li>
    <li id="versioningPhase" class="{{versioningState}}">
        <h4><strong>Versioning</strong></h4>
    </li>
    <li id="deliberationPhase" class="{{deliberationState}}">
        <h4><strong>Deliberation</strong></h4>
    </li>
    <li id="votingPhase" class="{{votingState}}">
        <h4><strong>Voting</strong></h4>
    </li>
</ul>