<div class="row col-lg-12 col-md-12 col-sm-12">
    <ul id="timeline" class="timeline">
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
            ng-class="component.componentId === componentID ? 'active selected' : 'active'"
            ng-repeat="component in components track by $index">
            <h4 ng-if="component.timeline === 1">
                <a ng-href="#/assembly/{{assemblyID}}/campaign/{{campaignID}}/{{component.componentId}}">
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;{{component.title}}</strong>
                </a>
            </h4>
        </li>
    </ul>
</div>