<ul id="timeline" class="row timeline">
    <li id="phase"
        ng-repeat="component in proposalComponents track by $index"
        class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
        ng-class="!component.linked ? component.active ? 'active selected' : 'active' : 'disabled'"
        ng-click="changeComponentState($index,!component.active)"
        ng-if="component.enabled"
        uib-tooltip="{{!component.linked ? component.name : 'Linked components cannot be edited' | translate}}"
        tooltip-placement="right">
        &nbsp;&nbsp;&nbsp;&nbsp;{{ component.name | translate | limitTo: 8  }}{{component.name.length > 8 ? '...' : ''}}
    </li>
    <!-- TODO: think of a better way of showing linked campaign phases -->
</ul>