<div class="view forum">
    <div class="container">
        <div class="row">
            <div id="assemblyInfoActivity" class="col-md-8 col-sm-8 discussion">
                <div id="assemblyInfo" class="row header col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="thumbnail assembly">
                            <img alt="100x100" src="{{currentAssembly.profile.icon}}"
                                 data-holder-rendered="true" class="image-circle">
                            <div class="caption">
                                <h4><strong>{{currentAssembly.name}}</strong></h4>
                                <h5>
                                    <strong>
                                        <span ng-show="currentAssembly.location.placeName != null">
                                            {{currentAssembly.location.placeName}}
                                        </span>
                                        <span ng-show="currentAssembly.location.placeName != null
                                           && (currentAssembly.location.city != null
                                               || currentAssembly.location.country != null)">- </span>
                                        <span ng-show="currentAssembly.location.city != null">
                                            {{currentAssembly.location.city}}
                                        </span>
                                        <span ng-show="currentAssembly.location.city != null
                                         && currentAssembly.location.country != null">- </span>
                                        <span ng-show="currentAssembly.location.city != null">
                                            {{currentAssembly.location.country}}
                                        </span>
                                    </strong>
                                </h5>
                                <p>{{currentAssembly.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="assemblyActivity" class="row">
                    <div class="col-md-9 col-sm-9">
                        <h1><strong>Assembly Forum</strong></h1>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h1 ng-if="checkShow('joinButton')">
                            <button class="btn btn-success" ng-click="startSpinner()"><h4 style="float:right;"><strong>Join Assembly</strong></h4></button>
                        </h1>
                    </div>
                </div>
                <div id="assemblyActivityThemes" class="row">
                    <div class="col-md-1 col-sm-1 forum-title">
                        <h5><strong>Themes</strong></h5>
                    </div>
                    <div class="col-md-11 col-sm-11">
                        <ul class="tags tags-filter">
                            <li class="tag tag-filter"><strong>All</strong></li>
                            <li class="vertical-divider">
                                &nbsp;
                            </li>
                            <li ng-if="currentAssembly.themes.length > 0" ng-repeat="theme in currentAssembly.themes|limitTo:2" class="tag tag-filter">
                                <strong>{{theme.title}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="assemblyActivityFilters" class="row">
                    <div class="col-md-3 col-sm-3">

                    </div>
                    <div class="col-md-6 col-sm-6 col-md-push-2 col-sm-push-2 col-md-pull-1 col-sm-pull-1">
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchComments"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Search</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Order by:
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Most recent</a></li>
                                    <li><a href="#">Oldest</a></li>
                                    <li><a href="#">Random</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <new-forum-post
                        id="assemblyForumCommentBox"
                        class="row col-md-11 col-sm-11"
                        targetspaceid="currentAssembly.forumResourceSpaceId"
                        targetspace="currentAssembly.forumPosts"
                        themes="currentAssembly.themes"
                        ctype="FORUM_POST"
                        ng-model="newContribution">
                </new-forum-post>
                <div id="assemblyForumComments" class="row col-md-11 col-sm-11">
                    <ul class="comments">
                        <li class="row comment col-md-12 col-sm-12" ng-repeat="comment in currentAssembly.forumPosts | orderBy: 'date' | filter: searchComments">
                            <div class="row col-md-12 col-sm-12">
                                <div class="image-profile-comment inline">
                                    <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/unknown.jpg" alt="" />
                                </div>
                                <h5 class="user-comment inline">{{comment.authors[0].name}}. / </h5>
                                <h5 class="date-comment inline"><time datetime="{{comment.lastUpdate}}"/>{{comment.lastUpdate | date:"dd MMMM yyyy 'at' HH:mm:ss"}}</h5>
                                <div class="options-comment inline">
                                    <ul class="tags" ng-repeat="theme in comment.themes">
                                        <li class="tag"><strong>{{theme.title}}</strong></li>
                                    </ul>
                                </div>
                                <votes-counter class="pull-right" content="comment"></votes-counter>
                            </div>
                            <div class="row col-md-12 col-sm-12">
                                <div class="col-md-12 col-sm-12 text-comment">
                                    <p class="comment-comment"><a>{{comment.text}}</a></p>
                                </div>
                            </div>
                            <ul class="row comments col-md-11 col-sm-11">
                                <li class="row comment col-md-12 col-sm-12 reply" ng-repeat="commentReply in comment.comments | orderBy: 'date' | filter: searchComments">
                                    <div class="row col-md-12 col-sm-12">
                                        <div class="image-profile-comment inline">
                                            <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/unknown.jpg" alt="" />
                                        </div>
                                        <h5 class="user-comment inline">{{commentReply.authors[0].name}}. / </h5>
                                        <h5 class="date-comment inline"><time datetime="{{commentReply.lastUpdate}}"/>{{commentReply.lastUpdate | date:"dd MMMM yyyy 'at' HH:mm:ss"}}</h5>
                                        <div class="options-comment inline">
                                            <ul class="tags" ng-repeat="theme in comment.themes">
                                                <li class="tag"><strong>{{theme.title}}</strong></li>
                                            </ul>
                                        </div>
                                        <votes-counter class="pull-right" content="comment"></votes-counter>
                                    </div>
                                    <div class="row col-md-12 col-sm-12">
                                        <div class="col-md-12 col-sm-12 text-comment">
                                            <p class="comment-comment"><a>{{commentReply.text}}</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="assemblyResourceBoxes" class="col-md-4 col-sm-4 info-lateral">
                <div id="assemblyMembers" class="row infoBox">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h4><strong>Members</strong></h4>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button ng-if="checkShow('inviteButton')" class="btn btn-primary"><h5><strong>Invite participants</strong></h5></button>
                        </div>
                    </div>

                    <div class="row list-item" style="overflow-y: auto; overflow-x:hidden; height: 85px; margin-right: 5px;">
                        <div class="row" ng-repeat="member in assemblyMembers">
                            <div style="display: inline-block;">
                                <div class="image-capsule">
                                    <img alt="100x100" ng-src="{{member.user.profilePic.urlAsString}}" class="image-circle" err-src="../assets/images/woman1.jpg"/>
                                    <div class="caption" style="text-align: center">
                                        <h5>{{member.user.name}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="assemblyCampaigns" class="row infoBox">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h4><strong>Campaigns</strong></h4>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <a ng-if="checkShow('campaignButton')" ng-href="#/assembly/{{currentAssembly.assemblyId}}/campaign/create"><button class="btn btn-primary"><h5><strong>New campaign</strong></h5></button></a>
                        </div>
                    </div>
                    <div class="row list-item" style="overflow-y: auto; overflow-x:hidden; height: 85px; margin-right: 5px;">
                        <div class="row">
                            <div style="display: inline-block;" ng-repeat="campaign in campaigns">
                                <div class="image-capsule">
                                    <a href="#/assembly/{{currentAssembly.assemblyId}}/campaign/{{campaign.campaignId}}"><img data-src="holder.js/100x100" alt="100x100" src="../assets/images/tabacalera-140.png" data-holder-rendered="true" class="image-circle">
                                    <div class="caption" style="text-align: center">
                                        <h5>{{campaign.title}}</h5>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="assemblyWorkingGroups" class="row infoBox">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h4><strong>Working Groups</strong></h4>
                        </div>
                        <div class="col-md-6 col-sm-6">
                        </div>
                    </div>
                    <div class="row list-item" style="overflow-y: auto; overflow-x:hidden; height: 85px; margin-right: 5px;">
                        <div style="display: inline-block;" ng-repeat="group in currentAssembly.workingGroups">
                            <div class="image-capsule">
                                <a ng-click="selectGroup(group)" href="#/assembly/{{assemblyID}}/group/{{group.groupId}}"><img data-src="holder.js/100x100" alt="100x100" src="../assets/images/tabacalera-140.png" data-holder-rendered="true" class="image-circle">
                                    <div class="caption" style="text-align: center">
                                        <h5>{{group.name}}</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
