<div class="view forum">
    <div class="container">
        <div class="row">
            <div id="assemblyInfoActivity" class="col-md-8 col-sm-8 discussion"  >
                <div id="assemblyInfo" class="row">
                    <div class="col-md-12 col-sm-12" ng-if="currentAssembly.profile">
                        <div class="thumbnail assembly">
                            <img alt="100x100" ng-src="{{currentAssembly.profile.icon}}"
                                 data-holder-rendered="true" class="image-circle">
                            <div class="caption">
                                <h4><strong>{{currentAssembly.name}}</strong></h4>
                                <h5>
                                    <strong>
                                        <span ng-show="currentAssembly.location.placeName != null">
                                            {{currentAssembly.location.placeName}}
                                        </span>
                                        <span ng-show="currentAssembly.location.placeName != null
                                           && (currentAssembly.location.city != null
                                               || currentAssembly.location.country != null)">- </span>
                                        <span ng-show="currentAssembly.location.city != null">
                                            {{currentAssembly.location.city}}
                                        </span>
                                        <span ng-show="currentAssembly.location.city != null
                                         && currentAssembly.location.country != null">- </span>
                                        <span ng-show="currentAssembly.location.city != null">
                                            {{currentAssembly.location.country}}
                                        </span>
                                    </strong>
                                </h5>
                                <p>{{currentAssembly.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="assemblyActivity" class="row">
                    <div class="col-md-7 col-sm-7">
                        <h1><strong>{{'Assembly' | translate}} {{'Forum' | translate}}</strong></h1>
                    </div>
                    <div class="col-md-5 col-sm-5 align-right">
                        <h1 ng-if="checkShow('joinButton')" class="align-right">
                            <button class="btn btn-success btn-lg" ng-click="joinAssembly()" ng-disabled="!userIsMember && userIsRequestedMember">
                                <h4 style="float:right;">
                                    <strong ng-if="!userIsMember && !userIsRequestedMember && !userIsInvitedMember">{{'Join' | translate}} {{'Assembly' | translate}}</strong>
                                    <strong ng-if="!userIsMember && userIsRequestedMember">{{'forum.forum.text6' | translate}}</strong>
                                    <strong ng-if="!userIsMember && userIsInvitedMember">{{'forum.forum.text1' | translate}}</strong>
                                </h4>
                            </button>
                        </h1>
                    </div>
                </div>
                <div id="assemblyActivityThemes" class="row">
                    <div class="col-md-1 col-sm-1 forum-title">
                        <h5><strong>{{'Themes' | translate}}</strong></h5>
                    </div>
                    <div class="col-md-11 col-sm-11">
                        <ul class="tags tags-filter">
                            <li class="tag tag-filter"><strong>All</strong></li>
                            <li class="vertical-divider">
                                &nbsp;
                            </li>
                            <li ng-if="currentAssembly.themes.length > 0" ng-repeat="theme in currentAssembly.themes" class="tag tag-filter">
                                <strong>{{theme.title}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Alert message shown if User is not member -->
                <uib-alert ng-if="!currentAssembly.profile" type="success">
                    {{'forum.forum.text2' | translate}}
                </uib-alert>
                <!-- Alert message shown if User is not member -->
                <uib-alert ng-if="currentAssembly.profile && !userIsMember && !userIsRequestedMember && !userIsInvitedMember" type="success">
                    {{'forum.forum.text3' | translate}}
                </uib-alert>
                <!-- Alert message shown if User is not member but has requested to join -->
                <uib-alert ng-if="currentAssembly.profile && !userIsMember && userIsRequestedMember" type="success">
                   {{'forum.forum.text4' | translate}}
                </uib-alert>
                <!-- Alert message shown if User is not member but has been invited-->
                <uib-alert ng-if="currentAssembly.profile && !userIsMember && userIsInvitedMember" type="success">
                    {{'forum.forum.text5' | translate}}
                </uib-alert>
                <!-- New Post Box (visible only to members)-->
                <new-forum-post
                        ng-if="userIsMember"
                        id="assemblyForumCommentBox"
                        class="row col-md-11 col-sm-11"
                        targetspaceid="currentAssembly.forumResourceSpaceId"
                        targetspace="currentAssembly.forumPosts"
                        themes="currentAssembly.themes"
                        ctype="FORUM_POST"
                        ng-model="newContribution">
                </new-forum-post>
                <!-- Forum Comments (visible to members and invited members-->
                <appcivist-comments
                        ng-if="userIsMember || userIsInvitedMember"
                        comments="currentAssembly.forumPosts"
                        assemblyid="assemblyID"
                        containerid="currentAssembly.forumResourceSpaceId"></appcivist-comments>
            </div>
            <div id="assemblyResourceBoxes" class="col-md-4 col-sm-4 info-lateral" ng-if="userIsMember">
                <!-- Members -->
                <ng-include src="'app/partials/boxes/memberBoxes.html'"></ng-include>

                <!-- Campaigns -->
                <ng-include src="'app/partials/boxes/campaignBoxes.html'"></ng-include>

                <!-- Working Groups -->
                <ng-include src="'app/partials/boxes/groupBoxes.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
