<ul class="nav navbar-nav menu-elements">
  <li class="dropdown nav-menu-notification" id="notificationMenu">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
      <span ng-if="vm.stats.unread > 0" class="number">{{vm.stats.unread}}</span>
      <i class="fa fa-lg fa-bell-o icon"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="notificationsDropdown" infinite-scroll="vm.getNotifications()">
      <h3>
        {{'header.menu.Notifications'|translate}} 
        <span><a data-toggle="modal" data-target="#notificationsModal" ng-if="false">{{'View all'|translate}}</a></span>
        <span><a ng-click="vm.readAll()">{{'Mark all as read' | translate}}</a></span>
      </h3>
      <li ng-repeat-start="n in vm.notifications track by $index">
        <a ng-click="vm.readNotification(n, $event)">
          <div class="title" ng-class="{unseen: !n.read}">{{n.title}}</div>
          <div class="preview" ng-class="{unseen: !n.read}">{{n.text}}</div>
          <div class="date">{{vm.formatDate(n.date)}}</div>
        </a>
      </li>
      <li ng-repeat-end role="separator" class="divider"></li>
      <li ng-if="vm.notifications && vm.notifications.length === 0" style="text-align: center;">
        <a>{{'All caught up!' | translate}}</a>
      </li>
    </ul>
  </li>
</ul>

<div class="alert-area">
  <div class="alert alert-dismissible subconfirm" role="alert" ng-repeat="notification in pushQueue">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="message">{{ notification.eventName | translate:'{event: "' + notification.resourceTitle + '"}' }}</p>
    <p class="submessage">{{ notification.resourceText }}</p>
  </div>
</div>
