  <main class="appmain" ng-class="{'anonymous' : isAnonymous}" resize>
    <article class="campaign">
      <!-- Campaign Header -->
      <header class="page__header" ng-style="coverStyle">
        <!--Campaign Header -> space.type-->
        <div class="row">
          <breadcrumb label="campaign.title"></breadcrumb>
        </div>

        <!--Campaign Header -> campaign.title + logo + actions menu-->
        <div class="row" style="position: unset;">
          <div class="row no-margin">
            <div class="title_block">
                <h1 class="heading--title">{{campaign.title}}</h1>
                <!-- HEADER -> actions menu -->
                <div class="heading_actions" ng-if="!isAnonymous">
                  <ul>
                    <li class="action__contextual_menu" ng-mouseenter="cm.isHover = true">
                      <a><i class="fa fa-cog "></i></a>
                    </li>
                  </ul>
                  <div class="contextual_menu" ng-class="{active: cm.isHover}" ng-mouseleave="cm.isHover = false" style="top: 1em; left: auto; right: 0px;"
                    ng-if="cm.isHover">
                    <div class="content">
                      <campaign-contextual-items campaign="campaign" current-component-type="currentComponentType"></campaign-contextual-items>
                    </div>
                  </div>
                </div>
            </div>
            <div>
              <p class="description" style="margin-top:0.2em"
                 ng-bind-html="((campaign.goal | limitTo:240)+((campaign.goal.length) > 240 ? '...' : '' )) | linky"></p>
              <p><a data-toggle></a>
                <i class="fa fa-info"></i>&nbsp;&nbsp;
                <a data-toggle="modal" data-target="#learnMoreModal"><span>{{'Read more'|translate}}</span></a>
                &nbsp;&nbsp;<a data-toggle="modal" data-target="#themes-keywords">
                  <i class="fa fa-tags"></i><span>{{'Themes & Keywords'|translate}}</span>
                </a>
              </p>
            </div>

          </div>
          <!-- Subscribe when logged in
          <button class="btn btn-default subscribe-newsletter" data-toggle="modal" data-target="#newsletterSubscription">Subscribe to Newsletter</button>-->
          <!-- Subscribe when not logged in
          <button class="btn btn-default subscribe-newsletter" data-toggle="modal" data-target="#newsletterSubscriptionNotLoggedIn">Subscribe to Newsletter</button> -->
          <!-- HEADER -> AppCivist Logo Attribution -->
          <div class='row no-margin attribution' style="padding-top: 1em; position: unset;">
            <div class="overlay new_overlay" style="display: inline-flex">
              <ul class="overlay_buttons">
                <li class="overlay_button">
                  <a data-toggle="modal" data-target="#workingGroups">
                    <i class="fa fa-users fa-lg"></i><span>{{'Working groups'|translate}}</span>
                    <span class="number" ng-if="myWorkingGroups.length > 0 || otherWorkingGroups.length > 0">({{myWorkingGroups.length+otherWorkingGroups.length}})</span>
                  </a>
                </li>
                <li class="overlay_button">
                  <a data-toggle="modal" data-target="#documents">
                    <i class="fa fa-file-text-o fa-lg"></i><span>{{'Documents'|translate}}</span>
                    <span class="number" ng-if="documents.length > 0">({{documents.length}})</span>
                  </a>
                </li>
                <li class="overlay_button">
                  <a data-toggle="modal" data-target="#media">
                    <i class="fa fa-film fa-lg"></i><span>{{'Media'|translate}}</span><span class="number"></span>
                    <span class="number" ng-if="media.length > 0">({{media.length}})</span>
                  </a>
                </li>
                <li class="overlay_button">
                  <a data-toggle="modal" data-target="#analytics">
                    <i class="fa fa-bar-chart fa-lg"></i><span>{{'Analytics'|translate}}</span><span class="number"></span>
                  </a>
                </li>
              </ul>
              <div class="powered_logo">
                  <div class="logo__wrapper__light">
                    <svg class="logo__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" xml:space="preserve">
                        <path class="svg__shape" d="M26.357,14.928l-1.809-1.999c-0.5-0.548-1.334-0.595-1.882-0.096l-1.643,1.5
                          c-0.644,0.571-1.286,1.31-2.142,0.381l-0.93-1.023c-0.358-0.382-0.952-0.404-1.333-0.071l-1.382,1.262
                          c-0.381,0.357-0.404,0.952-0.071,1.333l0.977,1.095c0.523,0.573,0.595,1.024-0.119,1.668l-0.643,0.595
                          c-0.786,0.713-1.452,0.452-2.144-0.31l-1-1.119c-1-1.096-0.643-1.667,0.167-2.381l2.31-2.071c0.476-0.429,0.523-1.214,0.096-1.69
                          l-2.548-2.833c-0.429-0.477-1.215-0.524-1.691-0.096l-2.762,2.5C7.334,12,7.286,12.786,7.715,13.262l2.048,2.263
                          c0.809,0.904,0.904,1.498-0.144,2.452l-1.428,1.285c-0.5,0.451-0.548,1.262-0.096,1.762l1.69,1.881
                          c0.452,0.5,1.262,0.548,1.762,0.096l1.31-1.191c0.881-0.785,1.548-0.976,2.357-0.071l0.857,0.952
                          c0.356,0.381,0.929,0.43,1.332,0.072l1.43-1.285c0.381-0.358,0.429-0.93,0.071-1.334l-0.929-1.024
                          c-0.714-0.785-0.453-1.332,0.216-1.928l0.522-0.477c0.904-0.81,1.452-0.548,2.119,0.19l1.5,1.643c0.5,0.548,1.333,0.595,1.882,0.096
                          l1.999-1.81C26.81,16.31,26.835,15.477,26.357,14.928z M16.001,31C7.739,31,1,24.262,1,16S7.739,1,16.001,1S31,7.738,31,16
                          S24.263,31,16.001,31z M16.001,4.786C9.81,4.786,4.786,9.833,4.786,16c0,6.166,5.048,11.19,11.215,11.19
                          c6.166,0,11.215-5.001,11.215-11.19C27.216,9.81,22.191,4.786,16.001,4.786z" />
                      </svg>
                  </div>
                    <div class="powered_by" translate="Powered by AppCivist"></div>
                  </div>
              </div>
          </div>
        </div>
      </header>

      <!--Campaign Timeline -->
      <campaign-timeline title="{{'Campaign Timeline' | translate}}" assembly-id="assemblyID" campaign-id="campaignID"
                         vm-timeline="vmTimeline" components="components" on-components-loaded="afterComponentsLoaded()"></campaign-timeline>

      <!-- Voting stage -->
      <div ng-include="'/app/v2/partials/campaign/voting-stage.html'" ng-if="votingStageIsActive"></div>

      <!--Campaign Search, Filters and Contributions -->
      <section class="proposals_and_ideas">
        <!--Campaign Search and filters-->
        <div class="campaign__filters">
          <h2 class="heading--header no-padding col-xs-12 col-lg-5 col-md-5 col-sm-5">
            {{filters.mode === 'idea' ? 'Ideas' : 'Proposals' | translate}}
          </h2>
          <a class="primary__button right proposals__add_new col-xs-12 col-lg-3 col-md-3 col-sm-3"
             ng-if="newIdeasEnabled"
             ng-click="openModal('ideaFormModal')">
            <i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'Add Idea' | translate}}
          </a>
          <a class="primary__button right proposals__add_new col-xs-12 col-lg-3 col-md-3 col-sm-3"
             ng-if="newProposalsEnabled && !displayJoinWorkingGroup"
             ng-click="openModal('proposalFormModal')">
            <i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'Add Proposal' | translate}}
          </a>
          <a class="primary__button right join__working_group"
             ng-if="newProposalsEnabled && displayJoinWorkingGroup" data-toggle="modal" data-target="#workingGroups">
            <i class="fa fa-users"></i>&nbsp;{{'Join a Working Group to create proposals' | translate}}
          </a>
        </div>
        <proposals-ideas-searchbox class="col-*-12"
                                   search-handler="doSearch(filters)"
                                   load-themes="loadThemes(query)"
                                   load-groups="loadGroups(query)"
                                   is-anonymous="isAnonymous"
                                   campaign-config="campaignConfigs"
                                   campaign-contribution-types="{{ campaignConfigs['appcivist.campaign.contribution-types'] }}"
                                   filters="filters"
                                   dry-run="false"
                                   current-component="currentComponent"></proposals-ideas-searchbox>

        <div class="campaign_cards">
          <div ng-class="{'col-lg-8 col-md-12': commentsSectionExpanded}">
            <section class="list--proposals">
              <header class="proposals__header">
                <!-- Statistics/Insights summary section-->
                <div class="dash_insights">
                  <span ng-if="!commentsSectionExpanded"><a ng-click="toggleCommentsSection()">Show comments</a></span>
                  <span ng-if="commentsSectionExpanded"><a ng-click="toggleCommentsSection()">Hide comments</a></span>
                  <span ng-if="currentComponentType!=='IDEAS'">
                    <strong>{{'Proposals' | translate}}:</strong>
                    {{ insights.contributions_total.contributions_per_type.PROPOSAL.PUBLISHED || 0}}
                    <small>({{'Published' | translate}})</small>,
                    {{ insights.contributions_total.contributions_per_type.PROPOSAL.DRAFT || 0}}
                    <small>({{'Drafts' | translate}})</small>
                    &nbsp;&ndash;&nbsp;
                  </span>
                  <span>
                    <strong>{{'Ideas' | translate}}:</strong>
                    {{ insights.contributions_total.contributions_per_type.IDEA.PUBLISHED || 0}}
                    <small>({{'Published' | translate}})</small>, {{ insights.contributions_total.contributions_per_type.IDEA.DRAFT || 0}}
                    <small>({{'Draft' | translate}})</small>
                </span>
                </div>
              </header>
              <div data-eq-pts="small: 768, medium: 1024, large: 1500" ng-if="showPagination">
                <pagination-widget page-size="pageSize" space="spaceID" resource="contribution"
                                    is-anonymous="isAnonymous" is-coordinator="isCoordinator" campaign="campaign"
                                    components="components" show-voting-buttons="showVotingButtons" filters="filters"
                                    ballot-paper="ballotPaper" ballot-tokens="ballotTokens" selected="selectedCards" ng-if="showPagination">
                </pagination-widget>
              </div>
            </section>
          </div>
          <div ng-class="{'col-lg-4 col-md-12': commentsSectionExpanded}" ng-if="commentsSectionExpanded">
            <!-- Conversation tabs: Members (only registered members), Public (including comments received from public site -->
            <section class="comments__section">
              <div class="row comments-header">
                <div class="col-xs-4 text-left">
                  <strong>Comments ({{commentType == 'members' ? membersCommentCounter.value : publicCommentCounter.value}})</strong>
                </div>
                <div class="col-xs-8 text-right">
                  {{'View comments by'|translate}}:
                  <select name="comment-types" ng-model="commentType">
                    <option value="public">{{'Public'|translate}}</option>
                    <option value="members" ng-if="userIsMember">{{'Members only'|translate}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="tab-pane" ng-if="userIsMember && commentType === 'members'">
                    <discussion-panel class="col-*-12" ng-if="userIsMember" space-id="spaceID"
                                      endpoint-id="campaignID" endpoint="campaign">
                    </discussion-panel>
                </div>
                <div class="tab-pane" ng-if="commentType === 'public'">
                    <discussion-panel ng-if="!isAnonymous" class="col-md-12" space-id="campaign.forumSpaceID"
                                      endpoint-id="$parent.campaignID" endpoint="campaign"
                                      public-board="true" is-anonymous="isAnonymous">
                    </discussion-panel>
                    <discussion-panel ng-if="isAnonymous" class="col-md-12" space-id="campaign.frsUUID"
                                      endpoint-id="campaign.uuid" endpoint="campaign"
                                      public-board="true" is-anonymous="isAnonymous">
                    </discussion-panel>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </article>

    <!-- New Proposal Form Modal -->
    <script id="proposalFormModal" type="text/ng-template">
      <contribution-form
        campaign="campaign"
        configs="campaignConfigs['appcivist.campaign.contribution.hidden-fields']"
        type="PROPOSAL"
        on-success="redirectToProposal(contribution)"
        on-import-success="closeModal()"></contribution-form>
    </script>

    <!-- New Idea Form Modal -->
    <script id="ideaFormModal" type="text/ng-template">
      <contribution-form
        campaign="campaign"
        configs="campaignConfigs['appcivist.campaign.contribution.hidden-fields']"
        type="IDEA"
        on-success="closeModal()"
        on-import-success="closeModal()"></contribution-form>
    </script>
  </main>

  <!-- Working Groups Modal -->
  <div class="modal fade dashboardModal" id="workingGroups" tabindex="-1" role="dialog" aria-labelledby="workingGroupsLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="workingGroupsLabel">{{campaign.title}}</h3>
          <p>{{ 'Working groups' | translate }}</p>
        </div>
        <div class="modal-body"
             ng-if="(!myWorkingGroups || myWorkingGroups.length === 0) && (!otherWorkingGroups || otherWorkingGroups.length === 0) && (!topicsWorkingGroups || topicsWorkingGroups.length === 0)">
          <div class="noWorkingGroups">
            <h4>{{ 'There are no working groups yet' | translate }}</h4>
          </div>
        </div>
        <div class="modal-body" ng-if="!isAnonymous &&(myWorkingGroups.length > 0 || otherWorkingGroups.length > 0 || topicsWorkingGroups.length >0)">
          <h3>{{'My Working Groups'|translate}}</h3>
          <div class="noContent" ng-if="!myWorkingGroups || myWorkingGroups.length ===0">
            <h4>{{ 'There are no working groups in this list yet' | translate }}</h4>
          </div>
          <ul class="workingGroupList" ng-if="myWorkingGroups && myWorkingGroups.length > 0">
            <li ng-repeat="wg in myWorkingGroups" class="myWorkingGroup">
              <a class="workingGroupLink" ng-href="/#/v2/assembly/{{currentAssembly.assemblyId}}/campaign/{{campaignId}}/group/{{wg.groupId}}"><span>{{wg.name}}</span><!--<span class="number"><i class="fa fa-users"></i>32</span>--></a>
            </li>
          </ul>
          <h3>{{'Other Working Groups'|translate}}</h3>
          <div class="noContent" ng-if="!otherWorkingGroups || otherWorkingGroups.length ===0">
            <h4>{{ 'There are no working groups in this list yet' | translate }}</h4>
          </div>
          <ul class="workingGroupList" ng-if="otherWorkingGroups && otherWorkingGroups.length > 0">
            <li ng-repeat="wg in otherWorkingGroups">
              <a class="workingGroupLink" ng-href="/#/v2/assembly/{{currentAssembly.assemblyId}}/campaign/{{campaignId}}/group/{{wg.groupId}}"><span>{{wg.name}}</span><!--<span class="number"><i class="fa fa-users"></i>32</span>--></a>
              <a class="btn btn-default" ng-click="joinWg(wg.groupId)"><i class="fa fa-sign-in fa-lg"></i> {{'Join'|translate}}</a>
            </li>
          </ul>
        </div>
        <div class="modal-body" ng-if="isAnonymous &&(otherWorkingGroups.length > 0 || topicsWorkingGroups.length >0)">
          <ul class="workingGroupList" ng-if="otherWorkingGroups && otherWorkingGroups.length > 0">
            <li ng-repeat="wg in otherWorkingGroups">
              <a class="workingGroupLink" ng-href="/#/v2/p/assembly/{{assemblyID}}/campaign/{{campaignID}}/group/{{wg.uuid}}"><span>{{wg.name}}</span><!--<span class="number"><i class="fa fa-users"></i>32</span>--></a>
            </li>
          </ul>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{campaign.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Documents Modal -->
  <div class="modal fade dashboardModal" id="documents" tabindex="-1" role="dialog" aria-labelledby="documentsLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="documentsLabel">{{campaign.title}}</h3>
          <p>{{ 'Documents' | translate }}</p>
          <add-resource-form space-id="spaceID" resources="resources" include-add-buttons="isCoordinator" ng-if="isCoordinator"></add-resource-form>
          <!--<button class="btn btn-default follow-contribution modal-button" ng-if="isCoordinator && !openAddAttachment"-->
                  <!--ng-click="toggleOpenAddAttachment()">{{'Add a new file'|translate}}</button>-->
          <!--<button class="btn btn-default follow-contribution modal-button" ng-if="isCoordinator && !openAddAttachment"-->
                  <!--ng-click="toggleOpenAddAttachmentByUrl()">{{'Add URL resource'|translate}}</button>-->
        </div>
        <div class="modal-body">
          <!--
            TODO: investigate why simply using the class dashboardModal does not work
            (or adding another class at the same level the noWorkingGroups in new-dashboard.scss)
          -->
          <ul class="workingGroupList">
            <li ng-repeat="resource in resources | filter:resourceIsDocument as documents">
              <a class="workingGroupLink" target="_blank"
                 ng-href="{{resource.url}}"><span>{{resource.title}}</span>
              </a>
              <span class="number clickable" ng-click="deleteResource(resource)" ng-if="isCoordinator" ><i class="fa fa-trash"></i>{{'Delete'|translate}}</span>
            </li>
          </ul>
          <div class="noContent" ng-if="documents.length === 0">
            <h4>{{ 'There are no documents in this campaign' | translate }}</h4>
          </div>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{campaign.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Media Modal -->
  <div class="modal fade dashboardModal" id="media" tabindex="-1" role="dialog" aria-labelledby="mediaLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="mediaLabel">{{campaign.title}}</h3>
          <p>{{ 'Media' | translate }}</p>
        </div>
        <div class="modal-body">
          <!--
            TODO: investigate why simply using the class dashboardModal does not work
            (or adding another class at the same level the noWorkingGroups in new-dashboard.scss)
          -->
          <div class="noContent" ng-if="media.length === 0">
            <h4>{{ 'There are no multimedia resources in this campaign' | translate }}</h4>
          </div>

          <div id="media-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <div class="item {{$index===0 ? 'active' : ''}}" ng-repeat="resource in resources | filter:resourceIsMedia as media track by $index">
                <img ng-if="resource.resourceType === 'PICTURE'" ng-src="{{resource.url}}" alt="{{resource.name}}">
                <!-- TODO: sanitize video URLs somewhere else -->
                <iframe ng-if="resource.resourceType === 'VIDEO'" width="75%" height="315"
                        ng-src="{{resource.url.replace('watch?v=', 'embed/');}}"
                        frameborder="0" allowfullscreen style="display: block; margin: auto;"></iframe>
                <div class="noContent">
                  <h4 ng-if="resource.title">{{resource.title}}</h4>
                  <h5 ng-if="resource.description"
                      ng-bind-html="resource.description"></h5>
                </div>

              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" data-target="#media-carousel" role="button" data-slide="prev" ng-if="media.length != 0">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">{{'Previous'|translate}}</span>
            </a>
            <a class="right carousel-control" data-target="#media-carousel" role="button" data-slide="next" ng-if="media.length != 0">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">{{'Next'|translate}}</span>
            </a>
            <ol class="carousel-indicators" ng-if="media.length != 0">
              <li data-target="#media-carousel" data-slide-to="{{$index}}" ng-repeat="resource in resources | filter:resourceIsMedia as media track by $index" class="{{$index===0 ? 'active' : ''}}"></li>
            </ol>
          </div>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{campaign.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Analytics Modal -->
  <div class="modal fade dashboardModal" id="analytics" tabindex="-1" role="dialog" aria-labelledby="analyticsLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="analyticsLabel">{{campaign.title}}</h3>
          <p>{{ 'Analytics' | translate }}</p>
        </div>
        <div class="modal-body">
          <!--
            TODO: investigate why simply using the class dashboardModal does not work
            (or adding another class at the same level the noWorkingGroups in new-dashboard.scss)
          -->
          <div class="noContent">
            <h4>{{ 'The analytics section is coming soon!' | translate }}</h4>
            <img src="https://cloud.githubusercontent.com/assets/630150/25837931/4b100e16-345e-11e7-9077-9c247ec20f3e.png"/>
          </div>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{campaign.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Subscribe when logged in -->
  <div class="modal fade dashboardModal" id="newsletterSubscription" tabindex="-1"
       role="dialog" aria-labelledby="newsletterSubscriptionLabel" ng-if="!isAnonymous">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close big" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{'Campaign Newsletter'|translate}}</p>
        </div>
        <div class="modal-body">
          <p>{{'campaign.newsletter.subscription.question.members'|translate}}</p>
        </div>
        <div class="modal-footer">
          <button class="confirm-modal dismiss" data-dismiss="modal">{{'No, thank you'|translate}}</button>
          <button class="confirm-modal accept" data-dismiss="modal">{{'Subscribe'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Subscribe when not logged in -->
  <div class="modal fade dashboardModal" id="newsletterSubscriptionNotLoggedIn"
       tabindex="-1" role="dialog" aria-labelledby="newsletterSubscriptionNotLoggedInLabel" ng-if="!isAnonymous">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close big" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{'Campaign Newsletter'|translate}}</p>
        </div>
        <div class="modal-body">
          <p>{{'campaign.newsletter.subscription.question.non-members'|translate}}</p>
        </div>
        <div class="modal-footer">
          <button class="confirm-modal dismiss" data-dismiss="modal">{{'No, thank you'|translate}}</button>
          <button class="confirm-modal accept" data-dismiss="modal">{{'Sign up'}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment this div to hide it
  <div class="alert alert-dismissible subconfirm" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="message">Congratulations! You have successfully subscribed to the newsletter of {{campaign.title}}.</p>
    <p class="submessage">If you would like to receive the newsletter by email, click here: <a href="#">Notification settings</a></p>
  </div>
  -->

  <!-- Voting modal for when the ballot is not ready or there is an external ballot -->
  <voting-modal modal-id="externalBallot"
                open="votingStageIsActive && (campaign.externalBallot || !campaign.currentBallot)"
                start-voting="startVotingDisabled"
                is-anonymous="isAnonymous"
                ballot-paper="ballotPaper"
                ballot-uuid="ballot.uuid"
                ballot-paper-signature="user.uuid"
                ballot-password="ballotPassword"
                create-ballot-success="loadVotingBallotAndCandidatesAfterStart(signature)"
                ng-if="votingStageIsActive">
    <div ng-if="campaign.externalBallot">
      <p translate="voting.modal.external-ballot.p1" translate-values="{{campaign}}"></p>
      <p translate="voting.modal.external-ballot.p2" translate-values="{{campaign}}"></p>
    </div>
    <div ng-if="!campaign.currentBallot">
      <p translate="voting.modal.no-ballot-yet.p1" translate-values="{{campaign}}"></p>
      <p translate="voting.modal.no-ballot-yet.p2" translate-values="{{campaign}}"></p>
    </div>
  </voting-modal>

  <!-- Voting modal for instructions -->
  <voting-modal modal-id="voting"
                open="votingStageIsActive && campaign.currentBallot"
                start-voting="startVotingDisabled"
                title="Voting instructions"
                is-anonymous="isAnonymous"
                ballot-paper="ballotPaper"
                ballot-uuid="ballot.uuid"
                ballot-paper-signature="user.uuid"
                ballot-password="ballotPassword"
                create-ballot-success="loadVotingBallotAndCandidatesAfterStart(signature)"
                ng-if="votingStageIsActive">
    <p ng-if="!ballotPaperNotFound" ng-bind-html="ballot.instructions"></p>
    <p ng-if="ballotPaperNotFound && campaignBallot" ng-bind-html="campaignBallot.instructions"></p>
  </voting-modal>

  <!-- Voting modal for the summary -->
  <voting-modal
    modal-id="votingSummary"
    open="false"
    start-voting="startVotingDisabled"
    title="My Voting Summary"
    is-anonymous="isAnonymous"
    ballot-paper="ballotPaper"
    ballot-uuid="ballot.uuid"
    ballot-paper-signature="user.uuid"
    ballot-password="ballotPassword"
    ng-if="votingStageIsActive">

    <p translate="voting.modal.summary.intro.done.distributed " ng-if="ballotTokens.points <= 0"></p>
    <p translate="voting.modal.summary.intro.in-progress.distributed " translate-values="{{ballotTokens}}" ng-if="ballotTokens.points > 0"></p>

    <div class="proposals">
      <div ng-repeat="candidate in campaignBallot.ballotCandidates | orderBy:voteOnCandidate:true track by $index" class="proposal" ng-if="votes.length>0">
        <p class="col-xs-8">{{candidate.contributionSummary.title}}</p>
        <p class="col-xs-2 text-right">{{'Points'|translate}}</p>
        <p class="col-xs-2 text-left">
          <input type="number" disabled="true" ng-value="votes[votesIndex[candidate.id]].value">
        </p>
      </div>
    </div>
  </voting-modal>

  <!-- Save votes -->
  <div class="modal fade dashboardModal" id="saveVotes" tabindex="-1"
       role="dialog" aria-labelledby="newsletterSubscriptionLabel" ng-if="!isAnonymous">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close big" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{'voting.stage.button.save'|translate}}</p>
        </div>
        <div class="modal-body">
          <p translate="voting.modal.save.confirmation.p1"></p>
          <p translate="voting.modal.save.confirmation.p2"></p>
        </div>
        <div class="modal-footer">
          <button class="confirm-modal accept" data-dismiss="modal">{{'Close'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Finalize Votes question modal -->
  <div class="modal fade dashboardModal" id="finalizeVotes" tabindex="-1"
       role="dialog" aria-labelledby="newsletterSubscriptionLabel" ng-if="!isAnonymous">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close big" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{'voting.stage.button.finalize'|translate}}</p>
        </div>
        <div class="modal-body">
          <p translate="voting.modal.finalize.confirmation.p1"></p>
          <p translate="voting.modal.finalize.confirmation.p2"></p>
        </div>
        <div class="modal-footer">
          <button class="confirm-modal dismiss" data-dismiss="modal">{{'Not ready yet'|translate}}</button>
          <button class="confirm-modal accept" ng-click="finalizeVotes()">{{'Yes, finalize voting'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Finalize votes confirmation -->
  <div class="modal fade dashboardModal" id="finalizeVotesDone" tabindex="-1"
       role="dialog" aria-labelledby="newsletterSubscriptionLabel" ng-if="!isAnonymous">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close big" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{'voting.stage.button.finalize.done'|translate}}</p>
        </div>
        <div class="modal-body">
          <p translate="voting.modal.finalize.done.p1"></p>
          <p translate="voting.modal.finalize.done.p2"></p>
        </div>
        <div class="modal-footer">
          <button class="confirm-modal accept" data-dismiss="modal">{{'Close'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Learn more modal -->
  <div class="modal fade dashboardModal" id="learnMoreModal" tabindex="-1"
       role="dialog" aria-labelledby="learnMoreModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close big" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--</div>-->
        <div class="modal-body about__modal">
          <div ng-if="campaignBrief" ng-bind-html="campaignBrief"></div>
          <div ng-if="!campaignBrief" ng-include="'/app/v2/partials/campaign/campaign-default-brief.html'"></div>
        </div>
        <div class="modal-footer">
          <button class="confirm-modal accept" data-dismiss="modal">{{'Participate'|translate}}</button>
          <button class="confirm-modal accept" data-dismiss="modal">{{'Explore the campaign'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Themes & Keywords modal -->
  <div class="modal fade dashboardModal" id="themes-keywords" tabindex="-1"
       role="dialog" aria-labelledby="themesKeywordsLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="analyticsLabel">{{campaign.title}}</h3>
          <p>{{ 'Themes & Keywords' | translate }}</p>
        </div>
        <div class="modal-body about__modal">
          <h4>{{'Themes' | translate}}</h4>
          <ul>
              <li class="theme" ng-repeat="theme in themes" ng-click="loadThemeKeywordDescription(theme.title, theme.description)">{{theme.title}}</li>
          </ul>
          <div id="description"></div>
          <h4 style="margin-top: 20px;">{{'Keywords' | translate}}</h4>
          <ul>
            <li class="keyword" ng-repeat="keyword in keywords">{{keyword.title}}</li>
          </ul>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{campaign.title}}</a>
        </div>
      </div>
    </div>
  </div>
