<main class="app-main">
    <section class="panel intro">
      <p class="heading--header">Campaign</p>
      <h1 class="heading--title">{{campaign.title}}</h1>
      <p>{{campaign.goal}}</p>
    </section>
    <section class="panel">
      <h1 class="heading--header">Campaigns Status</h1>
      <div class="timeline">
        <div ng-repeat="component in campaign.components track by $index" 
             class="timeline-item"
             ng-class="component.cssClass">
             <div class="marker"></div>{{component.title}}
        </div>
      </div>
    </section>
    <section class="panel ideas-and-proposals">
      <section class="list--proposal">
        <div class="panel-heading-no-margin">
          <h1 class="heading--header">Proposals</h1>
          <p class="heading--small">
            <a href="&#x2F;patterns&#x2F;03-templates-07-all-proposals-view&#x2F;03-templates-07-all-proposals-view.html"><i class="fa fa-arrows-alt"></i>&nbsp;See All</a>&nbsp;&nbsp;
            <a href="#"><i class="fa fa-plus-square"></i>&nbsp;Add New</a></p>
        </div>
        
        <div class="card" ng-repeat="proposal in proposals track by $index">
          <div class="card-info">
            <p class="heading--subheader">
              By 
              <a ng-href="#/assembly/{{assembly.assemblyId}}/group/{{proposal.workingGroupAuthors[0].groupId}}">
                {{proposal.workingGroupAuthors[0].name}}
              </a>
            </p>
            <h1 class="heading--headline">
              <a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">
                {{proposal.title|limitTo:97}}{{(proposal.title.length) > 97 ? '...' : '.' }}
              </a>
            </h1>
            <small>
              {{proposal.text|limitTo:152}}{{(proposal.text.length) > 152 ? '...' : '.' }}
            </small>
            <div class="labels">
              <span class="label label-info" ng-repeat="theme in proposal.themes">{{theme.title}}</span>
            </div>
          </div>
          <div class="action-bar">
            <div class="voting-buttons">
              <div class="vote-button upvote">
                <a class="heading--small" href="#">
                  <i class="fa fa-thumbs-up"></i>
                  {{proposal.stats.ups}}
                </a>
              </div>
              <div class="vote-button middle">
                <a class="heading--small" href="#">
                  <i class="fa fa-circle-o"></i>
                </a>
              </div>
              <div class="vote-button middle">
                <a class="heading--small" href="#">
                  <i class="fa fa-ban"></i>
                </a>
              </div>
              <div class="vote-button downvote">
                <a class="heading--small" href="#">
                  <i class="fa fa-thumbs-down"></i>
                  {{proposal.stats.downs}}
                </a>
              </div>
            </div>

            <div class="action-button">
              <input id="menu04" type="checkbox" name="menu" />
              <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>more</title>
                  <defs></defs>
                  <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
                      <g id="more">
                          <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
                      </g>
                  </g>
              </svg>
              <ul class="action-menu">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Publish</a></li>
                  <li><a href="#">Give Feedback</a></li>
                  <li><a href="#">Exclude</a></li>
                  <li><a href="#">See history</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="list--idea">
        <div class="panel-heading-no-margin">
          <h1 class="heading--header">Ideas</h1>
          <p class="heading--small">
            <a href="&#x2F;patterns&#x2F;03-templates-08-all-ideas-view&#x2F;03-templates-08-all-ideas-view.html"><i class="fa fa-arrows-alt"></i>&nbsp;See All</a>&nbsp;&nbsp;
            <a href="#"><i class="fa fa-plus-square"></i>&nbsp;Add New</a>&nbsp;&nbsp;
            <a ng-if="ideasSectionExpanded" href="#"><i class="fa fa-eye-slash"></i>&nbsp;Hide</a>&nbsp;&nbsp;
            <a ng-if="!ideasSectionExpanded" href="#"><i class="fa fa-eye"></i>&nbsp;Show</a>&nbsp;&nbsp;
          </p>
        </div>
        <div class="card" ng-repeat="idea in ideas">
					<div class="card-info">
            <h1 class="idea-title">
              <a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">
                {{idea.title}}
              </a>
            </h1>
						<div class="labels">
              <span class="label label-info" ng-repeat="theme in idea.themes">{{theme.title}}</span>
						</div>
					</div>
					<div class="action-bar">
						<div class="voting-buttons">
							<div class="vote-button upvote">
								<a class="heading--small" href="#">
								  <i class="fa fa-chevron-up"></i>
                  {{idea.stats.ups}}
								</a>
							</div>
							<div class="vote-button downvote">
								<a class="heading--small" href="#">
								  <i class="fa fa-chevron-down"></i>
                  {{idea.stats.ups}}
								</a>
							</div>
						</div>
						<div class="action-button">
							<input id="menu04" type="checkbox" name="menu" />
							<svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>more</title>
								<defs></defs>
								<g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
									<g id="more">
										<path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
									</g>
								</g>
							</svg>
							<ul class="action-menu">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Assign</a></li>
								<li><a href="#">Promote to proposal</a></li>
								<li><a href="#">Exclude</a></li>
								<li><a href="#">See history</a></li>
							</ul>
						</div>
					</div>
				</div>
      </section>
    </section>
    
    <section class="panel">
      <div class="panel-heading">
          <h1 class="heading--header">Conversations</h1><p class="heading--small"><a href="#">Start a new onversation</a></p>
      </div>
      <li class="panel card conversation-container" ng-repeat="discussion in discussions">
        <div class="comment-meta">
          <!--<p class="heading++header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>-->
          <p class="heading--header">{{formatDate(discussion.creation)}}</p>
        </div>
        <!--<div class="member-card">
          <figure>
            <img ng-if="!discussion.authors[0].profilePic" src="../assets/images/avatar.png" alt="Avatar"/>
            <img ng-if="discussion.authors[0].profilePic" ng-src="{{discussion.authors[0].profilePic.urlLargeString}}" alt="Avatar"/>
          </figure>
          <h4><a href="">{{discussion.authors[0].name}}</a>
          </div>-->
        <member-card user="discussion.authors[0]"></member-card>
        
        <div class="comment-text">
          <small>{{discussion.text}}</small>
        </div>
        <div class="comment-reply-controls">
          <div class="voting-buttons">
            <div class="vote-button upvote">
              <a class="heading--small" href="#">+{{discussion.stats.ups}}</a>
            </div>
            <div class="vote-button downvote">
              <a class="heading--small" href="#">-{{discussion.stats.downs}}</a>
            </div>
          </div>
          <a class="heading--subheader reply-count">{{discussion.comments.length || 0}} Replies</a>
          <a class="heading--subheader reply-count reply" 
             ng-if="!discussion.showReplyForm"
             ng-click="writeReply(discussion)">Reply to this comment</a>
        </div>
        <ul class="threaded-comments">
          <li class="panel comment-container" ng-repeat="comment in discussion.comments">
            <div class="comment-meta">
              <!-- <p class="heading++header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p> -->
              <p class="heading--header">{{formatDate(comment.creation)}}</a></p>
              <div class="member-card">
                <figure>
                  <img ng-if="!comment.authors[0].profilePic" src="../assets/images/avatar.png" alt="Avatar"/>
                  <img ng-if="comment.authors[0].profilePic" ng-src="{{comment.authors[0].profilePic.urlLargeString}}" alt="Avatar"/>
                </figure>
                  <h4><a href="">{{comment.authors[0].name}}</a>
              </div>
            </div>
            <div class="comment-text">
              <small>{{comment.text}}</small>
            </div>
            <div class="comment-reply-controls">
              <div class="voting-buttons">
                <div class="vote-button upvote">
                  <a class="heading--small" href="#">+{{comment.stats.ups}}</a>
                </div>
                <div class="vote-button downvote">
                  <a class="heading--small" href="#">-{{comment.stats.downs}}</a>
                </div>
              </div>
              <!-- TODO: can someone comment on a comment?
                   replace ++ with double hyphen
              <a class="heading++subheader reply-count">2 Replies</a>
              <a class="heading++subheader reply-count reply">Reply to this comment</a>
              -->
            </div>
          </li>
        </ul>


        <div class="panel reply-field" ng-if="discussion.showReplyForm">
          <h1 class="heading--header">Reply</h1>
          <form method="post" action="#" class="comment-form">
            <fieldset>
              <div class="field-container">
                <textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
              </div>
              <div class="comment-meta">
                <div class="member-card" ng-controller="AccountCtrl">
                  <figure>
                    <img ng-if="!userIsAuthenticated()" src="../assets/images/avatar.png" alt="Avatar"/>
                    <img ng-iff="userIsAuthenticated()" ng-src="{{user.profilePic.urlLargeString}}" alt="Avatar"/>
                  </figure>
                  <h4>
                    <a href="">{{user.name}}</a>
                    <span class="heading--subheader"><a href="">My Settings</a> | <a href="" ng-click="signout()">Log Out</a></span>
                  </h4>
                </div>
              </div>
              <input class="button" type='submit' value='Submit' />
            </fieldset>
          </form>
        </div>
      </li>
    </section>
    
    <div class="panel reply-field">
      <h1 class="heading--header">Start a Conversation</h1>
      <form method="post" action="#" class="comment-form">
        <fieldset>
          <div class="field-container">
            <textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
          </div>
          <div class="comment-meta">
            <div class="member-card" ng-controller="AccountCtrl">
              <figure>
                <img ng-if="!userIsAuthenticated()" src="../assets/images/avatar.png" alt="Avatar"/>
                <img ng-iff="userIsAuthenticated()" ng-src="{{user.profilePic.urlLargeString}}" alt="Avatar"/>
              </figure>
              <h4>
                <a href="">{{user.name}}</a>
                <span class="heading--subheader"><a href="">My Settings</a> | <a href="" ng-click="signout()">Log Out</a></span>
              </h4>
            </div>
          </div>
          <input class="button" type='submit' value='Submit' />
        </fieldset>
      </form>
    </div>
</main>
