<section class="comments__section">
  <div class="row" id="prePhase2">
    <div>
      <div id="campaignMilestoneDefinition" class="row box descriptionBox row col-md-12 col-sm-12 col-xs-12">
        <p>
          <span>
            {{'Select a phase in the timeline to Edit, or add a new phase to the Campaign timeline. The timeline on the top of the page shows how your campaign timeline will be displayed.' |  translate}}
          </span>
        </p>
      </div>

      <form name="newCampaignForm2">
        <section>
          <campaign-timeline title="{{'Campaign Timeline' | translate}}" components="defaultComponents" on-component-click="onComponentClick(component)"></campaign-timeline>
        </section>

        <section>
          <div class="row" style="margin-top: 20px;">
            <div class="col-lg-3">
              <h3>{{'Selected Phase' | translate}}</h3>
            </div>

            <fieldset style="display: inline-block;">
              <button type="button" ng-click="addNewPhase()">{{'Add new phase' | translate}}</button>
            </fieldset>

            <fieldset style="display: inline-block; margin-left: 10px;">
              <button type="button" ng-click="deleteSelectedPhase()" style="background-color: #d9534f; border-color: #d9534f;">{{'Delete selected phase' | translate}}</button>
            </fieldset>
          </div>
          <fieldset>
            <label for="group">{{'Stage name' | translate}}</label>
            <div class="field-container col-lg-12">
              <input ng-model="selectedComponent.title" type="text" class="col-lg-12">
            </div>
          </fieldset>

          <fieldset>
            <label for="group">{{'Stage description' | translate}}</label>
            <div class="field-container col-lg-12">
              <textarea rows="5" ng-model="selectedComponent.description"></textarea>
            </div>
          </fieldset>
        </section>

        <div class="row vertical-space-medium"></div>
        <div id="campaignButtons2" class="row">
          <div class="col-md-4">
            <button class="btn btn-success col-md-12" uib-tooltip="{{info.campaignFastrackTooltip}}" ng-disabled="!newCampaignForm2.$valid"
              ng-click="createCampaign('done', {fastrack:true})">
              {{'Fastrack' | translate}}
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" uib-tooltip="{{info.campaignFastrackTooltip}}" ng-disabled="!newCampaignForm2.$valid"
              ng-click="createCampaign('v2.assembly.aid.campaign.new.description', {aid: assemblyID, fastrack:false})">
               {{'Back' | translate}}
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" ng-click="createCampaign('v2.assembly.aid.campaign.new.stages', {aid: assemblyID, fastrack:false})"
              ng-disabled="!newCampaignForm2.$valid">
              {{'Next' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>