<header ng-controller="AccountCtrl">
    <ul class="row top-nav-menu" id="menu">
      <li class="columns-10">
        <div class="logo">Appcivist</div>
      </li>
      <li class="columns-2 user-menu">
        <input id="check02" type="checkbox" name="menu"/>
        <label for="check02">{{user.name}}</label>
        <ul class="submenu">
    <div>
        <h1>{{'My Working Groups' | translate}}</h1>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Working Group 1</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Working Group 2</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Working Group 3</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Working Group 4</a>
        </li>
    </div>
    <div>
        <h1>{{'My Campaigns' | translate}}</h1>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Campaign 1</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Campaign 2</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Campaign 3</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Campaign 4</a>
        </li>
    </div>
    <div>
        <h1>{{'My Assemblies' | translate}}</h1>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Assembly 1</a>
        </li>
        <li>
            <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Assembly 2</a>
        </li>
    </div>
    <li>
        <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">My Settings</a>
    </li>
    <li>
        <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">Log Out</a>
    </li>

</ul>

      </li>
    </ul>
</header>

<main>
    <header>
  <p class="heading--subheader">{{assembly.name}}</p>
  <h1 class="heading--display">{{campaign.title}}</h1>
  <p heading--headline>{{assembly.description}}</p>
  <p>In the <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;" class="b-inner">$Working-group-name</a> in the <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;" class="b-inner">$Campaign-name Campaign</a></p>
  <div class="tags">
  Tags:
  <ul>
  <li>Postulo esse magis</li>
</ul>
<ul>
  <li>Hong Kong Phooey</li>
</ul>
<ul>
  <li>Rizzle adipiscing</li>
</ul>

</div>

</header>

    <div class="columns-12">
        <h2 class="heading--headline">Campaigns Status</h2>
        <div class="card">
            FIXME add TIMELINE
        </div>
    </div>
    <div class="columns-12">
        <h2 class="heading--headline">Proposals</h2>
        <div class="card">
  <div class="main">
    <p>In the <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">$Working-group-name</a> in the <a href="http:&#x2F;&#x2F;lorizzle.nl&#x2F;">$Campaign-name Campaign</a></p>
    <h1 class="heading--title">Queso fromage</h1>
    <p>Izzle crazy tempizzle sizzle. We gonna chung gangsta get down get down fo shizzle turpizzle. Away break it down black. Pellentesque bling bling rhoncus fo shizzle. In hac the bizzle platea dictumst. Black dapibizzle. Crackalackin.</p>
    <div class="tags">
  Tags:
  <ul>
  <li>Postulo esse magis</li>
</ul>
<ul>
  <li>Hong Kong Phooey</li>
</ul>
<ul>
  <li>Rizzle adipiscing</li>
</ul>

</div>

  </div>
  <div class="action">
    <div>
    <button type="button" href="#" class="upvote button">^</button>

    <button type="button" href="#" class="downvote button">^</button>

</div>

  </div>
</div>

    </div>
    <div>
        <h2 class="heading--headline">Conversations in this Campaign</h2>
        <div class="card">
            FIXME add conversation module
        </div>
    </div>
</main>
