<div class="voting-stage-header">

  <div class="row">

    <div class="col-xs-6">
      <h2>Voting Phase</h2>
      <p id="selected-proposal-text">30 proposals have been selected for this phase.</p>
      <p>Ongoing</p>
      <p><a data-toggle="modal" data-target="#voting">Voting instructions</a></p>
    </div>
    <div class="col-xs-6 text-right">
      <div class="button-grid">
        <div class="button-row">
          <a data-toggle="modal" data-target="#votingSummary" class="btn btn-default btn-voting-stage-header">My Voting Summary</a>
          <a data-toggle="modal" data-target="#voting" class="btn btn-default btn-voting-stage-header">View Voting Instructions</a>
        </div>
        <div class="button-row">
          <a class="btn btn-default btn-voting-stage-header">Save Votes</a>
          <a class="btn btn-default btn-voting-stage-header finish">Finalize Voting</a>
        </div>
      </div>
    </div>

  </div>