<div class="progressline col-md-12 col-sm-12">
    <div class="col-md-8 col-sm-8">

    </div>
    <div class="col-md-4 col-sm-4">
        <div class="counter-box">
            <h3 class="counter-title"><strong>Final drafts due</strong></h3>
            <ul class="counter">
                <li class="counter-section">
                    <h5 class="text-muted"><strong>Days</strong></h5>
                    <div>45</div>
                </li>
                <li class="counter-section">
                    <h5 class="text-muted"><strong>Hours</strong></h5>
                    <div>03</div>
                </li>
                <li class="counter-section">
                    <h5 class="text-muted"><strong>Minutes</strong></h5>
                    <div>03</div>
                </li>
            </ul>
        </div>
    </div>
</div>