<div class="progressline col-md-12 col-sm-12">
    <div class="col-md-8 col-sm-8">
        <ul class="progressline-phases">
            <li class="progressline-phase">
                <h4 class="progressline-phase-title selected">
                    {{'landing.component.Proposal Making.Brainstorming' | translate}}
                </h4>
                <div class="progressline-phase-line"></div>
            </li>
            <li class="progressline-phase">
                <h4 class="progressline-phase-title">
                    {{'directives.progressline.progressline.text1' | translate}}
                </h4>
                <div class="progressline-phase-line"></div>
            </li>
            <li class="progressline-phase">
                <h4 class="progressline-phase-title">
                    {{'directives.progressline.progressline.text2' | translate}}
                </h4>
                <div class="progressline-phase-line"></div>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="counter-box">
            <h3 class="counter-title"><strong>{{'directives.progressline.progressline.text3' | translate}}</strong></h3>
            <ul class="counter">
                <li class="counter-section">
                    <h5 class="text-muted"><strong>{{'Days' | translate}}</strong></h5>
                    <div>45</div>
                </li>
                <li class="counter-section">
                    <h5 class="text-muted"><strong>{{'Hours' | translate}}</strong></h5>
                    <div>03</div>
                </li>
                <li class="counter-section">
                    <h5 class="text-muted"><strong>{{'Minutes' | translate}}</strong></h5>
                    <div>03</div>
                </li>
            </ul>
        </div>
    </div>
</div>