@import "../stylesheets/styles/colors";
@import "../stylesheets/styles/common";
@import "../app/partials/landing/landing";
@import "../app/partials/assembly/assembly";
@import "../app/partials/assemblies/assemblies";
@import "../app/partials/forum/forum";
@import "../app/partials/campaign/index";
@import "../app/partials/directives/index";
@import "../app/partials/home/home";
@import "../app/partials/tooltips/index";

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/******HEADER******/

#navbar-options{
  ul{
    li{
      border-right: 0.1rem solid $border-header;
    }
    li:first-child{
      border-left: 0.1rem solid $border-header;
    }
    li:hover{
      background-color: rgba(128, 128, 128, 0.05);
    }
    li:active{
      background-color: rgba(128, 128, 128, 0.05);
      box-shadow: inset 0 0 0.2rem 0.2rem rgba(128, 128, 128, 0.05);
    }
    li {
      a:focus {
        color:white;
        background: $header-menu-active;
      }
    }
  }
}

#user-menu{
  ul.menu-elements{
    list-style: none;
    //display: inline-block;
    padding: 1.5rem;
    margin: 0;
    li{
      display: inline-block;
      margin: 0 0.5rem;
      cursor: pointer;
    }

    & .dropdown .dropdown-menu{
      li:hover{
        color: white;
        background: transparent;
      }
      li{
        a:hover{
          background: transparent;
        }
      }
      li:last-child{
        a{
          color: $dropdown-hover;
        }
      }
    }
  }
}

.inline{
  display: inline-block !important;
}


/*Mixin*/
.assembly{
  -webkit-box-shadow:none;
  box-shadow:none;
  display: inline-flex;
  padding: 4px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  height: auto;

  img{
    -webkit-box-shadow:0;
    box-shadow:0;
    height: 100px;
    display: inline-block;
  }

  .caption{
    display: inline-block;
    width: 220px;
  }

}

.image-circle{
  height: 100px;
  width: 100px;
  display: block;
  margin:auto;
  border-radius: 100%;
}

.image-capsule{
  cursor: default;
  margin: 0px 10px;
}

i{
  cursor: pointer;
}

.summary-heading{
  margin: 2rem 0;
}

.marketing{
  .caption{
    margin: auto;
  }
}