/*****COLORS*********/
/******COMMON BOXES*******/
/****TIMELINE*****/
/*****PROGRESSLINE******/
/*******SUGGESTIONS*******/
/*******TAGS**************/
/*****COMMON ELEMENTS***/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 5px; }

i {
  margin: 0 5px;
  cursor: default; }

.header {
  display: inline-block; }
  .header > div {
    display: inline; }

.title {
  display: inline-block;
  vertical-align: middle; }

.clear {
  clear: both; }

.voffset {
  margin-top: 0.2rem; }

.voffset1 {
  margin-top: 0.5rem; }

.voffset2 {
  margin-top: 1rem; }

.voffset3 {
  margin-top: 1.5rem; }

.voffset4 {
  margin-top: 3rem; }

.voffset5 {
  margin-top: 6rem; }

.voffset6 {
  margin-top: 9rem; }

/* Index of phases in a black ball */
.indexBall {
  display: inline-block;
  background-color: #524D4D;
  padding: 20px;
  border-radius: 50%; }
  .indexBall * {
    color: white;
    display: inline;
    margin: 0; }
  .indexBall :first-child {
    font-weight: bold; }
  .indexBall :last-child {
    vertical-align: -5px; }

.indexSquare {
  display: inline-block;
  background-color: #524D4D;
  padding: 1rem; }
  .indexSquare * {
    color: white;
    display: inline;
    margin: 0; }
  .indexSquare :first-child {
    font-weight: bold; }
  .indexSquare :last-child {
    vertical-align: -5px; }

.box {
  padding: 10px;
  border-radius: 5px;
  margin: 5px; }
  .box.newsBox {
    background-color: #E1F1F9;
    color: #9CC7D3; }
  .box.descriptionBox {
    background-color: #DFEFD6;
    color: #57965B; }
  .box.selectionBox {
    background-color: #F4F4F4; }
  .box.settingsBox {
    border: 3px solid #524D4D;
    margin: 30px 0px 30px 0px; }
    .box.settingsBox .checkbox {
      display: inline-block;
      margin-right: 10px; }

.tags {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  margin-bottom: 0; }

.tag {
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0 0.5rem 0.5rem 0; }
  .tag.tag-info {
    background: #F4F4F4; }
  .tag.tag-filter {
    color: white;
    background: #57965B; }
  .tag.tag-caution {
    color: white;
    background: #FCD49A; }

.vertical-divider {
  border-right: 1px solid #524D4D;
  display: inline-block;
  margin: 0 0.2rem; }

textarea {
  resize: none;
  margin: 5px 0 0 0;
  height: 50px; }

.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.vertical-space-little {
  margin: 5px 0; }

.vertical-space-medium {
  margin: 10px 0; }

.vertical-space-big {
  margin: 15px 0; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.container-inline {
  display: inline; }
  .container-inline * {
    display: inline-block; }

.info-block {
  display: inline-block;
  vertical-align: bottom; }
  .info-block * {
    display: block; }

/*******Buttons*****/
.btn-group {
  vertical-align: baseline; }

.btn-full-size {
  width: 100%; }

.btn-half-size {
  width: 49%; }

/**
 * Original styles in Hypersphere (first demo of AppCivist)
 */
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden; }

.modal-body {
  max-height: 50vh;
  overflow-y: scroll; }

.container-fluid {
  padding: 0; }

.container.marketing {
  text-align: center;
  margin-bottom: 30px; }

.container.marketing i {
  color: #808080;
  font-size: 90px;
  line-height: 140px; }

ins {
  text-decoration: none;
  background-color: #cfc; }

del {
  background-color: #fcc;
  color: #c00; }

.compare button {
  white-space: normal;
  width: 100%; }

hr.header {
  margin-top: 0; }

.tab-content > .tab-pane {
  padding: 0.5em 0; }

.filters {
  margin-bottom: 0.5em;
  display: none;
  /* Leave them for now */ }
  .filters .btn {
    color: #428BCA;
    border-right: 1px solid #eee; }
    .filters .btn:last-child {
      border: none; }
    .filters .btn:hover {
      color: #2A6496; }
    .filters .btn:active, .filters .btn.active {
      color: #333;
      box-shadow: none; }

.content-type {
  background: #eee;
  text-align: center;
  padding: 1em 0; }

.new-button {
  margin: 8px 0 0 10px;
  font-size: 10px;
  padding: 4px 8px; }

.new-button-small {
  margin-left: 8px;
  font-size: 8px;
  padding: 4px 6px; }

.affix {
  top: 20px; }

textarea {
  max-width: 100%; }

#post-column {
  margin-bottom: 100%; }
  #post-column .panel {
    background: inherit;
    border: 4px solid transparent;
    margin: 0;
    box-shadow: none;
    border-radius: 0; }
    #post-column .panel.proposal {
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 20px; }
    #post-column .panel.first-vote {
      border: 4px solid #5bc0de; }
    #post-column .panel.second-vote {
      border: 4px solid #f0ad4e; }
  #post-column .panel-default > .panel-heading {
    font-size: 0.875em;
    padding: 0.5em 1.25em;
    font-weight: bold;
    border-radius: 0;
    border-color: #d3d3d3; }
    #post-column .panel-default > .panel-heading.proposal-change {
      background: #e6e6e6; }
      #post-column .panel-default > .panel-heading.proposal-change .compare-button {
        float: right;
        padding: 0.125em 0.5em;
        font-size: 0.75em;
        font-weight: bold; }
    #post-column .panel-default > .panel-heading.comment {
      background: #D2E5FC;
      border-color: #BAD5F6; }
    #post-column .panel-default > .panel-heading small {
      margin-left: 0.5em;
      font-weight: normal; }
  #post-column .panel-body {
    padding: 0.5em 1.125em 1.25em;
    background: #f9f9f9; }

button#current-vote {
  border: 2px solid #5bc0de; }

button#second-vote {
  border: 2px solid #f0ad4e; }

#map-container {
  margin-left: 0;
  margin-right: 0; }

#map {
  border: 1px solid #ccc;
  height: 90vh; }

.map-column {
  padding: 0; }

.navbar .logotype {
  /*height: 100%;*/
  height: 45px; }

.navbar .navbar-brand {
  padding: 5px 15px; }

.navbar-map {
  margin-bottom: 0;
  border-radius: 0; }

.navbar-unauthenticated {
  margin: 0;
  border: 0; }

.reports-panel {
  background-color: #f8f8f8;
  height: 90vh;
  overflow: auto;
  padding: 0; }

.reports-panel .title {
  text-align: center; }

.jumbotron-index {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center; }

.jumbotron-logotype {
  height: 48px; }

.jumbotron-index .logotype {
  width: 300px;
  position: relative;
  top: 0px;
  /*-50px*/ }

.jumbotron-index i {
  color: #808080;
  font-size: 48px; }

.jumbotron-groups img {
  width: 90px; }

.jumbotron-copyright {
  padding-top: 12px; }

.reports a {
  color: #000; }

.summary-heading {
  margin: 30px 0; }

#features-row {
  background-color: #4A4A4A;
  margin-right: 0;
  margin-left: 0;
  color: #FFF; }

.highlight {
  color: #62A6E0; }

.feature-icon {
  height: 55px;
  width: 55px; }

.media-body h4 {
  text-align: center; }

#feature-title {
  text-align: center; }

#availability-text {
  font-size: 90%;
  color: #999999;
  text-align: center;
  margin-top: -20px; }

#features-row hr {
  color: #999;
  background-color: #999;
  border: 0;
  height: 2px; }

.footer {
  background-color: #505050; }
  .footer a {
    color: #999999;
    padding-left: 10px;
    padding-right: 10px; }

#footer-row {
  background-color: #505050;
  margin: 0; }

.features-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px; }

/* Fixes

   TODO: remove these hacks */
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0 !important; } }
.assemblyCreation .row {
  margin: 0 0 10px 0; }
.assemblyCreation .image-capsule {
  margin-right: 30px; }
.assemblyCreation .image-circle {
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
  border-radius: 100%;
  display: inline-block; }
.assemblyCreation .image-cover {
  height: 100px;
  width: 500px;
  display: block;
  margin: auto;
  display: inline-block;
  margin-bottom: 10px; }
.assemblyCreation .collection-tags {
  float: left; }
.assemblyCreation .green-tag {
  color: white;
  background-color: #5cb85c;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0 5px 0px; }
.assemblyCreation h1 {
  vertical-align: sub;
  display: inline-block; }
.assemblyCreation label {
  font-size: 16px; }
.assemblyCreation ul {
  list-style: none; }

.assembliesLanding .row {
  margin-bottom: 40px; }
.assembliesLanding ul {
  list-style-type: none; }
.assembliesLanding .assembly {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-flex;
  padding: 4px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  height: 150px; }
  .assembliesLanding .assembly img {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    height: 100px;
    display: inline-block; }
  .assembliesLanding .assembly .caption {
    display: inline-block;
    width: 220px; }
.assembliesLanding .image-circle {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 100%; }
.assembliesLanding .image-capsule {
  cursor: default;
  margin: 0px 10px; }

.forum {
  /**********************COMMENTS********************/ }
  .forum h1, .forum h2, .forum h3 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .forum .row {
    margin-top: 5px;
    margin-bottom: 5px; }
  .forum .header .assembly .caption {
    width: auto; }
  .forum .header button {
    float: right;
    margin-top: 100px; }
  .forum .info-lateral {
    margin-top: 30px; }
  .forum .infoBox {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 150px;
    background-color: #f3f3f3; }
    .forum .infoBox .row {
      margin-left: 0px; }
    .forum .infoBox .list-item {
      margin-top: 5px; }
    .forum .infoBox button {
      float: right; }
    .forum .infoBox .image-circle {
      height: 20px;
      width: 20px; }
    .forum .infoBox .list-item .row {
      margin-right: 0px; }
  .forum .image-capsule img {
    display: inline-block; }
  .forum .image-capsule .caption {
    display: inline-block; }
  .forum .green-tag {
    cursor: pointer;
    float: left;
    color: white;
    background-color: #5cb85c;
    border-radius: 5px;
    margin: 5px 5px 5px 5px; }
  .forum .forum-title h5 {
    margin: 5px 0; }
  .forum .discussion {
    margin-top: -35px; }
  .forum .commentBox {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px; }
    .forum .commentBox .image-circle {
      height: 20px;
      width: 20px;
      opacity: 0.6; }
  .forum .commentArea {
    border: none;
    width: 100%;
    resize: none;
    outline: 0; }
  .forum .comments {
    list-style-type: none; }
  .forum .reply {
    margin-left: 25px; }
  .forum .comment {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px; }
  .forum .image-profile-comment img {
    background-size: 100%;
    height: 40px;
    width: 40px;
    border-radius: 20px; }
  .forum .text-comment * {
    display: inline; }
  .forum .options-comment {
    margin-top: 0.5em;
    display: block; }
  .forum .comment-comment a {
    text-decoration: none;
    color: black; }
  .forum .counter p {
    margin: -8px 0 -8px 0px;
    padding-left: 5px; }

.campaign-creation {
  /******timeline-milestones*******/ }
  .campaign-creation .row {
    margin-left: 0;
    margin-right: 0; }
  .campaign-creation .template-configuration {
    margin-top: -10px; }
  .campaign-creation .short-input {
    width: 5rem; }
  .campaign-creation .short-input-label {
    width: 5rem;
    text-align: center; }
  .campaign-creation .timeline-milestones .milestone {
    margin: 1rem 0; }
    .campaign-creation .timeline-milestones .milestone .title-section .title-container .title {
      padding: 1rem 0; }
    .campaign-creation .timeline-milestones .milestone .date-section {
      margin: -1.3rem 0; }
      .campaign-creation .timeline-milestones .milestone .date-section input {
        margin: 0 1rem 0 0; }
    .campaign-creation .timeline-milestones .milestone .days-section {
      margin: -1.3rem 0; }
  .campaign-creation .timeline-milestones .milestone:last-child .downArrow {
    display: none; }
  .campaign-creation .timeline-milestones .downArrow {
    font-size: 5rem;
    display: inline-block;
    margin: -1.7rem 0 -2rem 0;
    color: #524D4D; }

.campaign-pmaking .suggestions {
  list-style: none;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }
.campaign-pmaking .row {
  margin-bottom: 0.5rem; }
.campaign-pmaking nav {
  display: inline-block;
  float: right; }
  .campaign-pmaking nav .pagination {
    margin: 0 0; }

.template-configuration .supporting-components {
  list-style: none; }
  .template-configuration .supporting-components li {
    border: 2px dashed black;
    width: 100%;
    display: none;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px; }
    .template-configuration .supporting-components li.active {
      display: block; }

.timeline {
  list-style: none;
  display: inline-block;
  width: 100%; }
  .timeline li {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background-color: #F4F4F4;
    color: #524D4D;
    opacity: 0.1; }
    .timeline li :only-child {
      margin-left: 5%; }
    .timeline li#proposalMakingPhase {
      width: 30%; }
    .timeline li#versioningPhase {
      width: 25%; }
    .timeline li#deliberationPhase {
      width: 25%; }
    .timeline li#votingPhase {
      width: 15%; }
    .timeline li.selected {
      color: white;
      background-color: #524D4D;
      opacity: 1; }
    .timeline li.selected:before {
      border-left-color: #524D4D; }
    .timeline li.active {
      opacity: 1; }
  .timeline li:before, .timeline li:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .timeline li:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 30px;
    margin-top: -30px;
    z-index: -1; }
  .timeline li:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #F4F4F4;
    border-width: 27px;
    margin-top: -27px; }
  .timeline #proposalMakingPhase {
    z-index: 4; }
  .timeline #versioningPhase {
    z-index: 3; }
  .timeline #deliberationPhase {
    z-index: 2; }
  .timeline #votingPhase {
    z-index: 1; }

.progressline .progressline-phases {
  list-style: none;
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin: 2rem; }
  .progressline .progressline-phases .progressline-phase {
    display: inline-block;
    padding: 0.5rem 2.5rem 0rem 2.5rem;
    vertical-align: bottom; }
    .progressline .progressline-phases .progressline-phase .selected {
      color: #57965B; }
    .progressline .progressline-phases .progressline-phase .progressline-phase-line {
      position: relative;
      border: 0.4rem solid grey;
      margin: 0 -2rem; }
    .progressline .progressline-phases .progressline-phase .progressline-phase-line:before, .progressline .progressline-phases .progressline-phase .progressline-phase-line:after {
      top: 50%;
      border: solid;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-radius: 1rem;
      border-width: 1rem;
      margin-top: -1rem;
      color: grey; }
    .progressline .progressline-phases .progressline-phase .progressline-phase-line:before {
      right: 100%;
      border-right-color: grey; }
    .progressline .progressline-phases .progressline-phase .progressline-phase-line:after {
      left: 100%;
      border-left-color: grey; }
    .progressline .progressline-phases .progressline-phase:last-child .progressline-phase-line:after {
      color: transparent;
      border-radius: 0rem; }
.progressline .counter-box {
  list-style: none;
  background-color: #F4E5E4;
  padding: 1rem; }
  .progressline .counter-box li {
    display: inline-block; }
  .progressline .counter-box .counter-title {
    display: inline-block;
    margin-left: 2rem; }
  .progressline .counter-box .counter {
    display: inline-block; }
    .progressline .counter-box .counter .counter-section {
      margin-right: 2rem;
      width: 5rem; }
      .progressline .counter-box .counter .counter-section div {
        border: 0.2rem solid grey;
        padding: 0.5rem;
        text-align: center;
        vertical-align: middle;
        background-color: #FFFFFF; }

.votes-counter {
  width: 2rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0.1rem; }
  .votes-counter .total-votes {
    display: block;
    margin: -0.9rem 0;
    text-align: center; }

.suggestion {
  border: 0.1rem solid #F4F4F4;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-flex; }
  .suggestion .row {
    margin-left: 0;
    margin-right: 0; }
  .suggestion .suggestion-content {
    padding: 1.5rem; }
    .suggestion .suggestion-content .suggestion-info-user {
      display: inline-block;
      margin: 0 1rem; }
      .suggestion .suggestion-content .suggestion-info-user .image-profile-suggestion {
        display: inline-block; }
        .suggestion .suggestion-content .suggestion-info-user .image-profile-suggestion img {
          background-size: 100%;
          height: 40px;
          width: 40px;
          border-radius: 20px; }
  .suggestion .suggestion-title {
    display: inline-block;
    margin: 0; }
  .suggestion .suggestion-description {
    display: inline; }

.home {
  /**********************COMMENTS********************/ }
  .home a {
    color: cornflowerblue; }
  .home .infoBox {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 150px;
    background-color: #f3f3f3; }
    .home .infoBox .row {
      margin-left: 0px; }
    .home .infoBox .list-item {
      margin-top: 5px; }
    .home .infoBox button {
      float: right; }
    .home .infoBox .image-circle {
      height: 20px;
      width: 20px; }
    .home .infoBox .list-item .row {
      margin-right: 0px; }
  .home .image-capsule img {
    display: inline-block; }
  .home .image-capsule .caption {
    display: inline-block; }
  .home .discussion {
    margin-top: -35px; }
  .home .commentBox {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px; }
    .home .commentBox .image-circle {
      height: 20px;
      width: 20px;
      opacity: 0.6; }
  .home .commentArea {
    border: none;
    width: 100%;
    resize: none;
    outline: 0; }
  .home .comments {
    list-style-type: none;
    margin-left: 10px; }
  .home .reply {
    margin-left: 25px; }
  .home .comment {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px; }
  .home .image-profile-comment img {
    background-size: 100%;
    height: 40px;
    width: 40px;
    border-radius: 20px; }
  .home .text-comment * {
    display: inline; }
  .home .options-comment {
    display: block; }
  .home .comment-comment a {
    text-decoration: none;
    color: black; }
  .home .tags {
    padding-left: 0;
    list-style: none;
    display: inline-block; }
  .home .tag {
    margin: 0 2px;
    padding: 0.2em 0.6em;
    border-radius: 4px;
    font-size: 0.8em;
    cursor: pointer;
    display: inline-block;
    border: none;
    background: rgba(0, 0, 0, 0.26); }
  .home .counter p {
    margin: -8px 0 -8px 0px;
    padding-left: 5px; }

.tooltip.linkedCampaignTooltip {
  opacity: 1; }
  .tooltip.linkedCampaignTooltip .tooltip-inner {
    max-width: 35rem;
    padding: 2rem 1rem;
    background: white;
    color: #000;
    display: inline-block;
    text-align: left;
    border: 0.2rem solid black;
    border-radius: 0.3rem; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%; }

.bubbleChart {
  height: 100%;
  padding-bottom: 15px; }

.bubbleChart svg {
  background: transparent; }

.inline {
  display: inline-block !important; }

/*Mixin*/
.assembly {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-flex;
  padding: 4px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  height: 150px; }
  .assembly img {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    height: 100px;
    display: inline-block; }
  .assembly .caption {
    display: inline-block;
    width: 220px; }

.image-circle {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 100%; }

.image-capsule {
  cursor: default;
  margin: 0px 10px; }

i {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
