@import "../stylesheets/styles/colors";
@import "../stylesheets/styles/common";
@import "../stylesheets/styles/header";
@import "../stylesheets/styles/footer";
@import "../app/partials/landing/landing";
@import "../app/partials/assembly/assembly";
@import "../app/partials/assemblies/assemblies";
@import "../app/partials/forum/forum";
@import "../app/partials/campaign/index";
@import "../app/partials/directives/index";
@import "../app/partials/home/home";
@import "../app/partials/tooltips/index";
@import "../app/partials/voting/index"; 
@import "../app/partials/contributions/index";
@import "../app/partials/wGroupsSuggestions/wGroupsSuggestion";
@import "../app/partials/wGroupForum/wGroupForum";


html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -16rem;
}

.inline{
  display: inline-block !important;
}

/*Mixin*/
.assembly{
  -webkit-box-shadow:none;
  box-shadow:none;
  display: inline-flex;
  padding: 4px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  height: auto;

  img{
    -webkit-box-shadow:0;
    box-shadow:0;
    height: 100px;
    display: inline-block;
  }

  .caption{
    display: inline-block;
    width: 220px;
  }

}

.image-circle{
  height: 100px;
  width: 100px;
  display: block;
  margin:auto;
  border-radius: 100%;
}

.image-capsule{
  cursor: default;
  margin: 0px 10px;
}

i{
  cursor: pointer;
}

.summary-heading{
  margin: 2rem 0;
}

.marketing{
  .caption{
    margin: auto;
  }
}

/******HEADER******/
/******NEW DESIGN NAVBAR COLORS******/
$bgDefault      : $header-background;
$bgHighlight    : $header-menu-active;
$colDefault     : $header-default-color;
$colHighlight   : $header-menu-highlight;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    background-color: $bgDefault;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse {
    background-color: $bgDefault;
    border-color: $bgHighlight;
  }
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/*******NAVBAR MENU BORDERS********/
#navbar-options{
  ul{
    //li{
    //  border-right: 0.1rem solid $header-menu-active;
    //}
    //li:first-child{
    //  border-left: 0.1rem solid $header-menu-active;
    //}
    li:hover{
      //background-color: rgba(128, 128, 128, 0.05);
      background-color: $header-menu-active;
    }
    li:active{
      //background-color: rgba(128, 128, 128, 0.05);
      background-color: $header-menu-active;
      box-shadow: inset 0 0 0.2rem 0.2rem $header-background;
    }
    li {
      a:focus {
        color:white;
        background: $header-menu-active;
      }
    }
  }
}

.navBarImage{
  height: 5rem;
}

/*******NAVBAR USER MENU********/
#user-menu{
  .icon{
    font-size: 2.5rem;
    vertical-align: middle;
  }
  ul.menu-elements{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      margin: 0 0.5rem;
      cursor: pointer;
    }

    & .dropdown .dropdown-menu{
      li:hover{
        color: white;
        background: transparent;
      }
      li{
        a:hover{
          background: transparent;
        }
      }
      li:last-child{
        a{
          color: $dropdown-hover;
        }
      }
    }
  }
}

/****NEW DESIGN FOR LANDING PAGE****/
.section{
  width: 100%;
  &.first-section{
    background-image: linear-gradient(to bottom, rgba(19,74,62, 0.5) 0%, rgba(19,74,62, 0.5) 100%), url("../../assets/images/section1pic.jpg");
    vertical-align: middle;
    background-size: 100%;
    height: 82rem;
    margin-top: -20px;
    padding-top: 17%;
    .main-title{
      color: $main-first-section-font-color;
      margin-bottom: 3%;
    }
    & form{
      text-align: center;
      margin-bottom: 20%;
      & *{
        display: inline-block;
        width: 15.9rem;
        height: 4rem;
        margin-right: 2.3rem;
      }
      & :last-child{
        margin-right: 0;
      }
    }
    .bottom-info{
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    .btn-yellow{
      background-color: $main-first-section-button-sign-up-background;
      border: 0;
      color: $main-first-section-font-color;
      padding: 0.8rem 1.6rem;
    }
  }
}
