<div class="container">
    <div class="row text-center">
        <h2><b>Assembly:</b>PB Belleville Paris/<b>Campaign:</b>Belleville - Paris PB 2016</h2>
    </div>
    <br>

    <div class="titles">
        <div class="container">
            <h3>Paris PB 2016</h3>
        </div>
        <div class="container">
            <h1><b>Assembly Ballot</b></h1>
        </div>
        <div class="container">
            <h1 id="small">2016 August</h1>
        </div>
    </div>
    <br>

    <form>
        <div class="fields" ng-repeat="field in fields">
            <div class="form-group">
                <label for="exampleInputEmail1">{{field.fieldName}}</label>
                <input class="form-control" id="{{field.votingBallotRegistrationFieldId}}"
                       placeholder="{{field.fieldDescription}}">
            </div>
        </div>
        <button type="submit" ng-click="fillForm($scope)" class="btn btn-default"><a href="#">Submit</a></button>
    </form>
</div>