<div class="app-container">
    <nav class="navigation-logged-in large-screen-nav">
        <div class="logo">
        <h1 class="heading--headline">City of Vallejo
            <span>Participatory Budgeting</span></h1>
            <h3 class="heading--subheader">Powered by Appcivist</h3>
      </div>
        <div class="user">
            <div class="member-card">
                <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
                <h4><a href="">Junius Koolen</a>
                <span class="heading--subheader"><a href="">My Settings</a> | <a href="">Log Out</a></span></h4>
            </div>
        </div>
      <ul class="submenu submenu-working-groups">
            <h1 class="heading--header">My Working Groups</h1>
            <li>
                <a href="&#x2F;patterns&#x2F;03-templates-03-working-group-dashboard&#x2F;03-templates-03-working-group-dashboard.html">Sacramento Streetscape Improvement Project</a>
            </li>
            <li>
                <a href="&#x2F;patterns&#x2F;03-templates-03-working-group-dashboard&#x2F;03-templates-03-working-group-dashboard.html">Five Year Community Development and Affordable Housing Goals</a>
            </li>
        </ul>
        <ul class="submenu submenu-campaigns">
            <h1 class="heading--header">My Campaigns</h1>
            <li>
                <a href="&#x2F;patterns&#x2F;03-templates-01-campaign-dashboard&#x2F;03-templates-01-campaign-dashboard.html">Submit Participatory Budgeting Project Ideas - Cycle 4</a>
            </li>
        </ul>
    </nav>
    <nav id="small-nav" class="navigation-logged-in small-screen-nav">
        <div class="logo">
        <h1 class="heading--headline">City of Vallejo
            <span>Participatory Budgeting</span></h1>
            <h3 class="heading--subheader">Powered by Appcivist</h3>
      </div>
        <a href="#small-menu" class="small-nav-button">
            <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
        </a>
    </nav>

<main class="app-main">
    <section class="panel intro">
      <p class="heading--header">Campaign</p>
      <h1 class="heading--title">Participatory Budgeting - Cycle 4</h1>
      <p>It's that time again - the City is collecting ideas for the fourth cycle of Participatory Budgeting (PB) in Vallejo. Share your ideas on how you want to use Measure B tax dollars to make Vallejo even better.</p>
    </section>
    <section class="panel">
        <h1 class="heading--header">Campaigns Status</h1>
            <div class="timeline">
        <div class="timeline-item inactive"><div class="marker"></div>Proposals</div>
        <div class="timeline-item inactive"><div class="marker"></div>Deliberation</div>
        <div class="timeline-item active"><div class="marker"></div>Voting</div>
        <div class="timeline-item future"><div class="marker"></div>Implementation</div>
    </div>

    </section>
    <section class="panel ideas-and-proposals">
        <section class="list--proposal">
            <div class="panel-heading">
                <h1 class="heading--header">Proposals</h1><p class="heading--small"><a href="&#x2F;patterns&#x2F;03-templates-07-all-proposals-view&#x2F;03-templates-07-all-proposals-view.html">See All</a> | <a href="#">Add New</a></p>
            </div>
            <div class="card">
  <div class="card-info">
    <p class="heading--subheader">In the <a href="&#x2F;patterns&#x2F;03-templates-03-working-group-dashboard&#x2F;03-templates-03-working-group-dashboard.html">Ad-Hoc City Council Committee on Commissions</a> working group</p>
    <h1 class="heading--headline"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Beach Volleyball courts on Waterfront</a></h1>
    <small>What is your input on the proposed water use restrictions? What other voluntary conservation measures are you implementing?</small>
<div class="tags">
      <span><a href="#">library</a></span>
  <span><a href="#">provide space</a></span>
  <span><a href="#">waterfront</a></span>
  <span><a href="#">street improvements]</a></span>
  <span><a href="#">quick-fixes</a></span>

</div>
  </div>
  <div class="action-bar">
<div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-info">
    <p class="heading--subheader">In the <a href="&#x2F;patterns&#x2F;03-templates-03-working-group-dashboard&#x2F;03-templates-03-working-group-dashboard.html">Submit Participatory Budgeting Ideas- Cycle 4</a> working group</p>
    <h1 class="heading--headline"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html"> Security For Ferry Parking Lot</a></h1>
    <small>What are your comments on the Ad-Hoc City Council Committee on Commissions (AHCC) draft report?</small>
<div class="tags">
      <span><a href="#">library</a></span>
  <span><a href="#">provide space</a></span>
  <span><a href="#">waterfront</a></span>
  <span><a href="#">street improvements]</a></span>
  <span><a href="#">quick-fixes</a></span>

</div>
  </div>
  <div class="action-bar">
<div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-info">
    <p class="heading--subheader">In the <a href="&#x2F;patterns&#x2F;03-templates-03-working-group-dashboard&#x2F;03-templates-03-working-group-dashboard.html">Water Rate Study</a> working group</p>
    <h1 class="heading--headline"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Sports Center</a></h1>
    <small>In preparation of the City&#39;s Five Year Consolidated Plan, what are your priorities for community development and housing in Vallejo?</small>
<div class="tags">
      <span><a href="#">library</a></span>
  <span><a href="#">provide space</a></span>
  <span><a href="#">waterfront</a></span>
  <span><a href="#">street improvements]</a></span>
  <span><a href="#">quick-fixes</a></span>

</div>
  </div>
  <div class="action-bar">
<div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-info">
    <p class="heading--subheader">In the <a href="&#x2F;patterns&#x2F;03-templates-03-working-group-dashboard&#x2F;03-templates-03-working-group-dashboard.html">Housing and Urban Development (HUD) Funds</a> working group</p>
    <h1 class="heading--headline"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Basketball on the East Side</a></h1>
    <small>How should these areas of Vallejo change over the next 25 years?</small>
<div class="tags">
      <span><a href="#">library</a></span>
  <span><a href="#">provide space</a></span>
  <span><a href="#">waterfront</a></span>
  <span><a href="#">street improvements]</a></span>
  <span><a href="#">quick-fixes</a></span>

</div>
  </div>
  <div class="action-bar">
<div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>

        </section>
        <section class="list--idea">
            <div class="panel-heading">
                <h1 class="heading--header">Ideas</h1><p class="heading--small"><a href="&#x2F;patterns&#x2F;03-templates-08-all-ideas-view&#x2F;03-templates-08-all-ideas-view.html">See All</a> | <a href="#">Add New</a></p>
            </div>
                <div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Beach Volleyball courts on Waterfront</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html"> Security For Ferry Parking Lot</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Sports Center</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Basketball on the East Side</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Bring Arts to Youth in Vallejo</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Loma Vista Farm ADA Access</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="action-bar">
    <p class="idea-title"><a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Bicycle Racks</a></p>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>more</title>
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
                  <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
          </g>
      </svg>
      <ul class="action-menu">
          <li><a href="#">Edit this idea</a></li>
          <li><a href="#">Promote to Proposal</a></li>
          <li><a href="#">Exclude</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </div>
</div>

        </section>
    </section>
    <section class="panel">
        <div class="panel-heading">
            <h1 class="heading--header">Conversations</h1><p class="heading--small"><a href="#">Start a new onversation</a></p>
        </div>
        <li class="panel card conversation-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
    <ul class="threaded-comments">
        <li class="panel comment-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
</li>

        <li class="panel comment-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
</li>

        <li class="panel comment-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
</li>

    </ul>
</li>

        <li class="panel card conversation-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
    <ul class="threaded-comments">
        <li class="panel comment-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
</li>

        <li class="panel comment-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
</li>

        <li class="panel comment-container">
    <div class="comment-meta">
        <p class="heading--header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
        </div>
    </div>
    <div class="comment-text">
        <small>Fizzle crazy tortor. Sed rizzle. Ass pimpin&#39; dolor dapibizzle turpis tempizzle fo shizzle my nizzle. Maurizzle pellentesque its fo rizzle izzle turpis. Get down get down we gonna chung nizzle. Shizzlin dizzle eleifend rhoncizzle break it down. In yo ghetto platea dictumst. Bling bling dapibizzle. Curabitur break yo neck, yall fo, pretizzle eu, go to hizzle dope, own yo&#39; vitae, nunc. Bizzle suscipizzle. Ass semper velit sizzle fo.</small>
    </div>
    <div class="comment-reply-controls">
        <div class="voting-buttons">
    <div class="vote-button upvote">
        <a class="heading--small" href="#">+888</a>
    </div>
    <div class="vote-button downvote">
        <a class="heading--small" href="#">-888</a>
    </div>
</div>

        <a class="heading--subheader reply-count">2 Replies</a>
        <a class="heading--subheader reply-count reply">Reply to this comment</a>
    </div>
</li>

    </ul>
</li>

    </section>
    <div class="panel reply-field">
        <h1 class="heading--header">Start a Conversation</h1>
        <form method="post" action="#" class="comment-form">
    <fieldset>
        <div class="field-container">
            <textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
        </div>
        <div class="comment-meta">
            <div class="member-card">
                <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
                <h4><a href="">Junius Koolen</a>
            </div>
    </div>
    <input class="button" type='submit' value='Submit' />
    </fieldset>
</form>

    </div>
</main>
</div> <!-- .app-container -->
<footer>
    <div class="large-screen-nav">
        <small>Created by the Social Apps Lab at <a href="http://citris-uc.org">CITRIS</a>, University of California, Berkeley</small>
        <small>In partnership with the MiMove Team at INRIA, France</small>
    </div>
    <div class="app-main">
        <small>2014-2016 © Regents of the University of California</small>
    </div>
</footer>
<nav id="small-menu" class="navigation-logged-in">
    <div class="navigation-logged-in small-screen-nav">
        <div class="logo">
        <h1 class="heading--headline">City of Vallejo
            <span>Participatory Budgeting</span></h1>
            <h3 class="heading--subheader">Powered by Appcivist</h3>
      </div>
        <a href="#small-nav" class="small-nav-button">
            <svg width="16px" height="16px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>close</title>
              <defs></defs>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="close" transform="translate(-10.000000, -10.000000)">
                      <polygon id="close" transform="translate(21.214286, 20.911240) rotate(45.000000) translate(-21.214286, -20.911240) " points="22.0714286 21.7683828 22.0714286 34.91124 20.3571429 34.91124 20.3571429 21.7683828 7.21428571 21.7683828 7.21428571 20.0540971 20.3571429 20.0540971 20.3571429 6.91123995 22.0714286 6.91123995 22.0714286 20.0540971 35.2142857 20.0540971 35.2142857 21.7683828"></polygon>
                  </g>
              </g>
          </svg>
        </a>
    </div>
    <div class="user">
        <div class="member-card">
            <figure><img src="assets/images/avatar.png" alt="Avatar" />
</figure>
            <h4><a href="">Junius Koolen</a>
            <span class="heading--subheader"><a href="">My Settings</a> | <a href="">Log Out</a></span></h4>
        </div>
    </div>
    <ul class="submenu submenu-working-groups">
        <h1 class="heading--header">My Working Groups</h1>
        <li>
            <a href="">Sacramento Streetscape Improvement Project</a>
        </li>
        <li>
            <a href="">Five Year Community Development and Affordable Housing Goals</a>
        </li>
    </ul>
    <ul class="submenu submenu-campaigns">
        <h1 class="heading--header">My Campaigns</h1>
        <li>
            <a href="">Submit Participatory Budgeting Project Ideas - Cycle 4</a>
        </li>
    </ul>
    <div class="credits">
        <small>Created by the Social Apps Lab at <a href="http://citris-uc.org">CITRIS</a>, University of California, Berkeley</small>
        <small>In partnership with the MiMove Team at INRIA, France</small>
    </div>
</nav>
