#rangeLanding .additional-info .info{
  font-size: 15px;
}
#rangeLanding .additional-info{
  width:70%;
  border:2px solid #aaaaaa;
  background-color: #ffffff;
  margin-left: 0;
}
#rangeLanding .instructions{
  width:70%;
  border:2px solid #aaaaaa;
  background-color: #ffffff;
  margin-left: 0;
}
#rangeLanding .instructions .title{
  width:100%;
}
#rangeLanding .instructions .title button{
  float:right;
  margin-top: 5px;
}
#rangeLanding{
  background-color: #e6e6e6;
}