<main class="app-main">
  <section class="panel intro">
    <p class="heading--header">Proposal</p>
    <h1 class="heading--title">{{proposal.title}}</h1>
    <p>{{proposal.text}}</p>
    <p class="heading--subheader">
      In the 
      <a href="workin group dashboar url">{{group.name}}</a> 
      working group
    </p>
    <div class="tags">
      <span ng-repeat="theme in proposal.themes track by $index"><a href="#">{{theme.title}}</a></span>
    </div>
    <div class="action-bar">
    <div class="voting-buttons">
      <div class="vote-button upvote">
        <a class="heading--small" href="#">
          <i class="fa fa-chevron-up"></i>
          {{proposal.stats.ups}}
        </a>
      </div>
      <div class="vote-button downvote">
        <a class="heading--small" href="#">
          <i class="fa fa-chevron-down"></i>
          {{proposal.stats.downs}}
        </a>
      </div>
    </div>
    <div class="action-button">
      <input id="menu04" type="checkbox" name="menu" />
      <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>
          more</title
          <defs></defs>
          <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
            <g id="more">
              <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
            </g>
          </g>
      </svg>
      <ul class="action-menu">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Exclude</a></li>
      <li><a href="#">Archive</a></li>
      </ul>
    </div>
  </section>
  
  <campaign-timeline title="Proposal Status" assembly-id="assemblyID" campaign-id="campaignID"></campaign-timeline>
  
  <section class="panel text-created-attachments-similar">
    <section class="temp-array proposal-text">
      <div class="panel-heading">
        <h1 class="heading--header">Proposal Text</h1>
      </div>
      <div class="row etherpad">
          <iframe ng-if="!userIsAuthor"
                  name="embed_readonly"
                  ng-src="{{etherpadReadOnlyUrl}}"
                  width="100%"
                  height="600px">
          </iframe>
          <iframe ng-if="userIsAuthor" name="embed_readwrite" ng-src="{{etherpadReadWriteUrl}}"
                  width="100%" height="600px">
          </iframe>
      </div>
    </section>
  </section>
  
  <section class="panel text-created-attachments-similar">
    <section class="temp-array created-attachments-similar">
      <div class="panel-heading">
        <h1 class="heading--header">Created by</h1>
      </div>
      <div class="card-list">
        <div class="action-bar">
          <div class="member-card">
            <figure><img src="http:&#x2F;&#x2F;placeimg.com&#x2F;100&#x2F;100&#x2F;any&#x2F;sepia" alt="Avatar" /></figure>
            <h4><a href="">Jacobus Sneiders</a>
          </div>
          <div class="action-button">
            <input id="menu04" type="checkbox" name="menu" />
            <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>more</title>
              <defs></defs>
              <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
              <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
              </g>
            </svg>
            <ul class="action-menu">
              <li><a href="#">Message this user</a></li>
              <li><a href="#">Remove this user</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <h1 class="heading--header">Attachments</h1>
        <p class="heading--small"><a href="#"><i class="fa fa-paperclip"></i>&nbsp;Add a new file</a></p>
      </div>
      <div class="card-list" ng-repeat="file in proposal.attachments">
        <div class="action-bar small-card file-card">
          <figure>
            <a ng-href="{{file.url}}" target="_blank">
              <img ng-if="file.resourceType !== 'PICTURE'" src="/bower_components/appcivist-patterns/dist/images/file-icon.png" alt="File icon" />
              <img ng-if="file.resourceType === 'PICTURE'" ng-src="{{file.url}}" alt="File icon" />
            </a>
          </figure>
          <h4>
            {{(file.name && file.name != "" ? file.name : file.url)}}
          </h4>
          <div class="action-button">
            <input id="menu04" type="checkbox" name="menu" />
            <svg width="4px" height="16px" viewBox="0 0 4 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>more</title>
              <defs></defs>
              <g id="Icon/Light/More-Vert" transform="translate(-10.000000, -4.000000)" >
              <g id="more">
              <path d="M12,8 C13.1,8 14,7.1 14,6 C14,4.9 13.1,4 12,4 C10.9,4 10,4.9 10,6 C10,7.1 10.9,8 12,8 L12,8 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 L12,10 Z M12,16 C10.9,16 10,16.9 10,18 C10,19.1 10.9,20 12,20 C13.1,20 14,19.1 14,18 C14,16.9 13.1,16 12,16 L12,16 Z"></path>
              </g>
              </g>
            </svg>
            <ul class="action-menu">
              <li><a href="#">Delete</a></li>
              <li><a href="#">Rename</a></li>
            </ul>
          </div>
        </div>
      </div>
      <h1 class="heading--header">Similar Proposals</h1>
      <dl ng-repeat="related in relatedContributions">
        <dt>
          <a ng-href="#/v2/assembly/{{related.assemblyId}}/group/{{related.groupId}}/proposal/{{related.contributionId}}">
            {{related.title|limitTo:97}}{{(related.title.length) > 97 ? '...' : '.' }}
          </a>
        </dt>
        <dd class="heading--small">{{related.text}}</dd>
      </dl>
    </section>
  </section>
  <discussion-panel discussions="proposal.comments"></discussion-panel>
</main>
