<div class="about__title">
  <div class="about__title_logo">
    <img src="/assets/images/logo-white.svg" class="logotype" alt="AppCivist ">
  </div>
  <div class="about__title_text">{{'About AppCivist'|translate}}</div>
</div>
<div class="about__content">
  <div class="about__content_intro">
    <p translate="about.content.intro"></p>
  </div>
  <hr class="about__hr">
  <div class="about__content_award">
    <div class="about__content_award_icon">
      <i class="fa fa-trophy"></i>
    </div>
    <div class="about__content_award_text">
      <p class="about__content_award_text_p1" translate="about.content.award.p1"></p>
      <p class="about__content_award_text_p2" translate="about.content.award.p2"></p>
      <p class="about__content_award_text_p2" translate="about.content.award.p3"></p>
    </div>
  </div>
  <hr class="about__hr">
  <div class="about__content_copyright">
    <div class="about__content_copyright_icon_text">
      <div class="about__content_copyright_icon">
        <i class="fa fa-copyright"></i>
      </div>
      <div class="about__content_copyright_text">
        <p translate="about.copyright.text"></p>
      </div>
    </div>
    <div class="about__content_copyright_team">
      <p translate="about.content.copyright.team.socialappslab"></p>
      <p translate="about.content.copyright.team.inria"></p>
    </div>
  </div>
  <hr class="about__hr">
  <div class="about__content_license">
    <div class="about__content_license_icon">
      <i class="fa fa-github"></i>
    </div>
    <div class="about__content_license_text">
      <p translate="about.content.license.text"></p>
    </div>
  </div>
</div>
<div class="about__logos">
  <div class="about__logos_creators">
    <img src="/assets/images/logo-social-app-labs.png">
    <img src="/assets/images/logo-berkeley.png">
    <img src="/assets/images/logo-inria.png">
    <img src="/assets/images/logo-eit-digital.png">
  </div>
  <div class="about__logos_supporters">
    <img src="/assets/images/logo-citris.png">
    <img src="/assets/images/logo-tu-b.png">
    <img src="/assets/images/logo-mission-publique.png">
    <img src="/assets/images/logo-nexus.png">
  </div>
</div>
