.wGroupsSuggestion{
  border: 0.1rem solid $contribution-border;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: inline-flex;

  & .row{
    margin-left: 0;
    margin-right: 0;
  }

  & .wGroupsSuggestion-content{
    padding: 1.5rem;

    & .wGroupsSuggestion-info-user{
      display: inline-block;
      margin: 0;
      & .image-profile-wGroupsSuggestion {
        display: inline-block;
        & img {
          background-size: 100%;
          height: 7rem;
          width: 7rem;
          border-radius: 4rem;
        }
      }
    }
  }

  & .wGroupsSuggestion-title{
    display: inline-block;
    margin: 0;
    cursor: pointer;
  }

  & .wGroupsSuggestion-description{
    display: inline;
  }
}
