/** form  elements **/
.campaign-title {
  margin: 20px 15px;
}

.edit-campaign-section-title {
  margin: 10px 15px;
}

.edit-campaign-form {


  .form-section {
    margin: 30px 0;
  }

  .form-row {
    margin: 16px 0;
  }

  .edit-campaign-input, .edi-campaign-text-area {
    width: 100%;
  }

  .edit-campaign-text-area {
    height: 120px;
  }
}

/** buttons **/
.edit-button {
  margin-left: 15px
}
