<div class="row view campaign-creation" id="prePhase2">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div id="campaignMilestoneDefinition" class="row box descriptionBox row col-md-12 col-sm-12 col-xs-12">
            <p>
                <strong>Campaign Milestones</strong> represent the concrete dates by which the assembly hopes to complete
                specific goals (e.g., finish proposals, forming working groups, etc.). Setup the date of each milestone
                of your campaign by using the slider below.
                <ol>
                    <li>
                        Each handle in the slider represents a milestone. Slide them in the timeline to change their dates.
                    </li>
                    <li>
                        The separation between circles represents the duration (in days).
                    </li>
                    <li>
                        Below the timeline, each milestones is described by number with its corresponding date,
                        according to their positions in the timeline.
                    </li>
                    <li>
                        Milestones are organized within each component used in the campaign, as shown in the summary.
                    </li>
                </ol>
            </p>
        </div>
        <form name="newCampaignForm2">
            <section id="campaignMilestoneLengthOptions" class="col-md-12 col-sm-12">
                <div class="col-md-12 col-sm-12">
                    <label for="campaignMilestoneSlider" class="control-label">Setup milestones for your campaign</label>
                    <i class="fa fa-question-circle"
                       tooltip-placement="right"
                       uib-tooltip="{{'help.tooltip.campaignTimeframe' | translate}}">
                    </i>
                </div>
                <div id="inputCampaignTimeframe" class="btn-group" class="col-md-12 col-sm-12">
                    <label class="btn btn-primary col-md-3 col-sm-3"
                           ng-model="newCampaign.campaignTimeframeInMonths"
                           uib-btn-radio="1"
                           ng-click="refreshTimeframe(newCampaign.campaignTimeframeInMonths)">
                        1 month
                    </label>
                    <label class="btn btn-primary col-md-3 col-sm-3"
                           ng-model="newCampaign.campaignTimeframeInMonths"
                           uib-btn-radio="3"
                           ng-click="refreshTimeframe(newCampaign.campaignTimeframeInMonths)">
                        3 months
                    </label>
                    <label class="btn btn-primary col-md-3 col-sm-3"
                           ng-model="newCampaign.campaignTimeframeInMonths"
                           uib-btn-radio="6"
                           ng-click="refreshTimeframe(newCampaign.campaignTimeframeInMonths)">
                        6 months
                    </label>
                    <label class="btn btn-primary col-md-3 col-sm-3"
                           ng-model="newCampaign.campaignTimeframeInMonths"
                           uib-btn-radio="12"
                           ng-click="refreshTimeframe(newCampaign.campaignTimeframeInMonths)">
                        12 months
                    </label>
                </div>
            </section>

            <!-- todo: only include milestones of components that are enabled-->
            <section id="campaignMilestoneSlider" class="col-md-12 col-sm-12">
                <multi-slider-dates
                        floor="1"
                        step="1"
                        precision="1"
                        ceiling="{{newCampaign.campaignTimeframeInDays}}"
                        bubbles="false"
                        ng-model="newCampaign.milestones"
                        ng-if="steps[currentStep-1].active"
                        update="newCampaign.triggerTimeframeUpdate"
                        overlapping="false">
                </multi-slider-dates>
            </section>
            <section class="col-sm-12 col-md-12" ng-repeat="milestone in newCampaign.milestones track by $index">
                <div ng-if="newCampaign.proposalComponents[milestone.componentIndex].enabled && newCampaign.proposalComponents[milestone.componentIndex].active">
                    <div class="col-md-6 col-sm-6"><strong>{{$index+1}}. </strong><span>{{milestone.title}}</span></div>
                    <div class="col-md-6 col-sm-6">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="yyyy-MM-dd"
                                   ng-model="newCampaign.milestones[$index].date"
                                   is-open="milestone.calOpened"
                                   min-date="newCampaign.campaignTimeframeStartDate"
                                   max-date="newCampaign.campaignTimeframeEndDate"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-change="updateMilestoneValue(newCampaign.milestones[$index].date, $index)"
                                   ng-required="true"
                                   close-text="Close"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, milestone)">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </section>
            <div class="row vertical-space-medium"></div>
            <div id="campaignButtons2" class="row col-md-12 col-sm-12">
                <div class="col-md-4">
                    <button class="btn btn-success col-md-12"
                            uib-popover="{{info.campaignFastrackTooltip}}" popover-trigger="mouseenter"
                            ng-disabled="!newCampaignForm2.$valid"
                            ng-click="createCampaign({step:3}, {fastrack:true})">
                        <h3>
                            <strong>Fastrack</strong>
                            <!--<i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignFastrackTooltip}}"></i></h3>-->
                        </h3>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary col-md-12"
                            uib-popover="{{info.campaignFastrackTooltip}}" popover-trigger="mouseenter"
                            ng-disabled="!newCampaignForm2.$valid"
                            ng-click="createCampaign({step:2}, {fastrack:false})">
                        <h3>
                            <strong>Back</strong>
                            <!--<i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.campaignFastrackTooltip}}"></i></h3>-->
                        </h3>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary col-md-12"
                            ng-click="createCampaign({step:3}, {fastrack:false})"
                            ng-disabled="!newCampaignForm2.$valid">
                        <h3><strong>Next</strong></h3>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>