.timeline{
  list-style: none;
  display: inline-block;

  & li{
    display: inline-block;
    padding: 15px 30px;
    background-color: $timeline-background;
    color: $timeline-selected-background;
    opacity: 0.2;

    &.selected{
      color: white;
      background-color: $timeline-selected-background;
      opacity: 1;
    }

    &.active{
      opacity: 1;
    }
  }
}