.i18flag {
  height: 2rem;
  vertical-align: text-top;
  margin-top: -5px;
}
.nav li#langpicker {
  position: relative;
  display: block;
}
@media screen and (min-width: 768px) {
  .navbar-nav li#langpicker {
    float: left;
    a {
      line-height: 20px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
      position: relative;
      display: block;
      padding: 15px 10px 10px;
      color: #FFFFFF;
      &.langitem {
        padding: 10px 15px;
      }
    }
    &.open a {
      color: white;
      background: none;
    }
    ul {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    a.langitem:hover {
      background-color: #e8e8e8;
    }
  }
}
@media screen and (max-width: 40em) {
  ul.navbar-nav li#langpicker {
    display: inline-block;
    vertical-align: top;
  }
}