<div class="view campaign-pmaking" ng-controller="CampaignCtrl">
    <div class="col-md-12 col-sm-12">
        <div class="row text-center">
            <span class="h4"><strong>Assembly: </strong></span>
            <span class="h4">{{campaign.assembly}}</span>
            <span class="h4"> / </span>
            <span class="h4"><strong>Campaign: </strong></span>
            <span class="h4">{{campaign.name}}</span>
        </div>
        <br/>
        <div class="row col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
            <timeline activephase="proposalMaking"></timeline>
        </div>
        <div class="row col-md-12 col-sm-12">
            <progressline></progressline>
        </div>
        <div class="row col-md-12 col-sm-12">
            <h1><strong>Brainstorming</strong><strong>: </strong>Identify problems and make suggestions for proposals</h1>
        </div>
        <div class="row col-md-12 col-sm-12">
            Buscador
        </div>
        <div class="row col-md-12 col-sm-12">
            <ul class="row suggestions">
                <li class="suggestion" ng-repeat="suggestion in campaign.suggestions | orderBy: 'date'">
                    <suggestion content="suggestion"></suggestion>
                </li>
            </ul>
        </div>
    </div>
</div>
