<div class="view wGroupForum">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 discussion">
                <div class="row col-md-12 col-sm-12" ng-if="wGroup.profile">
                    <img alt="100x100" ng-src="{{wGroup.profile.icon}}" data-holder-rendered="true" class="image-circle inline">
                    <h2 class="inline"><strong>{{'Working Group'|translate}}: </strong>{{wGroup.name}} (<a href="#/assembly/{{assemblyID}}/forum">{{'Back to assembly' | translate}}</a>)</h2>
                </div>
                <div class="row col-md-6 col-sm-6">
                    <h3 class="inline"><strong>{{'Working Group Forum' | translate}}</strong></h3>
                </div>
                <div class="row col-md-5 col-sm-5 align-right">
                    <h1 ng-if="checkShow('joinButton')" class="align-right">
                        <button class="btn btn-success btn-lg" ng-click="joinGroup()" ng-disabled="!userIsMember && userIsRequestedMember">
                            <h4 style="float:right;">
                                <strong ng-if="!userIsMember && !userIsRequestedMember && !userIsInvitedMember">{{'Join'|translate}} {{'Working Group'|translate}}</strong>
                                <strong ng-if="!userIsMember && userIsRequestedMember">{{'Join'|translate}} {{'request awaiting approval' | translate}}</strong>
                                <strong ng-if="!userIsMember && userIsInvitedMember">{{'Invitation'|translate}} {{'awaiting your response' | translate}}</strong>
                            </h4>
                        </button>
                    </h1>
                </div>
                <div class="row col-md-12">
                    <!-- Alert message shown if User is not member -->
                    <uib-alert ng-if="!wGroup.profile" type="success" class="row">
                        {{'partials.directives.wGroupForum.wGroupForum.text1' | translate}}
                    </uib-alert>
                    <!-- Alert message shown if User is not member -->
                    <uib-alert ng-if="wGroup.profile && !userIsMember && !userIsRequestedMember && !userIsInvitedMember" type="success" class="row">
                        {{'partials.directives.wGroupForum.wGroupForum.text2' | translate}}
                    </uib-alert>
                    <!-- Alert message shown if User is not member but has requested to join -->
                    <uib-alert ng-if="wGroup.profile && !userIsMember && userIsRequestedMember" type="success" class="row">
                        {{'partials.directives.wGroupForum.wGroupForum.text3' | translate}}
                    </uib-alert>
                    <!-- Alert message shown if User is not member but has been invited-->
                    <uib-alert ng-if="wGroup.profile && !userIsMember && userIsInvitedMember" type="success" class="row">
                        {{'partials.directives.wGroupForum.wGroupForum.text4' | translate}}
                    </uib-alert>
                </div>
                <new-forum-post
                        ng-if="userIsMember"
                        id="groupForumCommentBox"
                        class="row col-md-11 col-sm-11"
                        targetspaceid="wGroup.forumResourceSpaceId"
                        targetspace="wGroup.forumPosts"
                        themes="wGroup.themes"
                        ctype="FORUM_POST"
                        ng-model="newForumPost">
                </new-forum-post>
                <div class="row no-margin">
                    <appcivist-comments
                            ng-if="userIsMember || userIsInvitedMember"
                            comments="wGroup.forumPosts"
                            assemblyid="assemblyID"
                            containerid="wGroup.forumResourceSpaceId"></appcivist-comments>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 info-lateral" ng-if="userIsMember">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary col-md-12" ng-if="checkShow('sendMessage')">
                            <i class="icon-chat-empty"></i>
                            {{'Send' | translate}} {{'Message' | translate | lowercase}}
                        </button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-primary col-md-12" ng-if="checkShow('organizeMeeting')">
                            <i class="icon-calendar"></i>
                            {{'Organize' | translate}} {{'Meeting' | translate | lowercase}}
                        </button>
                    </div>
                </div>
                <div class="voffset4"></div>
                <!-- Working Group Members -->
                <ng-include src="'app/partials/boxes/memberBoxes.html'"></ng-include>

                <!-- Campaigns -->
                <ng-include src="'app/partials/boxes/campaignBoxes.html'"></ng-include>

                <!-- Working Group Proposals -->
                <div class="row">
                    <h3><strong>{{'Our Proposals' | translate}}</strong></h3>
                    <div class="box descriptionBox">
                        <p>{{'partials.directives.wGroupForum.wGroupForum.text5' | translate}}</p>
                    </div>
                    <div class="voffset3"></div>
                    <div class="row col-md-12 col-sm-12">
                        <ul class="row contributions">
                            <li class="contribution" ng-repeat="contribution in proposals | orderBy: 'creation' | filter:{type:'PROPOSAL'} track by $index">
                                <div style="height: 500px;">
                                    <contribution contribution="contribution"
                                                  assemblyid="assemblyID"
                                                  container="proposals"
                                                  containerid="wgroup.resourcesResourceSpaceId"
                                                  containerindex="$index"></contribution>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3><strong>{{'Our Brainstorming Contributions' | translate}}</strong></h3>
                    <div class="voffset3"></div>
                    <div class="row col-md-12 col-sm-12">
                        <ul class="row contributions">
                            <li class="contribution" ng-repeat="contribution in contributions | orderBy: 'creation' | filter:{type:'BRAINSTORMING'} track by $index">
                                <div style="height: 350px;">
                                    <contribution contribution="contribution"
                                                  assemblyid="assemblyID"
                                                  container="contributions"
                                                  containerid="wGroup.forumResourceSpaceId"
                                                  containerindex="$index"></contribution>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3><strong>{{'partials.directives.wGroupForum.wGroupForum.text6' | translate}}</strong></h3>
                    <div class="voffset3"></div>
                    <div class="row col-md-12 col-sm-12">
                        <ul class="row contributions">
                            <li class="contribution" ng-repeat="contribution in relatedContributions | orderBy: 'creation' | filter:{type:'BRAINSTORMING'} track by $index">
                                <contribution contribution="contribution"
                                              assemblyid="assemblyID"
                                              container="relatedContributions"
                                              containerid="contribution.resourceSpaceId"
                                              containerindex="$index"></contribution>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3><strong>{{'partials.directives.wGroupForum.wGroupForum.text7' | translate}}</strong></h3>
                    <div class="voffset3"></div>
                    <div class="row no-margin no-padding title-button">
                        <h4 class="inline">{{'Find similar proposals' | translate}}</h4>
                        <button class="btn btn-success inline">{{'Search' | translate}}</button>
                    </div>
                    <div class="voffset3"></div>
                    <div class="row no-margin no-padding title-button">
                        <h4 class="inline">{{'Find similar contributions' | translate}}</h4>
                        <button class="btn btn-success inline">{{'Search' | translate}}</button>
                    </div>
                    <div class="voffset3"></div>
                    <div class="row no-margin no-padding title-button">
                        <h4 class="inline">{{'Invite groups to collaborate' | translate}}</h4>
                        <button class="btn btn-success inline">{{'Invite' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
