<div class="view wGroupForum">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 discussion">
                <div class="row col-md-12 col-sm-12" ng-if="wGroup.profile">
                    <img alt="100x100" src="{{wGroup.profile.icon}}" ng-src="{{wGroup.profile.icon}}" data-holder-rendered="true" class="image-circle inline">
                    <h2 class="inline"><strong>Working Group: </strong>{{wGroup.name}}</h2>
                </div>
                <div class="row col-md-6 col-sm-6">
                    <h3 class="inline"><strong>Working Group Forum</strong></h3>
                </div>
                <div class="row col-md-5 col-sm-5 align-right">
                    <h1 ng-if="checkShow('joinButton')" class="align-right">
                        <button class="btn btn-success btn-lg" ng-click="joinGroup()" ng-disabled="!userIsMember && userIsRequestedMember">
                            <h4 style="float:right;">
                                <strong ng-if="!userIsMember && !userIsRequestedMember && !userIsInvitedMember">Join Working Group</strong>
                                <strong ng-if="!userIsMember && userIsRequestedMember">Join request awaiting approval</strong>
                                <strong ng-if="!userIsMember && userIsInvitedMember">Invitation awaiting your response</strong>
                            </h4>
                        </button>
                    </h1>
                </div>
                <div class="row col-md-12">
                    <!-- Alert message shown if User is not member -->
                    <uib-alert ng-if="!wGroup.profile" type="success" class="row">
                        The Working Group you have requested is not listed as public. If you know people who are member, ask
                        them to send you an invitation to join.
                    </uib-alert>
                    <!-- Alert message shown if User is not member -->
                    <uib-alert ng-if="wGroup.profile && !userIsMember && !userIsRequestedMember && !userIsInvitedMember" type="success" class="row">
                        You are not member of this Working Group but the its profile is public and you can send a request
                        to join. Press "Join Working Group" to do so.
                    </uib-alert>
                    <!-- Alert message shown if User is not member but has requested to join -->
                    <uib-alert ng-if="wGroup.profile && !userIsMember && userIsRequestedMember" type="success" class="row">
                        You have requested to join this Working Group. Once a member approves your request you
                        will be able to see the comments and discussions in the Working Group forum as well as the list of
                        campaigns in which the working groups is participating.
                    </uib-alert>
                    <!-- Alert message shown if User is not member but has been invited-->
                    <uib-alert ng-if="wGroup.profile && !userIsMember && userIsInvitedMember" type="success" class="row">
                        You have been invited to join this Working Group. Press the button to Join the Working Group (above) to
                        review this invitation. As long as the invitation is pending, you will be able to see comments and
                        discussions in the Working Group Forum, but will not be able to participate nor see the list of campaigns.
                    </uib-alert>
                </div>
                <new-forum-post
                        ng-if="userIsMember"
                        id="groupForumCommentBox"
                        class="row col-md-11 col-sm-11"
                        targetspaceid="wGroup.forumResourceSpaceId"
                        targetspace="wGroup.forumPosts"
                        themes="wGroup.themes"
                        ctype="FORUM_POST"
                        ng-model="newForumPost">
                </new-forum-post>
                <div class="row no-margin">
                    <appcivist-comments
                            ng-if="userIsMember || userIsInvitedMember"
                            comments="wGroup.forumPosts"
                            assemblyid="assemblyID"
                            containerid="wGroup.forumResourceSpaceId"></appcivist-comments>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 info-lateral" ng-if="userIsMember">
                <div class="row no-padding no-margin">
                    <button class="btn btn-success col-md-5 inline" ng-if="checkShow('sendMessage')">Send message</button>
                    <button class="btn btn-success col-md-5 col-md-push-2 inline" ng-if="checkShow('organizeMeeting')">Organize meeting</button>
                </div>
                <!-- Working Group Members -->
                <div class="row infoBox">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <h4><strong>Members</strong></h4>
                        </div>
                        <div class="col-md-8 col-sm-8 add-elements-box-button" ng-if="checkShow('inviteButton')">
                            <div class="inline">
                                <a ng-click="openNewInvitationModal()" class="addButton"><img data-src="holder.js/20x20" alt="20x20" src="../assets/images/addIcon.png" data-holder-rendered="true" class="image-circle"></a>
                            </div>
                            <h5 class="inline"><strong>Invite participants</strong></h5>
                        </div>
                    </div>

                    <!-- TODO: turn style into class -->
                    <div style="overflow-y: auto; overflow-x:hidden; height: 85px; margin-right: 5px;">
                        <div class="row list-item">
                            <div class="col-md-6" ng-repeat="member in wGroupMembers">
                                <div style="display: inline-block;" class="">
                                    <div class="image-capsule">
                                        <img alt="100x100" ng-src="{{member.user.profilePic.urlAsString}}" class="image-circle" err-src="../assets/images/woman1.jpg"/>
                                        <div class="caption " style="text-align: center">
                                            <h5 class="text" title="{{member.user.name}}">{{member.user.name}} <span ng-if="member.status!='ACCEPTED'">({{member.status}})</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row list-item">
                            <h4 ng-if="pendingInvitations.length>0"><strong>Pending Invitations</strong></h4>
                            <div class="col-md-6" ng-repeat="invitation in pendingInvitations">
                                <div style="display: inline-block;">
                                    <div class="image-capsule">
                                        <div class="caption" style="text-align: center">
                                            <h5 class="text" title="{{invitation.email}}">{{invitation.email}}({{invitation.status}})</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Working Group Campaigns -->
                <div class="row infoBox">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h4><strong>Assembly Campaigns</strong></h4>
                        </div>
                    </div>

                    <div class="row list-item">
                        <div class="row" ng-repeat="campaign in assemblyCampaigns">
                            <div style="display: inline-block;">
                                <div class="image-capsule">
                                    <div class="caption" style="text-align: center">
                                        <a ng-href="#/assembly/{{assemblyID}}/campaign/{{campaign.campaignId}}"><h5 class="text" title="{{campaign.title}}">{{campaign.title}}</h5></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Working Group Proposals -->
                <div class="row">
                    <h3><strong>Our Proposals</strong></h3>
                    <div class="box descriptionBox">
                        <p>To create a new proposal, visit the page of one of the Assembly campaigns, and then move to the Versioning Stage</p>
                    </div>
                    <div class="voffset3"></div>
                    <div class="row col-md-12 col-sm-12">
                        <ul class="row contributions">
                            <li class="contribution" ng-repeat="contribution in proposals | orderBy: 'creation' | filter:{type:'PROPOSALS'} track by $index">
                                <contribution contribution="contribution"
                                              assemblyid="assemblyID"
                                              container="proposals"
                                              containerid="wgroup.resourcesResourceSpaceId"
                                              containerindex="$index"></contribution>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3><strong>Our Brainstorming Contributions</strong></h3>
                    <div class="voffset3"></div>
                    <div class="row col-md-12 col-sm-12">
                        <ul class="row contributions">
                            <li class="contribution" ng-repeat="contribution in contributions | orderBy: 'creation' | filter:{type:'BRAINSTORMING'} track by $index">
                                <contribution contribution="contribution"
                                              assemblyid="assemblyID"
                                              container="contributions"
                                              containerid="wGroup.forumResourceSpaceId"
                                              containerindex="$index"></contribution>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3><strong>Other contributions on related themes</strong></h3>
                    <div class="voffset3"></div>
                    <div class="row col-md-12 col-sm-12">
                        <ul class="row contributions">
                            <li class="contribution" ng-repeat="contribution in relatedContributions | orderBy: 'creation' | filter:{type:'BRAINSTORMING'} track by $index">
                                <contribution contribution="contribution"
                                              assemblyid="assemblyID"
                                              container="relatedContributions"
                                              containerid="contribution.resourceSpaceId"
                                              containerindex="$index"></contribution>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3><strong>Collaboration with other groups</strong></h3>
                    <div class="voffset3"></div>
                    <div class="row no-margin no-padding title-button">
                        <h4 class="inline">Find similar proposals</h4>
                        <button class="btn btn-success inline">Search</button>
                    </div>
                    <div class="voffset3"></div>
                    <div class="row no-margin no-padding title-button">
                        <h4 class="inline">Find similar contributions</h4>
                        <button class="btn btn-success inline">Search</button>
                    </div>
                    <div class="voffset3"></div>
                    <div class="row no-margin no-padding title-button">
                        <h4 class="inline">Invite groups to collaborate</h4>
                        <button class="btn btn-success inline">Invite</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
