<div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="signuplabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="onboarding__assembly">
          <figure class="photo" style="text-align: center;" ng-if="vm.assembly.profile.icon">
            <img ng-src="{{vm.assembly.profile.icon}}" width="250px" height="250px" />
          </figure>
          <div class="onboarding__assembly_title">{{ vm.registrationTitle ? vm.registrationTitle : vm.assembly.name }}</div>
          <!--<div class="onboarding__assembly_location" ng-if="vm.assembly.location" style="text-align:center">
              <i class="fa fa-lg fa-map-marker"></i> {{vm.assembly.location.placeName}}
          </div>-->
        </div>
        <form class="onboarding__form" ng-submit="vm.signup()">
          <input class="form-input" type="email" ng-model="vm.user.email" placeholder="{{ vm.usernamePlaceholder ? vm.usernamePlaceholder : (vm.ldapOn ? ('login.labelldap' | translate) : 'Email') }}"/>
          <input class="form-input" type="password" ng-model="vm.user.password" placeholder="{{ vm.passwordPlaceholder ? vm.passwordPlaceholder : 'Password' }}"/>
          <input class="form-input" type="password" ng-model="vm.user.repeatPassword" placeholder="{{ vm.passwordRepeatPlaceHolder ? vm.passwordRepeatPlaceholder : 'Repeat Password' }}" ng-if="!vm.showLogin"/>
          <!--TODO: add also a language picker to the signup -->
          <!--<langpicker class="form-input" ng-if="!vm.showLogin"></langpicker>-->

          <input type="text" ng-model="vm.user.name" value="{{vm.assembly.name}}" style="display:none"/>
          <input type="text" ng-model="vm.user.lang" value="{{vm.assembly.lang}}" style="display:none"/>
          <button class="onboarding__form_submit_button" ng-if="vm.showLogin">{{ vm.ldapOn ? ('login.ldapbutton' | translate) : ('login.loginbutton' | translate) }}</button>
          <button href="#" class="onboarding__form_submit_button" ng-if="!vm.showLogin">{{'Sign up'|translate}}</button>
          <div class="onboarding__form_links">
            <a ng-if="vm.showLogin" ng-click="vm.redirectToForgotPassword()">{{'Forgot your password?'|translate}}?</a>
            <a ng-if="!vm.showLogin" ng-click="vm.toggleShowLogin()">{{'I already have an account'|translate}}</a>
            <a ng-if="vm.showLogin" ng-click="vm.toggleShowLogin()">{{ vm.signUpTitle ? vm.signUpTitle : ('I dont have an account yet'|translate) }}</a>
          </div>
          <!--<div class="onboarding__form_social">-->
            <!--<div class="onboarding__form_social_separator">-->
              <!--<div class="onboarding__form_social_separator_line1"><hr></div>-->
              <!--<div class="onboarding__form_social_separator_text">OR</div>-->
              <!--<div class="onboarding__form_social_separator_line2"><hr></div>-->
            <!--</div>-->
            <!--<button class="onboarding__form_social_button">-->
              <!--<i class="fa fa-facebook onboarding__form_social_button_icon"></i>-->
              <!--<span class="onboarding__form_social_button_text" disabled>{{'Connect with Facebook'|translate}}&nbsp;&nbsp;({{'coming soon'|translate}})</span>-->
            <!--</button>-->
            <!--<button class="onboarding__form_social_button">-->
              <!--<i class="fa fa-google onboarding__form_social_button_icon"></i>-->
              <!--<span class="onboarding__form_social_button_text" disabled>{{'Connect with Google'|translate}}&nbsp;&nbsp;({{'coming soon'|translate}})</span>-->
            <!--</button>-->
          <!--</div>-->
        </form>
      </div>
    </div>
  </div>
</div>
