<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signuplabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="onboarding__logo"></div>
        <div class="onboarding__assembly">
          <div class="onboarding__assembly_title">Assembly Title</div>
          <div class="onboarding__assembly_location">
            <i class="fa fa-map-marker onboarding__assembly_location_text_icon"></i>
            <span class="onboarding__assembly_location_text">Assembly Location</span>
          </div>
        </div>
        <form class="onboarding__form">
            <input type="text" placeholder="Email"/>
            <input type="text" placeholder="Password"/>
            <button class="onboarding__form_submit_button">Sign in</button>
            <div class="onboarding__form_links">
              <a href="#">Forgot Password?</a>
              <a href="#">I already have an account</a>
              <a href="#">I don't have an account yet</a>
            </div>
            <button href="#" class="onboarding__form_submit_button">Sign up</button>
            <div class="onboarding__form_social">
              <div class="onboarding__form_social_separator">
                <div class="onboarding__form_social_separator_line1"><hr></div>
                <div class="onboarding__form_social_separator_text">OR</div>
                <div class="onboarding__form_social_separator_line2"><hr></div>
              </div>
              <button class="onboarding__form_social_button">
                <i class="fa fa-facebook onboarding__form_social_button_icon"></i>
                <span class="onboarding__form_social_button_text">Connect with Facebook</span>
              </button>
              <button class="onboarding__form_social_button">
                <i class="fa fa-google onboarding__form_social_button_icon"></i>
                <span class="onboarding__form_social_button_text">Connect with Google</span>
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
