.row{
  margin: 0 0 10px 0;
}

.image-capsule{
  margin-right: 30px;
}

.image-circle {
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
  border-radius: 100%;
  display: inline-block;
}

.image-cover {
  height: 100px;
  width: 500px;
  display: block;
  margin: auto;
  display: inline-block;
  margin-bottom: 10px;
}

h1{
  vertical-align: sub;
  display: inline-block;
}

label{
  font-size: 16px;
}