<div class="view assemblyCreation" ng-controller="AssemblyCtrl">
    <div class="container">
        <div class="voffset3"></div>
        <div class="row col-md-12 col-sm-12">
            <div class="pull-left">
                <div class="indexBall">
                    <h1>2</h1>
                    <h4>/</h4>
                    <h4>3</h4>
                </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-md-6 col-sm-6">
                <h1 class="inline"><strong>Select linked Assemblies</strong></h1>
                <div class="box descriptionBox">
                    <p>Linking Assemblies is a quick way for gaining access to the resources and campaigns of other Assemblies of interest. If you want to link to other Assemblies, click on their icons.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="assemblyFilter"/>
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row assembliesLanding assemblies">
            <div ng-if="assemblies.length > 0">
                <div class="col-sm-6 col-md-4" ng-repeat="assembly in assemblies | filter:assemblyFilter">
                    <div class="thumbnail assembly" id="assembly{{assembly.assemblyId}}">
                        <a ng-class="assemblyState" ng-click="selectAssembly(assembly)"><img data-src="{{assembly.profile.icon}}" alt="100x100" src="../assets/images/dublin.jpg" data-holder-rendered="true" class="image-circle"></a>
                        <div class="caption">
                            <h4><strong>{{assembly.name}}</strong></h4>
                            <h5 class="text-muted"><strong><i><div ng-show="assembly.location.placeName != null">{{assembly.location.placeName}},</div> {{assembly.location.city}}, {{assembly.location.country}}</i></strong></h5>
                            <p>{{assembly.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/#/assembly/create/step3"><button class="col-md-push-8 col-md-4 btn btn-primary" ng-click="createNewAssembly(2)"><h3><strong>Next</strong></h3></button></a>
        </div>
    </div>
</div>