<div class="view assemblyCreation" ng-controller="AssemblyCtrl">
    <div class="container">
        <div class="row">
            <div class="indexBall">
                <h1>3</h1>
                <h4>/</h4>
                <h4>3</h4>
            </div>
            <h1><strong>Configure your Assembly Resources</strong></h1>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputThemeAssembly" class="col-sm-4 col-md-4 control-label">Define Assembly Themes, one at a time</label>
                            <div class="col-sm-8 col-md-8 optionsBox">
                                <input class="form-control" id="inputThemeAssembly" placeholder="e.g., Education">
                                <div class="voffset2"></div>
                                <button class="btn btn-success pull-right">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputImportThemeAssembly" class="col-sm-4 col-md-4 control-label">...Or import them from another assembly</label>
                            <div class="col-sm-8 col-md-8 optionsBox">
                                <input class="form-control" id="inputImportThemeAssembly" placeholder="e.g., PB">
                                <div class="voffset2"></div>
                                <button class="btn btn-success pull-right">Import</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="thumbnail col-sm-10 col-md-10 col-md-push-2 col-sm-push-2 col-md-pull-2 col-sm-pull-2">
                    <div class="assembly-tags-container-title">
                        <h4><strong>Added/Imported Themes</strong></h4>
                    </div>
                    <div class="caption assembly-tags-container-content">
                        <ul class="tags">
                            <li class="tag tag-filter">
                                Urban Infrastucture
                            </li>
                            <li class="tag tag-filter">
                                Streets and Transportation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputJoinAssembly" class="col-sm-4 col-md-4 control-label">Invite people to join</label>
                            <div class="col-sm-8 col-md-8 optionsBox">
                                <div class="row col-sm-12 col-md-12">
                                    <textarea class="form-control" id="inputJoinAssembly" placeholder="Invitation to join Assembly"/>
                                </div>
                                <div class="row col-sm-12 col-md-12">
                                    <textarea class="form-control" id="inputInvitationByEmailAssembly" placeholder="Emails of invitees separated by comma"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <strong>Enable face to face scheduling</strong>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <strong>Configure messaging</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="voffset5"></div>
                    <a href="/#/assembly/forum"><button class="row pull-right col-md-4 btn btn-primary" ng-click="createNewAssembly(3)"><h3><strong>Start assembly</strong></h3></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
