<div class="view assemblyCreation" ng-controller="AssemblyCtrl">
    <div class="container">
        <div class="row">
            <img data-src="../assets/images/num1.png" alt="100x100" src="../assets/images/num1.png" data-holder-rendered="true" class="image-circle">
            <h1><strong>Start your assembly</strong></h1>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputNameAssembly" class="col-sm-3 col-md-3 control-label">*Name</label>
                            <div class="col-sm-9 col-md-9">
                                <input class="form-control" id="inputNameAssembly" placeholder="e.g., Vallejo Citizens for PB">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputAboutAssembly" class="col-sm-3 col-md-3 control-label">*What's your assembly about</label>
                            <div class="col-sm-9 col-md-9">
                                <textarea class="form-control" id="inputAboutAssembly" style="height: 100px;" placeholder="e.g., This assembly organizes citizens of Vallejo, to come up with interesting and feasible proposals to be voted on and later implemented during the PB process of 2015"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputLocationAssembly" class="col-sm-3 col-md-3 control-label">*Location</label>
                            <div class="col-sm-9 col-md-9">
                                <input class="form-control" id="inputLocationAssembly" placeholder="Street">
                                <input style="width:100px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputCityAssembly" placeholder="City">
                                <input style="width:70px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputStateAssembly" placeholder="State">
                                <input style="width:70px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputZipAssembly" placeholder="Zip">
                                <input style="width:90px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputCountryAssembly" placeholder="Country">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9 col-md-9 col-lg-push-3 col-md-push-3">
                                <label for="inputWhoAssembly" class="control-label">Who can join your assembly?</label>
                                <textarea class="form-control" id="inputWhoAssembly" style="margin: 5px 0 0 0; height: 50px;" placeholder="Describe who you want to participate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9 col-md-9 col-lg-push-3 col-md-push-3">
                                <label for="inputWhoAssembly" class="control-label">Who do people become members?</label>
                                <div>
                                    <div class="col-md-6">
                                        <div class="radio" style="margin-top:30px;">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="openRadio" value="open" checked>
                                                Open
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="registrationRadio" value="registration">
                                                Registration
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="background-color: lightgrey; padding: 10px; border-radius: 5px;">
                                        <span style="color:dodgerblue">Membership by registration</span>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                By invitation, and/or
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                By request
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9 col-md-9 col-lg-push-3 col-md-push-3">
                                <label for="inputWhoAssembly" class="control-label">Will some members have special roles?</label>
                                <div>
                                    <div class="col-md-6">
                                        <div class="radio" style="margin-top:30px;">
                                            <label>
                                                <input type="radio" name="roleRadios" id="noRadio" value="open" checked>
                                                No
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="roleRadios" id="yesRadio" value="registration">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="background-color: lightgrey; padding: 10px; border-radius: 5px;">
                                        <span style="color:dodgerblue">What are the special roles?</span>
                                        <i class="fa fa-question-circle"></i>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                Coordinators
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                Moderators
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <label class="control-label">Pick an Icon to represent your assembly</label>
                    <div style="white-space: nowrap">
                        <div style="display: inline-block;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/justicia-140.png" data-holder-rendered="true" class="image-circle">
                            </div>
                        </div>
                        <div style="display: inline-block;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/tabacalera-140.png" data-holder-rendered="true" class="image-circle">
                            </div>
                        </div>
                        <div style="display: inline-block;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/article19-140.png" data-holder-rendered="true" class="image-circle">
                            </div>
                        </div>
                        <div style="display: inline-block;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/image74.png" data-holder-rendered="true" class="image-circle">
                            </div>
                        </div>
                        <div style="display: inline-block;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/image75.jpg" data-holder-rendered="true" class="image-circle">
                            </div>
                        </div>
                        <div style="display: inline-block;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png" data-holder-rendered="true" class="image-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">Pick a cover for your assembly</label>
                    <div style="white-space: nowrap">
                        <div style="display: inline;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/image77.JPG" data-holder-rendered="true" class="image-cover">
                            </div>
                        </div>
                        <div style="display: inline;">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/image78.jpg" data-holder-rendered="true" class="image-cover">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <div>
                                <label for="inputContactNameAssembly" class="control-label">*Primary contact</label>
                                <div>
                                    <input style="width:250px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputContactNameAssembly" placeholder="Name">
                                    <input style="width:250px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputContactPhoneAssembly" placeholder="Phone">
                                    <input style="width:250px; display: inline-block; margin: 5px 5px 0 0;" class="form-control" id="inputContactEmailAssembly" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="col-md-push-8 col-md-4 btn btn-primary"><h3><strong>Next</strong></h3></button>
                </div>
            </div>
        </div>
    </div>
</div>
