<div class="view assemblyCreation" ng-controller="AssemblyCtrl">
    <div class="container">
        <div class="row">
            <div class="indexBall">
                <h1>1</h1>
                <h4>/</h4>
                <h4>3</h4>
            </div>
            <h1><strong>Start your assembly</strong></h1>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputNameAssembly" class="col-sm-3 col-md-3 control-label">*Name</label>
                            <div class="col-sm-9 col-md-9">
                                <input class="form-control" id="inputNameAssembly" placeholder="e.g., Assemblèe Belleville" ng-model="newAssembly.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputAboutAssembly" class="col-sm-3 col-md-3 control-label">*What's your assembly about</label>
                            <div class="col-sm-9 col-md-9">
                                <textarea ng-model="newAssembly.description" class="form-control" id="inputAboutAssembly" placeholder="e.g., This assembly organizes citizens of Belleville, to come up with interesting and feasible proposals to be voted on and later implemented during the PB process of 2015"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputLocationAssembly" class="col-sm-3 col-md-3 control-label">*Location</label>
                            <div class="col-sm-9 col-md-9">
                                <input ng-model="newAssembly.location.street" class="form-control" id="inputLocationAssembly" placeholder="Street">
                                <input ng-model="newAssembly.location.city" class="form-control" id="inputCityAssembly" placeholder="City">
                                <input ng-model="newAssembly.location.state" class="form-control" id="inputStateAssembly" placeholder="State">
                                <input ng-model="newAssembly.location.zip" class="form-control" id="inputZipAssembly" placeholder="Zip">
                                <input ng-model="newAssembly.location.country" class="form-control" id="inputCountryAssembly" placeholder="Country">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9 col-md-9 col-lg-push-3 col-md-push-3">
                                <h3><label for="inputWhoAssembly" class="control-label">Who can join your assembly?</label></h3>
                                <textarea ng-model="newAssembly.profile.targetAudience" class="form-control" id="inputWhoAssembly" placeholder="Describe who you want to participate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9 col-md-9 col-lg-push-3 col-md-push-3">
                                <label for="inputWhoAssembly" class="control-label">Who do people become members?</label>
                                <div class="voffset3"></div>
                                <div class="col-md-4">
                                    <div class="radio">
                                        <label>
                                            <input ng-model="newAssembly.profile.membership" type="radio" name="membershipOpen" id="openRadio" value="open" checked>
                                            Open
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="newAssembly.profile.membership" type="radio" name="membershipRegistration" id="registrationRadio" value="registration">
                                            Registration
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8 optionsBox" ng-show="newAssembly.profile.membership == 'registration'">
                                    <h5 class="optionsBox-title">Membership by registration</h5>
                                    <i class="fa fa-question-circle"></i>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="newAssembly.profile.member.invitation"/>
                                            <p>By invitation, and/or</p>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="newAssembly.profile.member.request" />
                                            <p>By request</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="voffset3"></div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-9 col-md-9 col-lg-push-3 col-md-push-3">
                                <label for="inputWhoAssembly" class="control-label">Will some members have special roles?</label>
                                <div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                <input ng-model="newAssembly.profile.roles" type="radio" name="roleNo" id="noRadio" value="no" checked>
                                                No
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input ng-model="newAssembly.profile.roles" type="radio" name="roleYes" id="yesRadio" value="yes">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8 optionsBox" ng-show="newAssembly.profile.roles == 'yes'">
                                        <h5 class="optionsBox-title">What are the special roles?</h5>
                                        <i class="fa fa-question-circle"></i>
                                        <div class="checkbox">
                                            <label>
                                                <input ng-model="newAssembly.profile.role.coordinators" type="checkbox" value="coordinators"/>
                                                <p>Coordinators</p>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input ng-model="newAssembly.profile.role.moderators" type="checkbox" value="moderators"/>
                                                <p>Moderators</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <label class="control-label">Pick an Icon to represent your assembly</label>
                    <div class="picsList">
                        <div class="inline">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/justicia-140.png" data-holder-rendered="true" class="image-circle" ng-click="">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/tabacalera-140.png" data-holder-rendered="true" class="image-circle" ng-click="">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/article19-140.png" data-holder-rendered="true" class="image-circle" ng-click="">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/image74.png" data-holder-rendered="true" class="image-circle" ng-click="">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/image75.jpg" data-holder-rendered="true" class="image-circle" ng-click="">
                            </div>
                        </div>
                        <div class="inline">
                            <div class="image-capsule">
                                <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png" data-holder-rendered="true" class="image-circle" ng-click="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <div>
                                <label for="inputContactNameAssembly" class="control-label">*Primary contact</label>
                                <div>
                                    <input ng-model="newAssembly.profile.primaryContactName" class="form-control" id="inputContactNameAssembly" placeholder="Name">
                                    <input ng-model="newAssembly.profile.primaryContactPhone" class="form-control" id="inputContactPhoneAssembly" placeholder="Phone">
                                    <input ng-model="newAssembly.profile.primaryContactEmail" class="form-control" id="inputContactEmailAssembly" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="/#/assembly/create/step2"><button class="col-md-push-8 col-md-4 btn btn-primary" ng-click="createNewAssembly(1)"><h3><strong>Next</strong></h3></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
