<div class="view assemblyCreation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="indexBall">
                    <h1>1</h1>
                    <h4>/</h4>
                    <h4>3</h4>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h1 class="col-md-12">
                        <strong>Describe your Assembly</strong>
                        <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.assemblyDefinition}}"></i>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="col-md-12 form-group">
                            <label for="inputNameAssembly" class="control-label">Name*</label>
                            <input type="text" class="form-control" id="inputNameAssembly"
                                   placeholder="e.g., Assemblée Belleville"
                                   ng-model="newAssembly.name">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="inputAboutAssembly" class="control-label">
                                What's your assembly about?*
                            </label>
                            <!--<textarea ng-model="newAssembly.description" class="form-control" id="inputAboutAssembly" placeholder="e.g., This assembly organizes citizens of Belleville, to come up with interesting and feasible proposals to be voted on and later implemented during the PB process of 2015"/>-->
                            <textarea class="form-control" id="inputAboutAssembly"
                                      ng-model="newAssembly.description"
                                      placeholder="e.g., This assembly organizes citizens of Belleville, to come up with interesting and feasible proposals to be voted on and later implemented during the PB process of 2015">
                            </textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="inputLocationAssembly" class="control-label">
                                Where is your assembly located?
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.locationTooltip}}"></i>
                            </label>
                            <input class="form-control" id="inputLocationAssembly"
                                   placeholder="The name of a Place, an Address, City or Country associated to your assembly"
                                   ng-model="newAssembly.location.placeName">
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="control-label">
                                Who can join your assembly?
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.targetAudienceTooltip}}"></i>
                            </label>
                            <div class="voffset3"></div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label>
                                        <input name="targetAudience" type="radio" ng-model="newAssembly.profile.targetAudience" value="RESIDENTS" checked="checked"> Residents
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="targetAudience" type="radio" ng-model="newAssembly.profile.targetAudience" value="ANYONE"> Anyone
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="control-label">How do people become members?</label>
                            <div class="voffset3"></div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membership" id="openRadio" value="OPEN"
                                               ng-model="newAssembly.profile.supportedMembership">
                                        Open
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="membership" id="registrationRadio" value="REGISTRATION"
                                               ng-model="newAssembly.profile.supportedMembership"> Registration
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 optionsBox"
                                 ng-show="newAssembly.profile.supportedMembership == 'REGISTRATION'">
                                <h5 class="optionsBox-title">Membership by registration</h5>
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.supportedMembershipRegistrationTooltip}}"></i>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="newAssembly.profile.registration.invitation"/>
                                            <p>By invitation, and/or</p>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="newAssembly.profile.registration.request" checked/>
                                            <p>By request</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 voffset3"></div>
                        <div class="col-md-12 form-group">
                            <label for="inputManagementType" class="control-label">
                                Who will be able to change settings and remove inappropriate comments?
                            </label>
                            <div class="voffset3"></div>
                            <div class="col-md-12 grayBox" id="inputManagementType">
                                <label class="control-label">
                                    Moderators
                                    <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.moderatorsTooltip}}"></i>
                                </label>
                                <div class="col-md-12 radio">
                                    <input ng-model="newAssembly.profile.moderators" type="radio" name="moderators" id="noRadio" value="two" checked>
                                    Nominate specific moderators (at least two)
                                </div>
                                <div class="col-md-12 radio">
                                    <input ng-model="newAssembly.profile.moderators" type="radio" name="moderators" id="noRadio" value="all">
                                    Make all assembly members moderators
                                </div>
                                <div class="col-md-12 radio">
                                    <input ng-model="newAssembly.profile.moderators" type="radio" name="moderators" id="noRadio" value="none">
                                    Have no moderators
                                </div>

                                <div class="voffset3"></div>
                                <label class="control-label">
                                    Coordinators
                                    <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.coordinatorsTooltip}}"></i>
                                </label>
                                <div class="col-md-12 radio">
                                    <input ng-model="newAssembly.profile.coordinators" type="radio" name="coordinators" id="noRadio" value="two" checked>
                                    Nominate specific coordinators (at least two)
                                </div>
                                <div class="col-md-12 radio">
                                    <input ng-model="newAssembly.profile.coordinators" type="radio" name="coordinators" id="noRadio" value="all">
                                    Make all assembly members coordinators
                                </div>
                                <div class="col-md-12 radio">
                                    <input ng-model="newAssembly.profile.coordinators" type="radio" name="coordinators" id="noRadio" value="none">
                                    Have no coordinators
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="control-label">Pick an Icon to represent your assembly</label>

                            <div class="picsList" ng-model="newAssembly.profile.icon">
                                <div class="inline">
                                    <div class="image-capsule">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/justicia-140.png" data-holder-rendered="true"
                                            class="image-circle" ng-click="">
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="image-capsule">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/tabacalera-140.png" data-holder-rendered="true"
                                             class="image-circle" ng-click="">
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="image-capsule">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/article19-140.png" data-holder-rendered="true"
                                             class="image-circle" ng-click="">
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="image-capsule">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/image74.png" data-holder-rendered="true"
                                             class="image-circle" ng-click="">
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="image-capsule">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/image75.jpg" data-holder-rendered="true"
                                             class="image-circle" ng-click="">
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="image-capsule">
                                        <img data-src="holder.js/100x100" alt="100x100"
                                             src="../assets/images/addIcon.png" data-holder-rendered="true"
                                             class="image-circle" type="file" ngf-select="uploadFiles($file)"
                                             accept="image/*" ngf-max-height="1000" ngf-max-size="5MB">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 progress-section">
                            {{f.name}} {{f.$error}} {{f.$errorParam}}
                            <span class="progress-line-container" ng-show="f.progress >= 0">
                                <div class="progress-line" style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                            </span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="inputContactNameAssembly" class="control-label">Primary contact*</label>
                            <div>
                                <input ng-model="newAssembly.profile.primaryContactName"
                                       class="form-control" id="inputContactNameAssembly" placeholder="Name">
                                <input ng-model="newAssembly.profile.primaryContactPhone"
                                       class="form-control" id="inputContactPhoneAssembly" placeholder="Phone">
                                <input ng-model="newAssembly.profile.primaryContactEmail"
                                       class="form-control" id="inputContactEmailAssembly" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="inputTheme" class="control-label">Define Assembly Themes of Interest*</label>
                            <input class="form-control" id="inputTheme" placeholder="e.g, Housing" ng-model="themes">
                            <div class="col-md-12 voffset3"></div>
                            <div class="col-md-8 col-sm-8"></div>
                            <div class="col-md-4 col-sm-4">
                                <a ng-click="addTheme(themes)">
                                    <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png"
                                         style="cursor: pointer; height: 25px; width:25px; display: inline-block;" data-holder-rendered="true" class="image-circle">
                                </a>
                                <h5 style="display: inline-block;">Add to list</h5>
                            </div>
                            <div class="col-md-12 voffset3"></div>

                            <div class="grayBox col-sm-12 col-md-12">
                                <label class="label-control">Added Themes</label>
                                <div class="caption assembly-tags-container-content">
                                    <ul class="tags" ng-repeat="t in newAssembly.themes track by $index">
                                        <li class="tag tag-filter">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeTheme($index)"></span>
                                            {{t.title}}
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="control-label">
                                Invite people to join
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.invitationsTooltip}}"></i>
                            </label>
                            <textarea class="form-control" id="invitees" rows="4" ng-model="inviteesEmails">
                            </textarea>
                            <!--<textarea name="invitees" class="commentArea" rows="6" placeholder="Invite members: add one or more email addresses of people you want to invite, separated by comma, then click add to list"></textarea>-->

                            <div class="col-md-12 voffset3"></div>
                            <div class="col-md-8 col-sm-8"></div>
                            <div class="col-md-4 col-sm-4">
                                <a ng-click="addEmailsToList(inviteesEmails)">
                                    <img data-src="holder.js/100x100" alt="100x100" src="../assets/images/addIcon.png"
                                        style="cursor: pointer; height: 25px; width:25px; display: inline-block;" data-holder-rendered="true" class="image-circle">
                                </a>
                                <h5 style="display: inline-block;">Add to list</h5>
                            </div>
                            <div class="col-md-12 voffset3"></div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="remove-column"></th>
                                        <th class="email-column">Email</th>
                                        <th class="coordinator-column">Coordinator</th>
                                        <th class="moderator-column">Moderator</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invitee in newAssembly.invitations track by $index">
                                        <td class="remove-column">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeInvitee($index)"></span>
                                        </td>
                                        <td class="email-column">{{invitee.email}}</td>
                                        <td class="coordinator-column">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="invitee.coordinator"/>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="moderator-column">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="invitee.moderator"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 voffset3"></div>
                        <div class="col-md-12">
                            <label class="control-label">
                                Invitation Email
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{info.invitationsEmailTooltip}}"></i>
                            </label>
                            <textarea class="form-control" id="invitationEmail" rows="6">Hello! You have been invited to be a member of the Assembly {{newAssembly.name}} in AppCivist. If you are interested, follow the link attached to this invitation to accept it. If you are not interested, you can just ignore this message</textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="newAssembly.config.facetoface" checked/>
                                    <strong>Enable face to face scheduling</strong>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="newAssembly.config.messaging" checked/>
                                    <strong>Enable messaging</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="/#/assembly/create/step2">
                        <button class="col-md-4 col-md-4 btn btn-primary" ng-click="createNewAssembly(1)">
                            <h3><strong>Next</strong></h3>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
