<div class="view assemblyCreation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="indexBall">
                    <h1>{{currentStep}}</h1>
                    <h4>/</h4>
                    <h4>2</h4>
                </div>
            </div>
            <div class="col-md-10">
                <uib-tabset>
                    <uib-tab ng-repeat="tab in tabs"
                             heading="{{tab.title}}"
                             active="tab.active"
                             disable="tab.disabled"
                             ng-click="setCurrentStep(tab.step)"
                             ng-if="tab.step<3 || (tab.step===3 && userIsNew)">
                        <uib-tab-heading>
                            <h4>
                                <strong>{{tab.title}}</strong>
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{tab.info}}"></i>
                            </h4>
                        </uib-tab-heading>
                        <div ng-include="tab.template"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
