/*****COLORS*********/
$light-green: #DFEFD6;
$dark-green: #57965B;
$light-grey: #F4F4F4;
$light-pale-grey: rgb(249,249,249);
$light-blue: #E1F1F9;
$dark-blue: #9CC7D3;
$dodger-blue:dodgerblue;
$light-black: #524D4D;
$light-pink: #F4E5E4;
$white: #FFFFFF;
$dark-grey: grey;
$orange: #FCD49A;
$black: black;

/******COMMON BOXES*******/
$description-box: $light-green;
$description-box-font: $dark-green;
$selection-box: $light-grey;
$news-box: $light-blue;
$news-box-font: $dark-blue;
$settings-box: $light-black;
$assembly-optionsBox: $light-grey;
$assembly-optionsBox-title: $dodger-blue;

/****TIMELINE*****/
$timeline-background: $light-grey;
$timeline-selected-background: $light-black;

/*****PROGRESSLINE******/
$progressline-background: $light-pink;
$progressline-counter-box-background: $white;
$progressline-phase-selected: $dark-green;
$progressline-phase-line: $dark-grey;

/*******SUGGESTIONS*******/
$suggestion-border: $light-grey;

/*******TAGS**************/
$tag-info: $light-grey;
$tag-filter : $dark-green;
$tag-caution: $orange;

/*****COMMON ELEMENTS***/
$vertical-divider: $light-black;
$indexBall: $light-black;

/******HEADER**********/
$border-header: $light-grey;
$dropdown-hover: $dark-blue;
$header-menu-active: $dark-grey;

/******MAIN***********/
$icon-font: $black;

/*****ASSEMBLY CREATION*****/
$assembly-tags-container-title: $dodger-blue;
$assembly-tags-container-content-border: $light-grey;
/*****UPLOAD********/
$progress-line-bar: $dark-blue;