/*****COLORS*********/

/*****GREEN THEME******/
$light-green: #DFEFD6;
$dark-green: #57965B;
$corporative-green: #50E3C2;
$corporative-dark-light-green: #3FB59B;
$corporative-dark-green: #029A78;
$corporative-light-green: #CFF7EE;
$corporative-darker-green: #134B3E;
$light-grey: #F4F4F4;
$light-pale-grey: rgb(249,249,249);
$light-blue: #E1F1F9;
$medium-blue: #4A90E2;
$dark-blue: #9CC7D3;
$dodger-blue:dodgerblue;
$light-black: #524D4D;
$light-pale-black: #B7B2B2;
$light-pink: #F4E5E4;
$white: #FFFFFF;
$dark-grey: grey;
$orange: #FCD49A;
$yellow: #FCCF26;
$black: black;
$pale-yellow: #F2EFCD;

/******COMMON BOXES*******/
$description-box: $light-green;
$description-box-font: $dark-green;
$selection-box: $light-grey;
$news-box: $light-blue;
$news-box-font: $dark-blue;
$settings-box: $light-black;
$assembly-optionsBox: $light-grey;
$assembly-optionsBox-title: $dodger-blue;
$tags-container-title: $dodger-blue;
$tags-container-content-border: $light-grey;

/****TIMELINE*****/
$timeline-background: $light-grey;
$timeline-selected-background: $light-black;
$timeline-disabled-background: $light-pale-black;

/*****PROGRESSLINE******/
$progressline-background: $light-pink;
$progressline-counter-box-background: $white;
$progressline-phase-selected: $dark-green;
$progressline-phase-line: $dark-grey;

/*******CONTRIBUTIONS*******/
$contribution-border: $light-grey;

/*******TAGS**************/
$tag-info: $light-grey;
$tag-filter : $dark-green;
$tag-caution: $orange;

/*****COMMON ELEMENTS***/
$vertical-divider: $light-black;
$indexBall: $light-black;

/******HEADER**********/
$header-background: $corporative-green;
$header-menu-active: $corporative-dark-green;
$header-default-color: $light-black;
$header-menu-highlight: $corporative-light-green;
$header-font: $white;
$header-sign-up-font: $pale-yellow;

/**OLDHEADER DELETE WHEN REDESIGN ENDS*/
$border-header: $light-grey;
$dropdown-hover: $dark-blue;
//$header-menu-active: $dark-grey;

/**FOOTER**/
$footer-background: $corporative-dark-green;
$footer-font: $white;

/*****FORUM*********/
$forum-commentBox-border: $light-grey;
$forum-commentBox-action-button: $medium-blue;
$forum-infoBox-background: $light-pale-grey;

/******MAIN***********/
$icon-font: $black;
$main-first-section-button-sign-up-background: $yellow;
$main-first-section-font-color: $white;

/*****ASSEMBLY CREATION*****/
$assembly-tags-container-title: $tags-container-title;
$assembly-tags-container-content-border: $tags-container-content-border;

/*****UPLOAD********/
$progress-line-bar: $dark-blue;

/*****CAMPAIGN CREATION*****/
$campaign-tags-container-title: $tags-container-title;
$campaign-tags-container-content-border: $tags-container-content-border;
