h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom: 5px;
}

i{
  margin: 0 5px;
  cursor: default;
}

.header{
    display: inline-block;

    & > div {
        display: inline;
    }
}

.title{
    display: inline-block;
    vertical-align: middle;
}

.clear{
    clear:both;
}

.voffset  { margin-top: 0.2rem; }
.voffset1 { margin-top: 0.5rem; }
.voffset2 { margin-top: 1rem; }
.voffset3 { margin-top: 1.5rem; }
.voffset4 { margin-top: 3rem; }
.voffset5 { margin-top: 6rem; }
.voffset6 { margin-top: 9rem; }

.vertical-divider{
    border-right: 1px solid $vertical-divider;
    display: inline-block;
    margin: 0 0.2rem;
}


/* Index of phases in a black ball */

.indexBall{
    display: inline-block;
    background-color: $indexBall;
    padding: 20px;
    border-radius: 50%;

    & * {
        color:white;
        display: inline;
        margin: 0;
    }

    & :first-child{
        font-weight: bold;
    }

    & :last-child{
        vertical-align: -5px;
    }
}

.indexSquare{
    display: inline-block;
    background-color: $indexBall;
    padding: 1rem;

    & * {
        color:white;
        display: inline;
        margin: 0;
    }

    & :first-child{
        font-weight: bold;
    }

    & :last-child{
        vertical-align: -5px;
    }
}

.box{
    padding: 10px;
    border-radius: 5px;
    margin: 5px;

    &.newsBox{
        background-color: $news-box;
        color: $news-box-font;
    }

    &.descriptionBox{
        background-color: $description-box;
        color: $description-box-font;
    }

    &.selectionBox{
        background-color: $selection-box;
    }

    &.settingsBox{
        border: 3px solid $settings-box;
        margin: 30px 0px 30px 0px;

        & .checkbox{
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.tags{
    padding-left: 0;
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
}

.tag{
    padding: 0.3rem 0.8rem;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    border: none;
    margin: 0 0.5rem 0.5rem 0;

    &.tag-info {
        background: $tag-info;
    }

    &.tag-filter {
        color: white;
        background: $tag-filter;
    }

    &.tag-caution {
        color: white;
        background: $tag-caution;
    }
}

textarea{
    resize: none;
    margin: 5px 0 0 0;
    height: 50px;
}

.form-group{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.vertical-space-little{
    margin: 5px 0;
}

.vertical-space-medium{
    margin: 10px 0;
}

.vertical-space-big{
    margin: 15px 0;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.container-inline{
    display: inline;
    * {
        display: inline-block;
    }
}

.info-block{
    display: inline-block;
    vertical-align: bottom;

    & * {
        display: block;
    }
}

/*******Buttons*****/

.btn-group{
    vertical-align: baseline;
}

.btn-full-size{
    width: 100%;
}

.btn-half-size{
    width: 49%;
}


/******HEADER******/
#navbar-options{
    ul{
        li{
            border-right: 0.1rem solid $border-header;
        }
        li:first-child{
            border-left: 0.1rem solid $border-header;
        }
        li:hover{
            background-color: rgba(128, 128, 128, 0.05);
        }
        li:active{
            background-color: rgba(128, 128, 128, 0.05);
            box-shadow: inset 0 0 0.2rem 0.2rem rgba(128, 128, 128, 0.05);
        }
    }
}

#user-menu{
    ul.menu-elements{
        list-style: none;
        //display: inline-block;
        padding: 1.5rem;
        margin: 0;
        li{
            display: inline-block;
            margin: 0 0.5rem;
            cursor: pointer;
        }

        & .dropdown .dropdown-menu{
            li:hover{
                color: white;
                background: $dropdown-hover;
            }
            li:last-child{
                color: $dropdown-hover;
            }
        }
    }
}