footer{
  background: $footer-background;
  position: relative;
  margin-top: 10rem; /* negative value of footer height */
  heith: 10rem;
  clear: both;
  width: 100%;
  line-height: 4rem;
  color: $footer-font;
  text-align: center;
  & *{
    text-align: center;
    padding: 1.7rem 0;
    margin: 0;
  }

  & :last-child{
    padding-top: 0;
  }

  a {
    color: $white;
    font-weight: bold;
  }
}