.header{
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  padding: 0 4rem;
  background-color: $header-background;
  color: $header-font;

  & *{
    display: inline-block;
    margin: auto;
  }

  .links-group{
    float: right;
    & *{
      display: inline-block;
      cursor: pointer;
    }
    & :last-child{
      margin-left: 4rem;
      color: $header-sign-up-font;
    }
  }
}