<div class="add__attachment_form" ng-if="openAddAttachment">
  <form>
    <fieldset>
      <label for="name">{{'Name' | translate}}</label>
      <div class="field-container col-lg-12 no-padding">
        <input name="name" ng-model="newAttachment.name">
      </div>
    </fieldset>
    <fieldset>
      <label for="file">{{'File' | translate}}</label>
      <input type="file" name="file" fileread="newAttachment.file">
    </fieldset>
    <fieldset>
      <button class="btn btn-default follow-contribution submit__attachment" ng-click="toggleOpenAddAttachment()">{{'Cancel' | translate}}</button>
      <button class="btn btn-default follow-contribution submit__attachment" ng-click="submitAttachment()">{{'Submit' | translate}}</button>
    </fieldset>
  </form>
</div>
