<style>
  .panel {
    padding: 50px;
  }
</style>
<main class="appmain" in-view-container ng-class="{anonymous: isAnonymous}" resize>
  <article class="all_proposals">
    <header class="page__header">
      <h1 class="heading--title">{{ 'All' | translate }} {{ title | translate }}</h1>
      <div class="heading--header">
        <i class="fa fa-asterisk" ng-if="seeAllType == 'CAMPAIGN'"></i>
        <i class="fa fa-group" ng-if="seeAllType == 'WORKING_GROUP'"></i>
        <a ng-href="/#/{{fromURL}}">&nbsp;&nbsp;{{seeAllTitle}}</a>
      </div>
    </header>
    <div class="page__content">
      <pagination-widget page-size="pageSize" space="spaceID" resource="contribution" type="type" is-anonymous="isAnonymous"></pagination-widget>
    </div>
  </article>
</main>
<div ui-view></div>