<main class="app-main" in-view-container ng-class="{anonymous: isAnonymous}">
  <section class="panel intro">
    <h1 class="heading--title">All {{ title }}</h1>
    <p class="heading--header">in the {{ seeAllType }} {{ seeAllTitle }}.</p>
  </section>
  <section class="panel" in-view="paginationVisible(paginationTop, $inview)" ng-style="paginationTop.style">
    <ol class="pagination">
      <li><a href="#"><< Prev</a></li>
      <li class="current"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">Next >></a></li>
    </ol>
  </section>
  <section class="panel ideas-and-proposals">
    <section class="list--proposal">
      <div class="proposals">
        <contribution-card ng-if="type == 'proposal'" ng-repeat="proposal in contributions track by $index" contribution="proposal"></contribution-card>
        <contribution-card ng-if="type == 'idea'" ng-repeat="idea in contributions track by $index" contribution="idea"></contribution-card>
      </div>
      <p ng-if="contributions.length === 0" class="card">No {{ title }} in this space yet</p>
    </section>
  </section>
  <section class="panel" in-view="paginationVisible(paginationBottom, $inview)" ng-style="paginationBottom.style">
    <ol class="pagination">
      <li><a href="#"><< Prev</a></li>
      <li class="current"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">Next >></a></li>
    </ol>
  </section>
</main>
<div ui-view></div>
