.liveEdit {
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
  &.smaller {
    margin-left: 0.3rem;
  }
  fieldset {
    position: absolute;
  }
  button {
    display: inline-block;
    background-color: #B2B2B2;
    color: #3c3c3c;
    padding: 0.4rem 1.2rem;
    font-size: 0.8rem;
    vertical-align: middle;
    border: 0;
  }
  input {
    display: none;
    width: 200px;
    margin-right: 5px;
  }
  .fa.fa-times {
    display: none;
  }
}

select.theme_selector {
  min-width: 150px;
  font-size: 0.8rem;
  padding: 0.46875em;
}

.autocomplete.authors {
  width: 650px !important;
  [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }
  &.smaller {
    width: 280px !important;
  }
}

.smalledit {
  font-size: 1rem;
  color: #3c3c3c;
  margin-left: 0.6rem;
  cursor: pointer;
}

.editableArea {
  textarea {
    height: unset;
  }
  button.btn-join {
    position: unset !important;
    margin: 1rem 0;
  }
}

.contextual_wrapper {
  display: inline-block;
  position: relative;
  .contextual_menu {
    position: absolute;
    &.active .content:after {
      content: "";
      position: absolute;
      top: -12px;
      left: 1em;
      z-index: 1;
      width: 0;
      height: 0;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-bottom: 12px solid #fff;
      transition-property: opacity, border-color, top, border-top;
      transition-duration: 0.25s;
      right: 80%;
      transform: translateX(-20%);
    }
    .content {
      opacity: 1;
      min-width: 12em !important;
      overflow: visible;
      width: auto;
      height: auto;
      clip: none;
      position: relative;
      background-color: #fff;
      color: #11493b;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
      ul li {
        border-bottom: 1px #e5ebe6 solid;
      }
      a {
        padding: 1em 1.25em;
        display: block;
        cursor: pointer;
        color: #11493b;
        text-decoration: none;
        &:hover {
          background-color: #11493b;
          color: #e5ebe6;
        }
      }
    }
  }
}

.page__header a {
  text-decoration: none;
}

.action-bar .action-button {
  margin-top: 10px;
}

.action-button svg g {
  fill: #11493b;
}

.campaign_cards .attachments {
  float: left;
}

.campaign_cards .attachments-shrinked {
  width: 60%;
}

.campaign_cards .list--ideas {
  left: 0;
}

.nav-tabs {
  border-bottom: 1px solid #c6c8cb;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #555;
  text-decoration: none;
}

.nav-tabs>li>a:hover {
  border-color: #eeeeee #eeeeee #c6c8cb;
  background-color: #e6e7e8;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555555;
  background-color: #e6e7e8;
  border: 1px solid #c6c8cb;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified>li {
  float: none;
}

.nav-tabs.nav-justified>li>a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified>li>a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs.nav-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #f6f6f7;
  }
}

.nav.nav-tabs {
  margin-left: 5%;
  width: 90%;
}

.custom-ul {
  /*padding-bottom: 50px;*/
  padding-top: 50px;
}

.custom-li {
  /*padding-bottom: 15px;*/
  padding-top: 15px;
}

.custom-a {
  padding: 15px;
}

.file_attachments h2 {
  float: none !important;
}

.field-container {
  height: 39.5px;
  margin-bottom: 10px;
}

button.button__modal_submit {
  width: 100%;
  height: 39.5px;
  margin-top: 20px !important;
}

form>fieldset {
  margin-bottom: 20px;
}

.stats2 {
  color: #11493b;
  font-size: .875em;
  font-family: Lato, sans-serif;
  ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 2rem 1rem 2rem;
    }
  }
}

.star-filled {
  color: #11493b;
}

.star-empty {
  color: #CCC;
}

.pad-html {
  background-color: #ececec;
}

.feedback-list {
  clear: both;
  margin-top: 6rem;
  .feedback {
    border-radius: 5px;
    border: 2px solid #11493b;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    .textual { margin-top: 2rem; }
    .labels {
      float: right;
      margin-top: -10px;
      margin-right: -10px;
      .icon {
        display: inline-block;
        i { color: #11493b; }
      }
      .label {
        padding: 0.5rem 1rem;
        display: inline-block;
        font-size: 0.7rem;
        font-weight: bold;
        color: white;
        &.label-1 { background-color: red; }
        &.label-2 { background-color: green; }
      }
    }
  }
}

.contribution_description {
  font-size: 1.2rem;
}
