  <main class="appmain" ng-class="{anonymous: isAnonymous}">
    <article class="proposal__single">
      <header class="page__header contributionHeader">
        <div class="row">
          <breadcrumb label="proposal.title"></breadcrumb>
          <button class="btn btn-default follow-contribution" ng-if="contributionType">Follow {{contributionType == 'PROPOSAL' ? 'Proposal' : 'Idea'}}</button>
        </div>
       <!--<div class="row type" ng-if="contributionType != 'IDEA'">
          <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{contributionType}}
          <span class="status">— {{proposal.status | translate}}</span>
        </div>-->
        <div class="row title_block">
          <h1 class="heading--title">{{proposal.title}}</h1>

          <div class="heading_actions">
            <ul class="actions">
              <li class="action__contextual_menu" ng-mouseenter="cm.isHover = true">
                <a><i class="fa fa-cog"></i></a>
              </li>
            </ul>

            <div class="contextual_menu" ng-class="{active: cm.isHover}" ng-mouseleave="cm.isHover = false" style="top: 1em; left: auto; right: 0px;">
              <div class="content">
                <contribution-contextual-items contribution="proposal" is-proposal-idea-stage="isProposalIdeaStage" is-hover="cm.isHover"></contribution-contextual-items>
              </div>
            </div>
          </div>
        </div>

        <div class="row attribution">
          <!--<p class="heading--subheader">{{ 'Created by' | translate }}</p>-->
          <div ng-repeat="author in proposal.authors" ng-mouseenter="author.isHover = true" ng-mouseleave="author.isHover = false"
            style="display: inline-block; margin-left: 10px;">
            <member-card user="author"></member-card>
            <i ng-if="author.isHover && userIsAuthor" class="fa fa-trash" style="margin-left: 5px;" ng-click="$parent.deleteAuthor(author)"></i>
          </div>

          <div ng-repeat="author in proposal.nonMemberAuthors" ng-mouseenter="author.isHover = true" ng-mouseleave="author.isHover = false"
               style="display: inline-block; margin-left: 10px;">
            <member-card user="author"></member-card>
            <i ng-if="author.isHover && userIsAuthor" class="fa fa-trash" style="margin-left: 5px;" ng-click="$parent.deleteAuthor(author)"></i>
          </div>
          <!--<member-card ng-if="!proposal.authors" user="group"></member-card>-->
          <br><p class="small"><strong>Last updated: </strong> {{proposal.lastUpdate.split(' ')[0] | date : 'mediumDate'}} <strong>Created: </strong> {{proposal.creation.split(' ')[0] | date : 'mediumDate'}}</p>
        </div>
        <div ng-if="(userIsAuthor || userIsCoordinator || userIsAdmin)" class="row attribution campaign__filters">
          <ul class="search_modes">
            <li class="search_mode__full_text" ng-class="{active: $parent.currentAdd.context === 'THEMES'}">
              <a ng-click="$parent.setAddContext('THEMES')" class="btn-sm">{{ 'Themes' | translate }}</a>
            </li>
            <li class="search_mode__full_text" ng-class="{active: $parent.currentAdd.context === 'AUTHORS'}" ng-if="userIsAuthor">
              <a ng-click="$parent.setAddContext('AUTHORS')" class="btn-sm">{{ 'Authors'| translate }}</a>
            </li>
            <li class="search_mode__full_text" ng-class="{active: $parent.currentAdd.context === 'KEYWORDS'}">
              <a ng-click="$parent.setAddContext('KEYWORDS')" class="btn-sm">{{ 'Keywords'| translate }}</a>
            </li>
          </ul>
          <input class="btn-sm" type="text" name="authors" ng-model="$parent.currentAdd.query" ng-change="$parent.currentAddQueryChange()">
          <fieldset class="tags">
            <div class="autocomplete" ng-if="$parent.currentAdd.suggestionsVisible">
              <ul class="suggestion-list">
                <li ng-repeat="item in $parent.currentAdd.items track by $index" ng-click="$parent.currentAddOnSelect(item)"
                  class="suggestion-item" style="min-height: 50px;">
                  <span ng-bind-html="$parent.currentAddGetText(item)"></span>
                </li>
                <li ng-if="$parent.currentAdd.context === 'KEYWORDS'" ng-click="$parent.currentAddOnSelect({'title': $parent.currentAdd.query, 'type': 'EMERGENT'})"
                    class="suggestion-item" style="min-height: 50px;">
                  <span ng-bind-html="'<strong>Add New Keyword</strong>'"></span>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>

        <ul class="row tags">
          <li class="title">Themes: </li>
          <li ng-repeat="theme in proposal.themes track by $index" ng-mouseenter="theme.isHover = true" ng-mouseleave="theme.isHover = false">
            <a>{{theme.title}}</a>
            <i ng-if="theme.isHover && (userIsAuthor || userIsCoordinator || userIsAdmin)" class="fa fa-trash" style="margin-left: 5px;" ng-click="$parent.deleteTheme(theme)"></i>
            <!--<span ng-if="!$last">,</span>-->
          </li>
        </ul>

        <div class="overlay new_overlay contribution_toolbar" style="display: inline-flex">
          <ul class="overlay_buttons">
            <li class="overlay_button" ng-if="proposal.type == 'PROPOSAL' && (!campaignConfigs || campaignConfigs['appcivist.campaign.contribution-types'].includes('IDEA') )">
              <a data-toggle="modal" data-target="#ideas">
                <i class="fa fa-lightbulb-o fa-lg"></i>
                <span>
                  {{'Contributing ideas'|translate}}
                  {{ resources.relatedContributions.length > 0 ? '('+resources.relatedContributions.length+')' : '' }}
                </span>
              </a>
            </li>
            <li class="overlay_button">
              <a data-toggle="modal" data-target="#documents">
                <i class="fa fa-file-text-o fa-lg"></i>
                <span>
                  {{'Attachments'|translate}}
                  {{ resources.documents.length > 0 ? '('+resources.documents.length+')' : ''}}
                </span>
              </a>
            </li>
            <li class="overlay_button" ng-if="proposal.type == 'PROPOSAL'">
              <a data-toggle="modal" data-target="#media">
                <i class="fa fa-picture-o fa-lg"></i>
                <span>
                  {{'Media'|translate}}
                  {{ resources.media.length > 0 ? '('+resources.media.length+')' : ''}}
                </span>
              </a>
            </li>
            <li class="overlay_button" ng-if="proposal.type == 'PROPOSAL'">
              <a data-toggle="modal" data-target="#feedback">
                <i class="fa fa-star-half-o fa-lg"></i><span>{{'Feedback'|translate}}</span>
              </a>
            </li>
            <li class="overlay_button">
              <a ng-click="seeHistory()">
                <i class="fa fa-history fa-lg"></i><span>{{'History'|translate}}</span>
              </a>
            </li>
          </ul>
          <ul class="votes">
            <li class="downvote">
                <a class="commentcount"><i class="fa fa-comment"></i> {{ isAnonymous ? proposal.forumCommentCount : totalComments }}</a>
              </li>
            <li class="upvote" ng-click="updateFeedback('up')">
              {{upSum}}
              <a class="thumbs-up">
                <i class="fa" ng-class="{'fa-thumbs-o-up': !userFeedback.up, 'fa-thumbs-up': userFeedback.up}"></i>
              </a>
            </li>
            <li class="downvote" ng-click="updateFeedback('down')">
                {{downSum}}
              <a class="thumbs-down">
                <i class="fa" ng-class="{'fa-thumbs-o-down': !userFeedback.down, 'fa-thumbs-down': userFeedback.down}"></i>
              </a>
            </li>
            <li class="score" ng-if="proposal.informalScore">
                {{proposal.informalScore}}
              <i class="fa" ng-class="{'fa-arrow-up': proposal.informalScore > 0, 'fa-arrow-down': proposal.informalScore < 0}"></i>
            </li>
          </ul>
        </div>

      </header>

      <section class="content" ng-if="contributionType == 'PROPOSAL'">
        <div class="proposal-summary">
          <h2>{{'contribution.summary'|translate}}</h2>
          <p class="contribution_description" ng-bind-html="trustedHtml(proposal.text)"></p>
        </div>
        <div class="proposal-text">
          <h2>{{contributionType|titlecase|translate}}</h2>
          <p translate="contribution.body"></p>
          <p translate="contribution.body.empty" ng-if="!proposal.extendedTextPad && (userIsAuthor || userIsCoordinator)"></p>
          <div class="text-center" style="margin-top: 2rem" ng-if="!proposal.extendedTextPad && (userIsAuthor || userIsCoordinator)">
              <button class="btn btn-default proposal-btn" data-toggle="modal" data-target="#etherpadEmbedModal">Etherpad</button>
              <button class="btn btn-default proposal-btn" data-toggle="modal" data-target="#gdocEmbedModal">Google Docs</button>
              <!--<button class="btn btn-default proposal-btn">Default</button>-->
          </div>
          <div class="text-center" style="margin-top: 2rem" ng-if="proposal.extendedTextPad.resourceType==='PAD' && proposal.extendedTextPad">
            <div ng-if="!campaignConfigs['appcivist.campaign.disable-etherpad'] || campaignConfigs['appcivist.campaign.disable-etherpad']==='FALSE'"
                 class="etherpad__wrapper">
              <div class="pad-html">
                <iframe ng-if="userIsAuthor && etherpadReadWriteUrl" name="embed_readwrite"
                        ng-src="{{etherpadReadWriteUrl}}" width="100%" height="600px">
                </iframe>
                <iframe id="etherpadHTML" ng-if="(!userIsAuthor && etherpadReadOnlyUrl) || !etherpadReadWriteUrl" width="100%" height="600px"></iframe>
              </div>

            </div>
          </div>
          <div class="text-center" style="margin-top: 2rem" ng-if="proposal.extendedTextPad.resourceType==='GDOC' && proposal.extendedTextPad">
            <div class="etherpad__wrapper">
              <!-- TODO: load only HTML of etherpad as obtained from backend, do not embed read only version-->
              <iframe ng-if="(!userIsAuthor && gdocUrl)" name="embed_readonly"
                      ng-src="{{gdocUrlMinimal}}" width="100%" height="600px" id="gdocHTML">
              </iframe>
              <iframe ng-if="userIsAuthor && writegDocUrl" name="embed_readwrite"
                      ng-src="{{writegDocUrl}}"
                      width="100%" height="600px">
              </iframe>
            </div>
          </div>
        </div>
      </section>

      <!-- Pictures carousel before idea content -->
      <section class="content" ng-if="contributionType == 'IDEA'">
          <div id="media-carousel" class="carousel slide" data-ride="carousel" data-interval="false" ng-if="resources.pictures.length > 0">
            <div class="carousel-inner" role="listbox">
              <div class="item" ng-class="{active:$first}" ng-repeat="picture in resources.pictures">
                <img src="{{picture.url}}">
              </div>
            </div>
            <a class="left carousel-control" role="button" data-target="#media-carousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" role="button" data-target="#media-carousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators">
              <li data-target="#media-carousel" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="picture in resources.pictures"></li>
            </ol>
          </div>
        <p class="contribution_description" ng-bind-html="trustedHtml(proposal.text)"></p>
      </section>

      <section class="comments__section">
        <div class="row comments-header">
          <div class="col-xs-4 text-left">
            <strong>Comments ({{commentType == 'members' ? proposal.commentCount : proposal.forumCommentCount}})</strong>
          </div>
          <div class="col-xs-8 text-right">
            {{'View comments by'|translate}}:
            <select name="comment-types" ng-model="commentType">
              <option value="public">{{'Public'|translate}}</option>
              <option value="members">{{'Members only'|translate}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="tab-pane" ng-if="userIsMember && commentType === 'members'">
            <discussion-panel class="col-*-12" ng-if="userIsMember" space-id="proposal.rsID"
                              endpoint-id="proposalID"
                              endpoint="contribution"
                              is-anonymous="isAnonymous"></discussion-panel>
          </div>
          <div class="tab-pane" ng-if="commentType === 'public'">
            <discussion-panel ng-if="!isAnonymous" class="col-md-12" space-id="proposal.forumResourceSpaceId"
                              endpoint-id="proposal.proposalId"
                              endpoint="contribution"
                              public-board="true"
                              is-anonymous="isAnonymous"></discussion-panel>
            <discussion-panel ng-if="isAnonymous" class="col-*-12"
                              space-id="proposal.frsUUID"
                              endpoint-id="proposal.uuid"
                              endpoint="contribution"
                              public-board="true"
                              is-anonymous="isAnonymous"></discussion-panel>
          </div>
        </div>
      </section>
    </article>
    <!-- Nav tabs -->
   <!--  <ul class="nav nav-tabs custom-ul">
      <li role="presentation" class="custom-li" ng-class="{'active': (activeTab === 'Members')}" ng-if="userIsMember"><a class="custom-a" href="" ng-click="changeActiveTab(1)" role="tab" data-toggle="tab">{{ 'Members' | translate }} ({{proposal.commentCount}})</a></li>
      <li role="presentation" class="custom-li" ng-class="{'active': (activeTab === 'Public')}"><a class="custom-a" href="" ng-click="changeActiveTab(2)" role="tab" data-toggle="tab">{{ 'Public' | translate }} ({{proposal.forumCommentCount}})</a></li>
      <li ng-show="(feedbacks && feedbacks.length) || userIsMember" role="presentation" class="custom-li hidden-lg" ng-class="{'active': (activeTab === 'Feedbacks')}">
        <a class="custom-a" href="" ng-click="changeActiveTab(3)" role="tab" data-toggle="tab">{{ 'Textual feedbacks' | translate }}</a>
      </li>
    </ul> -->
    <!-- Tab panes -->
   <!--  <div class="tab-content">
      <div class="tab-pane" ng-class="{'active': activeTab === 'Members'}" ng-if="userIsMember && activeTab === 'Members'">
        <discussion-panel class="col-md-12" ng-if="userIsMember" space-id="proposal.rsID" endpoint-id="proposalID"
          endpoint="contribution"></discussion-panel>
      </div>
      <div class="tab-pane" ng-class="{'active': activeTab === 'Public'}" ng-if="activeTab === 'Public'">
        <discussion-panel ng-if="!isAnonymous" class="col-md-12" space-id="proposal.forumResourceSpaceId" endpoint-id="proposal.proposalId"
          endpoint="contribution" public-board="true"></discussion-panel>
        <discussion-panel ng-if="isAnonymous" class="col-md-12" space-id="proposal.frsUUID" endpoint-id="proposal.uuid"
          endpoint="contribution" public-board="true"></discussion-panel>
      </div>
      <div class="tab-pane" ng-class="{'active': activeTab === 'Feedbacks'}" ng-if="activeTab === 'Feedbacks'">
        <contribution-feedback-panel class="col-md-12" contribution="proposal" public-board="true"></contribution-feedback-panel>
      </div>
    </div> -->

    <modal open-if="modals.addAttachmentForm" close="closeModal('addAttachmentForm')" title="Edit Form" template-id="addAttachmentForm"></modal>


    <!--<script id="addAttachmentForm" type="text/ng-template">-->
      <!--<div class="modal_content__add_proposal">-->
        <!--<header class="modal-header" style="padding: 2em;">{{'Add a new file' | translate}}</header>-->
        <!--<div class="modal-body">-->
          <!--<form>-->
            <!--<fieldset>-->
              <!--<label for="name">{{'Name' | translate}}</label>-->
              <!--<div class="field-container col-lg-12">-->
                <!--<input name="name" ng-model="newAttachment.name">-->
              <!--</div>-->
            <!--</fieldset>-->
            <!--<fieldset>-->
              <!--<label for="file">{{'File' | translate}}</label>-->
              <!--<div class="field-container col-lg-12">-->
                <!--<input type="file" name="file" fileread="newAttachment.file">-->
              <!--</div>-->
            <!--</fieldset>-->
          <!--</form>-->
          <!--<fieldset>-->
            <!--<button class="button__modal_submit" ng-click="submitAttachment()">{{'Submit' | translate}}</button>-->
          <!--</fieldset>-->
        <!--</div>-->
      <!--</div>-->
    <!--</script>-->
  </main>


  <!-- Ideas Modal -->
  <div class="modal fade dashboardModal" id="ideas" tabindex="-1" role="dialog" aria-labelledby="documentsLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="ideasLabel">{{proposal.title}}</h3>
          <p>{{ 'Contributing ideas' | translate }}</p>
        </div>
        <div class="modal-body">
          <associated-contributions-form ng-if="!isAnonymous && (userIsAuthor || userIsCoordinator || userIsAdmin)"
                                         contribution-type="associatedContributionsType"
                                         space-id="proposal.resourceSpaceId"
                                         space="resources"
                                         assembly-id="assemblyID"
                                         campaign-id="campaignID"
                                         campaign-space-id="campaign.resourceSpaceId"
                                         group-id="groupID"
                                         parent-contribution-id="proposalID"></associated-contributions-form>

          <div class="noContent" ng-if="!resources.relatedContributions || resources.relatedContributions.length === 0">
            <h4>{{ 'There are no ideas associated to this contribution' | translate }}</h4>
          </div>
          <ul class="workingGroupList" ng-if="resources.relatedContributions && resources.relatedContributions.length > 0">
            <li ng-repeat="contribution in resources.relatedContributions track by $index">
              <a class="workingGroupLink" ng-href="#/v2/assembly/{{assemblyID}}/campaign/{{campaignID}}/contribution/{{contribution.contributionId}}">
                <span>{{contribution.title|limitTo:37}}{{(contribution.title.length) > 37 ? '...' : '.' }}</span>
              </a>
              <span class="number clickable" ng-click="removeContributingIdea(contribution)"><i class="fa fa-trash"></i>{{'Delete'|translate}}</span>
            </li>
          </ul>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{proposal.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Documents Modal -->
  <div class="modal fade dashboardModal" id="documents" tabindex="-1" role="dialog" aria-labelledby="documentsLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="documentsLabel">{{proposal.title}}</h3>
          <p>{{ 'Attachments' | translate }}</p>
          <button class="btn btn-default follow-contribution modal-button" ng-if="userIsAuthor && !openAddAttachment"
                  ng-click="toggleOpenAddAttachment()">{{'Add a new file'|translate}}</button>

          <button class="btn btn-default follow-contribution modal-button" ng-if="userIsAuthor && !openAddAttachment"
                  ng-click="toggleOpenAddAttachmentByUrl()">{{'Add URL resource'|translate}}</button>
        </div>
        <div class="modal-body">
          <!--
            TODO: investigate why simply using the class dashboardModal does not work
            (or adding another class at the same level the noWorkingGroups in new-dashboard.scss)
          -->
          <div ng-include="'/app/v2/partials/contribution/add-attachment-form.html'"></div>
          <span class="attachment-spinner" us-spinner="spinnerOptions" spinner-key="contributions-page"></span>

          <div class="noContent" ng-if="!resources.documents || resources.documents.length === 0">
            <h4>{{ 'There are no documents in this campaign' | translate }}</h4>
          </div>
          <ul class="workingGroupList" ng-if="resources.documents && resources.documents.length > 0">
            <li ng-repeat="resource in resources.documents track by $index">
              <a class="workingGroupLink" target="_blank"
                  ng-href="{{resource.url}}">
                <span>{{resource.name}}</span>
              </a>
              <span class="number clickable" ng-click="deleteAttachment(resource)"><i class="fa fa-trash"></i>{{'Delete'|translate}}</span>
            </li>
          </ul>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{proposal.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Media Modal -->
  <div class="modal fade dashboardModal" id="media" tabindex="-1" role="dialog" aria-labelledby="mediaLabel" ng-if="proposal.type == 'PROPOSAL'">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="mediaLabel">{{proposal.title}}</h3>
          <p>{{ 'Media' | translate }}</p>
        </div>
        <div class="modal-body">
          <!--
            TODO: investigate why simply using the class dashboardModal does not work
            (or adding another class at the same level the noWorkingGroups in new-dashboard.scss)
          -->
          <div class="noContent" ng-if="!resources.media || resources.media.length === 0">
            <h4>{{ 'There are no multimedia resources in this proposal' | translate }}</h4>
          </div>

          <!-- Media Carousel in Media Modal-->
          <div id="media-carousel-modal" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <div class="item {{$index===0 ? 'active' : ''}}" ng-repeat="resource in resources.media track by $index">
                <img ng-if="resource.resourceType === 'PICTURE'" ng-src="{{resource.url}}" alt="{{resource.name}}">
                <!-- TODO: sanitize video URLs somewhere else -->
                <iframe ng-if="resource.resourceType === 'VIDEO'" width="75%" height="315"
                        ng-src="{{resource.embedUrl}}"
                        frameborder="0" allowfullscreen style="display: block; margin: auto;"></iframe>
                <div class="noContent">
                  <h4 ng-if="resource.title">{{resource.title}}</h4>
                  <h5 ng-if="resource.description"
                      ng-bind-html="resource.description"></h5>
                </div>

              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" data-target="#media-carousel-modal" role="button" data-slide="prev" ng-if="resources.media.length > 0">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">{{'Previous'|translate}}</span>
            </a>
            <a class="right carousel-control" data-target="#media-carousel-modal" role="button" data-slide="next" ng-if="resources.media.length > 0">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">{{'Next'|translate}}</span>
            </a>
            <ol class="carousel-indicators" ng-if="media.length > 0">
              <li data-target="#media-carousel-modal" data-slide-to="{{$index}}" ng-repeat="resource in resources.media track by $index" class="{{$index===0 ? 'active' : ''}}"></li>
            </ol>
          </div>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{proposal.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Feedback Modal -->
  <div class="modal fade dashboardModal" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">{{'Close'|translate}} &times;</span></button>
          <h3 class="modal-title" id="feedbackLabel">{{proposal.title}}</h3>
          <p>{{ 'Feedback' | translate }}</p>
        </div>
        <div class="modal-body">
          <div class="informal_score">
            <div class="informal_score stats2">
              <div style="margin-bottom: 1rem;">
                <div class="col-xs-6 text-right">
                  <span style="font-weight: bold; margin-right: 1rem;">{{ 'Needs' | translate }}</span>
                </div>
                <div class="col-xs-6">
                  <span class="glyphicon glyphicon-star" ng-class="i" ng-repeat="i in createArray(needAvg) track by $index"></span>
                </div>
              </div>
              <div style="margin-bottom: 1rem;">
                <div class="col-xs-6 text-right">
                  <span style="font-weight: bold; margin-right: 1rem;">{{ 'Feasibility' | translate }} </span>
                </div>
                <div class="col-xs-6">
                  <span class="glyphicon glyphicon-star" ng-class="i" ng-repeat="i in createArray(feasibilityAvg) track by $index"></span>
                </div>
              </div>
              <div style="margin-bottom: 1rem;">
                <div class="col-xs-6 text-right">
                  <span style="font-weight: bold; margin-right: 1rem;">{{ 'Benefit' | translate }}</span>
                </div>
                <div class="col-xs-6">
                  <span class="glyphicon glyphicon-star" ng-class="i" ng-repeat="i in createArray(benefictAvg) track by $index"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-left">
          <a data-dismiss="modal"><i class="fa fa-arrow-left fa-lg"></i>{{ 'Return to' | translate }} {{proposal.title}}</a>
        </div>
      </div>
    </div>
  </div>

  <contribution-embed-modal assembly-id="assemblyID" campaign-id="campaignID" contribution-id="proposalID" format="gdoc"></contribution-embed-modal>
  <contribution-embed-modal assembly-id="assemblyID" campaign-id="campaignID" contribution-id="proposalID" format="etherpad"></contribution-embed-modal>

  <script>
    $(document).ready(function() {
      $("a.carousel-control").on("click", function(e) {
        e.preventDefault();
      })
    })
  </script>
