<dl class="activity-stream-item">
  <dt class="heading--subheader">On {{formatDate(activity.lastUpdate)}}</dt>
  <!-- TODO: change when notifications are implemented
  <dd class="heading--small">Teun Richard commented on <a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">Bicycle Racks</a></dd>-->
  <dd class="heading--small">{{activity.workingGroupAuthors[0].name}} worked on 
    <a href="&#x2F;patterns&#x2F;03-templates-05-single-proposal&#x2F;03-templates-05-single-proposal.html">
      {{activity.title}}
    </a>
  </dd>
</dl>
