<div>
  <ul ng-if="vm.userIsAssemblyCoordinator">
    <li class="li-action-menu">
      <a ng-click="vm.openModal('contributionExport')">
        {{vm.filters.mode === 'idea' || vm.filters.mode === 'myideas' ? 'Export ideas'
              : vm.filters.mode === 'proposal' || vm.filters.mode === 'myproposals' ? 'Export proposals' : 'Export contributions' | translate}}
      </a>
    </li>
    <li class="li-action-menu"><a href="" ng-click="vm.edit()">{{'Edit' | translate}}</a></li>
    <li class="li-action-menu" ng-if="vm.showIdeasImport"><a ng-click="vm.openModal('ideasImportForm')">{{'Import ideas' | translate}}</a></li>
    <li class="li-action-menu" ng-if="vm.showProposalImport"><a ng-click="vm.openModal('proposalsImportForm')">{{'Import proposals' | translate}}</a></li>
    <li class="li-action-menu"><a ng-click="vm.downloadAuthorInfo()">{{'Download Author Information' | translate}}</a></li>
    <li class="li-action-menu"><a ng-click="vm.showConsentModal()">{{'campaign.research-consent-menu' | translate}}</a></li>
    <!--<li class="li-action-menu"><a ng-click="vm.subscribe()">{{'Subscribe' | translate}}</a></li>-->
  </ul>

  <script id="ideasImportForm" type="text/ng-template">
    <contribution-form campaign="vm.campaign" type="IDEA" on-import-success="$ideasImportForm.close()" import-only="true"></contribution-form>
  </script>

  <script id="contributionExport" type="text/ng-template">
    <contribution-export campaign="vm.campaign" on-success="vm.closeModal('contributionExport')"
                         mode="multiple" user="user" type="{{vm.filters.mode | uppercase}}"
                         contributions="vm.contributions"></contribution-export>
  </script>

  <modal open-if="vm.modals.ideasImportForm"
         close="vm.closeModal('ideasImportForm')"
         template-id="ideasImportForm"
         modal-instance-reference="ideasImportForm">
  </modal>

  <script id="proposalsImportForm" type="text/ng-template">
    <contribution-form campaign="vm.campaign" type="PROPOSAL" on-import-success="$proposalsImportForm.close()" import-only="true"></contribution-form>
  </script>

  <modal open-if="vm.modals.proposalsImportForm"
         close="vm.closeModal('proposalsImportForm')"
         template-id="proposalsImportForm"
         modal-instance-reference="proposalsImportForm">
  </modal>

  <modal open-if="vm.modals.contributionExport" close="vm.closeModal('contributionExport')" title="Edit Form" template-id="contributionExport"></modal>

</div>
