<div class="modal_content__add_proposal">
  <header class="modal-header" style="padding: 2em;">{{'Configure Voting' | translate}}</header>
  <div class="modal-body">
    <form>
      <fieldset>
        <label for="group">{{'Select Voting System' | translate}}</label>
        <div class="field-container col-lg-12">
          <select name="group" class="col-lg-12" ng-model="vm.model.selected" ng-change="vm.onSelect()" ng-options="option as option.name for option in vm.votingSystems">
            <option value="">{{'Select a voting system' | translate}}</option>
          </select>
        </div>
      </fieldset>

      <fieldset ng-repeat="config in vm.selectedConfigs | orderBy:position">

        <label for="group">{{config.description | translate}}</label>
        <div class="field-container col-lg-12">
          <!-- configuration of type input -->
          <input ng-if="config.type === 'input'" ng-model="vm.model.configurations[config.position]" type="{{config.inputType}}"
            class="col-lg-12" ng-value="{{config.value}}">

          <!-- configuration of type select -->
          <select ng-if="config.type === 'select'" name="{{config.key}}" class="col-lg-12" ng-model="vm.model.configurations[config.position]"
            ng-options="option as option.name for option in config.options" ng-value="config.optionValue">
          </select>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="col-md-6">
        <button class="button__modal_submit" ng-click="vm.submit()">{{'Submit' | translate}}</button>
      </div>
      <div class="col-md-6">
        <button class="button__modal_submit" ng-click="vm.close()">{{'Cancel' | translate}}</button>
      </div>
    </div>

  </div>
</div>