<style>
  .comment-reply-controls {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
</style>
<div class="temperature_check">
  <ul class="votes" ng-if="!isAnonymous" style="margin-right: 0.1em;">
    <li class="upvote" ng-mouseenter="contribution.overUp = true" ng-mouseleave="contribution.overUp = false">
      <a class="thumbs-up" ng-click="updateFeedback('up')"><span class="screen-reader-only">{{ 'Upvote' | translate }}</span></a>
      <div class="popover" style="top: -56px;" ng-class="{active: contribution.overUp}">
        <div class="content">{{contribution.stats.ups}}</div>
      </div>
    </li>
    <li class="downvote" ng-mouseenter="contribution.overDown = true" ng-mouseleave="contribution.overDown = false">
      <a class="thumbs-down" ng-click="updateFeedback('down')"><span class="screen-reader-only">{{ 'Downvote' | translate }}</span></a>
      <div class="popover" style="top: -56px;" ng-class="{active: contribution.overDown}">
        <div class="content">{{contribution.stats.downs}}</div>
      </div>
    </li>
    <!--<li class="commentcount" ng-mouseenter="contribution.commentCount = true" ng-mouseleave="contribution.commentCount = false">-->
      <!--<a><i class="fa fa-comment"></i><span class="screen-reader-only">{{ 'Comments' | translate }}</span></a>-->
      <!--<div class="popover" style="top: -56px;" ng-class="{active: contribution.commentCount}">-->
        <!--<div class="content">{{ contribution.totalComments }}</div>-->
      <!--</div>      -->
    <!--</li>-->
    <li class="delete" ng-if="withDelete && isAssemblyCoordinator" ng-mouseenter="contribution.overDelete = true" ng-mouseleave="contribution.overDelete = false">
      <a ng-click="$parent.showModerationForm('delete')">
        <i class="fa fa-trash"></i>
        <span class="screen-reader-only">{{ 'Delete' | translate }}</span>
      </a>
      <div class="popover" style="top: -56px;" ng-class="{active: contribution.overDelete}">
        <div class="content">{{'Remove' | translate}}</div>
      </div>
    </li>
    <li class="delete" ng-if="withFlag && isMemberOfAssembly" ng-mouseenter="contribution.overFlag = true" ng-mouseleave="contribution.overFlag = false">
      <a ng-click="$parent.showModerationForm('flag')">
        <i class="fa fa-ban"></i>
        <span class="screen-reader-only">{{ 'Flag' | translate }}</span>
      </a>
      <div class="popover" style="top: -56px;" ng-class="{active: contribution.overFlag}">
        <div class="content">{{'Flag as inappropriate' | translate}}</div>
      </div>
    </li>
  </ul>
  <div ng-if="contribution.informalScore != null && contribution.informalScore != undefined " class="informal_score"
       ng-class="{positive: contribution.informalScore >= 0, negative: contribution.informalScore < 0}">
    <em>{{(contribution.informalScore != null && contribution.informalScore != undefined) ? contribution.informalScore : 0}}</em>
  </div>

  <div ng-if="(contribution.informalScore === null || contribution.informalScore === undefined)" class="informal_score"
       ng-class="{positive: contribution.popularity >= 0, negative: contribution.popularity < 0}">
    <em>{{(contribution.popularity != null && contribution.popularity != undefined) ? contribution.popularity : 0}}</em>
  </div>

  <div ng-if="(contribution.totalComments != null && contribution.totalComments != undefined)" style="margine-left:4px" class="informal_score positive">
    <em style="border-radius:15%">
      <i class="fa fa-comment"></i>
      {{contribution.totalComments}}
    </em>
  </div>

  <script id="moderationForm" type="text/ng-template">
    <div class="modal_content__add_proposal">
      <header class="modal-header" style="padding: 2em;">{{'Moderation Form' | translate}}</header>
      <div class="modal-body">
        <form>
          <fieldset>
            <label for="reasons">{{'Select reason' | translate}}</label>
            <div class="field-container col-lg-12" style="margin-bottom: 10px; height: 39.5px;">
              <select name="reasons" class="col-lg-12" style="height: 39.5px;" ng-model="contribution.moderationComment" ng-options="reason for reason in moderationReasons"></select>
            </div>
          </fieldset>
          <fieldset ng-if="contribution.moderationComment === 'Other'">
            <div class="field-container col-lg-12" style="margin-bottom: 10px;">
              <input type="text" ng-model="contribution.moderationCommentOther" placeholder="{{'Enter reason' | translate}}">
            </div>
          </fieldset>
        </form>
      </div>
      <fieldset>
        <a ng-click="submitModerationForm()" class="button__modal_submit ng-binding" style="padding: 0.6em;">{{'Submit' | translate}}</a>
      </fieldset>
    </div>
  </script>
</div>
