<style>
  .comment-reply-controls {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
</style>
<div class="temperature_check" ng-if="isCardView">
  <ul class="pull-right votes" ng-if="!isAnonymous" style="margin-right: 0.1em;">
    <li class="downvote" ng-click="updateFeedback('up')" ng-if="showUpVote">
      {{contribution.stats.ups}}
      <i class="fa" ng-class="{'fa-thumbs-o-up': !userFeedback.up, 'fa-thumbs-up': userFeedback.up}"
         uib-tooltip="{{'Upvote this contribution' | translate}}"></i>
    </li>
    <li class="downvote" ng-click="updateFeedback('down')"  ng-if="showDownVote">
      {{contribution.stats.downs}}
      <i class="fa" ng-class="{'fa-thumbs-o-down': !userFeedback.down, 'fa-thumbs-down': userFeedback.down}"
         uib-tooltip="{{'Downvote this contribution' | translate}}"></i>
    </li>
    <li class="downvote"  ng-if="showDownVote || showUpVote">
      {{contribution.informalScore}}
      <i class="fa" uib-tooltip="{{'Informal score' | translate}}"
         ng-class="{'fa-long-arrow-up': contribution.informalScore > 0, 'fa-long-arrow-down': contribution.informalScore <= 0}"></i>
    </li>
    <li class="downvote" ng-if="showCommentCount">
      {{contribution.totalComments}}<i class="fa fa-comments-o" uib-tooltip="{{'Total comments' | translate}}"></i>
    </li>
    <li class="downvote">
      <i class="fa fa-bar-chart-o" uib-tooltip-html="feedbackScoreTooltipHTML"></i>
      {{(contribution.stats.averageBenefit+contribution.stats.averageNeed+contribution.stats.averageFeasibility) | number : 2}}
    </li>
    <li class="downvote" ng-click="showModerationForm('flag')">
      <i class="fa"
         ng-class="{'fa-flag-o': !userFeedback.flag, 'fa-flag': userFeedback.flag}"
         uib-tooltip="{{'Flag this contribution' | translate}}"></i>
    </li>
    <li class="downvote" ng-if="isAssemblyCoordinator" ng-click="$parent.showModerationForm('delete')">
      <i class="fa fa-trash" uib-tooltip="{{'Delete this contribution' | translate}}"></i>
    </li>
  </ul>
  <ul class="pull-right votes" ng-if="isAnonymous" style="margin-right: 0.1em;">
    <li class="downvote" ng-if="showUpVote">
      {{contribution.stats.ups}}
      <i class="fa" ng-class="{'fa-thumbs-o-up': !userFeedback.up, 'fa-thumbs-up': userFeedback.up}"></i>
    </li>
    <li class="downvote" ng-if="showDownVote">
      {{contribution.stats.downs}}
      <i class="fa" ng-class="{'fa-thumbs-o-down': !userFeedback.down, 'fa-thumbs-down': userFeedback.down}"></i>
    </li>
    <li class="downvote" ng-if="contribution.informalScore != null && contribution.informalScore != undefined">
      {{contribution.informalScore}}<i class="fa" ng-class="{'fa-long-arrow-up': contribution.informalScore > 0, 'fa-long-arrow-down': contribution.informalScore <= 0 }"></i>
    </li>
    <li class="downvote" ng-if="showCommentCount">
      {{contribution.totalComments}}<i class="fa fa-comments-o"></i>
    </li>
    <li class="downvote">
      <i class="fa fa-bar-chart-o" uib-tooltip-html="feedbackScoreTooltipHTML"></i>
      {{(contribution.stats.averageBenefit+contribution.stats.averageNeed+contribution.stats.averageFeasibility) | number : 2}}
    </li>
  </ul>
</div>
<div class="temperature_check" ng-if="!isCardView" style="padding-top: 10px;">
  <ul class="votes" style="margin-right: 0.1em;">
    <li class="downvote" ng-click="updateFeedback('up')" ng-if="showUpVote">
      {{contribution.stats.ups}}
      <i class="fa" ng-class="{'fa-thumbs-o-up': !userFeedback.up, 'fa-thumbs-up': userFeedback.up}"></i>
      <span class="screen-reader-only">{{ 'Upvote' | translate }}</span>
    </li>
    <li class="downvote" ng-click="updateFeedback('down')" ng-if="showDownVote">
      {{contribution.stats.downs}}
      <i class="fa" ng-class="{'fa-thumbs-o-down': !userFeedback.down, 'fa-thumbs-down': userFeedback.down}"></i>
      <span class="screen-reader-only">{{ 'Downvote' | translate }}</span>
    </li>
    <li class="downvote" ng-if="showUpVote || showDownVote">
      {{contribution.informalScore}}
      <i class="fa" uib-tooltip="{{'Informal score' | translate}}"
         ng-class="{'fa-long-arrow-up': contribution.informalScore > 0, 'fa-long-arrow-down': contribution.informalScore < 0 }"></i>
    </li>
    <li class="downvote" ng-if="showCommentCount">
      {{contribution.totalComments}}
      <i class="fa fa-comments-o" uib-tooltip="{{'Total comments' | translate}}"></i>
    </li>
    <li class="downvote" ng-click="showModerationForm('flag')">
      <i class="fa"
         ng-class="{'fa-flag-o': !userFeedback.flag, 'fa-flag': userFeedback.flag}"
         uib-tooltip="{{'Flag this contribution' | translate}}"></i>
    </li>
    <li class="delete" ng-if="isAssemblyCoordinator" ng-click="$parent.showModerationForm('delete')">
      <i class="fa fa-trash" uib-tooltip="{{'Delete this contribution' | translate}}"></i>
    </li>
  </ul>

  <script id="moderationForm" type="text/ng-template">
    <contribution-moderation-form contribution="contribution" context="moderationContext" on-success="moderationSuccess()"></contribution-moderation-form>
  </script>
</div>
