<div class="modal_content__add_proposal">
  <header class="modal-header">
    <h2 class="modal__title" ng-if="vm.isProposal">{{vm.actionLabel | translate}} {{'Proposal' | translate}}</h2>
    <h2 class="modal__title" ng-if="vm.isIdea">{{vm.actionLabel | translate}} {{'Idea' | translate}}</h2>
  </header>
  <div class="modal-body">
    <form name="contributionForm">
      <fieldset>
        <!-- Title -->
        <div class="field__container" ng-if="!vm.hiddenFieldsMap['title']">
          <label for="add_proposal__title">{{'Title' | translate}} <abbr title="Required">*</abbr></label>
          <input ng-model="vm.contribution.title" ng-required="true" ng-disabled="vm.disabled" id="add_proposal__title"
            type="text" placeholder="{{ 'Title' | translate }}" name="title" ng-maxlength="50">
          <div ng-messages="contributionForm.title.$error" style="color:maroon" role="alert">
            <div ng-message="required">{{'This field is required' | translate}}</div>
            <div ng-message="maxlength">{{'Value is too long' | translate}}, 50 {{'characters allowed' | translate}}</div>
          </div>
        </div>

        <!-- Description -->
        <div class="field__container" ng-if="!vm.hiddenFieldsMap['description']">
          <label for="add_proposal__description">{{'Description' | translate}} <abbr title="Required">*</abbr></label>
          <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.contribution.text" ng-required="true" ng-disabled="disabled"
            id="add_proposal__description" name="text" rows="8" cols="48" placeholder="{{'Description' | translate}}"></textarea>
          <div ng-messages="contributionForm.text.$error" style="color:maroon" role="alert">
            <div ng-message="required">{{'This field is required' | translate}}</div>
          </div>
          <div style="color:maroon" role="alert">
            <div ng-show="contribution.text.length > 200">{{'Value is too long' | translate}}, 200 {{'characters allowed' | translate}}</div>
          </div>
        </div>

        <!-- Location -->
        <div class="field__container assign_proposal_to_users" ng-if="!vm.hiddenFieldsMap['location']">
          <fieldset class="add_proposal__availble_themes">
            <label for="location">{{'Location' | translate}}</label>
            <input id="location" name="location" ng-model="vm.contribution.location.placeName" placeholder="{{'Location' | translate}}"
              ng-disabled="vm.disabled" ng-maxlength="50">
            <div ng-messages="contributionForm.location.$error" style="color:maroon" role="alert">
              <div ng-message="maxlength">{{'Value is too long' | translate}}, 50 {{'characters allowed' | translate}}</div>
            </div>
          </fieldset>
        </div>

        <!-- Status -->
        <div class="field__container assign_proposal_to_wg" ng-if="vm.isProposal && !vm.hiddenFieldsMap['status']">
          <label for="status">{{'Status' | translate}}</label>
          <select id="status" name="status" ng-model="vm.contribution.status" ng-disabled="disabled" style="height: 42px; width: 100%;">
            <option value="NEW">{{'New' | translate}}</option>
            <option value="PUBLISHED">{{'Published' | translate}}</option>
          </select>
        </div>

        <!-- Pinned? -->
        <div class="field__container" ng-if="vm.isProposal && vm.userIsAssemblyCoordinator && !vm.hiddenFieldsMap['pin']">
          <label for="pinned">{{'Pin contribution to make it always avaialable' | translate}}</label>
          <input id="pinned" type="checkbox" ng-model="vm.contribution.pinned" />
        </div>

        <!-- Working Group -->
        <div class="field__container assign_proposal_to_wg" ng-if="vm.isProposal && vm.isCreate && !vm.hiddenFieldsMap['working-group']">
          <label for="workingGroup">{{'Working Group' | translate}}</label>
          <select id="workingGroup" name="workingGroup" ng-model="vm.selectedGroup" ng-required="vm.isProposal"
            ng-disabled="vm.disabled || vm.disableGroupSelection" ng-change="vm.selectGroup()" ng-options="group as group.name for group in vm.groups">
              <option value="">{{'Select a working group' | translate}}</option>
            </select>
          <div ng-messages="contributionForm.workingGroup.$error" style="color:maroon" role="alert">
            <div ng-message="required">{{'This field is required' | translate}}</div>
          </div>
        </div>

        <!-- Authors -->
        <div class="field__container assign_proposal_to_users" ng-if="vm.isCreate && !vm.hiddenFieldsMap['authors']">
          <fieldset class="user__assignment">
            <label for="authors">{{'Authors' | translate}}</label>
            <tags-field id="authors" load-items="vm.loadAuthors(query)" options="vm.authorsOptions" selected="vm.contribution.authors"
              prefetch="true" disabled="vm.isAuthorsDisabled"></tags-field>
          </fieldset>
        </div>

        <!-- Non Member Author -->
        <div class="field__container assign_proposal_to_users" ng-if="vm.isIdea && vm.isCreate && !vm.hiddenFieldsMap['non-member-authors']">
          <fieldset class="user__assignment">
            <label for="non-member-authors">{{'Non Member Author' | translate}}</label>
            <nonmember-author-form id="non-member-authors" on-change="vm.updateNonMember(author)" ng-disabled="vm.disabled"></nonmember-author-form>
          </fieldset>
        </div>

        <!-- Assign to Proposal -->
        <div class="field__container assign_proposal_to_users" ng-if="vm.isCreate && !vm.hiddenFieldsMap['existing-themes']">
          <fieldset class="add_proposal__availble_themes">
            <p class="intro">{{'Categories' | translate}}</p>
            <label class="add_proposal__categories_label">{{'Select categories to assign' | translate}}</label>
            <tags-field load-items="vm.loadThemes(query)" options="vm.themesOptions" selected="vm.contribution.existingThemes"
              prefetch="true" disabled="vm.disabled"></tags-field>
          </fieldset>
        </div>

        <!-- Attachments -->
        <div class="field__container" ng-if="vm.isCreate && !vm.hiddenFieldsMap['attachments']">
          <fieldset>
            <p class="intro">{{'Attachments' | translate}}</p>
          </fieldset>
        </div>
        <div class="field__container card-list" ng-repeat="file in vm.contribution.attachments">
          <fieldset>
            <div class="action-bar small-card file-card">
              <figure>
                <a ng-href="{{file.url}}" target="_blank">
                  <img ng-if="file.resourceType !== 'PICTURE'" src="/bower_components/appcivist-patterns/dist/images/file-icon.png"
                    alt="File icon" />
                  <img ng-if="file.resourceType === 'PICTURE'" ng-src="{{file.url}}" alt="File icon" />
                </a>
              </figure>
              <h4>
                <a ng-href="{{file.url}}" target="_blank">{{(file.name && file.name != "" ? file.name : file.url)}}</a>
                <a ng-click="vm.deleteAttachment()"><i class="fa fa-times"></i></a>
              </h4>
            </div>
          </fieldset>
        </div>
        <div class="field__container" ng-if="!vm.isEdit">
          <fieldset>
            <a href="" ng-click="vm.addFile = !vm.addFile"><i class="fa fa-paperclip"></i>&nbsp;{{'Add files' | translate}}</a>
          </fieldset>
        </div>
        <div ng-show="vm.addFile" ng-if="!vm.isEdit">
          <fieldset>
            <div class="field__container">
              <label for="name">{{'Name' | translate}}</label>
              <input id="name" name="name" ng-model="vm.newAttachment.name">
            </div>
          </fieldset>
          <fieldset>
            <div class="field__container">
              <label for="file">{{'File' | translate}}</label>
              <input id="file" type="file" name="file" fileread="vm.newAttachment.file">
            </div>
          </fieldset>
          <fieldset>
            <button class="button__modal_submit" ng-click="vm.submitAttachment()">{{'Add file' | translate}}</button>
          </fieldset>
        </div>

        <div class="field__container" ng-if="(vm.campaignFields && vm.campaignFields.length) || (vm.componentFields && vm.componentFields.length)">
          <fieldset>
            <p class="intro">{{'Custom information' | translate}}</p>
            <custom-field ng-repeat="field in vm.campaignFields | orderBy:'position'" definition="field" value="vm.values[field.customFieldDefinitionId]"></custom-field>
            <custom-field ng-repeat="field in vm.componentFields | orderBy:'position'" definition="field" value="vm.values[field.customFieldDefinitionId]"></custom-field>
          </fieldset>
        </div>

        <fieldset>
          <a class="button__modal_submit" ng-click="vm.submit()">{{'Save' | translate}}</a>
        </fieldset>
      </fieldset>
    </form>
  </div>
</div>