<div class="modal_content__add_proposal">
  <header class="modal-header">
    <h2 class="modal__title" ng-if="isProposal">{{actionLabel | translate}} {{'Proposal' | translate}}</h2>
    <h2 class="modal__title" ng-if="isIdea">{{actionLabel | translate}} {{'Idea' | translate}}</h2>
  </header>
  <div class="modal-body">
    <form name="contributionForm">
      <!--<fieldset class="divider" ng-if="userIsAssemblyCoordinator && isCreate">
        <label for="upload">{{'Upload csv file' | translate}}</label>
        <input type="file" name="upload" fileread="file.csv">
        <a class="button__modal_submit" ng-click="submit()">{{'Upload' | translate}}</a>
      </fieldset>-->
      <fieldset>
        <div class="field__container">
          <label for="add_proposal__title">{{'Title' | translate}} <abbr title="Required">*</abbr></label>
          <input ng-model="contribution.title" ng-required="true" ng-disabled="disabled" id="add_proposal__title" type="text" placeholder="{{ 'Title' | translate }}" name="title">
          <div ng-messages="contributionForm.title.$error" style="color:maroon" role="alert">
            <div ng-message="required">{{'This field is required' | translate}}</div>
          </div>
        </div>
        <div class="field__container">
          <label for="textarea">{{'Description' | translate}} <abbr title="Required">*</abbr></label>
          <textarea ui-tinymce="tinymceOptions" ng-model="contribution.text" ng-required="true" ng-disabled="disabled" id="add_proposal__description" name="text" rows="8" cols="48" placeholder="{{'Description' | translate}}"></textarea>
          <div ng-messages="contributionForm.text.$error" style="color:maroon" role="alert">
            <div ng-message="required">{{'This field is required' | translate}}</div>
          </div>
        </div>
        <div class="field__container" ng-if="isProposal && isCreate && userIsAssemblyCoordinator">
          <label for="pinned">{{'Pin contribution to make it always avaialable' | translate}}</label>
          <input type="checkbox" ng-model="contribution.pinned"/>
        </div>
        <div class="field__container assign_proposal_to_wg" ng-if="isProposal && isCreate">
          <label for="workingGroup">{{'Working Group' | translate}}</label>
          <select name="$parent.workingGroup" ng-model="$parent.selectedGroup" ng-required="$parent.isProposal" ng-disabled="$parent.disabled" ng-change="$parent.selectGroup()" ng-options="group as group.name for group in $parent.groups">
            <option value="">{{'Select a working group' | translate}}</option>
          </select>
          <div ng-messages="$parent.contributionForm.workingGroup.$error" style="color:maroon" role="alert">
            <div ng-message="required">{{'This field is required' | translate}}</div>
          </div>
        </div>
        <div class="field__container assign_proposal_to_users" ng-if="isCreate">
          <fieldset class="user__assignment">
            <label for="authors">{{'Authors' | translate}}</label>
            <tags-field load-items="loadAuthors({query: query})" options="authorsOptions" selected="contribution.authors" prefetch="true" disabled="isAuthorsDisabled"></tags-field>
          </fieldset>
        </div>
        <div class="field__container assign_proposal_to_users" ng-if="isIdea && isCreate">
          <fieldset class="user__assignment">
            <label for="authors">{{'Non Member Author' | translate}}</label>
            <nonmember-author-form on-change="$parent.updateNonMember(author)" ng-disabled="$parent.disabled"></nonmember-author-form>
          </fieldset>
        </div>
        <div class="field__container assign_proposal_to_users" ng-if="isCreate">
          <fieldset class="add_proposal__availble_themes">
            <p clas="intro">{{'Categories' | translate}}</p>
            <label class="add_proposal__categories_label">{{'Select categories to assign' | translate}}</label>
            <tags-field load-items="loadThemes({query: query})" options="themesOptions" selected="contribution.existingThemes" prefetch="true" disabled="disabled"></tags-field>
          </fieldset>
        </div>
        <div ng-if="isCreate">
          <fieldset>
            <div class="field__container">
              <label for="add_proposal__source_code">{{'Source Code' | translate}}</label>
              <input ng-model="contribution.sourceCode" id="add_proposal__source_code" placeholder="{{'Source Code' | translate}}" ng-disabled="disabled">
            </div>
          </fieldset>
        </div>
        <div ng-init="addFile=false">
          <fieldset>
            <a href="" ng-click="addFile = !addFile"><i class="fa fa-paperclip"></i>&nbsp;{{'Add files' | translate}}</a>
          </fieldset>
        </div>
        <div ng-show="addFile">
          <fieldset>
            <div class="field__container">
              <label for="name">{{'Name' | translate}}</label>
              <input name="name" ng-model="newAttachment.name">
            </div>
          </fieldset>
          <fieldset>
            <div class="field__container">
              <label for="file">{{'File' | translate}}</label>
              <input type="file" name="file" fileread="newAttachment.file">
            </div>
          </fieldset>
          <fieldset>
            <button class="button__modal_submit" ng-click="submitAttachment()">{{'Add' | translate}}</button>
          </fieldset> 
        </div>
        <fieldset>
          <br><br>
          <a class="button__modal_submit" ng-click="submit()">{{'Submit' | translate}}</a>
        </fieldset>
    </form>
  </div>
</div>
