<section class="panel">
  <div class="panel-heading">
    <h1 class="heading--header">{{'Sort by' | translate}}</h1>
  </div>
  <br />
  <div class="action-bar action-bar-filters">
    <div class="voting-buttons">
      <div class="vote-button upvote">
        <a href="" class="heading--small">Date<a>
      </div>
      <div class="vote-button middle">
        <a href="" class="heading--small">Popularity<a>
      </div>
      <div class="vote-button downvote">
        <a href="" class="heading--small">Theme<a>
      </div>
    </div>
  </div>
</section>
