<section class="panel">
  <div class="panel-heading">
      <h1 class="heading--header">Conversations</h1><p class="heading--small"><a href="#" ng-if="user != null">Start a new onversation</a></p>
  </div>
  <li class="panel card conversation-container" ng-repeat="discussion in discussions">
    <div class="comment-meta">
      <!--<p class="heading++header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p>-->
      <p class="heading--header">{{formatDate(discussion.creation)}}</p>
    </div>
    <member-card user="discussion.authors[0]"></member-card>
    
    <div class="comment-text">
      <small>{{discussion.text}}</small>
    </div>
    <div class="comment-reply-controls">
      <div class="voting-buttons">
        <div class="vote-button upvote">
          <a class="heading--small" href="#">+{{discussion.stats.ups}}</a>
        </div>
        <div class="vote-button downvote">
          <a class="heading--small" href="#">-{{discussion.stats.downs}}</a>
        </div>
      </div>
      <a class="heading--subheader reply-count">{{discussion.comments.length || 0}} Replies</a>
      <a class="heading--subheader reply-count reply" 
         ng-if="!discussion.showReplyForm"
         ng-click="writeReply(discussion)">Reply to this comment</a>
    </div>
    <ul class="threaded-comments">
      <li class="panel comment-container" ng-repeat="comment in discussion.comments">
        <div class="comment-meta">
          <!-- <p class="heading++header">Yesterday in <a href="#">Housing and Urban Development (HUD) Funds</a></p> -->
          <p class="heading--header">{{formatDate(comment.creation)}}</a></p>
          <member-card user="comment.authors[0]"></member-card>
        </div>
        <div class="comment-text">
          <small>{{comment.text}}</small>
        </div>
        <div class="comment-reply-controls">
          <div class="voting-buttons">
            <div class="vote-button upvote">
              <a class="heading--small" href="#">+{{comment.stats.ups}}</a>
            </div>
            <div class="vote-button downvote">
              <a class="heading--small" href="#">-{{comment.stats.downs}}</a>
            </div>
          </div>
          <!-- TODO: can someone comment on a comment?
               replace ++ with double hyphen
          <a class="heading++subheader reply-count">2 Replies</a>
          <a class="heading++subheader reply-count reply">Reply to this comment</a>
          -->
        </div>
      </li>
    </ul>

    <div class="panel reply-field" ng-if="discussion.showReplyForm">
      <h1 class="heading--header">Reply</h1>
      <form method="post" action="#" class="comment-form">
        <fieldset>
          <div class="field-container">
            <textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
          </div>
          <div class="comment-meta">
            <member-card action-bar="true"></member-card>
          </div>
          <input class="button" type='submit' value='Submit' />
        </fieldset>
      </form>
    </div>
  </li>
  
  <div class="panel reply-field">
    <h1 class="heading--header">Start a Conversation</h1>
    <form method="post" action="#" class="comment-form">
      <fieldset>
        <div class="field-container">
          <textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
        </div>
        <div class="comment-meta">
          <member-card action-bar="true"></member-card>
        </div>
        <input class="button" type='submit' value='Submit' />
      </fieldset>
    </form>
  </div>
</section>
