<section class="comments__section">
  <header class="panel-heading">
    <!--<h2 class="heading&#45;&#45;header">{{ 'Conversations' | translate }}</h2>-->
    <!--<div class="heading--small"><a href="" ng-click="startConversation()"><i class="fa fa-comments-o"></i>&nbsp;{{'Start a new conversation' | translate}}</a></div>-->
  </header>

  <div class="comments__reply col-*-12">
    <!--<h2 class="heading&#45;&#45;header">{{'Start a Conversation' | translate}}</h2>-->
    <div class="comments__listing">
      <div ng-if="isAnonymous" class="row recaptcha" vc-recaptcha ng-model="vm.recaptchaResponse" style="margin-bottom: 10px;"></div>
      <form ng-submit="createNewDiscussion()" class="row">
        <fieldset class="col-*-12">
          <div ng-if="isAnonymous">
            <div class="field-container col-*-6" style="margin-bottom: 10px;">
              <input type="text" ng-model="newDiscussion.nonMemberAuthor.name" placeholder="{{'Your name' | translate}}"
                ng-disabled="!vm.recaptchaResponseOK">
            </div>
            <div class="field-container col-*-6" style="margin-bottom: 10px;">
              <input type="email" ng-model="newDiscussion.nonMemberAuthor.email" placeholder="{{'Your email' | translate}}"
                ng-disabled="!vm.recaptchaResponseOK">
            </div>
          </div>
          <div>
            <div class="field-container col-*-12">
              <textarea id="discussion-field" style="height: auto;" ng-model="newDiscussion.text" rows="5" placeholder="{{'Write you comment here' | translate}}"
                ng-disabled="!vm.recaptchaResponseOK && isAnonymous"></textarea>
            </div>
          </div>
          <br />
          <div class="comment-form">
            <div class="comment-meta">
              <member-card action-bar="true" comments-section="true"></member-card>
              <input class="button" type="submit" value="{{'Submit'| translate}}" style="margin-top: 50px;" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="comments__listing">
    <li class="panel card conversation-container" ng-repeat="discussion in discussions track by (discussion.contributionId ? discussion.contributionId : discussion.uuid)">
      <div ng-if="discussion">
        <a ng-if="discussion.stats.flags && isCoordinator" class="github-fork-ribbon" title="{{'Moderation pending' | translate}}"></a>
        <div class="row" style="margin-left: 0; margin-top: 1em">
          <div class="col-*-8">
            <p class="heading--header" style="float: left;">{{formatDate(discussion.creation)}}</p>
          </div>
          <div class="col-*-4" style="float: right; margin-right: 2em">
            <contribution-feedback contribution="discussion" with-delete="true" with-flag="true"></contribution-feedback>
          </div>
        </div>
        <div class="comment-meta">
          <!--<member-card user="discussion.authors[0] || discussion.nonMemberAuthor" comments-section="true"></member-card>-->
          <member-card ng-if="discussion.authors[0]" user="discussion.authors[0]" comments-section="true"></member-card>
          <member-card ng-if="!discussion.authors[0] && discussion.nonMemberAuthor" user="discussion.nonMemberAuthor"
            comments-section="true"></member-card>
          <member-card ng-if="!discussion.authors[0] && !discussion.nonMemberAuthor" user="{'name':'None','email':'None'}"
            comments-section="true"></member-card>
        </div>
        <div class="comment-text">
          <p>{{discussion.text}}</p>
        </div>
        <div class="comment-reply-controls">
          <!--<a class="heading--subheader reply-count">{{discussion.comments.length || 0}} {{'Replies' | translate}}</a>&nbsp;&nbsp;-->
          <a class="heading--subheader reply-count reply" ng-if="!discussion.showReplyForm" ng-click="writeReply(discussion)"><i class="fa fa-commenting-o"></i>&nbsp;{{'Reply to this comment' | translate}}</a>&nbsp;&nbsp;
        </div>
        <ul class="threaded-comments">
          <li class="panel comment-container" ng-repeat="comment in discussion.comments track by (comment.contributionId ? comment.contributionId : comment.uuid)">
            <a ng-if="comment.stats.flags && isCoordinator" class="github-fork-ribbon" title="{{'Moderation pending' | translate}}"></a>
            <div class="row" style="margin-left: 0; margin-top: 1em">
              <div class="col-*-8">
                <p class="heading--header" style="float: left;">{{formatDate(comment.creation)}}</p>
              </div>
              <div class="col-*-4" style="float: right;">
                <contribution-feedback contribution="comment" with-delete="true" with-flag="true"></contribution-feedback>
              </div>
            </div>
            <div class="comment-meta">
              <member-card ng-if="comment.authors[0]" user="comment.authors[0]" comments-section="true"></member-card>
              <member-card ng-if="!comment.authors[0] && comment.nonMemberAuthor" user="comment.nonMemberAuthor" comments-section="true"></member-card>
              <member-card ng-if="!comment.authors[0] && !comment.nonMemberAuthor" user="{'name':'None','email':'None'}"
                comments-section="true"></member-card>
              <p></p>
            </div>
            <div class="comment-text">
              <p>{{comment.text}}</p>
            </div>
            <!--<div class="comment-reply-controls inline-controls">
              <contribution-feedback contribution="comment" with-delete="true" with-flag="true"></contribution-feedback>
            </div>-->
          </li>
        </ul>

        <div class="comments__reply" ng-if="discussion.showReplyForm">
          <h2 class="heading--header">{{'Reply' | translate}}</h2>
          <div class="comments__listing">
            <div ng-if="isAnonymous" class="col-*-12" vc-recaptcha ng-model="discussion.recaptchaResponse" on-success="setCaptchaResponse(discussion, response)"
              style="margin-bottom: 10px;"></div>
            <form ng-submit="createNewComment(discussion)" class="row">
              <fieldset>
                <div ng-if="isAnonymous">
                  <div class="field-container col-*-6" style="margin-bottom: 10px;">
                    <input type="text" ng-model="newComment.nonMemberAuthor.name" placeholder="{{'Your name' | translate}}"
                      ng-disabled="!discussion.recaptchaResponseOK">
                  </div>
                  <div class="field-container col-*-6" style="margin-bottom: 10px;">
                    <input type="email" ng-model="newComment.nonMemberAuthor.email" placeholder="{{'Your email' | translate}}"
                      ng-disabled="!discussion.recaptchaResponseOK">
                  </div>
                </div>
                <div>
                  <div class="field-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea id="comment-field-{{discussion.uuid}}" style="height: auto;" ng-model="newComment.text" rows="5"
                      placeholder="{{'Write you comment here' | translate}}" ng-disabled="!discussion.recaptchaResponseOK && isAnonymous"></textarea>
                  </div>
                </div>
                <br />
                <div class="comment-form">
                  <div class="comment-meta">
                    <member-card action-bar="true" comments-section="true"></member-card>
                    <input class="button" type="submit" value="Publish" style="margin-top: 50px;" />
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </li>
    <p ng-if="!discussions || discussions.length === 0" class="card">{{'no.discussion.message' | translate}}</p>
  </div>
</section>
