<section class="comments__section">
  <header class="panel-heading">
    <h2 class="heading--header">{{'Conversations' | translate}}</h2>
    <div class="heading--small"><a href="" ng-click="startConversation()"><i class="fa fa-comments-o"></i>&nbsp;{{'Start a new conversation' | translate}}</a></div>
  </header>

  <div class="comments__listing">
    <li class="panel card conversation-container" ng-repeat="discussion in discussions">
      <div class="comment-meta">
        <p class="heading--header">{{formatDate(discussion.creation)}}</p>
        <member-card user="discussion.authors[0]" comments-section="true"></member-card>
        <p></p>
      </div>
      <div class="comment-text">
        <small>{{discussion.text}}</small>
      </div>
      <div class="comment-reply-controls">
        <div class="voting-buttons">
          <div class="vote-button upvote">
            <a class="heading--small" >
              <i class="fa fa-chevron-up"></i>&nbsp;{{discussion.stats.ups}}
            </a>
          </div>
          <div class="vote-button downvote">
            <a class="heading--small" >
              <i class="fa fa-chevron-down"></i>&nbsp;{{discussion.stats.downs}}
            </a>
          </div>
        </div>
        <a class="heading--subheader reply-count">{{discussion.comments.length || 0}} {{'Replies' | translate}}</a>
        <a class="heading--subheader reply-count reply" ng-if="!discussion.showReplyForm" ng-click="writeReply(discussion)"><i class="fa fa-commenting-o"></i>&nbsp;{{'Reply to this comment' | translate}}</a>
      </div>
      <ul class="threaded-comments">
        <li class="panel comment-container" ng-repeat="comment in discussion.comments">
          <div class="comment-meta">
            <p class="heading--header">{{formatDate(comment.creation)}}</a>
            </p>
            <member-card user="comment.authors[0]" comments-section="true"></member-card>
            <p></p>
          </div>
          <div class="comment-text">
            <small>{{comment.text}}</small>
          </div>
          <div class="comment-reply-controls">
            <div class="voting-buttons">
              <div class="vote-button upvote">
                <a class="heading--small" >
                  <i class="fa fa-chevron-up"></i>&nbsp;{{comment.stats.ups}}
                </a>
              </div>
              <div class="vote-button downvote">
                <a class="heading--small" >
                  <i class="fa fa-chevron-down"></i>&nbsp;{{comment.stats.downs}}
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="comments__reply" ng-if="discussion.showReplyForm">
        <h2 class="heading--header">{{'Reply' | translate}}</h2>
        <div class="comments__comment_form">
          <form method="post" ng-submit="createNewComment(discussion)" class="comment-form">
            <fieldset>
              <div class="field-container">
                <textarea id="comment-field-{{discussion.resourceSpaceId}}" ng-model="newComment.text" rows="5" placeholder="{{'Write you comment here' | translate}}"></textarea>
              </div>
              <div class="comment-meta">
                <member-card action-bar="true" comments-section="true"></member-card>
              </div>
              <input class="button" type='submit' value='Submit' />
            </fieldset>
          </form>
        </div>
      </div>
    </li>
    <p ng-if="!discussions || discussions.length === 0" class="card">{{'no.discussion.message' | translate}}</p>
  </div>

  <div class="comments__reply">
    <h2 class="heading--header">{{'Start a Conversation' | translate}}</h2>
    <div class="comments__comment_form">
      <form method="post" ng-submit="createNewDiscussion()" class="comment-form">
        <fieldset>
          <div class="field-container">
            <textarea id="discussion-field" ng-model="newDiscussion.text" rows="5" placeholder="{{'Write you comment here' | translate}}"></textarea>
          </div>
          <div class="comment-meta">
            <member-card action-bar="true" comments-section="true"></member-card>
          </div>
          <input class="button" type='submit' value="{{'Submit' | translate}}" />
        </fieldset>
      </form>
    </div>
  </div>

</section>
