<style>
  fieldset.nonmember>div {
    margin-left: -15px;
    margin-right: -15px;
  }

  fieldset.nonmember .field__container {
    margin-bottom: 20px;
  }
</style>
<form name="nonmemberForm">
  <fieldset class="nonmember">

    <!-- name -->
    <div class="field__container col-lg-12">
      <label>{{'Name of Author' | translate}}</label>
      <input name="nonmemberName" type="text" ng-model="vm.author.name" placeholder="{{'Your name' | translate}}" ng-disabled="vm.disabled || vm.isMember">
    </div>

    <!-- publishContact -->
    <div class="field__container col-lg-12">
      <label>{{'Would you like to publish the name of the author along with the idea?' | translate}}</label>
      <label>
      <input type="radio" ng-model="vm.author.publishContact" value="true" ng-disabled="vm.disabled || vm.isMember">
      {{'Yes' | translate}}
    </label>
      <label>
      <input type="radio" ng-model="vm.author.publishContact" value="false" ng-disabled="vm.disabled || vm.isMember">
      {{'No' | translate}}
    </label>
    </div>

    <!-- email -->
    <div class="field__container col-lg-12">
      <label>{{'Email Address' | translate}}</label>
      <input type="email" name="email" ng-model="vm.author.email" placeholder="{{'Your email' | translate}}" ng-disabled="disabled || vm.isMember"
        ng-required="true">
      <div ng-messages="nonmemberForm.email.$error" style="color:maroon" role="alert">
        <div ng-message="required">{{'This field is required' | translate}}</div>
        <div ng-message="email">{{'Not a valid email' | translate}}</div>
      </div>
    </div>

    <!-- phone -->
    <div class="field__container col-lg-12">
      <label>{{'Phone Number (if you don’t have email)' | translate}}</label>
      <input type="text" ng-model="vm.author.phone" placeholder="{{'Your phone number' | translate}}" ng-disabled="disabled || vm.isMember">
    </div>


    <!-- source -->
    <div class="field__container col-lg-12" ng-if="vm.creatorIsCoordinator">
      <label>{{'Source' | translate}}</label>
      <input type="text" ng-model="vm.source" placeholder="{{'(Optional) If user not in AppCivist, but is in another social network, mention it (e.g., facebook)' | translate}}" ng-disabled="disabled || vm.isMember">
    </div>


    <!-- source url -->
    <div class="field__container col-lg-12" ng-if="vm.creatorIsCoordinator">
      <label>{{'Source URL' | translate}}</label>
      <input type="text" ng-model="vm.sourceUrl" placeholder="{{'(Optional) If you have an URL to his profile you can add it here' | translate}}" ng-disabled="disabled || vm.isMember">
    </div>

    <!-- subscribed -->
    <div class="field__container col-lg-12">
      <label>{{'Would you like to receive updates about your idea by email?' | translate}}</label>
      <label>
      <input type="radio" ng-model="vm.author.subscribed" value="true" ng-disabled="vm.disabled || vm.isMember">
      {{'Yes' | translate}}
    </label>
      <label>
      <input type="radio" ng-model="vm.author.subscribed" value="false" ng-disabled="vm.disabled || vm.isMember">
      {{'No' | translate}}
    </label>
    </div>

    <div class="field__container col-lg-12" ng-if="vm.campaignFields && vm.campaignFields.length > 0">
      <p class="intro bold">{{'Optional Survey Information' | translate}}</p>
      <label>{{ 'optional.survey.info' | translate }}</label>

      <custom-field ng-repeat="field in vm.campaignFields | orderBy:'position'" definition="field" value="vm.author.customFieldValues[field.customFieldDefinitionId]"></custom-field>
    </div>
  </fieldset>
</form>
