<style>
  fieldset.nonmember>div {
    margin-left: -15px;
    margin-right: -15px;
  }

  fieldset.nonmember .field__container {
    margin-bottom: 20px;
  }
</style>
<fieldset class="nonmember">

  <!-- name -->
  <div class="field__container col-lg-12">
    <label>{{'Name of Author' | translate}}</label>
    <input type="text" ng-model="vm.author.name" placeholder="{{'Your name' | translate}}" ng-disabled="disabled">
  </div>

  <!-- publishContact -->
  <div class="field__container col-lg-12">
    <label>{{'Would you like to publish the name of the author along with the idea?' | translate}}</label>
    <label>
      <input type="radio" ng-model="vm.author.publishContact" value="true">
      {{'Yes' | translate}}
    </label>
    <label>
      <input type="radio" ng-model="vm.author.publishContact" value="false">
      {{'No' | translate}}
    </label>
  </div>

  <!-- email -->
  <div class="field__container col-lg-12">
    <label>{{'Email Address' | translate}}</label>
    <input type="email" ng-model="vm.author.email" placeholder="{{'Your email' | translate}}" ng-disabled="disabled">
  </div>

  <!-- email -->
  <div class="field__container col-lg-12">
    <label>{{'Phone Number (if you don’t have email)' | translate}}</label>
    <input type="text" ng-model="vm.author.phone" placeholder="{{'Your phone number' | translate}}" ng-disabled="disabled">
  </div>

  <!-- subscribed -->
  <div class="field__container col-lg-12">
    <label>{{'Would you like to receive updates about your idea by email?' | translate}}</label>
    <label>
      <input type="radio" ng-model="vm.author.subscribed" value="true">
      {{'Yes' | translate}}
    </label>
    <label>
      <input type="radio" ng-model="vm.author.subscribed" value="false">
      {{'No' | translate}}
    </label>
  </div>

  <div class="field__container col-lg-12" ng-if="vm.campaignFields && vm.campaignFields.length > 0">
    <p class="intro bold">{{'Optional Survey Information' | translate}}</p>
    <label>{{ 'optional.survey.info' | translate }}</label>

    <custom-field ng-repeat="field in vm.campaignFields | orderBy:'position'" definition="field" value="vm.values[field.customFieldDefinitionId]"></custom-field>
  </div>
</fieldset>
