<div class="list__cards container__proposals">
  <section class="panel text-left pagination__widget__controls__padding" in-view="paginationVisible(paginationTop, $inview)" ng-style="paginationTop.style" style="min-height:75px">
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber, oldPageNumber)" ng-if="this.filters.sorting !== 'random'"></dir-pagination-controls>
  </section>
  <span class="pagination-spinner" us-spinner="spinnerOptions" spinner-key="contributions-page"></span>
  <section ng-if="filters.mode==='proposal'||filters.mode==='myProposals'||filters.mode==='sharedProposals'||filters.mode==='draftProposals'">
    <div class="clearfix" data-eq-pts="small: 768, medium: 1024, large: 1500">
      <contribution-card class="card__proposal" dir-paginate="proposal in contributions | itemsPerPage: pageSize"
                         total-items="totalContributions" current-page="pagination.current" contribution="proposal"
                         show-voting-buttons="showVotingButtons" on-finish-render="eqResize"
                         is-coordinator="isCoordinator" is-anonymous="isAnonymous" is-topic-group="isTopicGroup"
                         campaign="campaign" components="components" ballot-paper="ballotPaper"
                         ballot-tokens="ballotTokens" selected="selected">
      </contribution-card>
      <!-- TODO: it is always problematic to break strings in translation, let's replace this by a single translation string -->
      <p ng-if="contributions.length === 0" class="card card__message">
        {{ 'pagination.widget.no' | translate }} {{ (filters.mode == 'myProposals'||filters.mode == 'sharedProposals'||filters.mode == 'draftProposals' ? 'Proposals' : filters.mode == 'myIdeas'||filters.mode == 'sharedIdeas'||filters.mode == 'draftIdeas' ? 'Ideas' : filters.mode) | titlecase | translate }} {{ 'pagination.widget.description' |
        translate}}
      </p>
    </div>
  </section>
  <section ng-if="filters.mode==='idea'||filters.mode==='myIdeas'||filters.mode==='sharedIdeas'||filters.mode==='draftIdeas'">
    <!--<div class="list__cards container__ideas" data-eq-pts="small: 768, medium: 1024, large: 1500">-->
    <div class="clearfix" data-eq-pts="small: 768, medium: 1024, large: 1500">
      <contribution-card class="card__proposal" show-idea-body="true" dir-paginate="idea in contributions | itemsPerPage: pageSize"
                         total-items="totalContributions" current-page="pagination.current" contribution="idea"
                         show-voting-buttons="showVotingButtons" on-finish-render="eqResize"
                         is-coordinator="isCoordinator"  is-anonymous="isAnonymous" is-topic-group="isTopicGroup"
                         campaign="campaign" components="components" ballot-paper="ballotPaper"
                         ballot-tokens="ballotTokens" campaign-configs="campaignConfigs">
      </contribution-card>
      <p ng-if="contributions.length === 0" class="card card__message">
        {{ 'pagination.widget.no' | translate }} {{ (filters.mode == 'myProposals'||filters.mode == 'sharedProposals'||filters.mode == 'draftProposals' ? 'Proposals' : filters.mode == 'myIdeas'||filters.mode == 'sharedIdeas'||filters.mode == 'draftIdeas' ? 'Ideas' : filters.mode) | titlecase | translate }} {{ 'pagination.widget.description' | translate}}
      </p>
    </div>
  </section>
  <section class="panel text-center" in-view="paginationVisible(paginationTop, $inview)" ng-style="paginationTop.style">
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" ng-if="this.filters.sorting !== 'random'"></dir-pagination-controls>
    <div class="random-pagination-message" ng-if="this.filters.sorting === 'random'">
      <p translate="dashboard.random-sorting-message" translate-values="{ type: (this.inferrType() | capitalize) }"></p>
    </div>
  </section>
</div>
