<div class="campaign__filters campaign__filters__no__padding">
  <!--Search -->
  <div class="search">
    <div clas="search__field_wrapper">
      <input ng-model="filters.searchText" class="search__field" type="text" placeholder="{{ 'Search...' | translate }}">
      <a>
        <span class="aria-hidden">
            <svg version="1.1" class="search__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" xml:space="preserve">
              <path class="svg_icon" d="M17.882,16.507c0,0.372-0.136,0.695-0.407,0.967c-0.272,0.272-0.596,0.408-0.968,0.408
                c-0.387,0-0.709-0.136-0.968-0.408l-3.686-3.675c-1.282,0.888-2.711,1.332-4.288,1.332c-1.025,0-2.004-0.198-2.939-0.597
                c-0.935-0.396-1.741-0.935-2.418-1.612c-0.677-0.677-1.215-1.483-1.612-2.418C0.199,9.569,0,8.59,0,7.565s0.199-2.004,0.597-2.939
                c0.397-0.935,0.935-1.742,1.612-2.419c0.677-0.677,1.483-1.214,2.418-1.611C5.562,0.199,6.541,0,7.565,0s2.004,0.199,2.939,0.597
                c0.935,0.397,1.742,0.934,2.419,1.611c0.677,0.677,1.214,1.484,1.611,2.419c0.398,0.935,0.597,1.914,0.597,2.939
                c0,1.576-0.444,3.005-1.332,4.288l3.686,3.686C17.749,15.804,17.882,16.127,17.882,16.507z M10.967,10.966
                c0.941-0.941,1.413-2.075,1.413-3.401s-0.471-2.459-1.413-3.402c-0.942-0.941-2.076-1.413-3.402-1.413S5.106,3.222,4.165,4.164
                C3.222,5.106,2.751,6.24,2.751,7.565s0.471,2.459,1.414,3.401c0.941,0.942,2.075,1.414,3.401,1.414S10.025,11.909,10.967,10.966z"/>
            </svg>
          </span>
        <span class="screen-reader__label">{{'Submit Search' | translate}}</span>
      </a>
    </div>
    <ul class="search_modes">
      <li class="search_mode__ideas" ng-class="{active: filters.mode === 'idea'}" ng-if="currentComponent.type === 'IDEAS'">
        <a ng-click="searchMode('idea', $event)">{{'Ideas' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: filters.mode === 'proposal'}" ng-if="currentComponent.type !== 'IDEAS'">
        <a ng-click="searchMode('proposal', $event)">{{'Published Proposals' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__ideas" ng-class="{active: filters.mode === 'idea'}" ng-if="campaignContributionTypes.includes('IDEA') && currentComponent.type !== 'IDEAS'">
        <a ng-click="searchMode('idea', $event)">{{'Published Ideas' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: (filters.mode === 'myProposals')}" ng-if="!isAnonymous && currentComponent.type !== 'IDEAS'">
        <a ng-click="searchMode('myProposals', $event)">{{'My proposals' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: (filters.mode === 'myIdeas')}" ng-if="!isAnonymous && (currentComponent.type === 'IDEAS' || campaignContributionTypes.includes('IDEA'))">
        <a ng-click="searchMode('myIdeas', $event)">{{ 'My Ideas' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: (filters.mode === 'draftProposals')}" ng-if="!isAnonymous && currentComponent.type !== 'IDEAS' && isCoordinator">
        <a ng-click="searchMode('draftProposals', $event)">{{'Draft Proposals' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: (filters.mode === 'draftIdeas')}" ng-if="!isAnonymous && (currentComponent.type === 'IDEAS' || campaignContributionTypes.includes('IDEA')) && isCoordinator">
        <a ng-click="searchMode('draftIdeas', $event)">{{ 'Draft Ideas' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: (filters.mode === 'sharedProposals')}" ng-if="!isAnonymous && currentComponent.type !== 'IDEAS'">
        <a ng-click="searchMode('sharedProposals', $event)">{{'Shared proposals' | translate | titlecase}}</a>
      </li>
      <li class="search_mode__full_text" ng-class="{active: (filters.mode === 'sharedIdeas')}" ng-if="!isAnonymous && (currentComponent.type === 'IDEAS' || campaignContributionTypes.includes('IDEA'))">
        <a ng-click="searchMode('sharedIdeas', $event)">{{ 'Shared ideas' | translate | titlecase}}</a>
      </li>
      <li ng-if="campaignConfig['appcivist.campaign.filter.archived.view']==='TRUE'" class="search_mode__full_text" ng-class="{active: (filters.mode === 'archivedProposals')}" ng-if="!isAnonymous && currentComponent.type !== 'IDEAS'">
        <a ng-click="searchMode('archivedProposals', $event)">{{'Archived proposals' | translate | titlecase}}</a>
      </li>
      <li ng-if="campaignConfig['appcivist.campaign.filter.archived.view']==='TRUE'" class="search_mode__full_text" ng-class="{active: (filters.mode === 'archivedIdeas')}" ng-if="!isAnonymous && (currentComponent.type === 'IDEAS' || campaignContributionTypes.includes('IDEA'))">
        <a ng-click="searchMode('archivedIdeas', $event)">{{ 'Archived ideas' | translate | titlecase}}</a>
      </li>
      <li ng-if="campaignConfig['appcivist.campaign.filter.excluded.view']==='TRUE'" class="search_mode__full_text" ng-class="{active: (filters.mode === 'excludedProposals')}" ng-if="!isAnonymous && currentComponent.type !== 'IDEAS'">
        <a ng-click="searchMode('excludedProposals', $event)">{{'Excluded proposals' | translate | titlecase}}</a>
      </li>
      <li ng-if="campaignConfig['appcivist.campaign.filter.excluded.view']==='TRUE'" class="search_mode__full_text" ng-class="{active: (filters.mode === 'excludedIdeas')}" ng-if="!isAnonymous && (currentComponent.type === 'IDEAS' || campaignContributionTypes.includes('IDEA'))">
        <a ng-click="searchMode('excludedIdeas', $event)">{{ 'Excluded ideas' | translate | titlecase}}</a>
      </li>
    </ul>
  </div>

  <!--Filters -->
  <div class="filters">
    <span class="widget__label h4">
      {{'Filter by' | translate}} {{'Themes'|translate}} {{vm.canFilterByGroup ? ',' : ''}} {{vm.canFilterByGroup ? 'Working Groups' : '' | translate}}...
      <a class="button__add_filter" href="" ng-click="toggleModal('categoriesModal')">
        <span class="icon">+</span>
      </a>
    </span>
    <div class="tags__group">
      <ul class="tags" ng-if="filters.themes.length > 0">
        <p>{{'Themes' | translate}}</p>
        <li ng-repeat="theme in filters.themes">
          <a href="">{{theme.title}}<i class="fa fa-close" ng-click="removeThemeFilter(theme, $event)"></i></a>
        </li>
      </ul>
      <ul class="tags" ng-if="filters.groups.length > 0 && filters.mode != 'idea'">
        <p>{{'Working group' | translate}}</p>
        <li ng-repeat="group in filters.groups">
          <a href="">{{group.name}}<i class="fa fa-close" ng-click="removeGroupFilter(group, $event)"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sort">
    <span class="widget__label h4">{{'Sort by' | translate}}</span>
    <ul class="sort_modes right">
      <li class="sarch_mode__popularity" ng-click="setSorting('popularity')" ng-class="{active: sortingIs('popularity')}">
        <a href="">{{'Most voted' | translate}}</a>
        <i ng-if="sortingIs('popularity_desc')" class="fa fa-sort-down"></i>
        <i ng-if="sortingIs('popularity_asc')" class="fa fa-sort-up"></i>
        <!--<i ng-if="!sortingIs('popularity_asc') && !sortingIs('popularity_desc')" class="fa fa-sort-up"></i>-->
      </li>
      <li class="sarch_mode__date" ng-click="setSorting('date')" ng-class="{active: sortingIs('date')}">
        <a href="">{{'Date' | translate}}</a>
        <i ng-if="sortingIs('date_desc')" class="fa fa-sort-down"></i>
        <i ng-if="sortingIs('date_asc')" class="fa fa-sort-up"></i>
        <!--<i ng-if="!sortingIs('date_asc') && !sortingIs('date_desc')" class="fa fa-sort-up"></i>-->
      </li>
      <li ng-if="isAnonymous" class="sarch_mode__most_commented_public" ng-click="setSorting('most_commented_public')"
        ng-class="{active: sortingIs('most_commented_public')}">
        <a href="">{{'Most commented' | translate}}</a>
        <i ng-if="sortingIs('most_commented_public_desc')" class="fa fa-sort-down"></i>
        <i ng-if="sortingIs('most_commented_public_asc')" class="fa fa-sort-up"></i>
        <!--<i ng-if="!sortingIs('most_commented_public_asc') && !sortingIs('most_commented_public_desc')" class="fa fa-sort-up"></i>-->
      </li>
      <li ng-if="!isAnonymous && campaignConfig['appcivist.campaign.disable-public-site']==='FALSE'" class="sarch_mode__most_commented"
        ng-click="setSorting('most_commented')" ng-class="{active: sortingIs('most_commented')}">
        <a href="">{{'Most commented' | translate}}</a>
        <i ng-if="sortingIs('most_commented_desc')" class="fa fa-sort-down"></i>
        <i ng-if="sortingIs('most_commented_asc')" class="fa fa-sort-up"></i>
        <!--<i ng-if="!sortingIs('most_commented_asc') && !sortingIs('most_commented_desc')" class="fa fa-sort-up"></i>-->
      </li>
      <li ng-if="!isAnonymous && campaignConfig['appcivist.campaign.disable-public-site']==='TRUE'" class="sarch_mode__most_commented_members"
        ng-click="setSorting('most_commented_members')" ng-class="{active: sortingIs('most_commented_members')}">
        <a href="">{{'Most commented' | translate}}</a>
        <i ng-if="sortingIs('most_commented_members_desc')" class="fa fa-sort-down"></i>
        <i ng-if="sortingIs('most_commented_members_asc')" class="fa fa-sort-up"></i>
        <!--<i ng-if="!sortingIs('most_commented_members_asc') && !sortingIs('most_commented_members_desc')" class="fa fa-sort-up"></i>-->
      </li>
      <li ng-if="!isAnonymous && !campaignConfig['appcivist.campaign.disable-public-site']" class="sarch_mode__most_commented_members"
        ng-click="setSorting('most_commented_members')" ng-class="{active: sortingIs('most_commented_members')}">
        <a href="">{{'Most commented' | translate}}</a>
        <i ng-if="sortingIs('most_commented_members_desc')" class="fa fa-sort-down"></i>
        <i ng-if="sortingIs('most_commented_members_asc')" class="fa fa-sort-up"></i>
        <!--<i ng-if="!sortingIs('most_commented_members_asc') && !sortingIs('most_commented_members_desc')" class="fa fa-sort-up"></i>-->
      </li>
      <li class="sarch_mode__popularity" ng-click="setSorting('random')" ng-class="{active: sortingIs('random')}">
        <a href="">{{'Random' | translate}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="vex vex-theme-plain" ng-if="isCategoriesModalOpened">
  <div class="vex-overlay" ng-click="toggleModal('categoriesModal')"></div>
  <div class="vex-content">
    <header class="modal-header">
      <h2 class="modal__title">{{'Select filters to add' | translate}}</h2>
    </header>
    <div class="modal-body">
      <label class="label">{{'Themes' | translate}}</label>
      <tags-field load-items="loadThemes({query: query})" options="themesOptions" selected="vm.selectedThemes"
                  prefetch="true"></tags-field>
      <label class="label" ng-if="vm.canFilterByGroup">{{'Working Groups' | translate}}</label>
      <tags-field ng-if="vm.canFilterByGroup" load-items="loadGroups({query: query})" options="groupsOptions"
        selected="vm.selectedGroups" prefetch="true"></tags-field>
      <br />
      <fieldset class="actions">
        <a href="" class="button__modal_submit" ng-click="addSelected()">{{'Apply Filters' | translate}}</a>
      </fieldset>
    </div>
    <div class="vex-close" ng-click="toggleModal('categoriesModal')"></div>
  </div>
</div>
