<style>

  .campaign__filters .filters .tags li:hover::after {
    color: #fff;
    background-color: #11493b;
  }

  .campaign__filters .filters .tags li:hover::after {
    content: "";
  }

  fieldset.tags div {
    position: relative;
    padding: 10px;
    background-color: #fff;
  }

  fieldset.tags ul.tags {
    display: inline;
  }

  fieldset.tags div input {
    width: 140px;
    border: 0;
    outline: none;
    box-shadow: none;
  }

  fieldset.tags div input:focus {
    outline: none;
  }

  fieldset.tags ul.tags a {
    position: relative;
  }

  fieldset.tags ul.tags a i {
    position: absolute;
    right: 3px;
  }

  fieldset.tags .autocomplete {
    margin-top: 5px;
    margin-left: -10px;
    position: absolute;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
  }

  fieldset.tags .autocomplete .suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 280px;
    overflow-y: auto;
    position: relative
  }

  fieldset.tags .autocomplete .suggestion-list .suggestion-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
    float: none;
  }

  fieldset.tags .autocomplete .suggestion-list .suggestion-item:hover,
  fieldset.tags .autocomplete .suggestion-list .suggestion-item:focus {
    background-color: #bacabc;
    color: #11493b;
  }

  fieldset.tags .autocomplete .suggestion-item.selected,
  fieldset.tags .autocomplete .suggestion-item.selected em {
    color: #fff;
    background-color: #0097cf;
  }

  fieldset.tags .autocomplete .suggestion-item em {
    font: normal 700 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
  }
</style>
<fieldset class="tags">
  <div>
    <ul class="tags">
      <li ng-repeat="item in selected">
        <a>{{getText(item)}}<i class="fa fa-close" ng-click="remove(item, $event)"></i></a>
      </li>
      <input type="text" ng-model="vm.query" placeholder="{{options.placeholder}}" />
    </ul>
    <div class="autocomplete" ng-if="isSuggestionListVisible">
      <ul class="suggestion-list">
        <li ng-repeat="item in items track by $index" ng-click="select(item)" class="suggestion-item">
          {{getText(item)}}
        </li>
      </ul>
    </div>
  </div>
</fieldset>
