<ul>
  <!-- disabled by issue #398 -->
  <li class="li-action-menu" ng-if="false"><a href="" ng-click="vm.edit()">{{'Edit' | translate}}</a></li>
  <li class="li-action-menu"><a href="" ng-click="vm.subscribe()">{{'Subscribe' | translate}}</a></li>
  <li ng-if="vm.userIsGroupCoordinator" class="li-action-menu"><a href="" ng-click="vm.openModal('suscribeForm')">{{'Start Voting' | translate}}</a></li>
</ul>


<modal open-if="vm.modals.suscribeForm" close="vm.closeModal('suscribeForm')" title="Edit Form" template-id="suscribeForm"></modal>


<script id="suscribeForm" type="text/ng-template">
  <configure-ballot-form></configure-ballot-form>
</script>