<div class="voting-control">
  <!-- DISTRIBUTED voting -->
  <div class="distributed" ng-if="vm.type == 'distributed'">
    {{'Points'|translate}}
    <input type="number"
           min="0"
           max="ballotPaper.ballot.votes_limit"
           class="form-control form-control-inline"
           ng-model="vm.voteValue"
           ng-change="vm.updateVote()"
           ng-disabled="vm.ballotPaperFinished">
    <span
      translate="voting.controls.remaining.points"
      translate-values="{{vm.ballotTokens}}"></span>
  </div>

  <!-- TODO: PLURALITY voting -->
  <div class="plurality text-center" ng-if="vm.type == 'plurality'" data-toggle="buttons">
    <div class="btn-group">
      <label class="btn">
        <input type="radio" name="options" autocomplete="off"> Yes
      </label>
      <label class="btn">
        <input type="radio" name="options" autocomplete="off"> No
      </label>
      <label class="btn">
        <input type="radio" name="options" autocomplete="off"> Abstain
      </label>
      <label class="btn">
        <input type="radio" name="options" autocomplete="off"> Block
      </label>
    </div>
  </div>

  <!-- TODO: RANGE voting-->
  <div class="range" ng-if="vm.type == 'range'">

     <span
       translate="voting.controls.remaining.points"
       translate-values="{{vm.ballotTokens}}"></span>

    Score
    <input type="number" min="0" value="0" max="ballotPaper.ballot.votes_limit" ng-disabled="vm.ballotPaperFinished"
           class="form-control form-control-inline" ng-model="vm.voteValue" ng-click="vm.updateVote()">
    <span>out of <span class="points-max">{{remainingTokens}}</span></span>
  </div>
  <div class="ranked" ng-if="vm.type == 'ranked'">
    Rank
    <select class="form-control">
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </selec>
  </div>
</div>
